<?xml version="1.0" encoding="UTF-8"?>
<ADETypeConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.sitemap/schemas/sitemap_config.xsd">
  <ADETypeConfiguration language="en">
    <ADEField>
      <Name><![CDATA[NavText]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[string]]></Widget>
      <RuleRegex><![CDATA[^.+$]]></RuleRegex>
      <Error><![CDATA[The navigation text must not be empty!]]></Error>
    </ADEField>
    <ADEField>
      <Name><![CDATA[secure]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[select]]></Widget>
      <WidgetConfig><![CDATA[true:Yes|false:No]]></WidgetConfig>
      <NiceName><![CDATA[Secure]]></NiceName>
      <Advanced><![CDATA[true]]></Advanced>
    </ADEField>
    <ADEField>
      <Name><![CDATA[export]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[select]]></Widget>
      <WidgetConfig><![CDATA[true:Yes|false:No]]></WidgetConfig>
      <Default><![CDATA[false]]></Default>
      <NiceName><![CDATA[Export]]></NiceName>
      <Description><![CDATA[The export property determines if a resource is exported.]]></Description>
      <Advanced><![CDATA[true]]></Advanced>
    </ADEField>
    <ADEField>
      <Name><![CDATA[template]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[template]]></Widget>
    </ADEField>
  </ADETypeConfiguration>
</ADETypeConfigurations>
