<%@ page import="org.opencms.workplace.*,
                 org.opencms.main.*,
                 org.opencms.file.*,
                 org.opencms.workplace.list.*,
                 org.opencms.workplace.tools.jobs.CmsJobsAdminTool,
                 java.util.*" 
         buffer="none" %>
<% 

    CmsJobsAdminTool wp = new CmsJobsAdminTool(pageContext, request, response);

//////////////////// start of switch statement 
switch (wp.getAction()) {

    //////////////////// ACTION: default actions
    case A_CmsListDialog.ACTION_LIST_SEARCH:
    case A_CmsListDialog.ACTION_LIST_SORT:
    case A_CmsListDialog.ACTION_LIST_SELECT_PAGE:
         wp.executeDefaultActions();
         break;

    //////////////////// ACTION: execute single list action
    case A_CmsListDialog.ACTION_LIST_SINGLE_ACTION:
         wp.executeListSingleActions();
         if (wp.getParamListAction().equals(CmsJobsAdminTool.LIST_ACTION_EDIT)) {
             // due to a redirect
             return;
         }
         break;

    //////////////////// ACTION: execute multiple list actions
    case A_CmsListDialog.ACTION_LIST_MULTI_ACTION:
         wp.executeListMultiActions();
         break;

    //////////////////// ACTION: execute independent list actions
    case A_CmsListDialog.ACTION_LIST_INDEPENDENT_ACTION:
         wp.executeListIndepActions();
         break;


} //end getAction switch

%>

<%= wp.htmlStart(null) %>

<%= wp.getList().listJs(wp) %>

<%= wp.bodyStart("dialog", null) %>

<%= wp.dialogStart() %>
<%= wp.dialogContentStart(wp.getParamTitle()) %>

<form name="<%=wp.getList().getId()%>-form" action="<%= wp.getDialogUri() %>" method="post" class="nomargin" onsubmit="">
<%= wp.allParamsAsHidden() %>

<%= wp.getList().listHtml(wp) %>

</form>

<%= wp.dialogEnd() %>
<%= wp.bodyEnd() %>
<%= wp.htmlEnd() %>
