<?xml version="1.0" encoding="UTF-8"?>

<Configs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.frontend.templatetwo/schemas/config.xsd">
  <Config language="en">
    <Preset>
      <link type="WEAK">
        <target><![CDATA[/sites/default/demo_de/_config_/layout/twocolums]]></target>
        <uuid>66fc7850-df03-11dc-8b6d-9f7a6a6ce285</uuid>
      </link>
    </Preset>
    <Element>
      <File>
        <link type="WEAK">
          <target><![CDATA[/sites/default/demo_de/_info_/multilanguage]]></target>
          <uuid>b8baf7c7-e3a2-11dc-a72c-9f7a6a6ce285</uuid>
        </link>
      </File>
      <Orientation><![CDATA[left]]></Orientation>
      <ColorSchema><![CDATA[box_schema2]]></ColorSchema>
    </Element>
  </Config>
  <Config language="en">
    <Preset>
      <link type="STRONG">
        <target><![CDATA[/sites/default/demo_de/_config_/layout/twocolums]]></target>
        <uuid>66fc7850-df03-11dc-8b6d-9f7a6a6ce285</uuid>
      </link>
    </Preset>
  </Config>
  <Config language="de">
    <Preset>
      <link type="STRONG">
        <target><![CDATA[/sites/default/demo_de/_config_/layout/twocolums]]></target>
        <uuid>66fc7850-df03-11dc-8b6d-9f7a6a6ce285</uuid>
      </link>
    </Preset>
    <Element>
      <File>
        <link type="WEAK">
          <target><![CDATA[/sites/default/demo_de/_info_/layoutpage]]></target>
          <uuid>06e46e9e-e127-11dc-a7a0-9f7a6a6ce285</uuid>
        </link>
      </File>
      <Orientation><![CDATA[left]]></Orientation>
      <ColorSchema><![CDATA[box_schema2]]></ColorSchema>
    </Element>
  </Config>
</Configs>
