setup.webapp.path=C:\dev\tomcat7\webapps\opencms
setup.default.webapp=ROOT
setup.install.components=workplace,bootstrap,devdemo

db.product=mysql
db.provider=sql
db.create.user=root
db.create.pwd=
db.worker.user=root
db.worker.pwd=
db.connection.url=jdbc:mysql://localhost:3306/
db.name=opencms9
db.create.db=true
db.create.tables=true
db.dropDb=true
db.default.tablespace=
db.index.tablespace=
db.jdbc.driver=org.gjt.mm.mysql.Driver
db.template.db=
db.temporary.tablespace=

server.url=http://localhost:8080
server.name=OpenCmsServer
server.ethernet.address=
server.servlet.mapping=
