setup.webapp.path=C:\dev\Tomcat7\webapps\opencms9
setup.default.webapp=ROOT

db.product=mysql
db.create.user=root
db.create.pwd=
db.worker.user=root
db.worker.pwd=
db.connection.url=jdbc:mysql://localhost:3306/
db.name=opencms9
db.create.db=true
db.create.tables=true
db.dropDb=true

db.default.tablespace=
db.index.tablespace=
db.jdbc.driver=
db.template.db=
db.temporary.tablespace=

install.components=workplace,releasenotes,template3,devdemo
server.url=http://localhost:8080
server.name=OpenCmsServer
