<div class="opencms-toolbar">
	<div class="opencms-toolbar-inner">
		<div location="itemsLeft" class="opencms-toolbar-items-left"></div>
		<div location="itemsRight" class="opencms-toolbar-items-right"></div>
		<div class="opencms-toolbar-center">
			<div location="indicatorSmall" class="opencms-toolbar-app-indicator"></div>
			<div location="logo" class="opencms-toolbar-logo"></div>
		</div>
	</div>
	<div class="opencms-toolbar-info">
		<div location="appIndicator" class="opencms-toolbar-app-indicator"></div>
		<div class="opencms-toolbar-app-info">
			<div location="infoIcon" class="opencms-toolbar-app-info-icon"></div>
			<div location="infoContainer" class="opencms-toolbar-app-info-container"></div>
		</div>
	</div>
</div>