@charset "UTF-8";

@media all
{
	form.contactform input {

		border: 1px solid #A3AAB7;

	}



	form.contactform input[type=text] {

		font-size: small;

		width: 100%;

	}



	form.contactform td {

		padding: 1px;

	}



	form.contactform textarea {

		width: 100%;

		height: 100px;

	}
}