@charset "UTF-8";

@media all {

	div.view-article h3,
	div.view-event h3,
	div.view-item h3 {
		margin-top: 10px;
	}

	div.view-article div.image,
	div.view-event div.image,
	div.view-item div.image {
		margin-right: 10px;
		width: 200px;
		float: left;
	}

	div.view-article div.image img,
	div.view-event div.image img,
	div.view-item div.image img {
		float: left;
		border: 1px solid black;
		margin-right: 10px;
	}

	div.view-article div.image div.description,
	div.view-event div.image div.description,
	div.view-item div.image div.description { 
		width: 200px;
		font-size: xx-small;
	}

	div.view-source {
		margin-top: 1em;
		font-size: xx-small;
	}

	div.view-event label {
		width:20em;
	}

	div.box_schema1 h5,
	div.box_schema2 h5,
	div.box_schema3 h5 {
		font-size: x-small;
		font-weight: normal;
	}

	div.boxbody_listentry div.left img {
		width: 100px;
	}

	div.login-errormessage {
		color: red;
		margin-top: 10px:
		margin-bottom: 10px;
	}

	hr.separator {
		float: left;
		width: 100%;
		visibility: hidden;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	form.contactform input[type=text] {
		font-size: small;
		width: 99%;
	}

	form.contactform textarea {
		width: 99%;
		height: 100px;
	}

	form.loginform div.boxform label {
		width: 5em;
	}

	form.loginform div.boxform input {
		width: 60%;
	}

	td.pgDetailImageDescription {
		font-size: x-small;
	}
}