<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/system/modules/com.alkacon.opencms.v8.article/config/models/article.html]]></target>
          <uuid>2f4a28d0-7599-11e0-bc9b-9fb8cca40b28</uuid>
        </link>
      </Source>
      <Destination>
        <Pattern><![CDATA[a_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
  </SitemapConfiguration>
</SitemapConfigurations>
