<%@ page session="false" buffer="none" import="java.util.*,org.opencms.frontend.templateone.*" %><%--

--%><jsp:useBean id="cms2" class="org.opencms.frontend.templateone.CmsTemplateFormLetter" scope="request"><%--
--%><jsp:setProperty name="cms2" property="*"/><%--
--%></jsp:useBean><%


// initialise Cms Action Element
cms2.init(pageContext, request, response);

cms2.includePopup("popuphead", cms2.key("recommend.title"));
	%>
	<h1 class="popup"><%= cms2.key("letter.title") %></h1>
	<div class="popup" style="padding: 2px;">
		<%= cms2.getFormText("confirm_head", false) %>
		<p>
			<%= cms2.key("letter.text.confirmation") %>
		</p>
		<p>
			<%= cms2.key("letter.form.concern.title") %>
			<%= cms2.key("letter.form.concern." + cms2.getConcern()) %><%
				if ("other".equals(cms2.getConcern())) {
					out.print(": "+cms2.getConcernDetail());
				}				
			%>
		</p>
		<p>
			<%= cms2.key("letter.form.message") %><br />
			<%= cms2.getMessage() %>
		</p>
		<%= cms2.getFormText("confirm_foot", false) %>
	</div>
<%
cms2.includePopup("popupfoot", null);
%>