<%@ page 
	buffer="none" 
	import="org.opencms.main.*,org.opencms.workplace.tools.scheduler.*" %><%	
	
	
	// initialize the workplace class
	CmsEditScheduledJobInfoDialog wp = new CmsEditScheduledJobInfoDialog(pageContext, request, response);
		
//////////////////// start of switch statement 
switch (wp.getAction()) {
    case CmsEditScheduledJobInfoDialog.ACTION_CANCEL:
//////////////////// ACTION: cancel button pressed
	wp.actionCloseDialog();
	break;

    case CmsEditScheduledJobInfoDialog.ACTION_ERROR:
//////////////////// ACTION: an error occured
	break;
	
    case CmsEditScheduledJobInfoDialog.ACTION_SAVE:
//////////////////// ACTION: save edited values
	wp.setParamAction(wp.DIALOG_OK);
	
	wp.actionSave();
	if (wp.getOtherErrors().size() == 0) {
		wp.actionCloseDialog();
    	break;
    }
	
    case CmsEditScheduledJobInfoDialog.ACTION_DEFAULT:
    default:
//////////////////// ACTION: show dialog (default)

	wp.setParamAction(wp.DIALOG_SAVE);


%><%= wp.htmlStart("administration/index.html") %>

<script type="text/javascript" src="<%= wp.getResourceUri() %>editors/xmlcontent/edit.js"></script>
<script type="text/javascript" src="<%= wp.getResourceUri() %>editors/xmlcontent/help.js"></script>

<%= wp.getWidgetIncludes() %>

<script type="text/javascript">
<!--

// flag indicating if form initialization is finished
var initialized = false;

// the OpenCms context path
var contextPath = "<%= OpenCms.getSystemInfo().getOpenCmsContext() %>";

// action parameters of the form
var actionAddElement = "<%= wp.EDITOR_ACTION_ELEMENT_ADD %>";
var actionRemoveElement = "<%= wp.EDITOR_ACTION_ELEMENT_REMOVE %>";

function init() {

<%= wp.getWidgetInitCalls() %>

	setTimeout("scrollForm();", 200);
	initialized = true;
}



function exitEditor() {
	try {
		// close file selector popup if present
		closeTreeWin();
	} catch (e) {}
}

<%= wp.getWidgetInitMethods() %>

//-->
</script>

<%= wp.bodyStart(null, "onload='init();' onunload='exitEditor();'") %>

<%= wp.dialogStart() %>

<form name="EDITOR" id="EDITOR" method="post" action="<%= wp.getDialogUri() %>" class="nomargin" onsubmit="return submitAction('<%= wp.DIALOG_OK %>', null, 'EDITOR');">

<%= wp.dialogContentStart("Edit scheduled job dialog") %>
 
<%= wp.buildDialogForm() %>

<%= wp.dialogContentEnd() %>
<%= wp.dialogButtonsCustom() %>

<%= wp.paramsAsHidden() %>
<% if (wp.getParamFramename() == null) { %>
<input type="hidden" name="<%= wp.PARAM_FRAMENAME %>" value="">
<%  } %>

</form>

<%= wp.getWidgetHtmlEnd() %>

<%= wp.dialogEnd() %>
<%= wp.bodyEnd() %>
<%= wp.htmlEnd() %>

<%
} 
//////////////////// end of switch statement 
%>