<?xml version="1.0" encoding="ISO-8859-1"?>
<page>
    <CLASS>com.opencms.template.CmsXmlTemplate</CLASS>
    <MASTERTEMPLATE>/system/modules/com.opencms.modules.search.form/templates/empty_search</MASTERTEMPLATE>
    <ELEMENTDEF name="body">
        <CLASS>com.opencms.template.CmsXmlTemplate</CLASS>
        <TEMPLATE>/content/bodys/moduledemos/com.opencms.modules.search.form/index.html</TEMPLATE>
    </ELEMENTDEF>
	<ELEMENTDEF name="search">
        <CLASS>com.opencms.modules.search.form.CmsSearchForm</CLASS>
        <TEMPLATE>/system/modules/com.opencms.modules.search.form/internal/searchengineForm</TEMPLATE>
    </ELEMENTDEF>
</page>
