@external primary;

.emptyValue .serialDateWidget * {
	color: value("constants.css.borderColor") !important;
	font-style: italic !important;
	border-color: value("constants.css.borderColor") !important;
}

div.patternRow > div {
			display: inline-block;
			margin: 2px 4px;
			vertical-align: middle;
}

div.patternRow > div:first-child {
			margin-left: 0px;
}

div.patternRow div {
	font-weight: normal !important;
}

div.patternRow input.patternInput {
	width: 50px;
	text-align: right;
}

div.patternRadio div {
	text-align: left !important;
}

.serialDateWidget .fieldset-fieldsetVisible {
	background-color: transparent !important;
}

 .acaciaForm-focused .serialDateWidget .fieldset-legend {
 	background-color: #f0f0f2 !important;
 	border-radius: 5px; 
 }
 
 .serialDateWidget .fieldset-legend { 
 	background-color: white;
 	border-radius: 5px;  
 }

.serialDateWidget.serialDateWidget .fieldset-content { 
	overflow: hidden; 
}


.hasError .serialDateWidget .acaciaWidgets-radioButtonPanel, .hasWarning .serialDateWidget .acaciaWidgets-radioButtonPanel {
	border: none; 	
}

.singleLine{}
.firstColumn{}
.defaultView{}
.secondColumn{}
.compactView

.widget{}
.dragHelper{}
.hasError{}
.hasWarning{}
.label{}
.inActive{}
.widgetHolder{}
.entity{}
.attributeValue{}