<%@ page import="org.opencms.workplace.*,
                 org.opencms.main.*,
                 org.opencms.file.*,
                 org.opencms.workplace.list.*,
                 org.opencms.workplace.tools.users.CmsUsersAdminTool,
                 java.util.*" 
         buffer="none" %>
<% 

    CmsDialog dwp = new CmsDialog(pageContext, request, response);
    try {
        //dwp.getCms().createGroup("Testgroup", "A test group", 0, null);
    } catch(Exception e) {
         //e.printStackTrace();
    }
    //CmsGroup testGroup = dwp.getCms().readGroup("Testgroup");
    try {
        for (int i = 0; i < 3000; i++) {
            String name = "";
            int len = (int)(10*Math.random())+1;
            for (int j=0; j < len; j++) {
                name += (char)(25*Math.random()+97);
            }
            name += "" + i;
            if (i==0) break;
            dwp.getCms().addUser(name, "pwd"+i, testGroup.getName(), "test user "+i, null);
        }             
    } catch (CmsException e) {
        System.out.println(e);
        //e.printStackTrace();
    }

    CmsUsersAdminTool wp = new CmsUsersAdminTool(pageContext, request, response);

//////////////////// start of switch statement 
switch (wp.getAction()) {

    //////////////////// ACTION: default actions
    case CmsListDialog.ACTION_LIST_SEARCH:
    case CmsListDialog.ACTION_LIST_SORT:
    case CmsListDialog.ACTION_LIST_SELECT_PAGE:
         wp.executeDefaultActions();
         break;

    //////////////////// ACTION: execute single list action
    case CmsListDialog.ACTION_LIST_SINGLE_ACTION:
         wp.executeListSingleActions();
         if (wp.getParamListAction().equals(wp.key("admin.users.list.actions.edituser.name"))) {
             // due to a redirect
             return;
         }
         break;

    //////////////////// ACTION: execute multiple list actions
    case CmsListDialog.ACTION_LIST_MULTI_ACTION:
         wp.executeListMultiActions();
         break;

    //////////////////// ACTION: execute independent list actions
    case CmsListDialog.ACTION_LIST_INDEPENDENT_ACTION:
         wp.executeListIndepActions();
         break;


} //end getAction switch

%>

<%= wp.htmlStart(null) %>

<%= wp.getList().listJs(wp) %>

<%= wp.bodyStart("dialog", null) %>

<%= wp.dialogStart() %>
<%= wp.dialogContentStart(wp.getParamTitle()) %>

<form name="<%=wp.getList().getId()%>-form" action="<%= wp.getDialogUri() %>" method="post" class="nomargin" onsubmit="">
<%= wp.allParamsAsHidden() %>

<%= wp.getList().listHtml(wp) %>

</form>

<%= wp.dialogEnd() %>
<%= wp.bodyEnd() %>
<%= wp.htmlEnd() %>
