@external relatedItem, groupHeader, publishRow, indentedPublishRow, publishListItem, selector, scrollPanel, selectPanel, selectorPanel;

.relatedItem {
	margin-left: 60px;
	width: 390px;
}

.groupHeader {
	font-weight: bold;
	font-size: 12px;
    padding-top: 5px;
}

.publishRow {

}

.publishListItem {
	width: 450px;

}

.indentedPublishRow {
	
}

@sprite .warning {
	gwt-image: "warning";
}

.itemToKeep {
}

.itemToRemove {
	background-image: none;
	background-color: red;
	border: 10px solid red;
}

.stateNew {
	color: #0000ff;

}

.problemPanel {
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

.stateChanged {
	color: #ff0000;
}

.stateDeleted {
	text-decoration: line-through;
}

.groupPanel {
	zoom: 1;
}

.checkboxes {
	margin-top: 5px;
	margin-left: 5px;
}

.label {
	margin-left:10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.spacer {
	height: 10px;
	width: 10px;
}

.selectorPanel {
	float: right;
}

.scrollPanel {
	max-height: 400px;
	-moz-border-radius: 4px;
	border: 1px solid value("constants.borderColor");
	padding: 3px;
	zoom: 1;
}

.noResources {
	padding: 20px;
	font-size: large;
	text-align: center;
}

.text {
	font-size: value("constants.fontSize");
	font-family: value("constants.fontFamily");
	vertical-align: top;
}

	

.selectButtons {
	float: right;
}
.selectButtons > div {
	margin-left: 3px;
}

.clear {
	clear: both;
}

.selectPanel {
	margin: 0px;
}
.selectPanel * {
	zoom: 1;
}

.topBar {
	margin-bottom: 5px;
	margin-left: 5px;
}

.topBar > div {
	margin-left: 4px;
}
	
.selector {
	display: inline-block;
	width: 200px;
	vertical-align: middle;
}

.noState {}





