<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>OpenCms</display-name>
    
    <description>
        OpenCms is an open source content management solution. 
        See details on http://www.opencms.org/
    </description>
    
    <servlet>
        <servlet-name>OpenCmsServlet</servlet-name>
        <description>
            The main servlet that handles all requests to the OpenCms VFS.  
        </description>
        <servlet-class>com.opencms.core.OpenCmsHttpServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>OpenCmsServlet</servlet-name>
        <url-pattern>/opencms/*</url-pattern>
    </servlet-mapping>
        
    <session-config>
        <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    
    <taglib>
        <taglib-uri>http://www.opencms.org/taglib/cms</taglib-uri>
        <taglib-location>/WEB-INF/opencms.tld</taglib-location>
    </taglib>

</web-app>

