<?xml version="1.0" encoding="UTF-8"?>

<PhotoAlbumConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.frontend.photoalbum/schemas/photoalbum.xsd">
  <PhotoAlbumConfiguration language="en">
    <Title><![CDATA[Images of beautiful flowers]]></Title>
    <VfsFolder>
      <link type="WEAK">
        <target><![CDATA[/sites/default/demo_t3/images/]]></target>
        <uuid>5bc5932a-9c82-11de-adde-dd9f629b113b</uuid>
      </link>
    </VfsFolder>
    <AlignNavigation><![CDATA[left]]></AlignNavigation>
    <NavigationPosition><![CDATA[b_b]]></NavigationPosition>
    <ShowResourceNameAsTitle>false</ShowResourceNameAsTitle>
    <Thumbs>
      <ShowTitle>true</ShowTitle>
      <AlignTitle><![CDATA[left]]></AlignTitle>
      <Cols><![CDATA[4]]></Cols>
      <Rows><![CDATA[3]]></Rows>
      <HighQuality>false</HighQuality>
      <Size><![CDATA[150x113]]></Size>
      <Filter><![CDATA[none]]></Filter>
      <Background>#FFFFFF</Background>
      <TextTop name="TextTop0">
        <links/>
        <content><![CDATA[<p>Enjoy the view on beautiful flowers!</p>]]></content>
      </TextTop>
      <TextBottom name="TextBottom0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://creativecommons.org/licenses/by-sa/3.0/deed.en]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/default/demo_t3/images/index.html]]></target>
            <uuid>5bca4e1c-9c82-11de-adde-dd9f629b113b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Images are used according to the following license:</p>
<p><a href="%(link0)">Creative Commons - Attribution-Share Alike 3.0 Unported</a></p>
<p><br />
<a href="%(link1)">Image sources and licenses</a>.</p>]]></content>
      </TextBottom>
    </Thumbs>
    <Details>
      <ShowTitle>true</ShowTitle>
      <ShowDescription>true</ShowDescription>
      <AlignTitle><![CDATA[left]]></AlignTitle>
      <ShowLinkOriginal>false</ShowLinkOriginal>
      <Size><![CDATA[600x450]]></Size>
      <Filter><![CDATA[none]]></Filter>
      <Background>#FFFFFF</Background>
    </Details>
  </PhotoAlbumConfiguration>
</PhotoAlbumConfigurations>
