<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/article.html]]></target>
          <uuid>b90ede02-6bfa-11e0-ad63-c3baf286301a</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/_contents/articles/]]></target>
            <uuid>9ee357d6-6bfa-11e0-ad63-c3baf286301a</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[a_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/event.html]]></target>
          <uuid>f993623c-7013-11e0-a276-c3baf286301a</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/_contents/events/]]></target>
            <uuid>e2af17d8-7013-11e0-a276-c3baf286301a</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[e_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/infobox.html]]></target>
          <uuid>be1e30a4-851d-11e0-ade9-c1b6fb5574d7</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/_contents/infoboxes/]]></target>
            <uuid>f0b03360-851d-11e0-ade9-c1b6fb5574d7</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[i_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/news.html]]></target>
          <uuid>bb183554-716b-11e0-87bc-000c2972a6a4</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/_contents/news/]]></target>
            <uuid>a348c79b-716b-11e0-87bc-000c2972a6a4</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[n_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/list.html]]></target>
          <uuid>37f49f55-7014-11e0-a276-c3baf286301a</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/_contents/lists/]]></target>
            <uuid>e9e20cba-7013-11e0-a276-c3baf286301a</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[l_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/login.html]]></target>
          <uuid>8963bf27-7176-11e0-b5f2-ed3609521ba5</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/_contents/logins/]]></target>
            <uuid>ba3691ea-76ed-11e0-a2c2-000c2972a6a4</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[lg_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/search.html]]></target>
          <uuid>546d4011-7190-11e0-b5f2-ed3609521ba5</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/_contents/searches/]]></target>
            <uuid>ea7508b6-76ed-11e0-a2c2-000c2972a6a4</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[s_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/twitter.html]]></target>
          <uuid>3d36cac3-78a6-11e0-be13-000c2972a6a4</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/_contents/twitters/]]></target>
            <uuid>0ba0db02-76ee-11e0-a2c2-000c2972a6a4</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[t_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/config.html]]></target>
          <uuid>150c1e7e-70d7-11e0-b894-5de1afb8a118</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/_contents/configs/]]></target>
            <uuid>2e9f0e28-70d7-11e0-b894-5de1afb8a118</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[c_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/group_container.html]]></target>
          <uuid>84dc4162-77e8-11e0-be13-000c2972a6a4</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/_contents/group_container/]]></target>
            <uuid>da89163a-77e8-11e0-be13-000c2972a6a4</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[gc_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <PageModel>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/_contents/_new/pages/default.html]]></target>
          <uuid>7e07ef80-6bfa-11e0-ad63-c3baf286301a</uuid>
        </link>
      </Source>
      <Destination>
        <Pattern/>
      </Destination>
    </PageModel>
    <Property>
      <Name><![CDATA[export]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[select]]></Widget>
      <WidgetConfig><![CDATA[true:Yes|false:No]]></WidgetConfig>
      <Default><![CDATA[false]]></Default>
      <NiceName><![CDATA[Export]]></NiceName>
      <Description><![CDATA[The export property determines if a resource is exported.]]></Description>
    </Property>
    <Property>
      <Name><![CDATA[style.columns]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[select]]></Widget>
      <WidgetConfig><![CDATA[2:2 columns|3:3 columns]]></WidgetConfig>
      <Default><![CDATA[3]]></Default>
      <NiceName><![CDATA[Template columns]]></NiceName>
      <Description><![CDATA[Sets the number of displayed columns.]]></Description>
    </Property>
  </SitemapConfiguration>
</SitemapConfigurations>
