<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
    <DetailPage>
      <Type><![CDATA[v8news]]></Type>
      <Page>
        <link type="WEAK">
          <target><![CDATA[/sites/default/flower_de/Flower_Today/News/]]></target>
          <uuid>eac56391-821a-11e0-96c4-7b2444d59c19</uuid>
        </link>
      </Page>
    </DetailPage>
    <DetailPage>
      <Type><![CDATA[v8event]]></Type>
      <Page>
        <link type="WEAK">
          <target><![CDATA[/sites/default/flower_de/Flower_Today/Events/]]></target>
          <uuid>ea87702a-821a-11e0-96c4-7b2444d59c19</uuid>
        </link>
      </Page>
    </DetailPage>
    <DetailPage>
      <Type><![CDATA[v8article]]></Type>
      <Page>
        <link type="WEAK">
          <target><![CDATA[/sites/default/flower_de/Flower_Dictionary/]]></target>
          <uuid>b9813c57-821a-11e0-96c4-7b2444d59c19</uuid>
        </link>
      </Page>
    </DetailPage>
    <DetailPage>
      <Type><![CDATA[v8search]]></Type>
      <Page>
        <link type="WEAK">
          <target><![CDATA[/sites/default/flower_de/Flower_Search/]]></target>
          <uuid>e9fbaad7-821a-11e0-96c4-7b2444d59c19</uuid>
        </link>
      </Page>
    </DetailPage>
  </SitemapConfiguration>
</SitemapConfigurations>
