<?xml version="1.0" encoding="ISO-8859-1"?>
<page>
    <CLASS>com.opencms.template.CmsXmlTemplate</CLASS>
    <MASTERTEMPLATE>/system/modules/com.opencms.modules.homepage.news/templates/NewsStandard</MASTERTEMPLATE>
    <ELEMENTDEF name="body">
        <CLASS>com.opencms.template.CmsXmlTemplate</CLASS>
        <TEMPLATE>/moduledemos/com.opencms.modules.homepage.news/content/index.html</TEMPLATE>
    </ELEMENTDEF>
    <ELEMENTDEF name="news">
        <CLASS>com.opencms.template.CmsXmlTemplate</CLASS>
        <TEMPLATE>/moduledemos/com.opencms.modules.homepage.news/content/news_index.html</TEMPLATE>
    </ELEMENTDEF>
</page>
