<?xml version="1.0" encoding="ISO-8859-1"?>
<page>
    <CLASS>com.opencms.template.CmsXmlTemplate</CLASS>
    <MASTERTEMPLATE>/system/modules/com.opencms.modules.homepage.news/templates/NewsStandard</MASTERTEMPLATE>
     <ELEMENTDEF name="body">
        <CLASS>com.opencms.template.CmsXmlTemplate</CLASS>
        <TEMPLATE>/moduledemos/com.opencms.modules.homepage.news/content/empty.html</TEMPLATE>
    </ELEMENTDEF>
    <ELEMENTDEF name="news">
        <CLASS>com.opencms.modules.homepage.news.NewsTemplate</CLASS>
        <TEMPLATE>/moduledemos/com.opencms.modules.homepage.news/content/NewsOverview.html</TEMPLATE>
        <PARAMETER name="channelname">Channel2</PARAMETER>
    </ELEMENTDEF>
</page>
