<%@ page import="org.opencms.workplace.*"%><%	

	// initialize the workplace class
	CmsPreferences wp = new CmsPreferences(pageContext, request, response);
	
//////////////////// start of switch statement 
	
switch (wp.getAction()) {

case CmsPreferences.ACTION_CANCEL:		
//////////////////// ACTION: cancel button pressed, leave dialog

	wp.actionCancel();
	
break;
case CmsPreferences.ACTION_RELOAD:		
//////////////////// ACTION: reload the workplace window after pressing "ok"
%>
<html>
<head></head>
<body onload="window.top.location.reload(true);">
</body>
</html>
<%
	
break;
case CmsPreferences.ACTION_OK:
case CmsPreferences.ACTION_SET:		
//////////////////// ACTION: save the preferences

	wp.actionSave();
	
break;
case CmsPreferences.ACTION_CHPWD:
//////////////////// ACTION: change the user password

	wp.actionChangePassword();
	if (wp.getAction() == CmsPreferences.ACTION_ERROR) {
		break;
	}

case CmsPreferences.ACTION_DEFAULT:
case CmsPreferences.ACTION_SWITCHTAB:
default:

//////////////////// ACTION: show tab dialog (default)

	wp.setParamAction(wp.DIALOG_OK);

%><%= wp.htmlStart() %>
<script type="text/javascript">
<!--
function cancelButtonAction() {
	document.forms[0].<%= wp.PARAM_ACTION %>.value = "<%= wp.DIALOG_CANCEL %>";
    document.forms[0].submit();
}
//-->
</script>
<%= wp.bodyStart("dialog") %>
<%= wp.dialogStart() %>

<form name="main" action="<%= wp.getDialogUri() %>" method="post" class="nomargin">
<%= wp.paramsAsHidden() %>
<%= wp.dialogTabContentStart(wp.getParamTitle(), "style=\"height: 250px;\" id=\"tabcontent\"") %>

<%
switch (wp.getActiveTab()) {
case 1:
	// ########## workplace settings
	%>
		<table border="0" cellpadding="4" cellspacing="0">
		<tr>
			<td><%= wp.key("input.lang") %></td><td><%= wp.buildSelectLanguage("name=\"tabwplanguage\" style=\"width: 200px;\"") %></td>
		</tr>
		<tr>
			<td><%= wp.key("input.startupproject") %></td><td><%= wp.buildSelectProject("name=\"tabwpproject\" style=\"width: 200px;\"") %></td>
		</tr>
		<tr>
			<td><%= wp.key("input.startupview") %></td><td><%= wp.buildSelectView("name=\"tabwpview\" style=\"width: 200px;\"") %></td>
		</tr>
		<tr>
			<td><%= wp.key("input.workplace.buttonstyle") %></td><td><%= wp.buildSelectWorkplaceButtonStyle("name=\"tabwpbuttonstyle\" style=\"width: 200px;\"") %></td>
		</tr>
		<tr>
			<td><%= wp.key("input.reporttype") %></td><td><%= wp.buildSelectReportType("name=\"tabwpreporttype\" style=\"width: 200px;\"") %></td>
		</tr>
		<tr>
			<td colspan="2"><input type="checkbox" name="tabwpshowlock" value="true"<%= wp.isChecked(wp.getParamTabWpShowLock()) %>> <%= wp.key("input.showlockdialog") %></td>
		</tr>
		<tr>
			<td colspan="2"><input type="checkbox" name="tabwpuseuploadapplet" value="true"<%= wp.isChecked(wp.getParamTabWpUseUploadApplet()) %>> <%= wp.key("input.uploadapplet") %></td>
		</tr>
		</table>
	<%
default:
break;
case 2:
	// ########## explorer display settings
	%>	
		<script type="text/javascript">
		<!--
			function setToDefault() {
				var theForm = document.forms[0];
				theForm.tabexfileentries.selectedIndex = 2;
				theForm.tabexbuttonstyle.selectedIndex = 1;
				theForm.tabexfiletitle.checked = true;
				theForm.tabexfiletype.checked = true;
				theForm.tabexfiledatelastmodified.checked = true;				
				theForm.tabexfileuserlastmodified.checked = false;
				theForm.tabexfilesize.checked = false;
				theForm.tabexfiledatecreated.checked = false;
				theForm.tabexfilepermissions.checked = false;
				theForm.tabexfileusercreated.checked = false;
				theForm.tabexfilelockedby.checked = false;
				theForm.tabexfilestate.checked = false;
			}
			function IsDigit() {
				return ((event.keyCode >= 48) && (event.keyCode <= 57))
			}
		//-->
		</script>
		<table border="0" cellpadding="4" cellspacing="0">
		<tr>
			<td><%= wp.key("input.fileentries") %></td>
			<td><%= wp.buildSelectExplorerFileEntries("name=\"tabexfileentries\" style=\"width: 200px;\"") %></td>
		</tr>
		<tr>
			<td><%= wp.key("input.explorer.buttonstyle") %></td>
			<td><%= wp.buildSelectExplorerButtonStyle("name=\"tabexbuttonstyle\" style=\"width: 200px;\"") %></td>
		</tr>
		</table>
		<table border="0" cellpadding="4" cellspacing="0">
		<tr>
			<td><input type="checkbox" name="tabexfiletitle" value="true"<%= wp.isChecked(wp.getParamTabExFileTitle()) %>> <%= wp.key("input.title") %></td>
			<td style="width: 40px;">&nbsp;</td>
			<td><input type="checkbox" name="tabexfiledatelastmodified" value="true"<%= wp.isChecked(wp.getParamTabExFileDateLastModified()) %>> <%= wp.key("input.datelastmodified") %></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="tabexfiletype" value="true"<%= wp.isChecked(wp.getParamTabExFileType()) %>> <%= wp.key("input.type") %></td>
			<td>&nbsp;</td>
			<td><input type="checkbox" name="tabexfileuserlastmodified" value="true"<%= wp.isChecked(wp.getParamTabExFileUserLastModified()) %>> <%= wp.key("input.userlastmodified") %></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="tabexfilesize" value="true"<%= wp.isChecked(wp.getParamTabExFileSize()) %>> <%= wp.key("input.size") %></td>
			<td>&nbsp;</td>
			<td><input type="checkbox" name="tabexfiledatecreated" value="true"<%= wp.isChecked(wp.getParamTabExFileDateCreated()) %>> <%= wp.key("input.datecreated") %></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="tabexfilepermissions" value="true"<%= wp.isChecked(wp.getParamTabExFilePermissions()) %>> <%= wp.key("input.permissions") %></td>
			<td>&nbsp;</td>
			<td><input type="checkbox" name="tabexfileusercreated" value="true"<%= wp.isChecked(wp.getParamTabExFileUserCreated()) %>> <%= wp.key("input.usercreated") %></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="tabexfilelockedby" value="true"<%= wp.isChecked(wp.getParamTabExFileLockedBy()) %>> <%= wp.key("input.lockedby") %></td>
			<td>&nbsp;</td>
			<td><input type="checkbox" name="tabexfilestate" value="true"<%= wp.isChecked(wp.getParamTabExFileState()) %>> <%= wp.key("input.state") %></td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3"><input type="button" class="dialogbutton" style="margin-left: 0px;" value="<%= wp.key("button.default") %>" onclick="setToDefault();"></td>
		</tr>
		</table>
	<%
break;
case 3:
	// ########## editor settings
	%>
		Not yet available...
	<%
break;
case 4:
	// ########## workflow settings
	%>
		<%= wp.dialogBlockStart(wp.key("label.preferencesexplorer")) %>
		<table border="0" cellpadding="4" cellspacing="0">
		<tr>
			<td><%= wp.key("input.taskfilter") %>:</td>
			<td><%= wp.buildSelectFilter("name=\"tabwffilter\" style=\"width: 250px;\"") %></td>
			<td><input type="checkbox" name="tabwfshowallprojects" value="true"<%= wp.isChecked(wp.getParamTabWfShowAllProjects()) %>> <%= wp.key("input.allprojects") %></td>
		</tr>
		</table>
		<%= wp.dialogBlockEnd() %>
		<%= wp.dialogSpacer() %>
		<%= wp.dialogBlockStart(wp.key("input.defaulttasks")) %>
		<table border="0" cellpadding="4" cellspacing="0">
		<tr>
			<td><input type="checkbox" name="tabwfmessageaccepted" value="true"<%= wp.isChecked(wp.getParamTabWfMessageAccepted()) %>> <%= wp.key("input.messageaccept") %></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="tabwfmessageforwarded" value="true"<%= wp.isChecked(wp.getParamTabWfMessageForwarded()) %>> <%= wp.key("input.messageforward") %></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="tabwfmessagecompleted" value="true"<%= wp.isChecked(wp.getParamTabWfMessageCompleted()) %>> <%= wp.key("input.messagecompleted") %></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="tabwfmessagemembers" value="true"<%= wp.isChecked(wp.getParamTabWfMessageMembers()) %>> <%= wp.key("input.messagemembers") %></td>
		</tr>
		</table>
		<%= wp.dialogBlockEnd() %>
	<%
break;
case 5:
	// ########## user data settings
	%>
		<script type="text/javascript">
		<!--
			function togglePassword() {
				var element = document.getElementById("changepwd");
    			var cl = element.className;
    			if (cl == "hide") {
        			element.className = "show";
        			document.getElementById("tabcontent").style.height = "320px"; 
    			} else {
        			element.className = "hide";
        			document.getElementById("tabcontent").style.height = "250px";
    			}
			}
			
			function changePassword() {
				var pwdForm = document.forms[0];
				var oldPwd = pwdForm.oldpassword.value;
				var newPwd = pwdForm.newpassword.value;
				var conPwd = pwdForm.confirmpassword.value;
				if (oldPwd == null || newPwd == null || conPwd == null || oldPwd == "" || newPwd == "" || conPwd == "") {
					alert("<%= wp.key("error.message.chpwd.form") %>");
					return;
				}
				if (newPwd == conPwd) {
					pwdForm.<%= wp.PARAM_ACTION %>.value = "<%= wp.DIALOG_CHPWD %>";
					pwdForm.submit();
				} else {
					alert("<%= wp.key("error.message.chpwd.nomatch") %>");
				}
			}
		//-->
		</script>
		<%= wp.dialogBlockStart(wp.key("label.preferencesuser")) %>
		<%= wp.buildUserInformation() %>
		<%= wp.dialogBlockEnd() %>
		<%= wp.dialogSpacer() %>
		<input type="button" class="dialogbutton" style="margin-left: 0px;" value="<%= wp.key("button.changepasswd") %>" onclick="togglePassword();">
		<%= wp.dialogSpacer() %>
		<div class="hide" id="changepwd">
			<%= wp.dialogBlockStart("") %>
			<table border="0" cellpadding="4" cellspacing="0">
			<tr>
				<td><%= wp.key("input.oldpwd") %></td>
				<td><input type="password" name="oldpassword" maxlength="8" style="width: 200px;"></td>
			</tr>
			<tr>
				<td><%= wp.key("input.newpwd") %></td>
				<td><input type="password" name="newpassword" maxlength="8" style="width: 200px;"></td> 
			</tr>
			<tr>
				<td><%= wp.key("input.newpwdrepeat") %></td>
				<td><input type="password" name="confirmpassword" maxlength="8" style="width: 200px;"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="button" class="dialogbutton" style="margin-left: 0px;" value="<%= wp.key("button.ok") %>" onclick="changePassword();"></td>
			</tr>
			</table>
			<%= wp.dialogBlockEnd() %>
		</div>
	<%
} // end of switch tab statement
%>

<%= wp.dialogTabContentEnd() %>
<%= wp.dialogButtonRowSetOkCancel("onclick=\"setButtonAction();\"", null, "onclick=\"cancelButtonAction();\"") %>
</form>

<%= wp.dialogEnd() %>
<%= wp.bodyEnd() %>
<%= wp.htmlEnd() %>
<%
} 
//////////////////// end of switch action statement 
%>