<%@ page import="org.opencms.workplace.*" buffer="none" %><%	

	// initialize the workplace class
	CmsProperty wp = new CmsProperty(pageContext, request, response);
	
//////////////////// start of switch statement 
	
switch (wp.getAction()) {

case CmsProperty.ACTION_CLOSEPOPUP_SAVE:
//////////////////// ACTION: save edited properties for the current resource type and close the popup window

	wp.actionEdit(request);


case CmsProperty.ACTION_CLOSEPOPUP:
//////////////////// ACTION: close the popup window
%>
	
	<html><head></head>
	<script type="text/javascript">
		window.close();
	</script>
	</head></html>
	
<%
break;


case CmsProperty.ACTION_CANCEL:
//////////////////// ACTION: cancel button pressed

	wp.actionDeleteResource();
	wp.actionCloseDialog();

break;


case CmsProperty.ACTION_SAVE_EDIT:
//////////////////// ACTION: save edited properties for the current resource type and close dialog

	wp.actionEdit(request);
	wp.actionCloseDialog();

break;


case CmsProperty.ACTION_SAVE_DEFINE:
//////////////////// ACTION: save new property definition for the current resource type
	
	wp.actionDefine();

break;


case CmsProperty.ACTION_SHOW_DEFINE:
//////////////////// ACTION: show define properties window, but first save changed property values
	
	wp.actionEdit(request);
	wp.setParamAction(wp.DIALOG_SAVE_DEFINE);
	
%><%= wp.htmlStart("help.explorer.contextmenu.properties", wp.getParamTitle()) %>
<script type="text/javascript">
<!--
function checkName() {
	var newProp = document.getElementById("<%= wp.PARAM_NEWPROPERTY %>").value;
	if (newProp != null && newProp != "") {
		document.getElementsByName("ok")[0].disabled = false;
	} else {
		document.getElementsByName("ok")[0].disabled = true;
	}
}
//-->
</script>
<%= wp.bodyStart("dialog") %>

<%= wp.dialogStart() %>
<%= wp.dialogContentStart(wp.getParamTitle()) %>

<form name="main" action="<%= wp.getDialogUri() %>" method="post" class="nomargin" onSubmit="return submitAction('<%= wp.DIALOG_OK %>', 'main');">

<%= wp.paramsAsHidden() %>
<input type="hidden" name="<%= wp.PARAM_FRAMENAME %>" value="">

<table border="0" width="100%">
<tr>
	<td style="white-space: nowrap;" unselectable="on"><%= wp.key("input.newpropertydef") %></td>
	<td class="maxwidth"><input id="<%= wp.PARAM_NEWPROPERTY %>" name="<%= wp.PARAM_NEWPROPERTY %>" type="text" value="" class="maxwidth" onKeyup="checkName();" on></td>
</tr>
</table>

<%= wp.dialogSubheadline(wp.key("input.activepropertydef")) %>

<%= wp.dialogWhiteBoxStart() %>
<%= wp.buildActivePropertiesList() %>
<%= wp.dialogWhiteBoxEnd() %>

<%= wp.dialogContentEnd() %>
<% wp.setParamAction(wp.DIALOG_SHOW_DEFAULT); %>
<%= wp.dialogButtonsOkCancel("disabled=\"disabled\"", "onclick=\"location.href='" + wp.getDialogUri() + "?" + wp.paramsAsRequest() + "';\"") %>
</form>

<%= wp.dialogEnd() %>
<%= wp.bodyEnd() %>
<%= wp.htmlEnd() %>
<%
break;


case CmsProperty.ACTION_DEFAULT:
case CmsProperty.ACTION_SHOW_EDIT:
default:
//////////////////// ACTION: show edit properties window (default)

wp.setParamAction(wp.DIALOG_SAVE_EDIT);
	
%><%= wp.htmlStart("help.explorer.contextmenu.properties", wp.getParamTitle()) %>
<script type="text/javascript">
<!--
function toggleDelete(propName) {
	var hiddenValue = document.getElementById("<%= wp.PREFIX_HIDDEN %>"+propName).value;
	var checked = document.getElementById("<%= wp.PREFIX_USEPROPERTY %>"+propName).checked;
	var field = document.getElementById("<%= wp.PREFIX_VALUE %>"+propName);
	if (checked == true) {
		field.value = hiddenValue;
	} else {
		field.value = "";
	}
}

function checkValue(propName) {
	var newVal = document.getElementById("<%= wp.PREFIX_VALUE %>"+propName).value;
	var field = document.getElementById("<%= wp.PREFIX_USEPROPERTY %>"+propName);
	if (newVal != null && newVal != "") {
		field.checked = true;
	} else {
		field.checked = false;
	}
}

function definePropertyForm() {
	document.main.<%= wp.PARAM_ACTION %>.value = "<%= wp.DIALOG_SHOW_DEFINE %>";
	document.main.submit();
}

//-->
</script>
<%= wp.bodyStart("dialog") %>

<%= wp.dialogStart() %>
<%= wp.dialogContentStart(wp.getParamTitle()) %>

<%@ include file="common/resourceinfo.txt" %>
<%= wp.dialogSpacer() %>

<form name="main" action="<%= wp.getDialogUri() %>" method="post" class="nomargin" onsubmit="return submitAction('<%= wp.DIALOG_OK %>', null, 'main');">
<%= wp.paramsAsHidden() %>
<input type="hidden" name="<%= wp.PARAM_FRAMENAME %>" value="">

<%= wp.buildEditForm() %>

<%= wp.dialogContentEnd() %>
<%= wp.dialogButtonsOkCancelDefine() %>
</form>

<%= wp.dialogEnd() %>
<%= wp.bodyEnd() %>
<%= wp.htmlEnd() %>
<%
} 
//////////////////// end of switch statement 
%>