div.criteriaList {
	border:1px solid value("constants.css.borderColor");
	height:414px;
	background-color: value("constants.css.backgroundColorDialog");
	padding:0 2px;
}

div.tabOptions {
	clear: both;
	margin-bottom: 5px;
}

div.infoLabel {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	text-align: right;
}