.arrow, .label, .image, .selected, .disabled{}

@sprite .cmsMenuItem .availability{
    gwt-image: "icons.availabilityIcon";
}
@sprite .cmsMenuItem .workplace{
    gwt-image: "icons.workplaceIcon";
}
@sprite .cmsMenuItem .remove{
    gwt-image: "icons.removeIconActive";
}
@sprite .cmsMenuItem .delete{
    gwt-image: "icons.deleteIconActive";
}
@sprite .cmsMenuItem .edit{
    gwt-image: "icons.editIconActive";
}
@sprite .cmsMenuItem .move{
    gwt-image: "icons.moveIconActive";
}
@sprite .cmsMenuItem .newElement{
    gwt-image: "icons.addIconActive";
}
@sprite .cmsMenuItem .properties{
    gwt-image: "icons.propertyIconActive";
}
@sprite .cmsMenuItem .lock{
    gwt-image: "icons.lockIconActive";
}
@sprite .cmsMenuItem .logout{
    gwt-image: "icons.logoutIconActive";
}
@sprite .cmsMenuItem .refresh{
    gwt-image: "icons.refreshIcon";
}
@sprite .cmsMenuItem .gotoPage{
    gwt-image: "icons.gotoPageIcon";
}
@sprite .cmsMenuItem .gotoSub{
    gwt-image: "icons.gotoSubSitemapIcon";
}
@sprite .cmsMenuItem .mergeSitemap{
    gwt-image: "icons.mergeSitemapIcon";
}
@sprite .cmsMenuItem .gotoParent{
    gwt-image: "icons.gotoParentIcon";
}
@sprite .cmsMenuItem .subSitemap{
    gwt-image: "icons.subSitemapIcon";
}
@sprite .cmsMenuItem .bump {
	gwt-image: "icons.bumpIcon";
}
