.popup, .popupContent{}

.menuPanel{ /* the panel (table) the context menu is set as widget. */
	background: value("constants.css.backgroundColorDialog");
	border-collapse:collapse;
}
div.cmsMenuBar { /* the outer menu bar */
	background: value("constants.css.backgroundColorDialog");
	color: value("constants.css.textColor");
}
.cmsMenuBar .cmsMenuItem { /* menu items */
	cursor: pointer;
	clear: both;
	padding: 4px value("constants.css.defaultSpace");
	min-width: 180px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: value("constants.css.borderColor");
}
.cmsMenuBar .cmsMenuItem:first-child {
	border: 0;
}
@sprite .cmsMenuBar .cmsMenuItem.selected { /* selected menu items */ 
	background-color: #E0E0E0;
	gwt-image: "backgrounds.stateBackground";
	background-position: 50% 50%;
	height: auto;
}
.cmsMenuBar .cmsMenuItem.disabled { /* menu item disabled */
	color: value("constants.css.textColorDisabled");
	cursor: default;
}
.cmsMenuBar .cmsMenuItem .image { /* image for a menu item */
	float: left;
	margin: 3px 0px 0px 2px;
	height: 16px;
	width: 16px;
	overflow: hidden;
}
.cmsMenuBar .cmsMenuItem .label { /* menu item label */
	padding: 4px 4px 4px 0px;
	margin: 0px 0px 0px 26px;
	font-size: value("constants.css.fontSizeBig");
}
.cmsMenuBar .cmsMenuItem .arrow { /* symbol for sub menus */
	float: right;
	margin-right: 2px;
	margin-top: 4px;
}
.cmsMenuBar .menuItemSeparator { /* section breaks between menu items */ 
	height: 3px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	border: none;
	/** Use the border color as background color because this CSS class behaves like a border. */
	background-color: value("constants.css.borderColorDialog");
	zoom: 1;
	overflow: hidden;
	clear: both;
}
div.menuInfoLabel {
	background-color: value("constants.css.backgroundColorDialog");
	padding: 4px;
	cursor: default;
}

.cmsMenuBar .cmsMenuItem .itemIcon {
	float: left;
	margin-top: 1px;
}
@if user.agent ie6 {
	.cmsMenuBar .cmsMenuItem.disabled .itemIcon {
		filter: literal("alpha(opacity = 50)");
	}
} @elif user.agent ie8 {
	.cmsMenuBar .cmsMenuItem.disabled .itemIcon {
		-ms-filter: "alpha(opacity = 50)";
	}
} @else {
	.cmsMenuBar .cmsMenuItem.disabled .itemIcon {
        opacity: 0.5;
	}
}


@if user.agent ie6 { /* IE6 HACK for the separator */
	.cmsMenuBar .menuItemSeparator {
		margin-top: -1px;
	}
}

.cmsMenuBar, .menuPanel{
	border-radius: 8px;
}
.cmsMenuBar .cmsMenuItem:last-child{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.cmsMenuBar .cmsMenuItem:first-child{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
