.contentEditor iframe{
	height: 100%;
	width: 100%;
	border: none;
}

.dataViewItem {
	display: flex;
	align-items: center; 
	
}

.dataViewItem > img { 
	max-width: 200px;
	max-height: 200px;
	height: auto; 
	width: auto; 
}

.dataViewItem > *:nth-child(2) {
	flex: 1;
}