.popup{
    z-index: value("constants.css.zIndexPopup");
}

.popup, .popup *, .popup table tr td{
	margin: 0;
	padding: 0;
	border: none;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}
.closePopup{
    position: absolute;
    right: -12px;
    top: -12px;
    cursor: pointer;
}
@sprite .closePopupImage{
	gwt-image: "gwtImages.dialogCloseImage";
}
.dragOverlay{
	display: none;
}
.popup.dragging .dragOverlay{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: value("constants.css.zIndexInline");
}
@sprite div.popup.popupContent, div.popupContent{
	gwt-image: "backgrounds.dialogBackground";
	background-position: top;
    height: auto;
    /** This background behaves like a border. */
    background-color: value("constants.css.backgroundColorDialogBorder");
    background-repeat:repeat-x;
    padding: 6px 5px 5px 5px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-top-color: value("constants.css.borderColorTopDialog");
    border-right-color: value("constants.css.borderColorDialog");
    border-bottom-color: value("constants.css.borderColorDialog");
    border-left-color: value("constants.css.borderColorDialog");
    font-family: value("constants.css.fontFamily");
    overflow: visible;
}

.frameDialog .popupMainContent {
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow: auto;
}

.frameDialog .popupButtonPanel {
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
}

/** browser specific styles **/
@if user.agent ie8 {
	div.popupContent{
		/** No shadow for IE7 and IE8. The necessary filter would prevent the use of other filters like opacity. */
		
		/** Ensure the proper background-color. */
		background-color: value("constants.css.backgroundColorDialogBorder");
	}
} @else {
	.popupContent{
		box-shadow: 6px 6px 12px value("constants.css.boxShadowColorOther");
		border-radius: 12px;
	}
	.popupMainContent, .caption{
		border-radius: 8px;
	}
}

.popupOverlay{
    background: value("constants.css.backgroundColorOverlay");
    z-index: value("constants.css.zIndexPopup");
}

.popup .popupMainContent{
	height: auto;
    font-size: value("constants.css.fontSize");
    position:relative;
}

@sprite .popup .popupMainContent.contentPadding, .popupMainContent.contentPadding {
	gwt-image: "backgrounds.dialogBackgroundShadow";
    background-color: value("constants.css.backgroundColorDialog");
	background-position: top;
	background-repeat: repeat-x;
	padding: value("constants.css.defaultSpace");
	overflow:visible;
}

.contentSpacer{
	margin-top: 5px;
	margin-bottom: 10px;
}

@sprite .menuArrowTop {
	gwt-image: "gwtImages.menuArrowTopImage";
	position: absolute;
	z-index: value("constants.css.zIndexInline");
}

@sprite .menuArrowBottom {
	gwt-image: "gwtImages.menuArrowBottomImage";
	position: absolute;
	z-index: value("constants.css.zIndexInline");
}

@if user.agent ie6 {
.popup, .popup * {
    /* fixes a glitch with relatively positioned elements in dialogs which sometimes vanish */
	zoom:1;
}
}

.hideCaption .caption{
	display: none;
}

.popupHead, .caption{
	color: value("constants.css.textColorCaption");
    font-size: value("constants.css.fontSizeBig");
    font-weight: bold;
    cursor: move;
    padding: 0px 5px 5px 5px;
    height: auto; 
    white-space: nowrap;
    height: 25px;
    line-height: 25px;
}

.hideButtonPanel{
	display: none;
}

.popupButtonPanel{
    margin-top: value("constants.css.defaultSpace");
    text-align: right;
}
.popupButtonPanel>div{
	margin-left: value("constants.css.defaultSpace");
}

@if user.agent ie6 {
    .popupOverlay{
        filter: literal("alpha(opacity = 50)");
    }
} @elif user.agent ie8 {
	.popupOverlay{
		-ms-filter: "alpha(opacity = 50)";
	}
} @else {
    .popupOverlay{
        opacity: 0.5;
    }
}


.alertMainContent table {
	min-height: 90px;
}
.alertTopContent {
	margin-bottom: value("constants.css.defaultSpace");
}
.alertBottomContent {
	margin-top: value("constants.css.defaultSpace");
} 

.popup div.logReportScrollPanel {
	position: relative;
	overflow: auto;
	margin: 5px 0px 0px 0px;
}

.popup  div.logReportScrollPanel ul{
	margin: 2px;
}

.borderPadding {
	bottom: 0;
    left: 0;
    margin: value("constants.css.defaultSpace");
    padding: value("constants.css.defaultSpace");
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    border:1px solid value("constants.css.borderColor");
    background-color: value("constants.css.backgroundColorDialog");
}

.popup ul.modelSelectList{
	overflow: auto;
	/* position relative is required to hide overflowing content caused by layout bug in IE7 */
	position: relative;
	border: 1px solid value("constants.css.borderColor");
	padding: 0 2px;
	background: value("constants.css.backgroundColorDialog");
	margin-top: 5px;
}
