.details {
	clear: both;
	margin: 15px 0px 5px 0px;
}

.details > div{
	overflow: auto;
	white-space: nowrap;
}
span.errorIcon{
	display: inline-block;
	width:32px;
	height: 32px;
	font-size:32px;
	color: value("constants.css.textColorImportant");
}
.message{
	margin: 5px 0px 5px 45px;
}