div.fieldsetVisible {
	border: solid 1px value("constants.css.borderColor");
	background: value("constants.css.backgroundColorDialog");
	min-height: 8px;
	position: relative;
	overflow: visible;
}
div.fieldsetInvisible {
	/** Use the same color as the background to make this border invisible. */
	border: solid 1px value("constants.css.backgroundColorDialog");
	border-top: solid 1px value("constants.css.borderColor");
	background: value("constants.css.backgroundColorDialog");
	min-height: 8px;
	position: relative;
	overflow: visible;
}
.image {
	left: 5px;
	position: absolute;
	padding: 0;
	cursor: pointer;
	margin: -8px 0px 0px 2px;
}
.legend {
	left: 20px;
	background: value("constants.css.backgroundColorDialog");
	position: absolute;
	font-weight: bold;
	padding: 0 3px 0 3px;
	margin: -8px 0px 0px 5px;
	color: value("constants.css.textColor");
}
div.fieldsetVisible .content {
	/* margin: 12px 6px 4px 6px; */
	margin: 10px 6px 6px;
	color: value("constants.css.textColor");
	overflow: auto;
}
.fieldsetInvisible .content{
	display: none;
}