.primary {
}

.floatBox {
	width: auto;
}

@if user.agent ie6 {
	.floatBox * {
		display: inline; 
	}
} @else {
}	

.floatDecoratedPanel {
	zoom: 1;
}

.decorationBox.decorationBoxSmall {
	float:left;
	margin-top: 2px;
}


.decorationBox {
	float:left;
	margin-top: 12px;
}

@if user.agent ie6 {
	.decorationBox * { 
		display: inline;
	}
} 