@external multiLineLabel; 

.truncatingLabel{
	overflow: hidden;
	white-space: nowrap;
	cursor: default;
	text-overflow: ellipsis;
}

@if user.agent ie6 {
	.inlineBlock {
		display: inline;
	}
} @else {
	.inlineBlock {
		display: inline-block;
	}
}

.truncatingLabel.multiLineLabel{
	white-space: normal;
}

div.toolTip.cornerAll, div.toolTip{
	position: absolute;
	z-index: value("constants.css.zIndexDND");
	border: 1px solid value("constants.css.borderColor");
	background: value("constants.css.backgroundColorMenu");
	padding: 4px;
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSizeSmall");
	color: value("constants.css.textColor");
}

@if user.agent ie6 {
	.toolTip {
		filter: literal("progid:DXImageTransform.Microsoft.Alpha( Opacity=85, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100)");
	}
} @elif user.agent ie8 {
	.toolTip {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Opacity=85, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100)";
	}
} @else {
	.toolTip {
		opacity: 0.85;
	}
}

.toolTip p{
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
}

.textSmall{
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSizeSmall");
	line-height: value("constants.css.lineHeightSmall");
}
.textMedium{
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
}
.textBig{
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSizeBig");
	line-height: value("constants.css.lineHeightBig");
}

.border {
	border: 1px solid value("constants.css.borderColor");
}

.cellpadding {
	padding: 2px 0px;
}

.clearAll{
	height: 0px;
	clear: both;
	margin: 0px;
	border: none;
}

/** Following is a clear-fix for containers with floated content, forcing the container to enclose its content.
    @see http://www.positioniseverything.net/easyclearing.html */
.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@sprite div.disablingOverlay{
	gwt-image: 'gwtImages.placeholderImage';
	display: block;
	position:absolute;
	z-index: value("constants.css.zIndexInline");
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	visibility: visible;
}

.hideOverlay div.disablingOverlay{
	background: transparent;
}
.cornerAll, .buttonCornerAll, .cornerBottom, .cornerTop{}
/** browser specific styles **/
@if user.agent ie8 {
	/** ie7, ie8 **/
	.shadow{
		/** standard box-shadow is a gradient, but this is a solid color, so it has to be a bit lighter to look similar */ 
		-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(color=value('constants.css.boxShadowColorIE'),offX=2,offY=2)"; 
	}
	
} @else {
	/** opera, ie9, firefox, chrome */
	.cornerAll{
		border-radius: value("constants.css.borderRadius");
	}
	.buttonCornerAll{
		border-radius: value("constants.css.borderRadiusButton");
	}
	.cornerBottom{
		border-bottom-left-radius: value("constants.css.borderRadius");
		border-bottom-right-radius: value("constants.css.borderRadius");
	}
	.cornerTop{
		border-top-left-radius: value("constants.css.borderRadius");
		border-top-right-radius: value("constants.css.borderRadius");
	}
	
	.shadow{
		box-shadow: 2px 2px 6px value("constants.css.boxShadowColorOther");
	}
}

.clearStyles, .clearStyles *{
	margin: 0;
	padding: 0;
	border: none;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}

