@external html-face, gwt-ToggleButton, cmsState-up-disabled, cmsState-down-disabled, cmsState-up, cmsState-up-hovering, cmsState-down-hovering, cmsState-down, cmsState-up-disabled, cmsState-down-disabled;

.openerNoHover div.selectBoxSelected {
 	border: 1px solid value("constants.css.borderColorEditor")  /*value("constants.css.borderColor")*/;
 	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAGQCAYAAACXuPEsAAAAcElEQVR42u3KMRGEQAAEwVNMjgEUIAEJSHgFb4CcEAP3tRnhxl89VZP1mHM+zQMEQRAEQRAEQRAEQRAEQRAEQRAEQRAE3/BuDryaA7/NgZ/mwLM58GgO3JsDt+bAtTlwaR6SJEmSJEmSJEmSJOlv+gHGSKGbh/LLagAAAABJRU5ErkJggg==") repeat-x scroll 50% 50% #FFFFFF;
 }
 
 .openerHover div.selectBoxSelected {
 	border: 1px solid value("constants.css.borderColorEditor")  /*value("constants.css.borderColor")*/;
 	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAGQCAYAAACXuPEsAAAAcElEQVR42u3KMRGEQAAEwVNMjgEUIAEJSHgFb4CcEAP3tRnhxl89VZP1mHM+zQMEQRAEQRAEQRAEQRAEQRAEQRAEQRAE3/BuDryaA7/NgZ/mwLM58GgO3JsDt+bAtTlwaR6SJEmSJEmSJEmSJOlv+gHGSKGbh/LLagAAAABJRU5ErkJggg==") repeat-x scroll 50% 50% #EEEEEE;
}


.selectBoxPopup {
	border: 1px solid value("constants.css.borderColorEditor") !important;
}



textarea.textAreaBox {
	background: none repeat scroll 0 0 transparent;
	display: block;
	color: value("constants.css.textColor");
	box-shadow: none;
	font-size: 12px;
	width: 99%;
	border: none;
	resize: none;
	overflow: hidden;
	font-family: value("constants.css.fontFamily");
	padding: 0 0 0 3px;
}


div.textAreaBoxPanel{
	border: 1px solid value("constants.css.borderColorEditor");
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
	border-radius: value("constants.css.borderRadius");
}


.openerNoHover, .openerHover, .selectBoxSelected {};



