.highlightBox{
	position: absolute;
	z-index: value("constants.css.zIndexHighlighting");
	background: transparent;
}


/** Opacity filter somehow hides the hightlighting in IE7 and IE8, will not use it for now. */
.highlightBox {
	opacity: 0.6;
}

.highlightBox div{
	position: absolute;
	top: 0px;
	left: 0px;
}

.highlightBox .borderLeft, .highlightBox .borderRight{
	width: 2px;
}

.highlightBox .borderTop, .highlightBox .borderBottom{
	height: 2px
}


.animated .borderLeft{
	animation: moveDown 30s linear normal infinite;
}

.animated .borderRight{
	animation: moveDown 30s linear reverse infinite;
}

.animated .borderTop{
	animation: moveRight 30s linear reverse infinite;
}

.animated .borderBottom{
	animation: moveRight 30s linear normal infinite;
}

@-moz-keyframes moveRight {
	0% {background-position: 0% 50%;}
	25% {background-position: 25% 50%;}
	50% {background-position: 50% 50%;}
	75% {background-position: 75% 50%;}
	100% {background-position: 100% 50%;}
}

@-moz-keyframes moveDown {
	0% {background-position: 50% 0%;}
	25% {background-position: 50% 25%;}
	50% {background-position: 50% 50%;}
	75% {background-position: 50% 75%;}
	100% {background-position: 50% 100%;}
}

.colorSolidGrey .borderLeft, .colorSolidGrey .borderRight, .colorSolidGrey .borderTop, .colorSolidGrey .borderBottom{
	background: rgba(181,189,200,1);
}

.colorGrey .borderLeft, .colorGrey .borderRight{
	background: linear-gradient(
  		to bottom,
  		rgba(181,189,200,1) ,
  		rgba(181,189,200,1)  50%,
  		rgba(125,185,232,0) 50%,
  		rgba(125,185,232,0)
	);
	background-size: 100% 16px;
}

.colorGrey .borderTop, .colorGrey .borderBottom{
	background: linear-gradient(
  		to right,
  		rgba(181,189,200,1) ,
  		rgba(181,189,200,1)  50%,
  		rgba(125,185,232,0) 50%,
  		rgba(125,185,232,0)
	);
	background-size: 16px  100%;
}


.colorRed .borderLeft, .colorRed .borderRight{
	background: linear-gradient(
  		to bottom,
  		rgba(179,27,52,1),
  		rgba(179,27,52,1) 50%,
  		rgba(125,185,232,0) 50%,
  		rgba(125,185,232,0)
	);
	background-size: 100% 16px;
}

.colorRed .borderTop, .colorRed .borderBottom{
	background: linear-gradient(
  		to right,
  		rgba(179,27,52,1),
  		rgba(179,27,52,1) 50%,
  		rgba(125,185,232,0) 50%,
  		rgba(125,185,232,0)
	);
	background-size: 16px  100%;
}

.colorBlue .borderLeft, .colorBlue .borderRight{
	background: linear-gradient(
  		to bottom,
  		rgba(135,224,253,1),
  		rgba(135,224,253,1)  50%,
  		rgba(125,185,232,0) 50%,
  		rgba(125,185,232,0)
	);
	background-size: 100% 16px;
}

.colorBlue .borderTop, .colorBlue .borderBottom{
	background: linear-gradient(
  		to right,
  		rgba(135,224,253,1),
  		rgba(135,224,253,1)  50%,
  		rgba(125,185,232,0) 50%,
  		rgba(125,185,232,0)
	);
	background-size: 16px  100%;
}