@external html-face, cmsState, cmsState-up, cmsState-up-hovering, cmsState-up-disabled, cmsState-down, cmsState-down-hovering, cmsState-down-disabled;

@sprite .cmsState-down .addIcon, .cmsState-up-hovering .addIcon, .cmsState-down-hovering .addIcon{
    gwt-image: "icons.addIconActive";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-up .addIcon, .cmsState-up-disabled .addIcon, .cmsState-down-disabled .addIcon{
    gwt-image: "icons.addIconDeactivated";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-down .deleteIcon, .cmsState-up-hovering .deleteIcon, .cmsState-down-hovering .deleteIcon{
    gwt-image: "icons.deleteIconActive";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-up .deleteIcon, .cmsState-up-disabled .deleteIcon, .cmsState-down-disabled .deleteIcon{
    gwt-image: "icons.deleteIconDeactivated";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-down .editIcon, .cmsState-up-hovering .editIcon, .cmsState-down-hovering .editIcon{
    gwt-image: "icons.editIconActive";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-up .editIcon, .cmsState-up-disabled .editIcon, .cmsState-down-disabled .editIcon{
    gwt-image: "icons.editIconDeactivated";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-down .changeOrderIcon, .cmsState-up-hovering .changeOrderIcon, .cmsState-down-hovering .changeOrderIcon{
    gwt-image: "icons.changeOrderIconActive";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-up .changeOrderIcon, .cmsState-up-disabled .changeOrderIcon, .cmsState-down-disabled .changeOrderIcon{
    gwt-image: "icons.changeOrderIconDeactivated";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-down .removeIcon, .cmsState-up-hovering .removeIcon, .cmsState-down-hovering .removeIcon{
    gwt-image: "icons.removeIconActive";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-up .removeIcon, .cmsState-up-disabled .removeIcon, .cmsState-down-disabled .removeIcon{
    gwt-image: "icons.removeIconDeactivated";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-down .moveIcon, .cmsState-up-hovering .moveIcon, .cmsState-down-hovering .moveIcon{
    gwt-image: "icons.moveIconActive";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-up .moveIcon, .cmsState-up-disabled .moveIcon, .cmsState-down-disabled .moveIcon{
    gwt-image: "icons.moveIconDeactivated";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-down .propertyIcon, .cmsState-up-hovering .propertyIcon, .cmsState-down-hovering .propertyIcon{
    gwt-image: "icons.propertyIconActive";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-up .propertyIcon, .cmsState-up-disabled .propertyIcon, .cmsState-down-disabled .propertyIcon{
    gwt-image: "icons.propertyIconDeactivated";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-down .searchIcon, .cmsState-up-hovering .searchIcon, .cmsState-down-hovering .searchIcon{
	gwt-image: "icons.searchIconActive";
	display: inline-block;
	vertical-align: middle;
}
@sprite .cmsState-up .searchIcon, .cmsState-down-disabled .searchIcon, .cmsState-up-disabled .searchIcon{
	gwt-image: "icons.searchIconDeactivated";
	display: inline-block;
	vertical-align: middle;
}
@sprite .cmsState-down .uploadIcon, .cmsState-up-hovering .uploadIcon, .cmsState-down-hovering .uploadIcon{
    gwt-image: "icons.uploadIconActive";
    display: inline-block;
    vertical-align: middle;
}
@sprite .cmsState-up .uploadIcon, .cmsState-up-disabled .uploadIcon, .cmsState-down-disabled .uploadIcon{
    gwt-image: "icons.uploadIconDeactivated";
    display: inline-block;
    vertical-align: middle;
}


@sprite div.opencmsSymbol, span.opencmsSymbol{
	gwt-image: "opencmsSymbolImage";
	display: inline-block;
	cursor: pointer;
}


@sprite div.lockedIcon, span.lockedIcon{
	gwt-image: "ratioLockedImage";
	cursor: pointer;
	width: 12px;
}
@sprite div.unlockedIcon, span.unlockedIcon{
	gwt-image: "ratioUnlockedImage";
	cursor: pointer;
	width: 12px;
}


@sprite div.resetIcon, span.resetIcon{
	gwt-image: "resetSizeImage";
	cursor: pointer;
}
@sprite div.croppingIcon, span.croppingIcon{
	gwt-image: "cropImage";
	display: inline-block;
	cursor: pointer;
}
@sprite div.removeCroppingIcon, span.removeCroppingIcon{
	gwt-image: "cropRemoveImage";
	display: inline-block;
	cursor: pointer;
}


@sprite div.triangleDown, span.triangleDown{
	gwt-image: "triangleDownImage";
	display: inline-block;
	cursor: pointer;
}
@sprite div.triangleRight, span.triangleRight{
	gwt-image: "triangleRightImage";
	display: inline-block;
	cursor: pointer;
}
@sprite div.closeIcon, span.closeIcon{
	gwt-image: "closeImage";
	display: inline-block;
	cursor: pointer;
}

@sprite div.warningIcon, span.warningIcon{
	gwt-image: "warningSmallImage"; 
}

@sprite table tr td.warningBigIcon, div.warningBigIcon, span.warningBigIcon{
	gwt-image: "warningBigImage"; 
}