.optionContainer {
	border: 1px solid rgb(204,204,204); 
	border-radius: 4px; 
	padding: 3px;
	margin-top: 5px;
}

.optionContainer li, .optionContainer li * {
    cursor: pointer;
}

.labelContainer {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.labelContainer > * {
	width: calc(100% - 20px);
}