.popup, .popupContent{}

div.blocking{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: value("constants.css.zIndexPopup");
}

.popup div.blocking{
	position: absolute;
}

.blocking div.notificationContainer{
	top: 40%;
}

.blocking .notificationContainer br, .blocking .notificationOverlay{
	display: block;	
}

.notificationContainer br, .notificationOverlay {
	display: none;
}

div.notificationOverlay { 
	position:absolute; 
	height: 100%; 
	width:100%; 
	top: 0; 
	left: 0; 
	background-color: value("constants.css.backgroundColorOverlay"); 
}

.notificationOverlay { 
	opacity: 0.5; 
}
.popup div.notificationContainer{
	top: 50px;
	z-index: value("constants.css.zIndexPopup");
}
div.notificationContainer {
	text-align: center;
	position:absolute;
	width:100%;
	top: 50%;
	left: 0;
	height: 16px;
}
@sprite .notificationContainer .loadingAnimation{
	gwt-image: "gwtImages.loadingBigImage";
	display: none;
}

.blocking .loadingAnimation{
	display: inline-block;
}

div.notificationMessage, span.notificationMessage {
	font-weight: bold; 
	font-size: value("constants.css.fontSizeBig");
	padding: 5px 15px; 
	line-height: value("constants.css.lineHeightBig");
	display: inline-block; 
	margin-top: 8px;
	max-height: 300px;
    max-width: 830px;
    min-width: 415px;
    overflow: auto;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.popup div.notificationMessage, .popup span.notificationMessage {
	max-width: 80%;
	min-width: 40%;
}

.blocking .notificationContainer .notificationMessage {
	background: transparent;
	border: none;
	box-shadow: none;
}

.notificationError .notificationMessage { 
	background-color: value("constants.css.notificationErrorBg"); 
	color: value("constants.css.notificationErrorColor"); 
	border-color: value("constants.css.notificationErrorBorder"); 
}
.notificationNormal .notificationMessage { 
	background-color: value("constants.css.notificationNormalBg"); 
	color: value("constants.css.notificationNormalColor"); 
	border-color: value("constants.css.notificationNormalBorder"); 
}
.notificationWarning .notificationMessage { 
	background-color: value("constants.css.notificationWarningBg"); 
	color: value("constants.css.notificationWarningColor"); 
	border-color: value("constants.css.notificationWarningBorder"); 
}