.meterWrap{
    position: relative;
}

.meterWrap, .meterValue, .meterText {
    width: 100%;
    height: 20px;
}

@sprite .meterWrap, .meterValue {
	gwt-image: "backgrounds.softBackground";
	background-position: 50% 50%;
    background-repeat: repeat-x;
    border-radius: 5px;
    height: 20px;
}

.colorComplete {
	background-color: #4DA4F3;
}

.colorIncomplete {
	background-color: #BDBDBD;
}

.meterText {
    position: absolute;
    top:0; left:0;

    padding-top: 4px;
                
    color: #fff;
    text-align: center;
    width: 100%;
}
