.vfsModeSimplePropertiesBox, .navModePropertiesBox {
	border: solid 1px value("constants.css.borderColor");
	background: value("constants.css.backgroundColorDialog");
	margin-top: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
}

@external  cmsState cmsState-up-hovering; 

.cmsState.propertyDefinitionButton {
	color: gray;
}

.cmsState.cmsState-up-hovering .propertyDefinitionButton {
	color: blue;
}

.propertyParentLoading { 
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%) no-repeat 0px 35px; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%) no-repeat 0px 35px; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%) no-repeat 0px 35px; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.propertyPanel {
	
}