@external gwt-TabLayoutPanel, gwt-TabLayoutPanelTab, gwt-TabLayoutPanelTabBar, gwt-TabLayoutPanelTabs, gwt-TabLayoutPanelContent, gwt-TabLayoutPanelTab-selected, gwt-TabLayoutPanelTabInner; 

/*TODO: remove if not used within gallery preview*/
.gwt-TabLayoutPanel .internal-tabbed {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabBar .gwt-TabLayoutPanelTabs{
}
.gwt-TabLayoutPanel .tabPanel {
}
.gwt-TabLayoutPanel .tabLeftMargin {
	margin-left:30px !important;
}

.buttonTabs.gwt-TabLayoutPanel {	
	display:block;
	height: 100%;
	margin:0;
	padding:0;
}

.buttonTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabBar {
	height: auto;
	display: block;
}

.buttonTabs .gwt-TabLayoutPanelTabs {
	height: 24px !important; 
}

@sprite .buttonTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	gwt-image: "backgrounds.dialogBackgroundShadow";
    background-color: value("constants.css.backgroundColorMenu");
	background-position: top;
	background-repeat: repeat-x;
    overflow: visible;
	display:block;
	color:value("constants.css.textColor");
	padding:value("constants.css.defaultSpace");
	margin-top: 6px;
}

.buttonTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {  	
	border-width: 1px 1px 1px 0px;
	border-color: value("constants.css.borderColor");
	border-style: solid;
	position:relative;
	cursor:pointer;
}

.buttonTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner div {
	padding: 4px 5px;
	font-weight: bold;
	color: value("constants.css.textColorDarkButton");
	font-size:value("constants.css.fontSize");
	font-family: value("constants.css.fontFamily");
}

.buttonTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerLeft{
	border-top-left-radius: value("constants.css.borderRadiusButton");
	border-bottom-left-radius: value("constants.css.borderRadiusButton");
}
.buttonTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent{
	border-radius: 8px;
}


.buttonTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerRight{
	border-color: value("constants.css.borderColor");
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-top-right-radius: value("constants.css.borderRadiusButton");
	border-bottom-right-radius: value("constants.css.borderRadiusButton");
}

.buttonTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.borderAll, .buttonTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerLeft {
	border: 1px solid value("constants.css.borderColor");
}

.buttonTabs.gwt-TabLayoutPanel .black{}

@sprite .buttonTabs.gwt-TabLayoutPanel .black .gwt-TabLayoutPanelTab {
	gwt-image: "inputImages.buttonBlackUpBackground";
	background-position: 50% 50%;
	height: auto;
	overflow: visible;
}
@sprite .buttonTabs.gwt-TabLayoutPanel .black .gwt-TabLayoutPanelTab:hover {  	
	gwt-image: "inputImages.buttonBlackHoverBackground"; 
	background-position: 50% 50%;
	height: auto;
	overflow: visible;
}
@sprite .buttonTabs.gwt-TabLayoutPanel .black .gwt-TabLayoutPanelTab-selected:hover {
	gwt-image: "inputImages.buttonBlueUpBackground";
	background-position: 50% 50%;
	height: auto;
	overflow: visible;
}
@sprite .buttonTabs.gwt-TabLayoutPanel .black .gwt-TabLayoutPanelTab-selected{    
	gwt-image: "inputImages.buttonBlueDownBackground";
	background-position: 50% 50%;
	height: auto;
	overflow: visible;
}


@sprite .buttonTabs.gwt-TabLayoutPanel .tabLeftMargin.gwt-TabLayoutPanelTab {
	gwt-image: "inputImages.buttonRedUpBackground";
	background-position: 50% 50%;
	height: auto;
	overflow: visible;
}
@sprite .buttonTabs.gwt-TabLayoutPanel .tabLeftMargin.gwt-TabLayoutPanelTab:hover {  	
	gwt-image: "inputImages.buttonRedHoverBackground"; 
	background-position: 50% 50%;
	height: auto;
	overflow: visible;
}
@sprite .buttonTabs.gwt-TabLayoutPanel .tabLeftMargin.gwt-TabLayoutPanelTab-selected:hover {
	gwt-image: "inputImages.buttonRedHoverBackground";
	background-position: 50% 50%;
	height: auto;
	overflow: visible;
}
@sprite .buttonTabs.gwt-TabLayoutPanel .tabLeftMargin.gwt-TabLayoutPanelTab-selected{    
	gwt-image: "inputImages.buttonRedDownBackground";
	background-position: 50% 50%;
	height: auto;
	overflow: visible;
}


@sprite .buttonTabs.gwt-TabLayoutPanel .black .tabDisabled.gwt-TabLayoutPanelTab {
	gwt-image: "inputImages.buttonDisabledBackground";
	background-position: 50% 50%;
	height: auto;
	cursor: default;
	overflow: visible;
}
.buttonTabs.gwt-TabLayoutPanel .black .tabDisabled.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner div {
	color: value("constants.css.textColorDisabledButton") !important;
}














.classicTabs.gwt-TabLayoutPanel {
	display:block;
    background:value("constants.css.backgroundColorMenu") none repeat scroll 0 0;   
    border:1px solid value("constants.css.borderColor");
	height: 100%;
	margin:0;
	padding:0;
}

@sprite .classicTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabBar {
	gwt-image: "backgrounds.softBackground";
	background-position: 50% 50%;
	height: auto;
	display: block;
	background-color: value("constants.css.backgroundColorSoft");
}

.classicTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    background-color: value("constants.css.backgroundColorMenu");
    overflow: visible;
	display:block;
	color:value("constants.css.textColor");
	padding: 0;
	margin-top: 0;
}

@sprite .classicTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {  	
	gwt-image: "backgrounds.stateBackground";
	background-position: 50% 50%;
	height: auto;
	margin:0 0 -2px 2px;
	padding:0;		
	border:1px solid value("constants.css.borderColor");	
	border-bottom: none;
	color:value("constants.css.textColor");
	position:relative;
	cursor:pointer;
	background-color: value("constants.css.backgroundColorStateStandard");
	border-top-left-radius: value("constants.css.borderRadius");
	border-top-right-radius: value("constants.css.borderRadius");
}

@sprite .classicTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab:hover {  	
	gwt-image: "backgrounds.stateBackground";
	background-position: 50% 50%;
	height: auto;
	background-color: value("constants.css.backgroundColorStateHover");
}

.classicTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected, .classicTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected:hover {    
    background: value("constants.css.backgroundColorMenu") none repeat scroll 0 0;
	cursor: default;
	font-size:value("constants.css.fontSize");
	font-family: value("constants.css.fontFamily");
}

.classicTabs.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab .gwt-TabLayoutPanelTabInner {
	padding: 3px 5px 4px;
	font-size:value("constants.css.fontSize");
	font-family: value("constants.css.fontFamily");
}

@sprite .classicTabs.gwt-TabLayoutPanel .tabDisabled.gwt-TabLayoutPanelTab {
	gwt-image: "inputImages.buttonDisabledBackground";
	background-position: 50% 50%;
	height: auto;
	cursor: default;
}
.classicTabs.gwt-TabLayoutPanel .tabDisabled.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner div {
	color:value("constants.css.textColorDisabledButton") !important;
}
