.toolbarHide.toolbar .toolbarBackground{
	display: none;
}

.simpleToolbarShow, .toolbarShow{}

.toolbar, .toolbar *, .toolbar table tr td {
	margin: 0;
	padding: 0;
	border: none;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.toolbar{
	left: 0px;
	top: 0px;
	right: 0px;
	position: fixed;
	z-index: value("constants.css.zIndexPopup");
}

.toolbarBackground{
	overflow: hidden;
	height: 52px;
	position:absolute;
	top:0px;
	left:0px;
	right: 0px;
	border-bottom:1px solid value("constants.css.borderColor");
	color:value("constants.css.textColor");
	padding:0px;
	margin:0px;
	background-color: value("constants.css.backgroundColorDialog");
}

.toolbarBackground .toolbarCenter{
	display: block;
  	position: absolute;
  	left: 0;
  	right:0;
  	top: 4px;
  	text-align: center;
}

@sprite .toolbarBackground .toolbarLogo{
	gwt-image: "coreImages.opencmsLogo";
	display: inline-block;
  	height: 42px;
  	width: 170px;
}

.toolbarBackground .toolbarContent{
	margin: 0 20px;
  	min-width: 700px;
  	text-align: center;
  	display: block;
}

.toolbarButtonsRight, .toolbarButtonsLeft{
	margin: 5px 0;
	width: 49%;
	z-index: 10;
}

.toolbarButtonsLeft{
	float: left;
}

.toolbarButtonsRight{
	text-align: right;
	vertical-align:middle;
	float: right;
}

.toolbarButtonsLeft>div{
	margin-right: 10px;
	vertical-align:middle;
}

.toolbarButtonsRight>div{
	margin-left: 10px;
}

.notification {
	text-align: center;
	position:absolute;
	/** Must have the value as the .toolbarBackground class. */
	top: 35px;
	width:100%;
}


div.toolbarToggle{
	position: fixed;
	left: 97%;
	top: -3px;
	padding: 3px 3px 1px 3px;
	z-index: value("constants.css.zIndexDND");
}

.toolbarToggle, .toolbarToggle * {
	margin: 0;
	padding: 0;
	border: none;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}

.toolbarButtonShowSmallElements { 
	
}

.hideButtonShowSmallElements .toolbarButtonShowSmallElements {
	display: none; 
}




