.toolbarHide.toolbar .toolbarBackground{
	display: none;
}

.simpleToolbarShow, .toolbarShow{}

.toolbar, .toolbar *, .toolbar table tr td {
	margin: 0;
	padding: 0;
	border: none;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

.toolbar{
	left: 0px;
	top: 0px;
	right: 0px;
	position: fixed;
	z-index: value("constants.css.zIndexPopup");
}

@sprite .toolbarBackground{
	gwt-image: "backgrounds.softBackground";
	background-position: 50% 50%;
	overflow: visible;
	border-top:medium none;
	font-weight:normal;
	height: 34px;
	position:absolute;
	top:0px;
	left:0px;
	right: 0px;
	border-bottom:1px solid value("constants.css.borderColor");
	color:value("constants.css.textColor");
	padding:0px;
	margin:0px;
	background-color: value("constants.css.backgroundColorSoft");
}

.toolbarContent{
	padding:0px;
	position:relative;
	width:value("constants.css.toolbarWidth");
	margin:2px auto;
}
.toolbarButtonsLeft>div{
	margin-right: 5px;
	vertical-align:middle;
}
.toolbarButtonsRight{
	text-align: right;
	vertical-align:middle;
}
.toolbarButtonsRight>div{
	margin-left: 5px;
}

.notification {
	text-align: center;
	position:absolute;
	/** Must have the value as the .toolbarBackground class. */
	top: 35px;
	width:100%;
}


div.toolbarToggle{
	position: fixed;
	left: 97%;
	top: -3px;
	padding: 3px 3px 1px 3px;
	z-index: value("constants.css.zIndexDND");
}

.toolbarToggle, .toolbarToggle * {
	margin: 0;
	padding: 0;
	border: none;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}

.toolbarButtonShowSmallElements { 
	
}

.hideButtonShowSmallElements .toolbarButtonShowSmallElements {
	display: none; 
}




