/**
	All CSS-selectors containing .optionBar are specific for the container-page editor. 
	The following logic applies to buttons within the option-bars:
	They are only visible, if their specific class like .toolbarMove or .toolbarEdit is also assigned to the body element and 
	not only to the button itself. This allows to show and hide all occurrences of them by a single DOM operation.
	Only exception to this applies if the .toolbarSelection class is attached to the body element, then all buttons will be 
	shown on hovering the option-bar, by assigning the class .cmsHovering to the option bar.
	
**/
@external cmsState, cmsState-up, cmsState-up-hovering, cmsState-up-disabled, cmsState-down, cmsState-down-hovering, cmsState-down-disabled;

.cmsState, .cmsHovering{}

@sprite .cmsState-up-disabled .toolbarSelection, .cmsState-down-disabled .toolbarSelection{
	gwt-image: "selectionBigIconDeactivated";
}
@sprite .cmsState-up .toolbarSelection, .cmsState-up-hovering .toolbarSelection, .cmsState-down-hovering .toolbarSelection, .cmsState-down .toolbarSelection{
    gwt-image: "selectionBigIconActive";
}


@sprite .cmsState-up-disabled .toolbarEdit, .cmsState-down-disabled .toolbarEdit{
	gwt-image: "editBigIconDeactivated";
}
@sprite .cmsState-up .toolbarEdit, .cmsState-up-hovering .toolbarEdit, .cmsState-down-hovering .toolbarEdit, .cmsState-down .toolbarEdit{
    gwt-image: "editBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarAdd, .cmsState-down-disabled .toolbarAdd{
	gwt-image: "searchBigIconDeactivated";
}
@sprite .cmsState-up .toolbarAdd, .cmsState-up-hovering .toolbarAdd, .cmsState-down-hovering .toolbarAdd, .cmsState-down .toolbarAdd{
    gwt-image: "searchBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarContext, .cmsState-down-disabled .toolbarContext{
	gwt-image: "menuBigIconDeactivated";
}
@sprite .cmsState-up .toolbarContext, .cmsState-up-hovering .toolbarContext, .cmsState-down-hovering .toolbarContext, .cmsState-down .toolbarContext{
    gwt-image: "menuBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarCopyLocale, .cmsState-down-disabled .toolbarCopyLocale{
	gwt-image: "copyLocaleBigIconDeactivated";
}
@sprite .cmsState-up .toolbarCopyLocale, .cmsState-up-hovering .toolbarCopyLocale, .cmsState-down-hovering .toolbarCopyLocale, .cmsState-down .toolbarCopyLocale{
    gwt-image: "copyLocaleBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarGallery, .cmsState-down-disabled .toolbarGallery {
	gwt-image: "galleryBigIcon";
}
@sprite .cmsState-up .toolbarGallery, .cmsState-up-hovering .toolbarGallery, .cmsState-down-hovering .toolbarGallery, .cmsState-down .toolbarGallery {
    gwt-image: "galleryBigIcon";
}


@sprite .cmsState-up-disabled .toolbarClipboard, .cmsState-down-disabled .toolbarClipboard{
	gwt-image: "clipboardBigIconDeactivated";
}
@sprite .cmsState-up .toolbarClipboard, .cmsState-up-hovering .toolbarClipboard, .cmsState-down-hovering .toolbarClipboard, .cmsState-down .toolbarClipboard{
    gwt-image: "clipboardBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarDelete, .cmsState-down-disabled .toolbarDelete{
	gwt-image: "deleteBigIconDeactivated";
}
@sprite .cmsState-up .toolbarDelete, .cmsState-up-hovering .toolbarDelete, .cmsState-down-hovering .toolbarDelete, .cmsState-down .toolbarDelete{
    gwt-image: "deleteBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarDeleteLocale, .cmsState-down-disabled .toolbarDeleteLocale{
	gwt-image: "deleteLocaleBigIconDeactivated";
}
@sprite .cmsState-up .toolbarDeleteLocale, .cmsState-up-hovering .toolbarDeleteLocale, .cmsState-down-hovering .toolbarDeleteLocale, .cmsState-down .toolbarDeleteLocale{
    gwt-image: "deleteLocaleBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarRedo, .cmsState-down-disabled .toolbarRedo{
	gwt-image: "redoBigIconDeactivated";
}
@sprite .cmsState-up .toolbarRedo, .cmsState-up-hovering .toolbarRedo, .cmsState-down-hovering .toolbarRedo, .cmsState-down .toolbarRedo{
    gwt-image: "redoBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarUndo, .cmsState-down-disabled .toolbarUndo{
	gwt-image: "undoBigIconDeactivated";
}
@sprite .cmsState-up .toolbarUndo, .cmsState-up-hovering .toolbarUndo, .cmsState-down-hovering .toolbarUndo, .cmsState-down .toolbarUndo{
    gwt-image: "undoBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarReset, .cmsState-down-disabled .toolbarReset{
	gwt-image: "resetBigIconDeactivated";
}
@sprite .cmsState-up .toolbarReset, .cmsState-up-hovering .toolbarReset, .cmsState-down-hovering .toolbarReset, .cmsState-down .toolbarReset{
    gwt-image: "resetBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarMove, .cmsState-down-disabled .toolbarMove{
	gwt-image: "moveBigIconDeactivated";
}
@sprite .cmsState-up .toolbarMove, .cmsState-up-hovering .toolbarMove, .cmsState-down-hovering .toolbarMove, .cmsState-down .toolbarMove{
    gwt-image: "moveBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarNew, .cmsState-down-disabled .toolbarNew{
	gwt-image: "addBigIconDeactivated";
}
@sprite .cmsState-up .toolbarNew, .cmsState-up-hovering .toolbarNew, .cmsState-down-hovering .toolbarNew, .cmsState-down .toolbarNew{
    gwt-image: "addBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarProperties, .cmsState-down-disabled .toolbarProperties{
	gwt-image: "propertyBigIconDeactivated";
}
@sprite .cmsState-up .toolbarProperties, .cmsState-up-hovering .toolbarProperties, .cmsState-down-hovering .toolbarProperties, .cmsState-down .toolbarProperties{
    gwt-image: "propertyBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarPublish, .cmsState-down-disabled .toolbarPublish{
	gwt-image: "publishBigIconDeactivated";
}
@sprite .cmsState-up .toolbarPublish, .cmsState-up-hovering .toolbarPublish, .cmsState-down-hovering .toolbarPublish, .cmsState-down .toolbarPublish{
    gwt-image: "publishBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarSave, .cmsState-down-disabled .toolbarSave{
	gwt-image: "saveBigIconDeactivated";
}
@sprite .cmsState-up .toolbarSave, .cmsState-up-hovering .toolbarSave, .cmsState-down-hovering .toolbarSave, .cmsState-down .toolbarSave{
    gwt-image: "saveBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarSaveExit, .cmsState-down-disabled .toolbarSaveExit{
	gwt-image: "saveExitBigIconDeactivated";
}
@sprite .cmsState-up .toolbarSaveExit, .cmsState-up-hovering .toolbarSaveExit, .cmsState-down-hovering .toolbarSaveExit, .cmsState-down .toolbarSaveExit{
    gwt-image: "saveExitBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarSitemap, .cmsState-down-disabled .toolbarSitemap{
	gwt-image: "sitemapBigIconDeactivated";
}
@sprite .cmsState-up .toolbarSitemap, .cmsState-up-hovering .toolbarSitemap, .cmsState-down-hovering .toolbarSitemap, .cmsState-down .toolbarSitemap{
    gwt-image: "sitemapBigIconActive";
}


@sprite .cmsState-up-disabled .toolbarRefresh, .cmsState-down-disabled .toolbarRefresh{
	gwt-image: "resetBigIconActive";
}
@sprite .cmsState-up .toolbarRefresh, .cmsState-up-hovering .toolbarRefresh, .cmsState-down-hovering .toolbarRefresh, .cmsState-down .toolbarRefresh{
    gwt-image: "resetBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarRemove, .cmsState-down-disabled .toolbarRemove{
	gwt-image: "removeBigIconDeactivated";
}
@sprite .cmsState-up .toolbarRemove, .cmsState-up-hovering .toolbarRemove, .cmsState-down-hovering .toolbarRemove, .cmsState-down .toolbarRemove{
    gwt-image: "removeBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarBack, .cmsState-down-disabled .toolbarBack{
	gwt-image: "backBigIconDeactivated";
}
@sprite .cmsState-up .toolbarBack, .cmsState-up-hovering .toolbarBack, .cmsState-down-hovering .toolbarBack, .cmsState-down .toolbarBack{
    gwt-image: "backBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarInherited, .cmsState-down-disabled .toolbarInherited{
	gwt-image: "sitemapBigIconDeactivated";
}
@sprite .cmsState-up .toolbarInherited, .cmsState-up-hovering .toolbarInherited, .cmsState-down-hovering .toolbarInherited, .cmsState-down .toolbarInherited{
    gwt-image: "sitemapBigIconActive";
}

@sprite .cmsState-down .toolbarShowSmall, .cmsState-down-hovering .toolbarShowSmall {
	gwt-image: "showSmallElementsIconActive";
}

@sprite .cmsState-up .toolbarShowSmall, .cmsState-up-hovering .toolbarShowSmall {
	gwt-image: "showSmallElementsIconDeactivated";
}

@sprite .cmsState-up-disabled .toolbarToggleHelp, .cmsState-down-disabled .toolbarToggleHelp{
	gwt-image: "toggleHelpBigIconDeactivated";
}
@sprite .cmsState-up .toolbarToggleHelp, .cmsState-up-hovering .toolbarToggleHelp, .cmsState-down-hovering .toolbarToggleHelp, .cmsState-down .toolbarToggleHelp{
    gwt-image: "toggleHelpBigIconActive";
}



@sprite .elementInfoChanged .toolbarElementInfo { 
	gwt-image:"elementsBigIconChanged";
	
}

@sprite .toolbarElementInfo { 
	gwt-image: "elementsBigIcon";
}

.cmsState-up .toolbarDelete, .cmsState-up-hovering .toolbarDelete, .cmsState-down-hovering .toolbarDelete, .cmsState-down .toolbarDelete, .cmsState-up-disabled .toolbarDelete, .cmsState-down-disabled .toolbarDelete{
}


.toolbarInfo {} 

.elementInfoUnchanged {} 