/**
	All CSS-selectors containing .optionBar are specific for the container-page editor. 
	The following logic applies to buttons within the option-bars:
	They are only visible, if their specific class like .toolbarMove or .toolbarEdit is also assigned to the body element and 
	not only to the button itself. This allows to show and hide all occurrences of them by a single DOM operation.
	Only exception to this applies if the .toolbarSelection class is attached to the body element, then all buttons will be 
	shown on hovering the option-bar, by assigning the class .cmsHovering to the option bar.
	
**/
@external cmsState, cmsState-up, cmsState-up-hovering, cmsState-up-disabled, cmsState-down, cmsState-down-hovering, cmsState-down-disabled;

.cmsState, .cmsHovering{}

@sprite .cmsState-up-disabled .toolbarSelection, .cmsState-down-disabled .toolbarSelection{
	gwt-image: "selectionBigIconDeactivated";
}
@sprite .cmsState-up .toolbarSelection, .cmsState-up-hovering .toolbarSelection, .cmsState-down-hovering .toolbarSelection, .cmsState-down .toolbarSelection{
    gwt-image: "selectionBigIconActive";
}


@sprite .cmsState-up-disabled .toolbarEdit, .cmsState-down-disabled .toolbarEdit{
	gwt-image: "editBigIconDeactivated";
}
@sprite .cmsState-up .toolbarEdit, .cmsState-up-hovering .toolbarEdit, .cmsState-down-hovering .toolbarEdit, .cmsState-down .toolbarEdit{
    gwt-image: "editBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarAdd, .cmsState-down-disabled .toolbarAdd{
	gwt-image: "searchBigIconDeactivated";
}
@sprite .cmsState-up .toolbarAdd, .cmsState-up-hovering .toolbarAdd, .cmsState-down-hovering .toolbarAdd, .cmsState-down .toolbarAdd{
    gwt-image: "searchBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarContext, .cmsState-down-disabled .toolbarContext{
	gwt-image: "menuBigIconDeactivated";
}
@sprite .cmsState-up .toolbarContext, .cmsState-up-hovering .toolbarContext, .cmsState-down-hovering .toolbarContext, .cmsState-down .toolbarContext{
    gwt-image: "menuBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarClipboard, .cmsState-down-disabled .toolbarClipboard{
	gwt-image: "clipboardBigIconDeactivated";
}
@sprite .cmsState-up .toolbarClipboard, .cmsState-up-hovering .toolbarClipboard, .cmsState-down-hovering .toolbarClipboard, .cmsState-down .toolbarClipboard{
    gwt-image: "clipboardBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarReset, .cmsState-down-disabled .toolbarReset{
	gwt-image: "resetBigIconDeactivated";
}
@sprite .cmsState-up .toolbarReset, .cmsState-up-hovering .toolbarReset, .cmsState-down-hovering .toolbarReset, .cmsState-down .toolbarReset{
    gwt-image: "resetBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarMove, .cmsState-down-disabled .toolbarMove{
	gwt-image: "moveBigIconDeactivated";
}
@sprite .cmsState-up .toolbarMove, .cmsState-up-hovering .toolbarMove, .cmsState-down-hovering .toolbarMove, .cmsState-down .toolbarMove{
    gwt-image: "moveBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarNew, .cmsState-down-disabled .toolbarNew{
	gwt-image: "addBigIconDeactivated";
}
@sprite .cmsState-up .toolbarNew, .cmsState-up-hovering .toolbarNew, .cmsState-down-hovering .toolbarNew, .cmsState-down .toolbarNew{
    gwt-image: "addBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarProperties, .cmsState-down-disabled .toolbarProperties{
	gwt-image: "propertyBigIconDeactivated";
}
@sprite .cmsState-up .toolbarProperties, .cmsState-up-hovering .toolbarProperties, .cmsState-down-hovering .toolbarProperties, .cmsState-down .toolbarProperties{
    gwt-image: "propertyBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarPublish, .cmsState-down-disabled .toolbarPublish{
	gwt-image: "publishBigIconDeactivated";
}
@sprite .cmsState-up .toolbarPublish, .cmsState-up-hovering .toolbarPublish, .cmsState-down-hovering .toolbarPublish, .cmsState-down .toolbarPublish{
    gwt-image: "publishBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarSave, .cmsState-down-disabled .toolbarSave{
	gwt-image: "saveBigIconDeactivated";
}
@sprite .cmsState-up .toolbarSave, .cmsState-up-hovering .toolbarSave, .cmsState-down-hovering .toolbarSave, .cmsState-down .toolbarSave{
    gwt-image: "saveBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarSitemap, .cmsState-down-disabled .toolbarSitemap{
	gwt-image: "sitemapBigIconDeactivated";
}
@sprite .cmsState-up .toolbarSitemap, .cmsState-up-hovering .toolbarSitemap, .cmsState-down-hovering .toolbarSitemap, .cmsState-down .toolbarSitemap{
    gwt-image: "sitemapBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarRemove, .cmsState-down-disabled .toolbarRemove{
	gwt-image: "removeBigIconDeactivated";
}
@sprite .cmsState-up .toolbarRemove, .cmsState-up-hovering .toolbarRemove, .cmsState-down-hovering .toolbarRemove, .cmsState-down .toolbarRemove{
    gwt-image: "removeBigIconActive";
}

@sprite .cmsState-up-disabled .toolbarBack, .cmsState-down-disabled .toolbarBack{
	gwt-image: "backBigIconDeactivated";
}
@sprite .cmsState-up .toolbarBack, .cmsState-up-hovering .toolbarBack, .cmsState-down-hovering .toolbarBack, .cmsState-down .toolbarBack{
    gwt-image: "backBigIconDeactivated";
}

.cmsState-up .toolbarDelete, .cmsState-up-hovering .toolbarDelete, .cmsState-down-hovering .toolbarDelete, .cmsState-down .toolbarDelete, .cmsState-up-disabled .toolbarDelete, .cmsState-down-disabled .toolbarDelete{
}
