.popup {}

div.uploadButton input.uploadFileInput {
	position: absolute;
	right: -1px;
	top: -10px;
	z-index: 2;
}

.uploadButton {
	overflow: hidden;
	position: relative;
}

.uploadFileInput{
    opacity: 0;
 }
 .uploadButton {
  	display: inline-block;
 } 

.fileInfoTable {
	width: 100%;
}
.progressInfo {
	padding-top: 20px;
	width: 100%;
}

.popupContent div.uploadDialogButton {
	float: left;
	margin: 0px;
}

.dialogMessage {
	line-height: 16px;
	margin: 0px;
}

.dialogMessageImportant {
	line-height: 16px;
	margin: 0px;
	color: value("constants.css.textColorImportant");
}


@sprite .warningIcon{
	gwt-image: "gwtImages.warningBigImage";
	margin: 0px 0px 0px 3px;
	display: block;
	float: left;
}
.warningMessage{
	line-height: 16px;
	margin: 0px 0px 0px 45px;
}

.loadingPanel {
    left: 0;
    top: 0;
	display: inline-block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: value("constants.css.zIndexPopup");
    background-color: value("constants.css.backgroundColorDialog");
    text-align: center;
}
.loadingText {
	text-align: center;
}
.loadingAnimation {
	margin-top: 20px;
}
@sprite .loadingAnimation {
	gwt-image: "gwtImages.loadingBigImage";
	background-position: 50% 50%;
    background-repeat: no-repeat;
	display: inline-block;
}