@external gwt-TabLayoutPanel;

.clipboardTabPanel{
	margin:10px 8px 8px;
}

.itemList.clipboardList{
	max-height: 385px;
}

.itemList{
	overflow: auto;
	min-height: 38px;
	border: 1px solid value("constants.css.borderColor");
	padding: 0 2px;
	background: value("constants.css.backgroundColorDialog");
	max-height: 412px;
	margin: 0px;
}

.listClearButton{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.description{
	margin-bottom: 4px;
}

.menuContent{
	width: 650px;
	padding: 0px;
}

.menuTabContainer{
	height: 486px;
}

.menuTabContainer > div{
	border: none;	
}

.menuTabContainer > div >.gwt-TabLayoutPanel{
	border: none;
}