.pageCenter {
	padding: 0px;
	position: relative;
	width: 930px;
	margin: 0 auto;
}

.root {
	background-color: value("constants.css.backgroundColorSitemap");
	font-family: value("constants.css.fontFamily");
	position: relative;
	margin: 0;
}

@if user.agent ie6 {
	.root * {
		zoom: 1; 
	}
}

	