.contentHide * {
	visibility: hidden;
}

@sprite .positionIndicator{
	gwt-image: "images.positionIndicator";
	height: 4px;
	right: 6px;
	left: 46px;
	position: absolute;
	z-index: 10;
	margin-top: -3px;
	border-left: solid 5px #000000;
	border-right: solid 5px #000000;
	opacity: 0.5;
}

.positionIndicator *{
	display: none;
}

.positionIndicator.markUnchanged {
	display: none;
}

.sitemapEntryDecoration {

}

.subSitemapRef {
	background-image: none;
	background-color: #ffffcc;
}

.highlight {
	background-image: none;
	background-color: #ffcccc;
}



@sprite .brokenLink {
    gwt-image: "images.brokenLink";
    margin-right: 4px;
}

.deletedEntryLabel {
	text-decoration: line-through;
}


@sprite .export {
	gwt-image: "images.iconExport"; 
	margin-top:  3px;
	margin-left: 3px;
}

@sprite .normal {
	gwt-image: "images.iconNormal";
	margin-top: 3px;
	margin-left: 3px;
}

@sprite .secure {
	gwt-image: "images.iconSecure";
	margin-top: 3px;
	margin-left: 3px;  
}

@sprite .redirect { 
	gwt-image: "images.iconRedirect";
	margin-top: 3px;
	margin-left: 3px;
}

.marker {
	position: absolute; 
	visibility: visible !important;
	font-weight: bold;
	right: 100px;
	top: 0px;
}


