.contentHide * {
	visibility: hidden;
}

@sprite .positionIndicator{
	gwt-image: "baseImages.otherImages.placeholderOverlayTrans";
	height: 4px;
	right: 6px;
	left: 46px;
	position: absolute;
	z-index: 10;
	margin-top: -3px;
	border-left: solid 5px value("constants.css.borderColorHighlight");
	border-right: solid 5px value("constants.css.borderColorHighlight");
	opacity: 0.5;
}

.positionIndicator *{
	display: none;
}

.positionIndicator.markUnchanged {
	display: none;
}

.sitemapEntryDecoration {

}

.highlight {
	background-image: none;
	background-color: value("constants.css.backgroundColorSitemapHighlight");
}



@sprite .brokenLink {
    gwt-image: "baseImages.bigIcons.brokenLinkBigIcon";
    margin-right: 4px;
}

.deletedEntryLabel {
	text-decoration: line-through;
}

.marker {
	position: absolute; 
	visibility: visible !important;
	font-weight: bold;
	right: 100px;
	top: 0px;
}

.lockIcon{
    left: 15px;
    position: absolute;
    top: 20px;
    z-index: 2;
}

.lockClosed, .lockSharedClosed{
	background: red;
	height: 10px;
	width: 10px;
}

.lockOpen{
	background: green;
	height: 10px;
	width: 10px;
}

.lockSharedOpen{
	background: lightgreen;
	height: 10px;
	width: 10px;
}

