body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	background-color: #CCC;
	margin: 0 auto;
	padding: 0;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4, h5, h6 {
	font-size: 14px;
}

a, a:link, a:visited, a:active, a: hover {
	color: #C00;
	text-decoration: none;
}

a:active, a: hover {
	text-decoration: underline;
}

div.wrapper {
	padding-top: 40px;
	text-align: center;
}

div.content {
	margin: 0 auto;
	border: 1px solid #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #FFF;
	width: 60%;
	text-align: left;
	padding: 10px 10px 10px 50px;
	background-image: url(warning.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

