<!DOCTYPE html>
<html>
<head>
  	  	<meta name="package-mapping" content="o:org.opencms.ui.components" />
  	  	<meta name="package-mapping" content="cat:org.opencms.ui.components.categoryselect" />
  </head>
  <body>
  		<o-cms-basic-dialog>
  			<content>
  				<vaadin7-vertical-layout margin spacing size-full>
  					<vaadin7-text-field _id="m_filter" width="200px" :right />
  					<cat-cms-category-tree _id="m_tree" size-full :expand />
  				</vaadin7-vertical-layout>
  			</content>
  			<buttons>
  				<v-button _id="m_okButton">%(key.GUI_DIALOG_BUTTON_OK_0)</v-button>
  			</buttons>
  		</o-cms-basic-dialog>
  </body>
</html>