<%@ page import="org.opencms.workplace.tools.accounts.*,javax.servlet.jsp.JspException" 
         buffer="none" %>
<%     

    // start dialog
    CmsEditGroupDialog wpInfo = new CmsEditGroupDialog(pageContext, request, response) {
            
            /**
             * @see org.opencms.workplace.CmsWidgetDialog#defaultActionHtml()
             */
            protected String defaultActionHtml() throws JspException {

                StringBuffer result = new StringBuffer(2048);
                result.append(defaultActionHtmlStart());
                result.append(defaultActionHtmlContent());
                return result.toString();

            }
        };

    CmsGroupUsersList wpGroupUsers = new CmsGroupUsersList(pageContext, request, response);
    CmsNotGroupUsersList wpNotGroupUsers = new CmsNotGroupUsersList(pageContext, request, response);

    A_CmsGroupUsersList wp = (wpGroupUsers.isActive()? (A_CmsGroupUsersList)wpGroupUsers: (A_CmsGroupUsersList)wpNotGroupUsers);

    // perform the widget actions
    wpInfo.displayDialog();

    // perform the active list actions
    wp.updateGroupList();
    wp.actionDialog();
    wpGroupUsers.refreshList();
    wpNotGroupUsers.refreshList();
%>

<%= wp.getList().listJs() %>

<table align='center' width='100%'>
<tr>
<td width='50%' valign='top'>
<%=wpGroupUsers.defaultActionHtmlContent()%>
</td>
<td width='20'>&nbsp;</td>
<td width='50%' valign='top'>
<%=wpNotGroupUsers.defaultActionHtmlContent()%>
</td>
</tr>
</table>
<%= wp.dialogEnd() %>
<%= wp.bodyEnd() %>
<%= wp.htmlEnd() %>
