<%@ page import="org.opencms.workplace.tools.accounts.*,javax.servlet.jsp.JspException" 
         buffer="none" %>
<%     

    // start dialog
    CmsEditUserDialog wpInfo = new CmsEditUserDialog(pageContext, request, response) {
            
            /**
             * @see org.opencms.workplace.CmsWidgetDialog#defaultActionHtml()
             */
            protected String defaultActionHtml() throws JspException {

                StringBuffer result = new StringBuffer(2048);
                result.append(defaultActionHtmlStart());
                result.append(defaultActionHtmlContent());
                return result.toString();

            }
        };

    CmsUserGroupsList wpUserGroups = new CmsUserGroupsList(pageContext, request, response);
    CmsNotUserGroupsList wpNotUserGroups = new CmsNotUserGroupsList(pageContext, request, response);

    A_CmsUserGroupsList wp = (wpUserGroups.isActive()? (A_CmsUserGroupsList)wpUserGroups: (A_CmsUserGroupsList)wpNotUserGroups);

    // perform the widget actions
    wpInfo.displayDialog();

    // perform the active list actions
    wp.updateUserList();
    wp.actionDialog();
    wpUserGroups.refreshList();
    wpNotUserGroups.refreshList();
%>

<%= wp.getList().listJs() %>

<table align='center' width='100%'>
<tr>
<td width='50%' valign='top'>
<%=wpUserGroups.defaultActionHtmlContent()%>
</td>
<td width='20'>&nbsp;</td>
<td width='50%' valign='top'>
<%=wpNotUserGroups.defaultActionHtmlContent()%>
</td>
</tr>
</table>
<%= wp.dialogEnd() %>
<%= wp.bodyEnd() %>
<%= wp.htmlEnd() %>
