<%@ page session="false" import="org.opencms.jsp.*, org.opencms.util.*, java.util.*" %><%--
--%><%@ taglib prefix="cms" uri="http://www.opencms.org/taglib/cms" %><%--
--%><%@ taglib prefix="c" uri="http://java.sun.com/jstl/core" %><%--
--%><%@ taglib prefix="fmt" uri="http://java.sun.com/jstl/fmt" %><%

CmsJspActionElement cms = new CmsJspActionElement(pageContext, request, response);

String uri = request.getParameter("uri");
String oldUri = cms.getRequestContext().getUri();
if (CmsStringUtil.isNotEmpty(uri)) {
	cms.getRequestContext().setUri(uri);
}

// get currently active locale to initialize message bundle
String locale = cms.getRequestContext().getLocale().toString();
pageContext.setAttribute("locale", locale);

String targetAttr = "";
String description = "";
String link = "";
boolean newWin = false;

%><fmt:setLocale value="${locale}" /><%--
--%><fmt:bundle basename="org/opencms/frontend/templateone/modules/workplace"><%--

--%><cms:include property="template" element="head" /><%

if (CmsStringUtil.isNotEmpty(uri)) {
	cms.getRequestContext().setUri(oldUri);
}

%>
<div class="element">

<cms:contentload collector="singleFile" param="${opencms.uri}" editable="true">

<h1><cms:contentcheck ifexists="SuperTitle"><span style="font-size: 0.7em;"><cms:contentshow element="SuperTitle" /></span><br></cms:contentcheck><cms:contentshow element="Title" /></h1>

<%-- create a date object from date value --%>
<c:set var="dateString">
	<cms:contentshow element="Date" />
</c:set><%

try {
	long dateLong = (new Long((String)pageContext.getAttribute("dateString"))).longValue();
	Date date = new Date(dateLong);
	pageContext.setAttribute("date", date);
} catch (Exception e) {}

%>

<p>
<cms:contentcheck ifexists="SubTitle"><span style="font-weight: bold;"><cms:contentshow element="SubTitle" /></span><br></cms:contentcheck>
<small><fmt:formatDate value="${date}" dateStyle="long" />; <cms:contentshow element="Author" /> <cms:contentcheck ifexists="AuthorMail">(<a href="mailto:<cms:contentshow element="AuthorMail" />"><cms:contentshow element="AuthorMail" /></a>)</cms:contentcheck></small></p>

<%-- show news text --%>
<p>
<cms:contentshow element="Text" />
</p>

<%-- show contact --%>
<cms:contentcheck ifexists="Contact">
<table border="0">
<tr>
<td valign="top"><b><fmt:message key="newsarticle.contact" /></b></td><td valign="top">
<cms:contentshow element="Contact" />
</td></tr></table>
</cms:contentcheck>

<%-- show images --%>
<cms:contentcheck ifexists="Image">
<cms:contentloop element="Image">
<p><img src="<cms:link><cms:contentshow element="Image" /></cms:link>" border="0" alt="<cms:contentshow element="Description" />"><br clear="all"><small><cms:contentshow element="Description" /></small></p>
</cms:contentloop>
</cms:contentcheck>

<%-- show attachments --%>
<cms:contentcheck ifexists="Attachment">
<table border="0">
<tr>
<td valign="top"><b><fmt:message key="newsarticle.attachments" /></b></td><td valign="top"><ul>
<cms:contentloop element="Attachment">
<li><a href="<cms:link><cms:contentshow element="File" /></cms:link>" target="_blank" title="<cms:contentshow element="Description" />"><cms:contentshow element="Description" /></a></li>
</cms:contentloop>
</ul></td>
</tr>
</table>
</cms:contentcheck>

<%-- show links --%>
<cms:contentcheck ifexistsone="ExternalLink,InternalLink">
<table border="0">
<tr>
<td valign="top"><b><fmt:message key="newsarticle.links" /></b></td><td valign="top"><ul>

<cms:contentloop element="InternalLink">
<c:set var="linkTarget">
	<cms:contentshow element="NewWin" />
</c:set>
<c:set var="desc">
	<cms:contentshow element="Description" />
</c:set>
<c:set var="href">
	<cms:contentshow element="Href" />
</c:set><%

newWin = Boolean.valueOf((String)pageContext.getAttribute("linkTarget")).booleanValue();
targetAttr = "";
if (newWin) {
	targetAttr = " target=\"_blank\"";
}
link = (String)pageContext.getAttribute("href");
description = (String)pageContext.getAttribute("desc");
if (CmsStringUtil.isEmpty(description) || description.startsWith("???")) {
	description = link;
}

%>
<li><a href="<cms:link><cms:contentshow element="Href" /></cms:link>" title="<%= description %>"<%= targetAttr %>><%= description %></a></li>
</cms:contentloop>

<cms:contentloop element="ExternalLink">
<c:set var="linkTarget">
	<cms:contentshow element="NewWin" />
</c:set>
<c:set var="desc">
	<cms:contentshow element="Description" />
</c:set>
<c:set var="href">
	<cms:contentshow element="Href" />
</c:set><%

newWin = Boolean.valueOf((String)pageContext.getAttribute("linkTarget")).booleanValue();
targetAttr = "";
if (newWin) {
	targetAttr = " target=\"_blank\"";
}
link = (String)pageContext.getAttribute("href");
description = (String)pageContext.getAttribute("desc");
if (CmsStringUtil.isEmpty(description) || description.startsWith("???")) {
	description = link;
}

%>
<li><a href="<cms:link><cms:contentshow element="Href" /></cms:link>" title="<%= description %>"<%= targetAttr %>><%= description %></a></li>
</cms:contentloop>

</ul></td>
</tr>
</table>
</cms:contentcheck>

</cms:contentload>

</div>

<cms:include property="template" element="foot" /><%--
--%></fmt:bundle>