<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/system/modules/com.alkacon.opencms.v8.infobox/config/models/infobox.html]]></target>
          <uuid>689e73b5-851f-11e0-ade9-c1b6fb5574d7</uuid>
        </link>
      </Source>
      <Destination>
        <Pattern><![CDATA[i_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
  </SitemapConfiguration>
</SitemapConfigurations>
