@external html-face, cmsState, cmsState-up, cmsState-up-hovering, cmsState-up-disabled, cmsState-down, cmsState-down-hovering, cmsState-down-disabled;

.cmsState{}
.cmsState.cmsState-down-disabled{ cursor: auto; }
.cmsState.cmsState-up-disabled{ cursor: auto; }
.cmsHovering{}

.cmsTextButton { 
    border-width:1px;
    border-style: solid;
    padding: 2px 4px;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.spacerRight {
	margin-right: 4px;
}

.spacerLeft {
	margin-left: 4px;
}

.cmsTextButton .html-face{
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}
.cmsImageButtonTransparent{
    display: inline-block;
    vertical-align: top;
    outline: none;
    cursor: pointer;
}

@if user.agent ie6 {
    .cmsTextButton, .cmsImageButtonTransparent{
        white-space: nowrap;
        display: inline;
        vertical-align: middle;
    }
    .cmsMinWidth{
        min-width: 6em;
        overflow: visible !important;
    }
} @else {
    .cmsTextButton, .cmsTextButton div, .cmsImageButtonTransparent, .cmsImageButtonTransparent div{
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
    }
    .cmsMinWidth{
        min-width: 6em;
    }
}

.html-face span{
	display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

.cmsTextButton.cmsButtonBig{
    padding: 2px 4px;
    line-height: 16px;
}

.cmsTextButton.cmsButtonSmall{
    padding: 2px 2px;
    line-height: 12px;
}

.cmsButtonMedium{}

.cmsTextButton.cmsState-up-disabled{
    color: value("constantsCss.colorDisabled");
    background: #bbbbbb;
}




@sprite .cmsTextButton.cmsState-up{gwt-image: "backgroundDefault"; background-position: 50% 50%; height: auto;} 
@sprite .cmsTextButton.cmsState-down-hovering, .cmsTextButton.cmsState-up-hovering{gwt-image: "backgroundHover"; background-position: 50% 50%; height: auto;}
@sprite .cmsTextButton.cmsState-down{gwt-image: "backgroundActive"; background-position: 50% 50%;height: auto;}      
