.popup, .menuPopup, .popupContent{}

.menuPanel{ /* the panel (table) the context menu is set as widget. */
	background: value("constants.css.backgroundColorMenu");
	border-collapse:collapse;
}
.cmsMenuBar { /* the outer menu bar */
	background: value("constants.css.backgroundColorMenu");
	color: value("constants.css.textColor");
}
.cmsMenuBar .cmsMenuItem { /* menu items */
	cursor: pointer;
	clear: both;
	padding: 0px 2px;
}
.cmsMenuBar .cmsMenuItem.selected { /* selected menu items */ 
	background: value("constants.css.backgroundColorHighlight");
}
.cmsMenuBar .cmsMenuItem.disabled { /* menu item disabled */
	color: value("constants.css.textColorDisabled");
	cursor: default;
}
.cmsMenuBar .cmsMenuItem .image { /* image for a menu item */
	float: left;
	margin: 5px 0px 3px 2px;
	height: 16px;
	width: 16px;
	overflow: hidden;
}
.cmsMenuBar .cmsMenuItem .label { /* menu item label */
	padding: 4px 4px 4px 0px;
	margin: 0px 0px 0px 22px;
	font-size: value("constants.css.fontSizeBig");
}
.cmsMenuBar .cmsMenuItem .arrow { /* symbol for sub menus */
	float: right;
	margin-right: 2px;
	margin: 3px 0px;
}
.cmsMenuBar .menuItemSeparator { /* section breaks between menu items */ 
	height: 1px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	border: none;
	/** Use the border color as background color because this CSS class behaves like a border. */
	background-color: value("constants.css.borderColor");
	zoom: 1;
	overflow: hidden;
	clear: both;
}
.menuInfoLabel {
	padding: 4px;
	cursor: default;
}

.itemIcon {
	float: left;
	margin-top: 3px;
}
@if user.agent ie6 {
	.cmsMenuBar .cmsMenuItem.disabled .itemIcon {
		filter: literal("alpha(opacity = 50)");
	}
} @elif user.agent ie8 {
	.cmsMenuBar .cmsMenuItem.disabled .itemIcon {
		-ms-filter: "alpha(opacity = 50)";
	}
} @else {
	.cmsMenuBar .cmsMenuItem.disabled .itemIcon {
        opacity: 0.5;
	}
}


@if user.agent ie6 { /* IE6 HACK for the separator */
	.cmsMenuBar .menuItemSeparator {
		margin-top: -1px;
	}
}

/** browser specific styles **/
@if user.agent gecko1_8 gecko{
	/** firefox **/
	.cmsMenuBar, .menuPanel{
		-moz-border-radius: value("constants.css.borderRadius");
	}
	.cmsMenuBar .cmsMenuItem:last-child{
		-moz-border-radius-bottomleft: value("constants.css.borderRadius");
		-moz-border-radius-bottomright: value("constants.css.borderRadius");
	}
	.cmsMenuBar .cmsMenuItem:first-child{
		-moz-border-radius-topleft: value("constants.css.borderRadius");
		-moz-border-radius-topright: value("constants.css.borderRadius");
	}
	.menuPanel, .menuPopup .cmsMenuBar .cmsMenuItem:first-child {
	    -moz-border-radius-topleft: 0px;
	}
} @elif user.agent safari {
	/** chrome, safari etc. **/
	.cmsMenuBar, .menuPanel{
		-webkit-border-radius: value("constants.css.borderRadius");
	}
	.cmsMenuBar .cmsMenuItem:last-child{
		-webkit-border-bottom-left-radius: value("constants.css.borderRadius");
		-webkit-border-bottom-right-radius: value("constants.css.borderRadius");
	}
	.cmsMenuBar .cmsMenuItem:first-child{
		-webkit-border-top-left-radius: value("constants.css.borderRadius");
		-webkit-border-top-right-radius: value("constants.css.borderRadius");
	}
	.menuPanel, .menuPopup .cmsMenuBar .cmsMenuItem:first-child {
    	-webkit-border-radius-topleft: 0px;
	}
} @elif user.agent opera {
	/** opera */
	.cmsMenuBar, .menuPanel{
		border-radius: value("constants.css.borderRadius");
	}
	.cmsMenuBar .cmsMenuItem:last-child{
		border-bottom-left-radius: value("constants.css.borderRadius");
		border-bottom-right-radius: value("constants.css.borderRadius");
	}
	.cmsMenuBar .cmsMenuItem:first-child{
		border-top-left-radius: value("constants.css.borderRadius");
		border-top-right-radius: value("constants.css.borderRadius");
	}
	.menuPanel, .menuPopup .cmsMenuBar .cmsMenuItem:first-child {
		border-top-left-radius: 0px;
	}
}