.arrow, .label, .image, .selected, .disabled{}

@sprite .cmsMenuItem .availability{
    gwt-image: "icons.availabilityIcon";
}
@sprite .cmsMenuItem .delete{
    gwt-image: "icons.deleteIcon";
}
@sprite .cmsMenuItem .edit{
    gwt-image: "icons.editIcon";
}
@sprite .cmsMenuItem .move{
    gwt-image: "icons.moveIcon";
}
@sprite .cmsMenuItem .newElement{
    gwt-image: "icons.addIcon";
}
@sprite .cmsMenuItem .properties{
    gwt-image: "icons.propertyIcon";
}
@sprite .cmsMenuItem .refresh{
    gwt-image: "icons.refreshIcon";
}
@sprite .cmsMenuItem .gotoPage{
    gwt-image: "icons.gotoPageIcon";
}
@sprite .cmsMenuItem .gotoSub{
    gwt-image: "icons.gotoSubSitemapIcon";
}
@sprite .cmsMenuItem .mergeSitemap{
    gwt-image: "icons.mergeSitemapIcon";
}
@sprite .cmsMenuItem .gotoParent{
    gwt-image: "icons.gotoParentIcon";
}
@sprite .cmsMenuItem .subSitemap{
    gwt-image: "icons.subSitemapIcon";
}
@sprite .cmsMenuItem .bump {
	gwt-image: "icons.bumpIcon";
}
