.popup{
    z-index: value("constants.css.zIndexPopup");
}

.popup, .popup *{
	margin: 0;
	padding: 0;
	border: none;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}
.dragOverlay{
	display: none;
}
.popup.dragging .dragOverlay{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: value("constants.css.zIndexInline");
}
@sprite .popup .popupContent{
	gwt-image: "backgrounds.dialogBackground";
	background-position: top;
    height: auto;
    /** This background behaves like a border. */
    background-color: value("constants.css.backgroundColorDialogBorder");
    background-repeat:repeat-x;
    padding: 6px 5px 5px 5px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-top-color: value("constants.css.borderColorTopDialog");
    border-right-color: value("constants.css.borderColorDialog");
    border-bottom-color: value("constants.css.borderColorDialog");
    border-left-color: value("constants.css.borderColorDialog");
    font-family: value("constants.css.fontFamily");
    overflow: visible;
}

/** browser specific styles **/
@if user.agent gecko1_8 gecko{
	.popup .popupContent{
		-moz-box-shadow: 6px 6px 12px value("constants.css.boxShadowColorOther");
		-moz-border-radius: 12px;
	}
	.popupMainContent, .caption{
		-moz-border-radius: 8px;
	}
} @elif user.agent safari {
	.popup .popupContent{
		-webkit-box-shadow: 6px 6px 12px value("constants.css.boxShadowColorOther");
		-webkit-border-radius: 12px;
	}
	.popupMainContent, .caption{
		-webkit-border-radius: 8px;
	}
} @elif user.agent opera {
	.popup .popupContent{
		box-shadow: 6px 6px 12px value("constants.css.boxShadowColorOther");
		border-radius: 12px;
	}
	.popupMainContent, .caption{
		border-radius: 8px;
	}
} @elif user.agent ie6 {
	.popup .popupContent{
		/** standard box-shadow is a gradient, but this is a solid color, so it has to be a bit lighter to look similar */ 
		/** filter: literal("progid:DXImageTransform.Microsoft.DropShadow(color=value('constants.css.boxShadowColorIE'),offX=2,offY=2)"); */
	}
} @elif user.agent ie8 {
	.popup .popupContent{
		/** standard box-shadow is a gradient, but this is a solid color, so it has to be a bit lighter to look similar */ 
		-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(color=value('constants.css.boxShadowColorIE'),offX=2,offY=2)";
		border-radius: 12px; 
	}
	.popupMainContent, .caption{
		border-radius: 8px;
	}
}

.popupOverlay{
    background: value("constants.css.backgroundColorOverlay");
    z-index: value("constants.css.zIndexPopup");
}

.popupMainContent{
	height: auto;
    font-size: value("constants.css.fontSize");
    position:relative;
}

@sprite .popupMainContent.contentPadding {
	gwt-image: "backgrounds.dialogBackgroundShadow";
    background-color: value("constants.css.backgroundColorDialog");
	background-position: top;
	background-repeat: repeat-x;
	padding: value("constants.css.defaultSpace");
	overflow:visible;
}

.contentSpacer{
	margin-top: 5px;
	margin-bottom: 10px;
}

@sprite .menuArrowTop {
	gwt-image: "gwtImages.menuArrowTopImage";
	position: absolute;
	z-index: value("constants.css.zIndexInline");
}

@sprite .menuArrowBottom {
	gwt-image: "gwtImages.menuArrowBottomImage";
	position: absolute;
	z-index: value("constants.css.zIndexInline");
}

@if user.agent ie6 {
.popup, .popup * {
    /* fixes a glitch with relatively positioned elements in dialogs which sometimes vanish */
	zoom:1;
}
}

.hideCaption .caption{
	display: none;
}

.popupHead, .caption{
	color: value("constants.css.textColorCaption");
    font-size: value("constants.css.fontSizeBig");
    font-weight: bold;
    cursor: move;
    padding: 0px 5px 5px 5px;
    height: auto; 
    white-space: nowrap;
    height: 25px;
    line-height: 25px;
}

.hideButtonPanel{
	display: none;
}

.popupButtonPanel{
    margin-top: value("constants.css.defaultSpace");
    text-align: right;
}
.popupButtonPanel>div{
	margin-left: value("constants.css.defaultSpace");
}

@if user.agent ie6 {
    .popupOverlay{
        filter: literal("alpha(opacity = 50)");
    }
} @elif user.agent ie8 {
	.popupOverlay{
		-ms-filter: "alpha(opacity = 50)";
	}
} @else {
    .popupOverlay{
        opacity: 0.5;
    }
}

