@external popupContent, Caption, dialogBottom, dialogTop;
.popup{
    z-index: 500;
    padding: 3px;
}

.popup *{
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
}

.popup .dialogBottom {
	display: none;
}
.popup.menuPopup{
	padding-top:0px;
}
.dragOverlay{
	display: none;
}
.popup.dragging .dragOverlay{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 10;
}
.popup .popupContent{
    position: relative;
    background: value("constants.css.backgroundColorDialog");
    border: solid 1px value("constants.css.borderColor");
    font-family: value("constants.css.fontFamily");
}
.popupOverlay{
    background: value("constants.css.backgroundColorOverlay");
    z-index: 450;
}
.popupShadow{
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    background: value("constants.css.backgroundColorPopupShadow");
}

.popupMainContent{
    font-size: value("constants.css.fontSize");
    padding: 5px;
    position:relative;
}

.contentSpacer{
	margin-top: 5px;
	margin-bottom: 10px;
}

.contentConnect{
	position: absolute;
	height: 5px;
	border-left: solid 1px value("constants.css.borderColor");
	border-right: solid 1px value("constants.css.borderColor");
	background: value("constants.css.backgroundColorMenu");
}

@if user.agent ie6 {
.popup, .popup * {
    /* fixes a glitch with relatively positioned elements in dialogs which sometimes vanish */
	zoom:1;
}
}

.hideCaption .dialogTop{
	display: none;
}

@sprite .popupHead, .Caption{
    font-size: value("constants.css.fontSizeBig");
    font-weight: bold;
    cursor: move;
    padding:5px;
    gwt-image: "backgrounds.standard"; 
    background-position: 50% 50%; 
    height: auto; 
    white-space: nowrap;
}
.popupButtonPanel{
    margin-top: 5px;
    text-align: right;
}
.popupButtonPanel>div{
	margin-left: 4px;
}

.popup.menuPopup .popupContent{
    /** removing rounded corner top-left **/
    -moz-border-radius-topleft: 0px;
    -webkit-border-radius-topleft: 0px;
    border-radius-topright: 0px;
    border-top: none;
}

@if user.agent ie6 {
    .popupShadow, .popupOverlay{
        filter: literal("alpha(opacity = 50)");
    }
    .popupShadow{
        height: literal("expression(this.parentNode.offsetHeight)");
    }
} @elif user.agent ie8 {
	.popupShadow, .popupOverlay{
		-ms-filter: "alpha(opacity = 50)";
	}
	.popupShadow{
		height: 100%;
	}
} @else {
    .popupShadow, .popupOverlay{
        opacity: 0.5;
    }
    .popupShadow{
        height: 100%;
    }
}

