.popup{
    z-index: 500;
    /* padding: 3px; */
}

.popup *{
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
}

.popup.menuPopup{
	padding-top:0px;
}
.dragOverlay{
	display: none;
}
.popup.dragging .dragOverlay{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 10;
}
@sprite .popup .popupContent{
	gwt-image: "backgrounds.dialogBackground";
	background-position: top;
    height: auto;
    /** This background behaves like a border. */
    background-color: value("constants.css.borderColorDialog");
    background-repeat:repeat-x;
    padding: 5px;
    position: relative;
    border: solid 1px value("constants.css.borderColorDialog");
    font-family: value("constants.css.fontFamily");
}

/** browser specific styles **/
@if user.agent gecko1_8 gecko{
	.popup .popupContent{
		-moz-box-shadow: 6px 6px 12px value("constants.css.boxShadowColorOther");
	}
} @elif user.agent safari {
	.popup .popupContent{
		-webkit-box-shadow: 6px 6px 12px value("constants.css.boxShadowColorOther");
	}
} @elif user.agent opera {
	.popup .popupContent{
		box-shadow: 6px 6px 12px value("constants.css.boxShadowColorOther");
	}
} @elif user.agent ie6 {
	.popup .popupContent{
		/** standard box-shadow is a gradient, but this is a solid color, so it has to be a bit lighter to look similar */ 
		/** filter: literal("progid:DXImageTransform.Microsoft.DropShadow(color=value('constants.css.boxShadowColorIE'),offX=2,offY=2)"); */
	}
} @elif user.agent ie8 {
	.popup .popupContent{
		/** standard box-shadow is a gradient, but this is a solid color, so it has to be a bit lighter to look similar */ 
		-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(color=value('constants.css.boxShadowColorIE'),offX=2,offY=2)"; 
	}
}

.popupOverlay{
    background: value("constants.css.backgroundColorOverlay");
    z-index: 450;
}
.popupShadow{
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
}

@sprite .popupMainContent{
	gwt-image: "backgrounds.dialogBackgroundTop";
	background-color: value("constants.css.backgroundColorDialog");
	background-position: top;
    background-repeat: repeat-x;
	height: auto;
    font-size: value("constants.css.fontSize");
    padding: 7px 5px 5px 5px;
    position:relative;
}

.contentSpacer{
	margin-top: 5px;
	margin-bottom: 10px;
}

@sprite .menuArrowTop {
	gwt-image: "gwtImages.menuArrowTopImage";
	position: absolute;
	z-index: 3000;
}

@sprite .menuArrowBottom {
	gwt-image: "gwtImages.menuArrowBottomImage";
	position: absolute;
	z-index: 3000;
}

.contentConnect{
	position: absolute;
	height: 5px;
	border-left: solid 1px value("constants.css.borderColor");
	border-right: solid 1px value("constants.css.borderColor");
	background: value("constants.css.backgroundColorMenu");
}

@if user.agent ie6 {
.popup, .popup * {
    /* fixes a glitch with relatively positioned elements in dialogs which sometimes vanish */
	zoom:1;
}
}

.hideCaption .caption{
	display: none;
}

.popupHead, .caption{
	color: value("constants.css.textColorCation");
    font-size: value("constants.css.fontSizeBig");
    font-weight: bold;
    cursor: move;
    padding: 0px 5px 5px 5px;
    height: auto; 
    white-space: nowrap;
}
.popupButtonPanel{
    margin-top: 5px;
    text-align: right;
}
.popupButtonPanel>div{
	margin-left: 4px;
}

@if user.agent ie6 {
    .popupShadow, .popupOverlay{
        filter: literal("alpha(opacity = 50)");
    }
    .popupShadow{
        height: literal("expression(this.parentNode.offsetHeight)");
    }
} @elif user.agent ie8 {
	.popupShadow, .popupOverlay{
		-ms-filter: "alpha(opacity = 50)";
	}
	.popupShadow{
		height: 100%;
	}
} @else {
    .popupShadow, .popupOverlay{
        opacity: 0.5;
    }
    .popupShadow{
        height: 100%;
    }
}

