.details {
	clear: both;
	margin: 15px 0px 5px 0px;
}

.details > div{
	overflow: auto;
	white-space: nowrap;
}
@sprite .errorIcon{
	gwt-image: "gwtImages.error";
	margin: 0px 0px 0px 3px;
	display: block;
	float: left;
}
.message{
	margin: 5px 0px 5px 45px;
}