.fieldsetVisible {
	border: solid 1px value("constants.css.borderColor");
	background: value("constants.css.backgroundColorWhite");
	min-height: 8px;
}
.fieldsetInvisible {
	border: solid 1px value("constants.css.borderColorWhite");
	border-top: solid 1px value("constants.css.borderColor");
	background: value("constants.css.backgroundColorWhite");
	min-height: 8px;
}
.image {
	left: 5px;
	position: absolute;
	padding: 0;
	cursor: pointer;
	margin: -8px 0px 0px 5px;
}
.legend {
	left: 20px;
	background: value("constants.css.backgroundColorWhite");
	position: absolute;
	font-weight: bold;
	padding: 0 3px 0 3px;
	margin: -8px 0px 0px 5px;
}
.content {
	margin: 12px 6px 4px 6px;
}
