@external cmsState, cmsState-up, cmsState-up-hovering, cmsState-up-disabled, cmsState-down, cmsState-down-hovering, cmsState-down-disabled;

.cmsState{
	border-color: value("constants.css.borderColor");
	color: value("constants.css.textColor");
}

.textSmall{
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSizeSmall");
}
.textMedium{
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
}
.textBig{
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSizeBig");
}

.border {
	border: 1px solid value("constants.css.borderColor");
}

.cellpadding {
	padding: 2px 0px;
}

@sprite div.disablingOverlay{
	gwt-image: 'otherImages.placeholderOverlayTrans';
	display: block;
	position:absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	visibility: visible;
}

.hideOverlay div.disablingOverlay{
	background: transparent;
}
	
.cmsState-up, .cmsState-up-hovering, .cmsState-up-disabled, .cmsState-down, .cmsState-down-hovering, .cmsState-down-disabled, .cmsHovering{};

/** browser specific styles **/
@if user.agent gecko1_8 gecko{
	/** firefox **/
	.cornerAll{
		-moz-border-radius: value("constants.css.borderRadius");
	}
	.cornerBottom{
		-moz-border-radius-bottomleft: value("constants.css.borderRadius");
		-moz-border-radius-bottomright: value("constants.css.borderRadius");
	}
	.cornerTop{
		-moz-border-radius-topleft: value("constants.css.borderRadius");
		-moz-border-radius-topright: value("constants.css.borderRadius");
	}
	
	.shadow{
		-moz-box-shadow: 2px 2px 6px value("constants.css.boxShadowColorOther");
	}

} @elif user.agent safari {
	/** chrome, safari etc. **/
	.cornerAll{
		-webkit-border-radius: value("constants.css.borderRadius");
	}
	.cornerBottom{
		-webkit-border-bottom-left-radius: value("constants.css.borderRadius");
		-webkit-border-bottom-right-radius: value("constants.css.borderRadius");
	}
	.cornerTop{
		-webkit-border-top-left-radius: value("constants.css.borderRadius");
		-webkit-border-top-right-radius: value("constants.css.borderRadius");
	}
	
	.shadow{
		-webkit-box-shadow: 2px 2px 6px value("constants.css.boxShadowColorOther");
	}
} @elif user.agent opera {
	/** opera */
	.cornerAll{
		border-radius: value("constants.css.borderRadius");
	}
	.cornerBottom{
		border-bottom-left-radius: value("constants.css.borderRadius");
		border-bottom-right-radius: value("constants.css.borderRadius");
	}
	.cornerTop{
		border-top-left-radius: value("constants.css.borderRadius");
		border-top-right-radius: value("constants.css.borderRadius");
	}
	
	.shadow{
		box-shadow: 2px 2px 6px value("constants.css.boxShadowColorOther");
	}
} @elif user.agent ie6 {

	.shadow{
		/** standard box-shadow is a gradient, but this is a solid color, so it has to be a bit lighter to look similar */ 
		filter: literal("progid:DXImageTransform.Microsoft.DropShadow(color=value('constants.css.boxShadowColorIE'),offX=2,offY=2)");
	}
	.cornerAll, .cornerBottom, .cornerTop{} 

} @elif user.agent ie8 {
	/** ie7, ie8 and the rest, add new @elif block if necessary **/
	
	.cornerAll{
		border-radius: value("constants.css.borderRadius");
	}
	.cornerBottom{
		border-bottom-left-radius: value("constants.css.borderRadius");
		border-bottom-right-radius: value("constants.css.borderRadius");
	}
	.cornerTop{
		border-top-left-radius: value("constants.css.borderRadius");
		border-top-right-radius: value("constants.css.borderRadius");
	}
	
	.shadow{
		/** standard box-shadow is a gradient, but this is a solid color, so it has to be a bit lighter to look similar */ 
		-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(color=value('constants.css.boxShadowColorIE'),offX=2,offY=2)"; 
	}
	
} @else {
	.cornerAll, .cornerBottom, .cornerTop, .shadow{}
}

}