.h1 {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 5px;
}

.h2 {
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 5px;
}

.h3 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 5px;
}

.h4 {
}

.h6 {
}

.h5 {
}
