.highlightBox{
	position: absolute;
	z-index: 10;
	background: transparent;
	opacity: 0.6;
}

.highlightBox div{
	position: absolute;
	top: 0px;
	left: 0px;
}


@sprite .colorRed .borderLeft{
	gwt-image: 'borders.highlightLeftChanged';
}
@sprite .colorRed .borderTop{
	gwt-image: 'borders.highlightTopChanged';
}
@sprite .colorRed .borderBottom{
	gwt-image: 'borders.highlightBottomChanged';
}
@sprite .colorRed .borderRight{
	gwt-image: 'borders.highlightRightChanged';
}

@sprite .colorBlue .borderLeft{
	gwt-image: 'borders.highlightLeftNew';
}
@sprite .colorBlue .borderTop{
	gwt-image: 'borders.highlightTopNew';
}
@sprite .colorBlue .borderBottom{
	gwt-image: 'borders.highlightBottomNew';
}
@sprite .colorBlue .borderRight{
	gwt-image: 'borders.highlightRightNew';
}
