.highlightBox{
	position: absolute;
	z-index: 10;
	background: transparent;
}

.highlightBox div{
	position: absolute;
	height: 100%;
	width: 100%;
}

@if user.agent ie6 {
	/** the measured position of an element seems to two pixels off in ie6/7
		so the highlighting border is positioned differently here **/

	.borderLeft{
		top: -2px;
		left: -2px;
	}
	.borderTop{
		top: -2px;
		left: -2px;
	}
	.borderBottom{
		bottom: 2px;
		left: -2px;
	}
	.borderRight{
		top: -2px;
		right: 2px;
	}

} @else {
	.borderLeft{
		top: 0px;
		left: 0px;
	}
	.borderTop{
		top: 0px;
		left: 0px;
	}
	.borderBottom{
		bottom: 0px;
		left: 0px;
	}
	.borderRight{
		top: 0px;
		right: 0px;
	}
}
@sprite .colorRed .borderLeft{
	gwt-image: 'highlightBorderLeftRed';
}
@sprite .colorRed .borderTop{
	gwt-image: 'highlightBorderTopRed';
}
@sprite .colorRed .borderBottom{
	gwt-image: 'highlightBorderBottomRed';
}
@sprite .colorRed .borderRight{
	gwt-image: 'highlightBorderRightRed';
}

@sprite .colorBlue .borderLeft{
	gwt-image: 'highlightBorderLeftBlue';
}
@sprite .colorBlue .borderTop{
	gwt-image: 'highlightBorderTopBlue';
}
@sprite .colorBlue .borderBottom{
	gwt-image: 'highlightBorderBottomBlue';
}
@sprite .colorBlue .borderRight{
	gwt-image: 'highlightBorderRightBlue';
}
