@external html-face, cmsState, cmsState-up, cmsState-up-hovering, cmsState-up-disabled, cmsState-down, cmsState-down-hovering, cmsState-down-disabled;

@sprite .cmsState-up .searchIcon, .cmsState-up-hovering .searchIcon, .cmsState-down .searchIcon, .cmsState-down-hovering .searchIcon {
	gwt-image: "icons.searchIcon";
	display: inline-block;
	vertical-align: middle;
}
@sprite .cmsState-down-disabled .searchIcon, .cmsState-up-disabled .searchIcon {
	gwt-image: "icons.searchIcon";
	display: inline-block;
	vertical-align: middle;
}

@sprite .cmsState-up .deleteIcon, .cmsState-up-hovering .deleteIcon, .cmsState-up-disabled .deleteIcon, .cmsState-down .deleteIcon, .cmsState-down-hovering .deleteIcon, .cmsState-down-disabled .deleteIcon {
    gwt-image: "icons.deleteIcon";
    display: inline-block;
    vertical-align: middle;
}

@sprite .cmsState-up .editIcon, .cmsState-up-hovering .editIcon, .cmsState-up-disabled .editIcon, .cmsState-down .editIcon, .cmsState-down-hovering .editIcon, .cmsState-down-disabled .editIcon {
    gwt-image: "icons.editIcon";
    display: inline-block;
    vertical-align: middle;
}

@sprite .cmsState-up .moveIcon, .cmsState-up-hovering .moveIcon, .cmsState-up-disabled .moveIcon, .cmsState-down .moveIcon, .cmsState-down-hovering .moveIcon, .cmsState-down-disabled .moveIcon {
    gwt-image: "icons.moveIcon";
    display: inline-block;
    vertical-align: middle;
}

@sprite .cmsState-up .addIcon, .cmsState-up-hovering .addIcon, .cmsState-up-disabled .addIcon, .cmsState-down .addIcon, .cmsState-down-hovering .addIcon, .cmsState-down-disabled .addIcon {
    gwt-image: "icons.addIcon";
    display: inline-block;
    vertical-align: middle;
}

@sprite .cmsState-up .propertyIcon, .cmsState-up-hovering .propertyIcon, .cmsState-up-disabled .propertyIcon, .cmsState-down .propertyIcon, .cmsState-down-hovering .propertyIcon, .cmsState-down-disabled .propertyIcon {
    gwt-image: "icons.propertyIcon";
    display: inline-block;
    vertical-align: middle;
}

@sprite .cmsState-up .uploadIcon, .cmsState-up-hovering .uploadIcon, .cmsState-up-disabled .uploadIcon, .cmsState-down .uploadIcon, .cmsState-down-hovering .uploadIcon, .cmsState-down-disabled .uploadIcon {
    gwt-image: "icons.uploadIcon";
    display: inline-block;
    vertical-align: middle;
}


@sprite .opencmsSymbol{
	gwt-image: "opencmsSymbolImage";
	display: inline-block;
	cursor: pointer;
}

@sprite .lockedIcon{
	gwt-image: "ratioLockedImage";
	cursor: pointer;
	width: 12px;
}

@sprite .unlockedIcon{
	gwt-image: "ratioUnlockedImage";
	cursor: pointer;
	width: 12px;
}

@sprite .resetIcon{
	gwt-image: "resetSizeImage";
	cursor: pointer;
}

@sprite .croppingIcon{
	gwt-image: "cropImage";
	display: inline-block;
	cursor: pointer;
}

@sprite .removeCroppingIcon{
	gwt-image: "cropRemoveImage";
	display: inline-block;
	cursor: pointer;
}


@sprite .triangleDown{
	gwt-image: "triangleDownImage";
	display: inline-block;
	cursor: pointer;
}
@sprite .triangleRight{
	gwt-image: "triangleRightImage";
	display: inline-block;
	cursor: pointer;
}
@sprite .closeIcon{
	gwt-image: "closeImage";
	display: inline-block;
	cursor: pointer;
}
