@external html-face, cmsState, cmsState-up, cmsState-up-hovering, cmsState-up-disabled, cmsState-down, cmsState-down-hovering, cmsState-down-disabled;

@sprite .cmsState-up .searchIcon, .cmsState-up-hovering .searchIcon, .cmsState-down .searchIcon, .cmsState-down-hovering .searchIcon {
	gwt-image: "icons.searchIcon";
	display: inline-block;
	vertical-align: middle;
}
@sprite .cmsState-down-disabled .searchIcon, .cmsState-up-disabled .searchIcon {
	gwt-image: "icons.searchIcon";
	display: inline-block;
	vertical-align: middle;
}

@sprite .cmsState-up .deleteIcon, .cmsState-up-hovering .deleteIcon, .cmsState-up-disabled .deleteIcon, .cmsState-down .deleteIcon, .cmsState-down-hovering .deleteIcon, .cmsState-down-disabled .deleteIcon {
    gwt-image: "icons.deleteIcon";
    display: inline-block;
    vertical-align: middle;
}

@sprite .cmsState-up .editIcon, .cmsState-up-hovering .editIcon, .cmsState-up-disabled .editIcon, .cmsState-down .editIcon, .cmsState-down-hovering .editIcon, .cmsState-down-disabled .editIcon {
    gwt-image: "icons.editIcon";
    display: inline-block;
    vertical-align: middle;
}

@sprite .cmsState-up .moveIcon, .cmsState-up-hovering .moveIcon, .cmsState-up-disabled .moveIcon, .cmsState-down .moveIcon, .cmsState-down-hovering .moveIcon, .cmsState-down-disabled .moveIcon {
    gwt-image: "icons.moveIcon";
    display: inline-block;
    vertical-align: middle;
}

@sprite .cmsState-up .addIcon, .cmsState-up-hovering .addIcon, .cmsState-up-disabled .addIcon, .cmsState-down .addIcon, .cmsState-down-hovering .addIcon, .cmsState-down-disabled .addIcon {
    gwt-image: "icons.addIcon";
    display: inline-block;
    vertical-align: middle;
}

@sprite .cmsState-up .propertyIcon, .cmsState-up-hovering .propertyIcon, .cmsState-up-disabled .propertyIcon, .cmsState-down .propertyIcon, .cmsState-down-hovering .propertyIcon, .cmsState-down-disabled .propertyIcon {
    gwt-image: "icons.propertyIcon";
    display: inline-block;
    vertical-align: middle;
}

@sprite .cmsState-up .uploadIcon, .cmsState-up-hovering .uploadIcon, .cmsState-up-disabled .uploadIcon, .cmsState-down .uploadIcon, .cmsState-down-hovering .uploadIcon, .cmsState-down-disabled .uploadIcon {
    gwt-image: "icons.uploadIcon";
    display: inline-block;
    vertical-align: middle;
}


@sprite .cmsState-up .toolbarEdit, .cmsState-up-disabled .toolbarEdit, .cmsState-down-disabled .toolbarEdit{
	gwt-image: "bigIcons.editBigIconDeactivated";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
}
@sprite .cmsState-up-hovering .toolbarEdit, .cmsState-down-hovering .toolbarEdit, .cmsState-down .toolbarEdit{
    gwt-image: "bigIcons.editBigIconActive";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
}

@sprite .cmsState-up .toolbarAdd, .cmsState-up-disabled .toolbarAdd, .cmsState-down-disabled .toolbarAdd{
	gwt-image: "bigIcons.searchBigIconDeactivated";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
}
@sprite .cmsState-up-hovering .toolbarAdd, .cmsState-down-hovering .toolbarAdd, .cmsState-down .toolbarAdd{
    gwt-image: "bigIcons.searchBigIconActive";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
}

@sprite .cmsState-up .toolbarClipboard, .cmsState-up-disabled .toolbarClipboard, .cmsState-down-disabled .toolbarClipboard{
	gwt-image: "bigIcons.clipboardBigIconDeactivated";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
}
@sprite .cmsState-up-hovering .toolbarClipboard, .cmsState-down-hovering .toolbarClipboard, .cmsState-down .toolbarClipboard{
    gwt-image: "bigIcons.clipboardBigIconActive";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
}

@sprite .cmsState-up .toolbarMove, .cmsState-up-disabled .toolbarMove, .cmsState-down-disabled .toolbarMove{
	gwt-image: "bigIcons.moveBigIconDeactivated";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
}
@sprite .cmsState-up-hovering .toolbarMove, .cmsState-down-hovering .toolbarMove, .cmsState-down .toolbarMove{
    gwt-image: "bigIcons.moveBigIconActive";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
}

@sprite .cmsState-up .toolbarNew, .cmsState-up-disabled .toolbarNew, .cmsState-down-disabled .toolbarNew{
	gwt-image: "bigIcons.addBigIconDeactivated";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
}
@sprite .cmsState-up-hovering .toolbarNew, .cmsState-down-hovering .toolbarNew, .cmsState-down .toolbarNew{
    gwt-image: "bigIcons.addBigIconActive";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
}

@sprite .cmsState-up .toolbarProperties, .cmsState-up-disabled .toolbarProperties, .cmsState-down-disabled .toolbarProperties{
	gwt-image: "bigIcons.propertyBigIconDeactivated";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
}
@sprite .cmsState-up-hovering .toolbarProperties, .cmsState-down-hovering .toolbarProperties, .cmsState-down .toolbarProperties{
    gwt-image: "bigIcons.propertyBigIconActive";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
}

@sprite .cmsState-up .toolbarPublish, .cmsState-up-disabled .toolbarPublish, .cmsState-down-disabled .toolbarPublish{
	gwt-image: "bigIcons.publishBigIconDeactivated";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
}
@sprite .cmsState-up-hovering .toolbarPublish, .cmsState-down-hovering .toolbarPublish, .cmsState-down .toolbarPublish{
    gwt-image: "bigIcons.publishBigIconActive";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
}

@sprite .cmsState-up .toolbarRemove, .cmsState-up-disabled .toolbarRemove, .cmsState-down-disabled .toolbarRemove{
	gwt-image: "bigIcons.deleteBigIconDeactivated";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
}
@sprite .cmsState-up-hovering .toolbarRemove, .cmsState-down-hovering .toolbarRemove, .cmsState-down .toolbarRemove{
    gwt-image: "bigIcons.deleteBigIconActive";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
}

@sprite .cmsState-up .toolbarSave, .cmsState-up-disabled .toolbarSave, .cmsState-down-disabled .toolbarSave{
	gwt-image: "bigIcons.saveBigIconDeactivated";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
}
@sprite .cmsState-up-hovering .toolbarSave, .cmsState-down-hovering .toolbarSave, .cmsState-down .toolbarSave{
    gwt-image: "bigIcons.saveBigIconActive";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
}

@sprite .cmsState-up .toolbarSitemap .cmsState-up-disabled .toolbarSitemap, .cmsState-down-disabled .toolbarSitemap{
	gwt-image: "bigIcons.sitemapBigIconDeactivated";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
}
@sprite .cmsState-up-hovering .toolbarSitemap, .cmsState-down-hovering .toolbarSitemap, .cmsState-down .toolbarSitemap{
    gwt-image: "bigIcons.sitemapBigIconActive";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
    
}


@sprite .opencmsSymbol{
	gwt-image: "opencmsSymbol";
	display: inline-block;
	cursor: pointer;
}

@sprite .lockedIcon{
	gwt-image: "ratioLocked";
	cursor: pointer;
	width: 12px;
}

@sprite .unlockedIcon{
	gwt-image: "ratioUnlocked";
	cursor: pointer;
	width: 12px;
}

@sprite .resetIcon{
	gwt-image: "resetSize";
	cursor: pointer;
}

@sprite .croppingIcon{
	gwt-image: "crop";
	display: inline-block;
	cursor: pointer;
}

@sprite .removeCroppingIcon{
	gwt-image: "cropRemove";
	display: inline-block;
	cursor: pointer;
}
