
/* for debugging purposes */
/* external multiCheckBox, textBox, textBoxWidget, textAreaWidget, textArea, checkBox, checkBoxLabel, checkBoxImage, error, selectBoxSelected, selectBoxSelector, selectBoxOpen,  selectBoxCell, selectHover, selectClosedIcon, selectOpenIcon, selectBoxOpen, selectBoxClosed,  selectBoxRoot, selectBoxOpener, textBoxPanel; */ 


/* inner text box of the text box widget */
.textBox {
	
	border: none;
	width: 100%;
}

.textBoxWidget {
	
}

.textBoxPanel {
	width: 100%;
	border: 1px solid value("constants.borderColor");
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}


.textAreaWidget {
	
}	

/* inner text area of the text area wigdet */
.textArea {
    border: none;
}

.textAreaContainer {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid value("constants.borderColor");
    width: 100%;
}




.checkBox {

}

@if user.agent ie6 {
	.checkBox * {
		display: inline;
	}
}



.checkBoxLabel {
	margin-left: 5px;
}

.checkBoxImage {

}

.radioButtonGroup *, .multiCheckBox *, .selectBoxRoot *, .selectBoxSelector *, .textBoxPanel *, .textAreaWidget * {
	font-size: value("constants.fontSize");
	font-family: value("constants.fontFamily");
	color: value("constants.color");
}

.error {
	color: red;
}

@sprite .selectBoxSelected {
	width: 100%; 
	min-height: 0px;
	border: 1px solid value("constants.borderColor");
	
	gwt-image: "images.backgroundLight";
	background-position: 50% 50%;
	margin-right: 40px;
	
}

.selectBoxSelector {
	border: 1px solid value("constants.borderColor");
	background-color: white;
	padding-bottom: 2px;
	z-index: 99999;
}

.selectBoxSelector.selectBoxOpen {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.selectorPopup {
	z-index: 99999;
}

.selectBoxCell {
	background-color: white;
	padding-left: 5px;
}

.selectHover {
	background-color: #aaaaaa;
}

@sprite .selectClosedIcon { 
	gwt-image: "images.triangleRight";
	float: right;
	margin-right: 4px;
}

@sprite .selectOpenIcon {
	gwt-image: "images.triangleDown";
	float: right;
	margin-right: 4px;
}

.selectBoxOpen {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	
}

.selectBoxClosed {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.selectBoxRoot {
	/* needed to enable hasLayout in IE (required for reading clientHeight) */
	min-height: 0px;
	width: 100%;
}

.selectBoxOpener {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 5px;
}

.textBoxPanel {
	width: 100%;
	border: 1px solid value("constants.borderColor");
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

@if user.agent ie6 {
	.inlineBlock {
		display: inline;
	}
} @else {
	.inlineBlock {
		display: inline-block;
	}
}	

.label {
	overflow: hidden;
	white-space: nowrap;
}
