@external gwt-ToggleButton, cmsState-up-disabled, cmsState-down-disabled, cmsState-up, cmsState-up-hovering, cmsState-down-hovering, cmsState-down, cmsState-up-disabled, cmsState-down-disabled;

/* inner text box of the text box widget */
.textBox {
	border: none;
	width: 100%;
}

.textBoxWidget, .checkBox {}

.textBoxPanel, .textAreaContainer {
	width: 100%;
	border: 1px solid value("constants.borderColor");
}

/* inner text area of the text area widget */
.textArea {
    border: none;
}

.checkBox .gwt-ToggleButton {
	outline: none;
}

@if user.agent ie6 {
	.checkBox * {
		display: inline;
	}
}

.checkBoxLabel {
	margin-left: 5px;
}

@sprite .cmsState-up-disabled .checkBoxImageChecked, .cmsState-down-disabled .checkBoxImageChecked{
	gwt-image: "images.checkboxChecked";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
    background-position: 50% 50%;
    height: 12px;
    width: 12px;
}
@sprite .cmsState-up .checkBoxImageChecked{
	gwt-image: "images.checkboxChecked";
	display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
    background-position: 50% 50%;
    height: 12px;
    width: 12px;
}
@sprite .cmsState-up-hovering .checkBoxImageChecked, .cmsState-down-hovering .checkBoxImageChecked, .cmsState-down .checkBoxImageChecked{
    gwt-image: "images.checkboxChecked";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
    background-position: 50% 50%;
    height: 12px;
    width: 12px;
}

@sprite .cmsState-up-disabled .checkBoxImageUnchecked, .cmsState-down-disabled .checkBoxImageUnchecked{
	gwt-image: "images.checkboxUnchecked";
	display: inline-block;
    vertical-align: middle;
    cursor: wait;
    margin-top: 1px;
    background-position: 50% 50%;
    height: 12px;
    width: 12px;
}
@sprite .cmsState-up .checkBoxImageUnchecked{
	gwt-image: "images.checkboxUnchecked";
	display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
    background-position: 50% 50%;
    height: 12px;
    width: 12px;
}
@sprite .cmsState-up-hovering .checkBoxImageUnchecked, .cmsState-down-hovering .checkBoxImageUnchecked, .cmsState-down .checkBoxImageUnchecked{
    gwt-image: "images.checkboxUnchecked";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
    background-position: 50% 50%;
    height: 12px;
    width: 12px;
}

.radioButtonGroup *, .multiCheckBox *, .textBoxPanel *, .formLabel, .formWidgetContainer * {
	font-size: inherit;
	font-family: inherit;
	color: value("constants.color");
}

.formLabel {
	font-weight: bold;
}

.selectBoxRoot *, .selectBoxSelector * {
	font-family: value("constants.fontFamily");
	font-size: value("constants.fontSize");
}

.error {
	color: red;
}

@sprite .selectBoxSelected {
	width: auto; 
	min-height: 0px;
	border: 1px solid value("constants.borderColor");
	gwt-image: "images.backgroundLight";
	background-position: 50% 50%;
	outline: none;
}

.selectBoxSelector {
	border: 1px solid value("constants.borderColor");
	background-color: white;
	padding-bottom: 2px;
	z-index: 99999;
}



.selectorPopup {
	z-index: 99999;
}

.selectBoxCell {
	background-color: white;
	padding-left: 5px;
}

.selectHover {
	background-color: #aaaaaa;
}

.selectIcon { 
	position: absolute;
	right: 0;
	top: 3px;
}

.selectBoxRoot {
	/* needed to enable hasLayout in IE (required for reading clientHeight) */
	min-height: 0px;
	width: 100%;
	position: relative;
}

.selectBoxOpener {
	margin: 3px 12px 3px 5px;
}

@if user.agent ie6 {
	.inlineBlock {
		display: inline !important;
	}
} @else {
	.inlineBlock {
		display: inline-block !important;
	}
}	

.labelTruncated {
	overflow: hidden;
	white-space: nowrap;
}


.alignBottom {
	vertical-align: bottom;
}

.formRow {
	margin-bottom: 2px;
	margin-top: 2px;
}

.formLabel {
	width: 30%;
	overflow: hidden;
	vertical-align: top;
	margin-top: 2px;
}


.formWidgetContainer {
	width: 68%;
}


