@external gwt-ToggleButton, cmsState-up-disabled, cmsState-down-disabled, cmsState-up, cmsState-up-hovering, cmsState-down-hovering, cmsState-down, cmsState-up-disabled, cmsState-down-disabled;

/* inner text box of the text box widget */
.textBox {
	border: none;
	width: 100%;
	background: transparent;
}

.textboxGhostMode {
	font-style: oblique;
	color: value("constants.css.textColorDisabled") !important;
}

.textBoxWidget, .checkBox {}

.textBoxReadOnly {
	background-color: value("constants.css.backgroundColorDisabled");
}

.textBoxPanel, .textAreaContainer {
	border: 1px solid value("constants.css.borderColor");
	overflow:hidden;
}

/* inner text area of the text area widget */
.textArea {
    border: none;
}

.checkBox .gwt-ToggleButton {
	outline: none;
}

@if user.agent ie6 {
	.checkBox * {
		display: inline;
	}
}

@sprite .cmsState-up-disabled .checkBoxImage {
	gwt-image: "images.checkboxUncheckedDisabled";
}

@sprite .linkEdit {
	gwt-image: "images.linkEdit"; 
}



@sprite .cmsState-down-disabled .checkBoxImage {
	gwt-image: "images.checkboxCheckedDisabled";
}
@sprite .cmsState-up .checkBoxImage, .checkBoxImageUnchecked {
	gwt-image: "images.checkboxUnchecked";
}
@sprite .cmsState-down .checkBoxImage, .checkBoxImageChecked {
	gwt-image: "images.checkboxChecked";
}
@sprite .cmsState-up-hovering .checkBoxImage {
	gwt-image: "images.checkboxUncheckedHover";
}
@sprite .cmsState-down-hovering .checkBoxImage {
	gwt-image: "images.checkboxCheckedHover";
}





.radioButton .gwt-ToggleButton {
	outline: none;
}

@if user.agent ie6 {
	.checkBox * {
		display: inline;
	}
}



@sprite .cmsState-up-disabled .radioButtonImage {
	gwt-image: "images.radioUncheckedDisabled";
}

@sprite .cmsState-down-disabled .radioButtonImage {
	gwt-image: "images.radioCheckedDisabled";
}

@sprite .cmsState-up .radioButtonImage {
	gwt-image: "images.radioUnchecked";
}

@sprite .cmsState-down .radioButtonImage {
	gwt-image: "images.radioChecked";
}

@sprite .cmsState-up-hovering .radioButtonImage {
	gwt-image: "images.radioUncheckedHover"; 
}

@sprite .cmsState-down-hovering .radioButtonImage {
	gwt-image: "images.radioCheckedHover";
}
	
/* Style for edited text box */
.changed{
	color: value("constants.css.textColorChanged") !important;
}




.radioButtonGroup *, .multiCheckBox *, .textBoxPanel *, .formLabel, .formWidgetContainer * {
	font-size: inherit;
	font-family: inherit;
	color: value("constants.css.textColor");
}

.textBoxPanelDisabled {
	background-color: value("constants.css.backgroundColorDisabled");
}

.textBoxPanelDisabled * {
	color: value("constants.css.textColorDisabled");
	cursor: default;
}

.textBoxPanelError {
	border: 1px solid value("constants.css.borderColorHighlight");
	background-color: value("constants.css.backgroundColorInputError");
	overflow:hidden;
}

.formLabel {
	font-weight: bold;
}

.selectBoxRoot *, .selectBoxSelector * {
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
}



@if user.agent gecko1_8 gecko{
	/** firefox **/
	.selectBoxSelector div{
		-moz-border-radius: value("constants.css.borderRadius");
	}
} @elif user.agent safari {
	/** chrome, safari etc. **/
	.selectBoxSelector div{
		-webkit-border-radius: value("constants.css.borderRadius");
	}
} @elif user.agent opera {
	/** opera */
	.selectBoxSelector div{
		border-radius: value("constants.css.borderRadius");
	}
} @elif user.agent ie8 {
	/** ie7, ie8 and the rest, add new @elif block if necessary **/
	
	.selectBoxSelector div{
		border-radius: value("constants.css.borderRadius");
	}
}

.error {
	text-align: left;
	border: 1px solid value("constants.css.borderColorHighlight");
	background-color: value("constants.css.backgroundColorInfo");
	color: value("constants.css.textColor");
    margin-top: 2px;
    padding: 3px;
    position: absolute;
    z-index: 31000;
}

@sprite .openerNoHover.selectBoxSelected {
	width: auto; 
	min-height: 0px;
	border: 1px solid value("constants.css.borderColor");
	gwt-image: "images.backgroundLight";
	background-position: 50% 50%;
	outline: none;
}

@sprite .openerHover.selectBoxSelected {
	width: auto;
	min-height: 0px;
	border: 1px solid value("constants.css.borderColor");
	gwt-image: "images.backgroundDark";
	background-position: 50% 50%;
	outline: none;
}

.selectBoxSelector {
	border: 1px solid value("constants.css.borderColor");
	background-color: value("constants.css.backgroundColorDialog");
	padding-bottom: 2px;
	z-index: 99999;
}



.selectorPopup {
	z-index: 99999;
}

.selectBoxCell {
	color: value("constants.css.textColor");
	background-color: value("constants.css.backgroundColorDialog");
	padding-left: 5px;
	cursor: pointer;
}

.selectHover {
	background-color: value("constants.css.backgroundColorHighlight");
}

.selectIcon { 
	position: absolute;
	right: 0;
	top: 3px;
}

.selectBoxRoot {
	/* needed to enable hasLayout in IE (required for reading clientHeight) */
	min-height: 0px;
	width: 100%;
	position: relative;
}

.selectBoxOpener {
	margin: 3px 12px 3px 5px;
}

.openerNoHover {}
.openerHover {
}

@if user.agent ie6 {
	.inlineBlock {
		display: inline;
	}
} @else {
	.inlineBlock {
		display: inline-block;
	}
}

.label {
	overflow: hidden;
	white-space: nowrap;
}

.labelTruncated {
	overflow: hidden;
	white-space: nowrap;
}

.form {
	width: 570px;
	border: none;
}

.formTab {
	margin-left: 15px;
	margin-top: 10px;
}

.alignBottom {
	vertical-align: bottom;
}

.formRow {
	margin-bottom: 2px;
	margin-top: 2px;
}

@sprite .formRowOpenerClosed {
	gwt-image: "images.plus"
}



@sprite .formRowOpenerOpen {
	gwt-image: "images.minus"; 
}

@def fieldOpenerWidth 32px ; 
@def formLabelWidth 160px ;

@eval openerWidth org.opencms.gwt.client.ui.input.form.CmsFormRow.getOpenerWidth();
@eval widgetContainerMargin org.opencms.gwt.client.ui.input.form.CmsFormRow.getWidgetContainerLeftMargin();  

.formOpener {
	width: openerWidth;
	float: left;
	vertical-align: top; 
}

.formLabel { 
	width: formLabelWidth;
	overflow: hidden;
	vertical-align: top;
	margin-top: 2px;
/*	margin-left: openerWidth; */ 
	float: left;
}

.formWidgetContainer {
	width: 350px;
	margin-left: widgetContainerMargin;
}

.separator {
	width: 100%;
	height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	/** Use the border color as background because this CSS class behaves like a border. */
	background-color: value("constants.css.borderColor");
}

.formDescriptionLabel {
	margin-bottom: 5px;
	margin-top: 5px;
}

.weakText { 
	color: value("constants.css.textColorDisabled"); 
}

.subtitleSuffix {
	font-weight: bold;
	margin-left: 8px;
}






