
/* for debugging purposes */
/* @external listTreeItemChildren, listTreeItemLeaf, listTreeItemInternal, listTreeItemOpen, listTreeItemClosed, listTreeItemNoOpeners ;  */

.listTreeItem {
	
}

.listTreeItemHandler {
	vertical-align: middle;
	
	margin-right: 4px;
	
}

@if user.agent ie6 {
	.listTreeItemHandler {
		display: inline;
	}
} @else {
	.listTreeItemHandler {
		display: inline-block;
	}
}	


.listTreeItemContent {
	
}


.listTreeItemChildren {
	list-style-type: none;
}

.listTreeItemOpen {
	
}

.listTreeItemClosed {
	
}

.listTreeItemClosed .listTreeItemChildren {
	display: none;
}

.listTreeItemLeaf {
	
}

.listTreeItemLeaf .listTreeItemHandler {
	/* we do not use display: none  because otherwise a leaf's first content widget
	would line up with the handler icon of a non-leaf at the same level. */ 
	visibility: hidden;
}

.listTreeItemInternal {
}

.listTreeItemNoOpeners {
	
}

.listTreeItemNoOpeners .listTreeItemHandler {
	display: none;
}

.listTreeItemNoOpeners .listTreeItemChildren {
	display: list-item ;
}


