
/* for debugging purposes 
@-external listTreeItem, listTreeItemHandler, listTreeItemHandler,listTreeItemContent, listTreeItemChildren, listTreeItemLeaf, listTreeItemInternal, listTreeItemOpen, listTreeItemClosed, listTreeItemNoOpeners, listScrollable;
*/

.listTreeItem {
	margin: 2px 0;
}

.listTreeItemHandler {
	vertical-align: top;
	padding-top: 2px;
	margin-right: 4px;
	cursor: pointer;
	outline: none;
}

@if user.agent ie6 {
	.listTreeItemHandler {
		display: inline;
	}
} @else {
	.listTreeItemHandler {
		display: inline-block;
	}
}	


.listTreeItemContent {
	
}






.listTreeItemChildren {
	list-style-type: none;
	margin:0px 0px 0px 25px;
	padding-left: 0px;
}

.list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.listTreeItemOpen {
	
}

.listTreeItemClosed {
	
}

.listTreeItemClosed .listTreeItemChildren {
	display: none;
}

.listTreeItemLeaf {
	
}

.listTreeItemLeaf .listTreeItemHandler {
	/* we do not use display: none  because otherwise a leaf's first content widget
	would line up with the handler icon of a non-leaf at the same level. */ 
	visibility: hidden;
}

.listTreeItemInternal {
}

.listTreeItemNoOpeners {
	
}

.listTreeItemNoOpeners .listTreeItemHandler {
	display: none;
}

.listTreeItemNoOpeners .listTreeItemChildren {
	display: list-item ;
}

.listScrollable {
	height: 100%;
	overflow: auto;
}
