.listItem{
	list-style: none;
	display: block;
	margin: 0 5px;
	color: value("constantsCss.color");
	line-height: 16px;
	font-size: value("constantsCss.fontSize");
	font-family: value("constantsCss.fontFamily");
}

.listItem .itemAdditional{
	display: none;
}

.listItem.open .itemAdditional{
	display: block;
}

.itemContainer{
	margin: 2px;
	border: 1px solid value("constantsCss.borderColor");
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #ffffff;
}

@sprite .itemContent{
    gwt-image: "backgroundDefault";
    background-position: 50% 50%;
    height: auto;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
}

.itemIcon{
	height: 32px;
	width: 32px;
	float: left;
	overflow: hidden;
}

.itemTitle{
	font-weight: bold;
    display: inline;
}
.cmsHovering .buttonPanel{
	display: block;
}

.buttonPanel{
	display:none;
	float: right;
	margin: 7px 5px 0px 0px;
	width: 60px;
	height: 20px;
	overflow: visible;
}

.buttonPanel>div{
	float: right;
	margin-left: 2px;
}

.itemAdditional{
	padding: 5px 0px 0px 4px;
}

.itemAdditionalTitle{
	display:block;
	float:left;
	height:16px;
	margin-right:5px;
	overflow:hidden;
	vertical-align:top;
	width:90px;
}

.itemAdditionalValue{
	display:block;
	margin-left:95px;
	vertical-align:top;
}

/** following classes have to be implemented but are not used within this CSS **/
.cmsState{}
.cmsState-up{}
.cmsState-up-hovering{}
.cmsState-up-disabled{}
.cmsState-down{}
.cmsState-down-hovering{}
.cmsState-down-disabled{}