@if user.agent ie6 {
	.listTreeItem {
		vertical-align: bottom;
	}
}

.listTreeItem {
	margin: 2px 0;
	display: block;
}

.listTreeItemHandler {
	margin-left: 2px;
	margin-right: 2px;
	cursor: pointer;
	outline: none;
}



.listTreeItemHandler > img {
	background-position: center !important;
}

@if user.agent ie6 {
	.listTreeItemHandler {
		display: inline;
		vertical-align: bottom;
	}
	
	.listTreeItemHandler * {
		display: inline;
	}
} @else {
	.listTreeItemHandler {
		display: inline-block;
		vertical-align: -1px;
	}
}

@sprite .plus {
	gwt-image: "gwtImages.plusImage";
}

@sprite .minus {
	gwt-image: "gwtImages.minusImage";
}


.listTreeItemContent {
	
}

.listTreeItemChildren {
	list-style-type: none;
	margin:0px 0px 0px 25px;
	padding-left: 0px;
}

.list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.listTreeItemOpen {
	
}

.listTreeItemClosed {
	
}

.listTreeItemClosed .listTreeItemChildren {
	display: none;
}

li.listTreeItemLeaf ul.listTreeItemChildren{
	display: none;
}

.listTreeItemLeaf .listTreeItemHandler {
	/* we do not use display: none  because otherwise a leaf's first content widget
	would line up with the handler icon of a non-leaf at the same level. */ 
	visibility: hidden;
}

.listTreeItemInternal {
}

.listTreeItemNoOpeners {
	
}

.listTreeItemNoOpeners .listTreeItemHandler {
	display: none;
}

.listTreeItemNoOpeners .listTreeItemChildren {
	display: list-item ;
}

.listScrollable {
	height: 100%;
	overflow: auto;
}
