.menu{
	min-width: 1px;
	overflow: visible;
	position:relative;
}

@if user.agent ie6 {
  	.menu{
        display: inline;
    }
    .menu .button{
		overflow: visible !important;
  	}
} @else {
    .menu{
        display: inline-block;
    }
}

.menu .button{
	position: relative;
}
