.menu{
	min-width: 1px;
	overflow: visible;
	position:relative;
}

@if user.agent ie6 {
  	.menu{
        display: inline;
    }
    .menu .button{
		overflow: visible !important;
  	}
} @else {
    .menu{
        display: inline-block;
    }
}
.menu.toolbarMode .connect{
	background: value("constants.css.backgroundColorToolBarMenuConnect");
	height:35px;
	width:50px;
}

.menu .connect{
	background: value("constants.css.backgroundColorMenu");
	border: 1px solid value("constants.css.borderColor");
	position: absolute;
	top: -2px;
	left: -2px;
	height: 35px;
	z-index: 0;
}
.menu.showAbove .connect{
	bottom: -2px;
	top: auto;
}
.menu .connect.hidden{
	display: none;	
}
.menu .button{
	position: relative;
}