.main{
	position: relative;
	overflow: hidden;
}
.main .overlay, .main .marker, .main .markerBorder{
	display: none;
}
.main.showSelect .overlay, .main.showSelect .marker, .main.showSelect .markerBorder{
	display: block;
}
.markerBlackBorder, .markerWhiteBorder{
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	left: 0px;
}
.markerBlackBorder{
	position: absolute;
	border: 1px solid value("constants.css.borderColorDark");
}
.markerWhiteBorder{
	border: 1px dashed value("constants.css.borderColorLight");
}
.marker{
	position:absolute;
}
.overlay{
	position: absolute;
	background: value("constants.css.borderColorDark");
	opacity: 0.4;
}