@external gwt-TabLayoutPanel gwt-TabLayoutPanelTab gwt-TabLayoutPanelTabBar gwt-TabLayoutPanelTabs gwt-TabLayoutPanelContent gwt-TabLayoutPanelTab-selected gwt-TabLayoutPanelTabInner; 

.gwt-TabLayoutPanel {	
	display:block;
    background:value("constantsCss.backgroundColorLight") none repeat scroll 0 0;   
    border:1px solid value("constantsCss.borderColor");
    -moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;	
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	height: 100%;
	margin:0;
	padding:0;
	font-size:value("constantsCss.fontSize");
	font-family: value("constantsCss.fontFamily");   	
}

@sprite .gwt-TabLayoutPanel .gwt-TabLayoutPanelTabBar {
	gwt-image: "backgroundSoft";
	background-position: 50% 50%;
	height: auto;
	background-color: value("constantsCss.backgroundColorBar");
	display: block;	
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabBar .gwt-TabLayoutPanelTabs{
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {	
    overflow: hidden;		
	background:transparent none repeat scroll 0 0;		
	display:block;
	color:value("constantsCss.color");
	padding: 10px;
}
@sprite .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {  	
	gwt-image: "backgroundDefault";
	background-position: 50% 50%;
	height: auto;
	margin:0 0 -1px 2px;
	padding:0;		
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;	
	border:1px solid value("constantsCss.borderColor");	
	color:value("constantsCss.color");
	position:relative;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {    
    background: value("constantsCss.backgroundColorLight") none repeat scroll 0 0;
	cursor: default;
	font-size:value("constantsCss.fontSize");
	font-family: value("constantsCss.fontFamily");
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab .gwt-TabLayoutPanelTabInner {
	padding: 3px 5px 4px;
	font-size:value("constantsCss.fontSize");
	font-family: value("constantsCss.fontFamily");
}