@external gwt-TabLayoutPanel, gwt-TabLayoutPanelTab, gwt-TabLayoutPanelTabBar, gwt-TabLayoutPanelTabs, gwt-TabLayoutPanelContent, gwt-TabLayoutPanelTab-selected, gwt-TabLayoutPanelTabInner; 

.gwt-TabLayoutPanel {	
	display:block;
    /* background:value("constants.css.backgroundColorMenu") none repeat scroll 0 0; */   
    border:1px solid value("constants.css.borderColor");
	height: 100%;
	margin:0;
	padding:0;
/*	font-size:value("constants.css.fontSize");
	font-family: value("constants.css.fontFamily"); */   	
}

/*TODO: remove if not used within gallery preview*/
.internal-tabbed {
	/*margin:1px;*/
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabBar {
	height: auto;
	display: block;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabBar .gwt-TabLayoutPanelTabs{
}

@sprite .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	gwt-image: "backgrounds.dialogBackgroundShadow";
    background-color: value("constants.css.backgroundColorMenu");
	background-position: top;
	background-repeat: repeat-x;
    overflow: visible;
	display:block;
	color:value("constants.css.textColor");
	padding:value("constants.css.defaultSpace");
	margin-top: 6px;
}

.tabPanel {
	/* margin:10px 8px 8px; */
}

.tabLeftMargin {
	margin-left:30px !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {  	
	border-width: 1px 1px 1px 0px;
	border-color: value("constants.css.borderColor");
	border-style: solid;
	position:relative;
	cursor:pointer;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner div {
	padding: 4px 5px;
	font-weight: bold;
	color: value("constants.css.textColorDarkButton");
	font-size:value("constants.css.fontSize");
	font-family: value("constants.css.fontFamily");
}

/** browser specific styles **/
@if user.agent gecko1_8 gecko{
	/** firefox **/
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerRight{
		-moz-border-radius-topright: value("constants.css.borderRadiusButton");
		-moz-border-radius-bottomright: value("constants.css.borderRadiusButton");
	}
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerLeft{
		-moz-border-radius-topleft: value("constants.css.borderRadiusButton");
		-moz-border-radius-bottomleft: value("constants.css.borderRadiusButton");
	}
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent{
		-moz-border-radius: 8px;
	}
} @elif user.agent safari {
	/** chrome, safari etc. **/
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerRight{
		-webkit-border-top-right-radius: value("constants.css.borderRadiusButton");
		-webkit-border-bottom-right-radius: value("constants.css.borderRadiusButton");
	}
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerLeft{
		-webkit-border-top-left-radius: value("constants.css.borderRadiusButton");
		-webkit-border-bottom-left-radius: value("constants.css.borderRadiusButton");
	}
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent{
		-webkit-border-radius: 8px;
	}
} @elif user.agent opera {
	/** opera */
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerRight{
		border-top-right-radius: value("constants.css.borderRadiusButton");
		border-bottom-right-radius: value("constants.css.borderRadiusButton");
	}
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerLeft{
		border-top-left-radius: value("constants.css.borderRadiusButton");
		border-bottom-left-radius: value("constants.css.borderRadiusButton");
	}
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent{
		border-radius: 8px;
	}
} @elif user.agent ie8 {
	/** ie7, ie8 and the rest, add new @elif block if necessary **/
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerRight{
		border-top-right-radius: value("constants.css.borderRadiusButton");
		border-bottom-right-radius: value("constants.css.borderRadiusButton");
	}
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerLeft{
		border-top-left-radius: value("constants.css.borderRadiusButton");
		border-bottom-left-radius: value("constants.css.borderRadiusButton");
	}
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent{
		border-radius: 8px;
	}
}
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerRight{
	border-color: value("constants.css.borderColor");
	border-width: 1px 1px 1px 0px;
	border-style: solid;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.borderAll, .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.cornerLeft {
	border-color: value("constants.css.borderColor");
	border-width: 1px;
	border-style: solid;
}

.black{}

@sprite .black .gwt-TabLayoutPanelTab {
	gwt-image: "inputImages.buttonBlackUpBackground";
	background-position: 50% 50%;
	height: auto;
}
@sprite .black .gwt-TabLayoutPanelTab:hover {  	
	gwt-image: "inputImages.buttonBlackHoverBackground"; 
	background-position: 50% 50%;
	height: auto;
}
@sprite .black .gwt-TabLayoutPanelTab-selected:hover {
	gwt-image: "inputImages.buttonBlueUpBackground";
	background-position: 50% 50%;
	height: auto;
}
@sprite .black .gwt-TabLayoutPanelTab-selected{    
	gwt-image: "inputImages.buttonBlueDownBackground";
	background-position: 50% 50%;
	height: auto;
}


@sprite .tabLeftMargin.gwt-TabLayoutPanelTab {
	gwt-image: "inputImages.buttonRedUpBackground";
	background-position: 50% 50%;
	height: auto;
}
@sprite .tabLeftMargin.gwt-TabLayoutPanelTab:hover {  	
	gwt-image: "inputImages.buttonRedHoverBackground"; 
	background-position: 50% 50%;
	height: auto;
}
@sprite .tabLeftMargin.gwt-TabLayoutPanelTab-selected:hover {
	gwt-image: "inputImages.buttonRedHoverBackground";
	background-position: 50% 50%;
	height: auto;
}
@sprite .tabLeftMargin.gwt-TabLayoutPanelTab-selected{    
	gwt-image: "inputImages.buttonRedDownBackground";
	background-position: 50% 50%;
	height: auto;
}


@sprite .gwt-TabLayoutPanel .tabDisabled.gwt-TabLayoutPanelTab {
	gwt-image: "inputImages.buttonDisabledBackground";
	background-position: 50% 50%;
	height: auto;
	cursor: default;
}
.gwt-TabLayoutPanel .tabDisabled.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner div {
	color:value("constants.css.textColorDisabledButton") !important;
}
