@external gwt-TabLayoutPanel, gwt-TabLayoutPanelTab, gwt-TabLayoutPanelTabBar, gwt-TabLayoutPanelTabs, gwt-TabLayoutPanelContent, gwt-TabLayoutPanelTab-selected, gwt-TabLayoutPanelTabInner; 

.gwt-TabLayoutPanel {	
	display:block;
    background:value("constantsCss.backgroundColorLight") none repeat scroll 0 0;   
    border:1px solid value("constantsCss.borderColor");
	height: 100%;
	margin:0;
	padding:0;
/*	font-size:value("constantsCss.fontSize");
	font-family: value("constantsCss.fontFamily"); */   	
}

/*TODO: remove if not used within gallery preview*/
.internal-tabbed {
	/*margin:1px;*/
}

@sprite .gwt-TabLayoutPanel .gwt-TabLayoutPanelTabBar {
	gwt-image: "backgroundSoft";
	background-position: 50% 50%;
	height: auto;
	background-color: value("constantsCss.backgroundColorBar");
	display: block;	
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabBar .gwt-TabLayoutPanelTabs{
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {	
    overflow: hidden;		
	background:transparent none repeat scroll 0 0;		
	display:block;
	color:value("constantsCss.color");
}

.tabLeftMargin {
	margin-left:30px !important;
}

@sprite .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {  	
	gwt-image: "backgroundHover";
	background-position: 50% 50%;
	height: auto;
	margin:0 0 -1px 2px;
	padding:0;		
	border:1px solid value("constantsCss.borderColor");	
	color:value("constantsCss.color");
	position:relative;
	cursor:pointer;
}

/** browser specific styles **/
@if user.agent gecko1_8 gecko{
	/** firefox **/
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab{
		-moz-border-radius-topleft: value("constantsCss.borderRadius");
		-moz-border-radius-topright: value("constantsCss.borderRadius");
	}

} @elif user.agent safari {
	/** chrome, safari etc. **/
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab{
		-webkit-border-top-left-radius: value("constantsCss.borderRadius");
		-webkit-border-top-right-radius: value("constantsCss.borderRadius");
	}

} @else {
	/** ie7, ie8, opera and the rest, add new @elif block if necessary **/
	.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab{
		border-top-left-radius: value("constantsCss.borderRadius");
		border-top-right-radius: value("constantsCss.borderRadius");
	}

}




@sprite .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab:hover {  	
	gwt-image: "backgroundDefault";
	background-position: 50% 50%;
	height: auto;	
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected,.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected:hover {    
    background: value("constantsCss.backgroundColorLight") none repeat scroll 0 0;
	cursor: default;
	font-size:value("constantsCss.fontSize");
	font-family: value("constantsCss.fontFamily");
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab .gwt-TabLayoutPanelTabInner {
	padding: 3px 5px 4px;
	font-size:value("constantsCss.fontSize");
	font-family: value("constantsCss.fontFamily");
}