@if user.agent ie6 {
	/** ie6/7 will always show a scroll-bar, so there is no need to force it **/
	.toolbarShow{}
} @else {
	/** forcing a scroll-bar for all other browsers **/
	body.toolbarShow{
		overflow-y: scroll;
	}
}
.toolbarHide .toolbar{
	display: none;
}

.toolbar{
	background-color:transparent;
	left: 0px;
	top: 0px;
	position: fixed;
	width: 100%;
	z-index: 450;
	padding: 0px;
	margin: 0px;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: value("constants.css.fontSize");
}

@sprite .toolbarBackground{
	gwt-image: "backgrounds.softStandard";
	background-position: 50% 50%;
	overflow: visible;
	border-top:medium none;
	font-weight:normal;
	height: 35px;
	position:absolute;
	width:100%;
	border-bottom:1px solid value("constants.css.borderColor");
	color:value("constants.css.textColor");
	padding:0px;
	margin:0px;
	background-color: value("constants.css.backgroundColorSoftStandard");
}

.toolbarContent{
	padding:0px;
	position:relative;
	width:930px;
	margin:2px auto;
}
.toolbarPlaceholder {
	height: 50px;
}

.toolbarButtonsLeft>div{
	margin-right: 5px;
}
.toolbarButtonsRight{
	text-align: right;
}
.toolbarButtonsRight>div{
	margin-left: 5px;
}

.notification {
	text-align: center;
	position:absolute;
	/** Must have the value as the .toolbarBackground class. */
	top: 35px;
	width:100%;
}

