.galleryBody {
	margin:0px;
	padding:0px;
}
 
 
/* The height is set as inline style. */
.parentPanel {				
	min-height:483px;
	min-width:650px;	
	position:relative;		
}

.criteriaList {
	border:1px solid value("constantsCss.borderColor");
	height:405px;
	overflow: auto;
	position: relative;
	background-color: value("constantsCss.backgroundColorList");
	padding:0 2px;
}

.selectboxWidth {
	width: 200px;
}

.tabPanel {
	margin:10px 8px 8px;
}

.marginBottom {
	margin-bottom:5px;
}

.listIcon {
	margin:7px;
}

@sprite .showParams {
	gwt-image: "backgroundDefault";
	background-position: 50% 50%;
	height: auto;
	color:value("constantsCss.color");
	border:1px solid value("constantsCss.borderColor");
	display:inline-block;
	margin-right:1px;
	margin-bottom:1px;
	padding:2px;
}

.paramsText {
	dispaly:inline-block;
	float:left;
	margin-right:5px;
	max-width: 600px;
}