.galleryBody {
	margin:0px;
	padding:0px;
	overflow: hidden;
}
@if user.agent ie6 {
.galleryBody *{
	zoom: 1;
}
}
.resultTabUpload{
	float: right;
	margin: 1px 1px 0 0;
} 
/* The height is set as inline style. */
.parentPanel {
	position:relative;
}

.showPreview{
	position: absolute;
	top: 2px;
	right: 0px;
}

.criteriaList {
	border:1px solid value("constants.css.borderColor");
	height:414px;
	overflow: auto;
	position: relative;
	background-color: value("constants.css.backgroundColorDialog");
	padding:0 2px;
}

.listOnlyTab .criteriaList{
	height: 441px;
}

.selectboxWidth {
	width: 200px;
}

.listIcon {
	margin:7px;
}

@sprite .showParams {
	gwt-image: "backgrounds.stateBackground";
	background-position: 50% 50%;
	height: auto;
	border:1px solid value("constants.css.borderColor");
	margin-right:1px;
	margin-bottom:1px;
	padding:2px;
	background-color: value("constants.css.backgroundColorStateStandard");
}

.tabParamsPanel {
	margin-bottom: 5px;
	padding-right: 25px;
}

.tabOptions {
	clear: both;
	margin-bottom: 5px;
}

.listOnlyTab .tabOptions{
	display: none;
}

.showParams div, .showParams div span{
	vertical-align: top !important;
}

.paramsText {
	margin-right:5px;
	max-width: 600px;
}

@if user.agent ie6 {
	.showParams, .paramsText {
		display: inline;
		zoom: 1;
	}
} @else {
	.showParams, .paramsText {
		display: inline-block;
	}
}

.searchTabRow {
	clear: both;
	height: 22px;
}
.searchTabRowRightAlign {
	clear: both;
	text-align: right;
}
.searchTabLabelLeft {
	width: 120px;
	float: left;
}
.searchTabLabelRight {
	width: 120px;
	float: right;
}
.searchTabInputLeft {
	width: 166px;
	float: left;
}
.searchTabInputRight {
	width: 166px;
	float: right;
}
.searchTabBorderLayer {
	position:absolute; 
	top:0px; 
	right:0px; 
	bottom:0px; 
	left:0px; 
	padding: 5px;
	border: 1px solid value("constants.css.borderColor");
	background: value("constants.css.backgroundColorDialog");
	margin: value("constants.css.defaultSpace");
}
.searchTabDesMargin {
	margin-bottom: 10px;
}

.infoLabel {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	text-align: right;
}

.noParamsMessage {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border:1px solid value("constants.css.borderColor");
	background-color: value("constants.css.backgroundColorDialog");
    margin: 6px;
    padding: 6px;
}
.noParamsMessage > table {
	height: 90px;
	margin: auto;
}
@sprite .noParamsMessage > table > tbody > tr > td:first-child {
	gwt-image: "gwtImages.informationBigImage";
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 15px;
	width: 32px;
}
.noParamsMessage > table > tbody > tr > td {
	vertical-align: middle;
	padding: 15px 15px 15px 0px;
}