.galleriesDialog{
	margin:1px;
	padding:0px;
}

.galleryDialogSize{
	width:650px;
	height:486px;
}

.criteriaList {
	border:1px solid #999999;
	height:405px;
	overflow: auto;
	position: relative;
}

.tabPanel {
	margin:10px 8px 8px;
}

.marginBottom {
	margin-bottom:5px;
}

.listIcon {
	margin:7px;
}

@sprite .showParams {
	gwt-image: "backgroundDefault";
	background-position: 50% 50%;
	height: auto;
	color:value("constantsCss.color");
	border:1px solid value("constantsCss.borderColor");
	display:inline-block;
	/*margin:1px 1px 1px 0;*/
	margin-right:1px;
	margin-bottom:1px;
	padding:2px;
}

.paramsText {
	dispaly:inline-block;
	float:left;
	margin-right:5px;
	max-width: 600px;
}