/* The height and width are set as inline style. */
.previewDialog {
	position:absolute;
	top:0px;
	left:0px;
	min-height:483px;
	min-width:648px;	
	display: block;
	background-color: value("constantsCss.backgroundColorList");
	border:1px solid value("constantsCss.borderColor");
}

.previewCloseButton{
	position: absolute;
	top:0px;
	right:0px;
	margin:2px;
}

/* Preview panel */
.previewHolder {		
	border:1px solid value("constantsCss.borderColor");	
	margin:1px;
}

.previewPanel {	
	height:100%;	
}

.imagePanel {
	text-align: center;
}

/* Tabs panel (details) */
.detailsHolder {	
	margin:1px;
}

.previewButtonBar{
	position: absolute;
	bottom:0px;
	right:0px;
	margin:2px;
}

.previewButton {
	margin-left:1px;
}

/* Properties tab. */
.propertiesList {	
	height:60px; /* Change the height on resize */
	overflow: auto;
	position: relative;
	margin:0px;
	padding-right:5px;
	padding-top:2px;	
}

.propertiesList.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Form css */
.propertyLeft {
	margin:1px 1px 1px 5px;
	float:left;
}

.propertyRight {
	margin:1px 1px 1px 5px;
	float:right;
}

.labelField{
	float:left;
	font-weight:bold;
}

.inputField{
	float:right;
	margin-left:2px;
}

/* Image format tab. */
.formatsPanel{
	padding-top:5px;
}

/* Line with format select box. */
.formatsLine {
	margin:0 0 12px;
}

/** Line with size infos. */
.formatsLineSize {
	margin:0 0 3px;
}

.formatButton{
	margin-left:5px;
}

.formatSelectBox {
	width:150px;
	margin-left:5px;
	vertical-align:middle;		
}

.formatLabel, .formatText{
	width:100px;
	margin-left:5px;
	vertical-align:middle;
}

.formatLabel{
	font-weight:bold;
}

@if user.agent ie6 {
	.formatLabel, .formatText, .formatSelectBox{
		display:inline;
		zoom:1;
	}
} @else {
	.formatLabel, .formatText, .formatSelectBox{
		display: inline-block;
	}	
}
	
	
		
 



