#galleryitemlist, #categoryitemlist {
	height: 450px;  /*  overwrites editor.css */
}

#galleryitemlistinner, #categoryitemlistinner {
	height: 380px; /*  overwrites editor.css */
}

.ui-tabs-panel {
	height: 600px; 
}