#galleryitemlist, #categoryitemlist {
	height: 465px;  /*  overwrites editor.css */
}

#galleryitemlistinner, #categoryitemlistinner {
	height: 395px; /*  overwrites editor.css */
}

.ui-tabs-panel {
	height: 600px;  
}

#preview #previewwrapperhtml {
	height: 535px;
}

#preview #imgpreview {
	text-align: center;
}

#preview #htmlpreview {
	text-align: center;
	height: 535px;
	overflow:auto;
}