<?xml version="1.0" encoding="UTF-8"?>

<Configs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.frontend.templatetwo/schemas/config.xsd">
  <Config language="de">
    <Preset>
      <link type="WEAK">
        <target><![CDATA[/sites/default/demo_en/_config_/layout/twocolums]]></target>
        <uuid>7839b468-e44b-11dc-add5-9f7a6a6ce285</uuid>
      </link>
    </Preset>
    <Element>
      <File>
        <link type="WEAK">
          <target><![CDATA[/sites/default/demo_en/_info_/multilanguage]]></target>
          <uuid>f39b6c95-e478-11dc-abe7-51cb880fd12a</uuid>
        </link>
      </File>
      <Orientation><![CDATA[left]]></Orientation>
      <ColorSchema><![CDATA[box_schema2]]></ColorSchema>
    </Element>
  </Config>
  <Config language="en">
    <Preset>
      <link type="WEAK">
        <target><![CDATA[/sites/default/demo_en/_config_/layout/twocolums]]></target>
        <uuid>7839b468-e44b-11dc-add5-9f7a6a6ce285</uuid>
      </link>
    </Preset>
    <Element>
      <File>
        <link type="WEAK">
          <target><![CDATA[/sites/default/demo_en/_info_/layoutpage]]></target>
          <uuid>755efae3-e552-11dc-8457-51cb880fd12a</uuid>
        </link>
      </File>
      <Orientation><![CDATA[left]]></Orientation>
      <ColorSchema><![CDATA[box_schema2]]></ColorSchema>
    </Element>
  </Config>
</Configs>
