<?xml version="1.0" encoding="UTF-8"?>

<ADETypeConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/workplace/editors/ade/schemas/type_config.xsd">
  <ADETypeConfiguration language="en">
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/article.html]]></target>
          <uuid>ba6643ac-9e06-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/articles/]]></target>
            <uuid>c547764e-a11a-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[article_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/item.html]]></target>
          <uuid>d7b7c1f8-9e06-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/items/]]></target>
            <uuid>4c1b4d0a-a11b-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[item_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/listbox.html]]></target>
          <uuid>0ddfbdc0-9e07-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/listboxes/]]></target>
            <uuid>5b50bbcc-a11b-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[listbox_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/textbox.html]]></target>
          <uuid>fac377d6-9e06-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/textboxes/]]></target>
            <uuid>d475b922-a11a-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[textbox_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/event.html]]></target>
          <uuid>9ff253f2-a1e3-11de-aafb-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/events/]]></target>
            <uuid>cb1e5da0-a11a-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[event_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/news.html]]></target>
          <uuid>98d271df-a1e3-11de-aafb-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/news/]]></target>
            <uuid>bd8587dc-a11a-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[news_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/linkbox.html]]></target>
          <uuid>3da5615d-a1e3-11de-aafb-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/other/]]></target>
            <uuid>36136658-a1e4-11de-aafb-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[linkbox_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
        <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/new_subcontainer.xml]]></target>
          <uuid>6d38befb-ea1d-11de-a78f-6352bb47a664</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/subcontainers/]]></target>
            <uuid>a2c5da47-ea1d-11de-a78f-6352bb47a664</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[subcontainer_%(number).xml]]></Pattern>
      </Destination>
    </ADEType>
  </ADETypeConfiguration>
</ADETypeConfigurations>
