<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
        <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/article.html]]></target>
          <uuid>ba6643ac-9e06-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/articles/]]></target>
            <uuid>c547764e-a11a-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[article_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/item.html]]></target>
          <uuid>d7b7c1f8-9e06-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/items/]]></target>
            <uuid>4c1b4d0a-a11b-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[item_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/listbox.html]]></target>
          <uuid>0ddfbdc0-9e07-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/listboxes/]]></target>
            <uuid>5b50bbcc-a11b-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[listbox_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/textbox.html]]></target>
          <uuid>fac377d6-9e06-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/textboxes/]]></target>
            <uuid>d475b922-a11a-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[textbox_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/today/events/9ff253f2-a1e3-11de-aafb-dd9f629b113b/]]></target>
          <uuid>9ff253f2-a1e3-11de-aafb-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/events/]]></target>
            <uuid>cb1e5da0-a11a-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[event_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/today/news/98d271df-a1e3-11de-aafb-dd9f629b113b/]]></target>
          <uuid>98d271df-a1e3-11de-aafb-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/news/]]></target>
            <uuid>bd8587dc-a11a-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[news_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/linkbox.html]]></target>
          <uuid>3da5615d-a1e3-11de-aafb-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/other/]]></target>
            <uuid>36136658-a1e4-11de-aafb-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[linkbox_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/new_groupcontainer.xml]]></target>
          <uuid>6d38befb-ea1d-11de-a78f-6352bb47a664</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/groupcontainers/]]></target>
            <uuid>a2c5da47-ea1d-11de-a78f-6352bb47a664</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[groupcontainer_%(number).xml]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/new_twitter.html]]></target>
          <uuid>fa987eb1-f618-11df-bac6-7b2444d59c19</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/other/]]></target>
            <uuid>36136658-a1e4-11de-aafb-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[twitter_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <PageModel>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/cntpages/main.html]]></target>
          <uuid>fba8a958-d83e-11de-ba8d-69bc9d83c2f4</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/pages/]]></target>
            <uuid>68abb478-e347-11de-93a5-2fbc40eca8be</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[%(number)_%(name).html]]></Pattern>
      </Destination>
    </PageModel>
    <Property>
      <Name><![CDATA[export]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[select]]></Widget>
      <WidgetConfig><![CDATA[true:Yes|false:No]]></WidgetConfig>
      <Default><![CDATA[false]]></Default>
      <NiceName><![CDATA[Export]]></NiceName>
      <Description><![CDATA[The export property determines if a resource is exported.]]></Description>
    </Property>
    <DetailPage>
      <Type><![CDATA[t3event]]></Type>
      <Page>
        <link type="WEAK">
          <target><![CDATA[/sites/default/demo_t3/today/events/]]></target>
          <uuid>1a5c3c94-1fec-11e0-b1e6-811251bcfe15</uuid>
        </link>
      </Page>
    </DetailPage>
    <DetailPage>
      <Type><![CDATA[t3news]]></Type>
      <Page>
        <link type="WEAK">
          <target><![CDATA[/sites/default/demo_t3/today/news/]]></target>
          <uuid>3b71eecd-1fec-11e0-b1e6-811251bcfe15</uuid>
        </link>
      </Page>
    </DetailPage>
  </SitemapConfiguration>
</SitemapConfigurations>
