<?xml version="1.0" encoding="UTF-8"?>

<ADETypeConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/workplace/editors/ade/schemas/type_config.xsd">
  <ADETypeConfiguration language="en">
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/cntpages/main.html]]></target>
          <uuid>fba8a958-d83e-11de-ba8d-69bc9d83c2f4</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/cntpages/]]></target>
            <uuid>68abb478-e347-11de-93a5-2fbc40eca8be</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[page_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/sitemap]]></target>
          <uuid>9d4f8d10-c7c3-11de-8b05-ab20365f6268</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/_config/subsitemaps/]]></target>
            <uuid>3fbb5944-e958-11de-b3a4-a1401acbb1fd</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[sitemap_%(number).html]]></Pattern>
      </Destination>
    </ADEType>

  </ADETypeConfiguration>
</ADETypeConfigurations>
