<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_config/new/cntpages/main.html]]></target>
          <uuid>fba8a958-d83e-11de-ba8d-69bc9d83c2f4</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/pages/]]></target>
            <uuid>68abb478-e347-11de-93a5-2fbc40eca8be</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[%(number)_%(name).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEField>
      <Name><![CDATA[export]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[select]]></Widget>
      <WidgetConfig><![CDATA[true:Yes|false:No]]></WidgetConfig>
      <Default><![CDATA[false]]></Default>
      <NiceName><![CDATA[Export]]></NiceName>
      <Description><![CDATA[The export property determines if a resource is exported.]]></Description>
    </ADEField>
    <DetailPage>
      <Type><![CDATA[t3event]]></Type>
      <Page>
        <link type="WEAK">
          <target><![CDATA[/sites/default/demo_t3/today/events/]]></target>
          <uuid>1a5c3c94-1fec-11e0-b1e6-811251bcfe15</uuid>
        </link>
      </Page>
    </DetailPage>
    <DetailPage>
      <Type><![CDATA[t3news]]></Type>
      <Page>
        <link type="WEAK">
          <target><![CDATA[/sites/default/demo_t3/today/news/]]></target>
          <uuid>3b71eecd-1fec-11e0-b1e6-811251bcfe15</uuid>
        </link>
      </Page>
    </DetailPage>
  </SitemapConfiguration>
</SitemapConfigurations>
