<?xml version="1.0" encoding="UTF-8"?>

<ADETypeConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/workplace/editors/ade/schemas/type_config.xsd">
  <ADETypeConfiguration language="en">
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_content/articles/new_article.html]]></target>
          <uuid>ba6643ac-9e06-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/_content/articles/]]></target>
            <uuid>c547764e-a11a-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[article_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_content/items/new_item.html]]></target>
          <uuid>d7b7c1f8-9e06-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/_content/items/]]></target>
            <uuid>4c1b4d0a-a11b-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[item_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_content/listboxes/new_listbox.html]]></target>
          <uuid>0ddfbdc0-9e07-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/_content/listboxes/]]></target>
            <uuid>5b50bbcc-a11b-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[listbox_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/_content/textboxes/new_textbox.html]]></target>
          <uuid>fac377d6-9e06-11de-9c36-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/_content/textboxes/]]></target>
            <uuid>d475b922-a11a-11de-9057-dd9f629b113b</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[textbox_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
  </ADETypeConfiguration>
</ADETypeConfigurations>
