/** General **/
.cms-left {
	float: left;
}

.cms-right {
	float: right;
}

.cms-clearer{
    clear: both;
    line-height: 0px;
}

/** Toolbar **/
#toolbar {
	height: 34px;
	position: fixed;
	width: 100%;
	background-color: transparent;
	top: 0;
	left: 0;
	z-index: 10000;
}

#toolbar div.cms-toolbar-background {
	height: 34px;
	width: 100%;
	position: absolute;
	border-top: none;
}

#toolbar div.cms-toolbar-content {
	width: 930px;
	margin: 0 auto;
	position: relative;
}

#toolbar div.ui-widget-shadow {
	height: 34px;
	width: 100%;
	padding: 5px 0px;
	margin-left: 0px;
	position: absolute;
}

#toolbarOverlay {
    height:110%;
    margin:0;
    padding:0;
    position:fixed;
    z-index: 15000;
    width:100%;
    background: #AAAAAA;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    top: -34px;
    left: 0;
}

button {
	margin: 2px 2px 0px 2px;
	width: 32px;
}

#toolbar div.cms-toolbar-content button.cms-button-wide span.cms-button-text
	{
	width: 55px;
	text-align: center;
	margin-top: 5px;
}

#toolbar div.cms-toolbar-content button span {
	width: 24px;
	height: 24px;
	margin: 2px auto;
}

#toolbar div.cms-toolbar-content button.cms-button-wide span {
	float: left;
	margin: 2px 0 0 2px;
}

#toolbar div.cms-toolbar-content button {
	height: 30px;
    cursor: inherit;
}

button.cms-button-wide {
	width: 95px;
}

#show-button {
	position: fixed;
	top: -4px;
	right: 5px;
	width: 25px;
	z-index: 10100;
}

#toolbar button {
	z-index: 10100;
	position: relative;
}

/*   #toolbar button.right {
      float: right;
  }
 */ /** Toolbar buttons **/
div.cms-button {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 20px;
	overflow: hidden;
}

.ui-state-default .cms-icon-logo {
	background-image: url(images/opencms_logo_16.png)
}

.ui-state-default .cms-icon-recent {
	background-image: url(images/24x24/ade_recent_sw.png)
}

.ui-state-default .cms-icon-edit {
	background-image: url(images/24x24/ade_edit_sw.png)
}

.ui-state-default .cms-icon-move {
	background-image: url(images/24x24/ade_move_sw.png)
}

button.cms-deactivated span.cms-icon-reset {
	background-image: url(images/24x24/ade_exit_sw.png)
}

.ui-state-default .cms-icon-delete {
	background-image: url(images/24x24/ade_delete_sw.png)
}

.ui-state-default .cms-icon-add {
	background-image: url(images/24x24/ade_add_sw.png)
}

.ui-state-default .cms-icon-favorites {
	background-image: url(images/24x24/ade_favorites_sw.png)
}

.ui-state-default .cms-icon-new {
	background-image: url(images/24x24/ade_new_sw.png)
}

.ui-state-default .cms-icon-publish {
	background-image: url(images/24x24/ade_publish_sw.png)
}

.ui-state-default .cms-icon-sitemap {
	background-image: url(images/24x24/ade_sitemap_sw.png)
}

button.cms-deactivated span.cms-icon-save {
	background-image: url(images/24x24/ade_save_sw.png)
}

.ui-state-hover span.cms-icon-recent {
	background-image: url(images/24x24/ade_recent.png)
}

.ui-state-hover span.cms-icon-edit {
	background-image: url(images/24x24/ade_edit.png)
}

.ui-state-hover span.cms-icon-move {
	background-image: url(images/24x24/ade_move.png)
}

.ui-state-default .cms-icon-reset {
	background-image: url(images/24x24/ade_exit.png)
}

.ui-state-hover span.cms-icon-delete {
	background-image: url(images/24x24/ade_delete.png)
}

.ui-state-default span.cms-icon-prop, .ui-state-default span.cms-icon-properties {
	background-image: url(images/24x24/ade_prop_sw.png);
}


.ui-state-hover span.cms-icon-prop, .ui-state-hover span.cms-icon-properties {
	background-image: url(images/24x24/ade_prop.png);
}



.ui-state-hover span.cms-icon-add {
	background-image: url(images/24x24/ade_add.png)
}

.ui-state-hover span.cms-icon-favorites {
	background-image: url(images/24x24/ade_favorites.png)
}

.ui-state-hover span.cms-icon-new {
	background-image: url(images/24x24/ade_new.png)
}

.ui-state-hover span.cms-icon-publish {
	background-image: url(images/24x24/ade_publish.png)
}

.ui-state-hover span.cms-icon-sitemap {
	background-image: url(images/24x24/ade_sitemap.png)
}

.ui-state-default .cms-icon-save {
	background-image: url(images/24x24/ade_save.png)
}

.ui-state-active span.cms-icon-edit {
	background-image: url(images/24x24/ade_edit.png)
}

.ui-state-active span.cms-icon-move {
	background-image: url(images/24x24/ade_move.png)
}

.ui-state-active span.cms-icon-delete {
	background-image: url(images/24x24/ade_delete.png)
}

.ui-state-active span.cms-icon-recent {
	background-image: url(images/24x24/ade_recent.png)
}

.ui-state-active span.cms-icon-add {
	background-image: url(images/24x24/ade_add.png)
}

.ui-state-active span.cms-icon-favorites {
	background-image: url(images/24x24/ade_favorites.png)
}

.ui-state-active span.cms-icon-new {
	background-image: url(images/24x24/ade_new.png)
}

.ui-state-active span.cms-icon-publish {
	background-image: url(images/24x24/ade_publish.png)
}

div.cms-subcontainer-start,div.cms-subcontainer-end {
	display: none;
}

/** Highlighting effect **/
div.cms-highlight-container {
	background-color: #AACCFF !important;
}

.cms-hovering,.hovering {
	position: absolute !important;
	overflow: hidden !important;
	margin: 0 !important;
}

/** for 'old' direct edit highlighting **/

.cms-editable  .cms-hovering{
    display: none;
}

.cms-hovering-top,.hovering-top {
	background: transparent url(images/ocms_de_t.gif) repeat scroll 0 50%
		!important;
}

.cms-hovering-top.cms-hover-new {
	 
	background: transparent url(images/ocms_de_t_blue.gif) repeat scroll 0
		50% !important;
}

.cms-hovering-right,.hovering-right {
	background: transparent url(images/ocms_de_r.gif) repeat scroll 0 50%
		!important;
}


.cms-hovering-right.cms-hover-new {
	background: transparent url(images/ocms_de_r_blue.gif) repeat scroll 0
		50% !important;
	width: 2px;
}

.cms-hovering-left,.hovering-left {
	background: transparent url(images/ocms_de_l.gif) repeat scroll 0 50%
		!important;
}

.cms-hovering-left.cms-hover-new {
	background: transparent url(images/ocms_de_l_blue.gif) repeat scroll 0
		50% !important;
}

.cms-hovering-bottom,.hovering-bottom {
	background: transparent url(images/ocms_de_b.gif) repeat scroll 0 50%
		!important;
}

.cms-hovering-bottom.cms-hover-new {
	background: transparent url(images/ocms_de_b_blue.gif) repeat scroll 0
		50% !important;
}

/**.hovered,#still-in-use {
	margin: 2px !important;
}**/

/** sortable placeholder **/
.cms-placeholder {
	border: 2px dotted black;
	visibility: visible !important;
	height: 10px;
	position: relative;
}

.cms-placeholder * {
	visibility: hidden;
}

.cms-overflow-element{
    display: none !important;
}

.cms-menu .cms-placeholder {
	margin: 0 0 2px 10px !important;
	width: 290px !important;
	height: 35px !important;
}

.ui-sortable {
	min-height: 35px;
}

.ui-sortable-helper {
	
}

.cms-helper-border {
	border: 1px solid #aaaaaa;
}

.cms-helper-background {
	background-color: #ffffff;
}

/** Icons and handles **/
div.cms-move {
	background: transparent url(images/16x16/ocms_de_move_i.png) repeat
		scroll 0 50%;
}

.cms-handle {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 20px;
	overflow: hidden;
}

div.cms-handle {
	margin: 0 !important;
	padding: 0 !important;
	height: auto;
	width: auto;
	z-index: 100;
}

div.cms-handle a {
	height: 22px;
	width: 22px;
	display: block;
	float: left;
}

div.cms-handle-reverse a {
    float: right !important;
}

div.ui-widget-header a.ui-corner-all {
	background-color: #eeeeee;
}

div.ui-widget-header a.ui-corner-all:hover {
	background-color: #ffffff;
}

.cms-led-icon {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: transparent url(images/16x16/img_new_.png) repeat scroll 0
		50%;
}

.cms-lock-icon {
	position: absolute;
	top: 17px;
	right: 1px;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: transparent url(images/16x16/img_locked_.png) repeat scroll
		0 50%;
}

.cms-file-icon {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 32px;
	height: 32px;
	overflow: hidden;
	background: transparent url(images/32x32/document_text.png) no-repeat
		scroll center center;
}

.cms-check-icon {
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: transparent url(images/16x16/checkbox_checked_16x16.png)
		repeat scroll 0 50%;
	display: block;
}

span.cms-check-icon-inactive {
	background-image: url(images/16x16/checkbox_empty_16x16.png);
}

.cms-editable .cms-directedit-buttons{
    position: absolute;
    width: 60px;
    height: 20px;
    z-index: 1000;
    display: none;
}

div.cms-editable div.cms-editmode, div.cms-editable div.cms-deletemode{
    display: block;
}

.cms-directedit-buttons a{
    float: right;
    display: none;
    width: 20px;
    height: 20px;
}

.cms-editmode a.cms-edit-enabled, .cms-editmode a.cms-edit-locked, .cms-editmode a.cms-new{
    display: block;
}

.cms-deletemode a.cms-delete{
    display: block;
}

.cms-edit-enabled {
	background: transparent url(images/16x16/ocms_de_editor_i.png) no-repeat
		scroll 50% 50%;
}

div.ui-widget-header a.cms-edit-enabled {
	background-image: url(images/16x16/ocms_de_editor_sw.png);
}

.cms-edit-enabled:hover,div.ui-widget-header a.cms-edit-enabled:hover {
	background-image: url(images/16x16/ocms_de_editor_a.png);
}

.cms-edit-locked {
	background: transparent url(images/16x16/ocms_de_lock_i.png) no-repeat
		scroll 50% 50%;
}

div.ui-widget-header a.cms-edit-locked {
	background-image: url(images/16x16/ocms_de_lock_sw.png);
}

.cms-edit-locked:hover,div.ui-widget-header a.cms-edit-locked:hover {
	background-image: url(images/16x16/ocms_de_lock_a.png);
}

.cms-move {
	background: transparent url(images/16x16/ocms_de_move_i.png) no-repeat
		scroll 50% 50%;
}

div.ui-widget-header a.cms-move {
	background-image: url(images/16x16/ocms_de_move_sw.png);
}

.cms-move:hover,div.ui-widget-header a.cms-move:hover {
	background-image: url(images/16x16/ocms_de_move_a.png);
}



.cms-delete {
	background: transparent url(images/16x16/ocms_de_delete_i.png) no-repeat
		scroll 50% 50%;
}

div.ui-widget-header a.cms-delete {
	background-image: url(images/16x16/ocms_de_delete_sw.png);
}

.cms-delete:hover,div.ui-widget-header a.cms-delete:hover {
	background-image: url(images/16x16/ocms_de_delete_a.png);
}






.cms-properties {
	background: transparent url(images/16x16/ocms_de_prop_i.png) no-repeat scroll 50% 50%;
}

div.ui-widget-header a.cms-properties {
	background-image: url(images/16x16/ocms_de_prop_sw.png);
}

.cms-properties:hover,div.ui-widget-header a.cms-properties:hover {
	background-image: url(images/16x16/ocms_de_prop_a.png);
}

.cms-new{
    background: transparent url(images/16x16/ocms_de_new_i.png) no-repeat scroll 50% 50%;
}

div.ui-widget-header a.cms-new{
    background-image: url(images/16x16/ocms_de_new_sw.png);
}

a.cms-new:hover, div.ui-widget-header a.cms-new:hover {
    background-image: url(images/16x16/ocms_de_new_a.png);
}

.ui-dialog div.cms-dialog {
	padding: 0px;
}

div.cms-dialog {
	display: none;
}

/** List items **/
.cms-item-list li {
	display: block;
	font-weight: normal;
}

.cms-item-list .cms-check-icon,.cms-item-list .cms-delete-icon,.cms-publish-options .cms-check-icon
	{
	margin: 10px 5px 0 0;
	cursor: pointer;
	position: inherit;
}

.cms-item div.ui-state-hover {
	border: none;
	padding-bottom: 1px;
}

/*
.cms-item-list label,.cms-publish-options label {
	float: left;
	padding: 7px 0 3px 5px;
}

ul.cms-item-list,ul.cms-publish-options {
	margin: 10px 0 0 0;
	list-style: none outside;
	padding-bottom: 2px;
}

.cms-item-list ul.options,.cms-dialog ul.cms-publish-options {
	border-top: solid 1px #999999
}
*/
.cms-menu .ui-widget-content,.cms-item .ui-widget-content {
	position: relative;
	width: 290px;
	line-height: 16px;
	margin-bottom: 2px;
}

.cms-item .ui-widget-content .cms-navtext {
	font-weight: bold;
	margin-left: 30px;
	height: 16px;
	overflow: hidden;
}

.cms-item .ui-widget-content .cms-title {
	margin-left: 34px;
}

.cms-item .cms-additional {
	display: none;
	padding: 5px 0 0 4px;
}

.cms-item-list .ui-widget-content .cms-additional span {
	width: 60px;
	overflow: hidden;
	margin-right: 3px;
}

.cms-item-list .ui-widget-content .cms-additional div {
	width: 280px;
	overflow: hidden;
	height: 18px;
	word-wrap: break-word;
}

.cms-item-list .ui-widget-content a.ui-icon {
	cursor: pointer;
}

.cms-item .cms-item-content {
	display: none;
}

.cms-item-list .ui-widget-shadow {
	position: absolute;
}

li.cms-item,ul.options li,ul.cms-publish-options li {
    clear: left;
	list-style: none;
	margin: 0 0 0 10px;
}

#toolbar li.cms-item{
    margin: 0 auto;
    width: 292px;
}

div.cms-menu {
	display: none;
	padding: 0px;
	position: absolute;
}

div.cms-menu div.ui-widget-content,div.cms-menu div.cms-menu-connect {
	background: #AACCFF;
}

div.cms-menu div.ui-widget-content div.ui-widget-content {
	background: #ffffff;
}

div.cms-menu div.ui-corner-bottom {
	width: 343px;
    padding-top: 7px;
}

div.cms-menu div.cms-menu-connect {
	position: absolute;
	right: 0px;
	top: -35px;
	width: 99px;
	height: 36px;
	z-index: 1;
	border: 1px solid #aaaaaa;
	border-bottom: 0px;
}

div.cms-menu button.cms-edit-favorites {
	margin-left: 7px;
	margin-bottom: 7px;
    margin-top: 0px;
	width: 329px;
}

div.ui-widget-overlay {
	position: fixed;
}

#tree-list {
	padding: 0;
	display: none;
	z-index: 13000;
	position: absolute;
	top: 50px;
	left: 200px;
}

#tree-list li.cms-item {
	list-style: none;
	margin: -1px 0 0 8px;
	padding: 1px 0 0 0px;
	background: transparent url(images/leaf__.gif) no-repeat scroll 0 -1px;
}

#tree-list li.last {
	background: transparent url(images/leaf-last.gif) no-repeat scroll -2px
		-1px;
}

#tree-list li.cms-collapsed .cms-collapse-icon {
	background-image: url(images/expandable.gif)
}

#tree-list li.cms-collapsed li.cms-item {
	display: none;
}

/*
li.jTreePlacement, li.jTreePlaceholder {
    list-style: none;
    margin: 0 13px;
    padding: 0px;
    width: 303px;
}
*/
#tree-list .cms-collapse-icon {
	background: transparent url(images/collapsable.gif) no-repeat scroll 0 0
		;
	height: 9px;
	width: 9px;
	position: absolute;
	top: 2px;
	left: -16px;
}

#appendBox,#cms_appendbox {
	position: absolute;
	top: 0px;
	left: 0px;
}

#jHelperTipAttrContainer {
	background: InfoBackground;
	border: 1px solid ButtonShadow;
	color: Infotext;
	padding: 2px;
	display: none;
	z-index: 20000;
	max-width: 500px;
}

.cms-delete-icon {
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: transparent url(images/16x16/ocms_de_delete_a.png) repeat
		scroll 0 50%;
	display: block;
	position: relative;
	top: 6px;
	right: 3px;
}

.cms-scrolling {
	max-height: 300px;
	overflow: auto; 
	width: 328px;
	padding: 2px 0px;
	background-color: #6e9ce0;
	margin-left: 7px;
    margin-bottom: 7px;
    position: relative;
}

.cms-scrolling ul.cms-scrolling-inner {
    margin: 0px;
}

#cms-search div.cms-loading {
    margin-left: 7px;
    margin-bottom: 7px;
}

#cms-search .cms-search-button {
    margin-top: 0px;
	margin-left: 7px;
/*	margin-right: 30px;*/
	margin-bottom: 7px;
	width: 329px;
}

#cms-search div.ui-corner-bottom {
	width: 343px;
}

.cms-menu div.ui-corner-bottom {
	width: 343px;
}


/*
#fav-dialog {
    display: none;
    padding: 0px;
}

#fav-dialog .cms-title {
    white-space: nowrap;
    overflow: hidden;
}
*/
#fav-dialog .cms-item-list .ui-widget-content,#fav-dialog .cms-item .ui-widget-content
	{
	overflow: hidden;
	white-space: nowrap;
}

.cms-menu .connect {
	background: #AACCFF;
	position: absolute;
    left: 0px;
    top: -35px;
    width: 99px;
    height: 36px;
    z-index: 1;
    border: 1px solid #aaaaaa;
    border-bottom: 0px;
}

/*
#recentlist {
    display: none;
    padding: 0px;
    position: absolute;
}


#recentlist div.ui-widget-content, #recentlist div.connect, #recentlist div.cms-menu-connect {
    background: #AACCFF;
}

#recentlist div.ui-widget-content div.ui-widget-content {
    background: #ffffff;
}

#recentlist div.ui-corner-bottom {
    width: 315px;
}

#recentlist div.connect, #recentlist div.cms-menu-connect {
    position: absolute;
    right: 0px;
    top: -35px;
    width: 99px;
    height: 36px;
    z-index: 1;
    border: 1px solid #aaaaaa;
    border-bottom: 0px;
}  */ /**
 * Form styles.
 */
ol.ade-forms {
	float: left;
	list-style: none;
	width: 100%;
}

ol.ade-forms li {
	clear: both;
	float: left;
	margin: 0 0 10px;
	width: 100%;
}

ol.ade-forms label {
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin: 0 10px 0 0;
	width: 90px;
	float: left;
}

ol.ade-forms li.ade-grouping label {
	width: auto;
	float: none;
}

ol.ade-forms span.ade-required {
	color: #f00;
	font-size: 1.154em;
}

ol.ade-forms .ade-error {
	color: #f00;
	display: block;
	margin-left: 30px;
}

ol.ade-forms input,ol.ade-forms textarea {
	font: inherit;
	padding: 2px;
}

ol.ade-forms textarea {
	height: 250px;
}

ol.ade-forms fieldset {
	margin-right: 30px;
	padding: 4px;
}

.cms-subcontainer-item>ul {
	margin-left: 0px !important;
}

.cms-subcontainer-item .cms-item .cms-move {
	display: none;
}

.cms-subcontainer-item {
	border: 1px dashed;
	background-color: #6e9ce0;
	margin-left: 0px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	position: relative;
}

/*#fav-dialog .cms-item {
	position: relative;
}*/
.cms-subcontainer-item>.cms-handle {
	z-index: 10;
}

#cms-new-list .cms-item .ui-widget-content, #cms-appendbox .cms-item .ui-widget-content {
	border: 1px solid #333333;
}
	

#fav-dialog .cms-subcontainer-item { /*border: none !important;*/
	
}

.cms-type-fields {
	max-height: 300px;
	overflow-y: scroll;
}

#cms-new-list .ui-state-hover,#cms-new-list .ui-widget-content .ui-state-hover,#cms-new-list .ui-state-focus,#cms-new-list .ui-widget-content .ui-state-focus 
	{
	background: #E6E6E6 url(images/new_item_background.png) repeat-x scroll
		50% 50% !important;
}


#cms-search-dialog.cms-not-firefox fieldset {
	max-height: 300px;
	overflow-y: scroll;
	position: relative;
}

#cms-search-dialog.cms-not-firefox {
	overflow: hidden;
}

#favorite-drop {
	/*left: 97px;*/
}

#favorite-drop .connect {
	right: 0px !important;
}


.cms-search-type-list {
	max-height: 150px;
	overflow: auto;
	border: 1px solid;
	position: relative;
	width: 250px;
}

#cms-search-dialog {
	overflow: hidden;
}
#toolbar_content .cms-move {
	right: 3px;
	top: 2px;
}	


#cms-property-dialog table td, #cms-property-dialog table th {
	padding: 5px !important;
}
	


