 *{
	    font-family: Helvetica, Arial, sans-serif;        
	}
    
    #cms-gallery-main{ 
       /*  margin: 50px auto; */
       /* width: 650px;*/
        /* border: 2px solid #A9A9A9;*/ 
        font-size: 12px;
        padding: 0px;
        background: #ffffff;
        position: relative;
    }
    
    /* Style Extension for the ui tabs */
    .ui-tabs .ui-tabs-nav li a {       
        padding:3px 5px 4px;
    }
    
    #cms-gallery-tabs {
		height:440px;
		width:650px;
        background: #f9f9f9;
        padding: 0px;
        margin: 0px;
	}
    
    #cms-gallery-tabs .ui-tabs-nav{
        background: #BFBFBF;
        border-bottom: 1px solid #AAAAAA;
	}
    
    #cms-gallery-tabs li.ui-state-active{
        background: #f9f9f9;
    }
    
    /** Styles for the preview*/
    #cms-preview{
        height:439px;
        left:1px;
        position:absolute;
        top:2px;
        width:650px;
        display: none;
        background: #ffffff;
    }
    
    #cms-preview .preview-area{
        height:330px;
        margin:2px;
    }
    
    #cms-preview .preview-area>div{
        margin: 2px;
    }
    
    #cms-preview .edit-area{
        height: 100px;  
        margin: 2px;
    }                 
       
    #cms-preview .close-icon{
        position:absolute;
    right:2px;
    top:2px;
    z-index:2;
    }
       
    div.button-bar button{
        /* Fix for IE to avoid too wide buttons */
        height:24px !important;
        overflow:visible;
        padding:0 10px 2px !important;
        width:auto;
    }
    
    button span.cms-galleries-button{         
        display: inline-block;                
        height: 20px;
        line-height: 20px;   
        width: auto !important;
        margin: 0px !important;     
    }      
    
    button span.cms-galleries-icon-apply{                       
        background: transparent url(images/16x16/apply_in.png) no-repeat scroll left center;              
    }
    
    button:hover span.cms-galleries-icon-apply{                       
        background-image: url(images/16x16/apply.png);              
    }
    
    button span.cms-galleries-icon-publish{                       
        background: transparent url(images/16x16/publish_in.png) no-repeat scroll -2px 0px;              
    }
    
     button:hover span.cms-galleries-icon-publish{                       
        background-image: url(images/16x16/publish.png);              
    }
    
    .cms-icon-text{
        padding-left: 25px;
    }
    
    .cms-text{
        padding-left: 20px;
    }     
    
    span.cms-item-title {
       display: inline-block;
       font-weight:bold;
       width: 100px;
       line-height: 16px;
    }
    
    input.cms-direct-input, input.cms-direct-input:focus, input.cms-direct-input:active {
          border: none;
          background: transparent;
    }
    
    .cms-item-changed {
        color: blue;
    }
    
    .result-tab-scrolling {
        height: 290px;
    }
    
    .criteria-tab-scrolling {
        height: 350px;
    }
    
    /* List for search tabs */
    .cms-list-scrolling {                
        border:1px solid #AAAAAA;       
    /*    overflow:auto; */
        width:600px;
        background: #ffffff;
    }
     
    .cms-list-scrolling-innner {
        margin: 0px;
        padding: 0px;
        height: 100%;
        overflow:auto;
        position: relative;
    }
    
    .cms-item-invisible {
        display: none;
    }
    
    /** Hover and active state for items in the search list */
    li.cms-list-item-active div.cms-list-item { 
        border: 1px solid #fcefa1; 
        background: #fbf9ee url(custom-theme/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; 
        color: #363636; 
    }   
    
    .cms-list div.ui-state-hover, span.cms-drop-down .ui-state-hover{
    	background-image: url(custom-theme/images/ui-bg_glass_75_cccccc_1x400.png);
    }

    .cms-list div.ui-state-default, .cms-drop-down .ui-state-default{
    	background-image: url(custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png);
    }    
   
    .cms-list-item-hover div.cms-list-item { 
        border-color: #5ca718; 
    }
   
    .cms-list-item-active div.cms-list-checkbox,
    .cms-list-item-active { 
       background-position: -7px -210px;
    }
   
   .cms-list-item-hover div.cms-list-checkbox { 
       background-position: -7px -110px;
   }
   
   .cms-list-item-active.cms-list-item-hover div.cms-list-checkbox { 
       background-position: -7px -310px;
   }
    
    /** Input fields */
    input.ui-widget-content{
    	padding: 1px;
    }
    
    /** Result tab */
    #tabs-result .cms-criteria{
    	display:inline-block;
        padding:2px;
        margin: 1px;          
    }
    
           
    .cms-result-criteria {
        margin: 5px 7px 10px 2px; 
    }       
    
    div.cms-search-title {       
        float: left;
        margin-right: 5px; 
        max-width:570px;
        
        /*display:inline-block;
        margin-left:2px;
        margin-right:10px;*/
    }
    
    div.cms-search-remove {
        display: inline-block;        
        /*background:transparent url(../../buttons/exit.png) no-repeat scroll center center;*/
        /*display:inline-block;
        height:19px;
        width:19px;*/
    }
    
    div.cms-search-remove:hover {
        background-color: #a8adb4;
    }
     
    /** Option area over and under the criteria list */
    .cms-list-options{
    	font-size:13px;
        display:inline-block;
        margin: 0px 0px 5px 0px;
        width:600px;
    }           
    
    .cms-list-options span.cms-drop-down {
        float: left;    
    }
    
    .cms-list-options span.cms-ft-search,
    .cms-list-options button.cms-item-right {
        float: right;
    }
    
    .cms-list-options button {
        cursor: pointer;
        width: auto;
    }
    
    .cms-ft-search label, .cms-drop-down label {
        margin-right: 10px;
    }
    
    .cms-drop-down {        
        /* HACK: To force hasLayout: true in IE7 */
        zoom: 1;
    }
    
    .cms-drop-down select {
        width: 150px;
    }
    
    /** Full Text Search tab*/
   
   .cms-search-panel {
        border: 1px solid #AAAAAA;
        height: 378px;
        width: 600px; 
        background: #ffffff;
    }
    
    .cms-search-options {
        display:inline-block;
        margin:10px 2px 10px 7px;
        width:590px;
        position: relative;
    }
    
    .cms-search-options div.cms-checkbox-label {
        float: left; 
        line-height: 32px; 
        margin-right: 10px;
    }
     
    .cms-search-options span.cms-item-left,
    .cms-search-options button.cms-item-left{
        float: left;            
    }
    
    .cms-search-options button.cms-item-left-bottom{
        height:auto !important;
        margin-left:0;
        padding: 2px 10px;
    }
        
    .cms-search-options div.cms-item-left {
        float: left;
        line-height: 32px;
        margin-right: 10px;
    }
        
    .cms-search-options span.cms-item-right,
    .cms-search-options button.cms-item-right {
        float: right;
    }
    
    .cms-search-options button {
        cursor: pointer;
        width: auto;
    }
    
    .cms-search-options span label,
    .cms-search-options label {
        margin-right: 10px;
    }
    
    .cms-input-date input{
        width: 110px;
        margin-right: 20px;
    }
    
    /** Categories levels*/         
   .cms-list.cms-active-level.cms-level-1 {
       margin-left: 33px;
   }
      
   .cms-list.cms-active-level.cms-level-2 {
       margin-left: 66px;
   }
      
   .cms-list.cms-active-level.cms-level-3 {
       margin-left: 99px;
   }
   
    /** Pagination plugin*/
    div.result-pagination {
    	height: 24px;
    	font-weight: bold;
    	text-align: center;
    	padding-top: 3px;
    	display: block;
    }
    
    div.result-pagination a, 
    div.result-pagination a, 
    div.result-pagination span.current, 
    div.result-pagination span.current {
    	margin-right: 6px;
    	padding: 2px 3px;
    	text-decoration: none;
    	display: inline-block;
    } 
    
    div.result-pagination a, 
    div.result-pagination a {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    	border:1px solid #999999;
        color:#222222;
    }
    
    div.result-pagination a:hover, 
    div.result-pagination a:hover {
    	border: 1px solid #999999;
    }
    
    div.result-pagination span.current, 
    div.result-pagination span.current {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    	border: 1px solid #999999;
        background: #CCCCCC;
        color:#222222;    	
    }
    
 
    div.close-icon:hover {
        background-color: #a8adb4;
    }