 *{
	    font-family: Helvetica, Arial, sans-serif;        
	}
    
    #cms-gallery-main{ 
       /*  margin: 50px auto; */
       /* width: 650px;*/
        /* border: 2px solid #A9A9A9;*/ 
        font-size: 12px;
        padding: 0px;
        background: #ffffff;
        position: relative;
    }
    
    /* Style Extension for the ui tabs */
    .ui-tabs .ui-tabs-nav li a {       
        padding:3px 5px 4px;
    }
    
    #cms-gallery-main .ui-tabs-panel, .cms-menu .ui-tabs .ui-tabs-panel{
        padding: 10px;
    }
    
    #cms-gallery-tabs, #menuTabs {
		width:650px;
        background: #f9f9f9;
        padding: 0px;
        margin: 0px;
	}
    
    #cms-gallery-tabs {
		height:487px;
    }
    
    #cms-gallery-tabs .ui-tabs-nav, #menuTabs .ui-tabs-nav{
        background: #AAAAAA url(custom-theme/images/ui-bg_highlight-soft_75_aaaaaa_1x100.png) repeat-x scroll 50% 50%;
        border-bottom: 1px solid #AAAAAA;
        padding-top:8px;
	}
    
    .cms-menu li.ui-tabs-selected{
        background: #f9f9f9;
    }
    
    /** Styles for the preview and crop html*/
    #cms-preview,
    #cms-image-crop{        
        height:486px;
        left:1px;
        position:absolute;
        top:2px;
        width:650px;
        display: none;
        background: #ffffff;
        z-index: 2;
    }
    
    #cms-preview .preview-area{
        background: #F9F9F9 none repeat scroll 0 0;
        height:364px;
        margin: 1px;
    }
    
    #cms-preview .preview-area>div{
        margin: 1px;
    }
    
    #cms-editable-tabs{
        background: #F9F9F9 none repeat scroll 0 0;
        height: 115px;          
        margin: 1px;
        padding: 0px;
    }
    
    #cms-editable-tabs.ui-tabs .ui-tabs-nav {
       border-left:medium none;
       border-right:medium none;
       border-top:medium none;
       padding:0.1em 0.1em 0; 
    }
           
    #cms-editable-tabs.ui-tabs .ui-tabs-nav li {    
        margin:0 0.05em -1px 0;    
    }
    
    .ui-tabs .ui-tabs-nav li.ui-tabs-selected {    
        padding-bottom:0;
    }    
    
    #cms-editable-tabs.ui-tabs .ui-tabs-nav li a {
        padding:1px 4px 2px;
    }
    
    #cms-editable-tabs.ui-tabs .ui-tabs-panel {
       padding:0.3em 0.15em 0.3em 0.5em;
    }
    
    #cms-editable-tabs.ui-state-active, .ui-widget-content .ui-state-active {
        background:#F9F9F9 none repeat scroll 0 0;
    }
    
    #tabs-edit-area {
        height: 85px;
    }     
      
    .edit-area span{
        font-size: 12px;
    }                 
       
    #cms-preview .close-icon{
        position:absolute;
        right:2px;
        top:2px;
        z-index:2;
    }
    
    div.button-bar.cms-top-bottom{
        margin-top: 4px;
        margin-bottom: 5px;
    } 
    
    div.button-bar.cms-top{
        margin-top: 5px;
    }              
    
    #cms-preview button {
        margin: 0 0 0 2px;
        padding: 0 3px;
        /* Fix for IE to avoid too wide buttons */
        height:23px !important;        
        padding: 0 3px 2px !important;
        width:auto;
        overflow:visible;
    }
        
    
    div.button-bar span.cms-title {
        font-size:14px;
        font-weight:bold;  
        line-height:24px;        
    }
           
    
    div.button-bar button[disabled=true]{
        color:#999999;
    }
    
    button span.cms-galleries-button{                      
        /*height:20px;
        line-height:20px;*/        
        height:19px;
        line-height:18px;   
        width: auto !important;
        margin: 0px !important;     
    }      
    
    button span.cms-galleries-icon-apply{                       
        background: transparent url(images/16x16/apply_in.png) no-repeat scroll left center;              
    }
    
    button:hover span.cms-galleries-icon-apply{                       
        background-image: url(images/16x16/apply.png);              
    }
    
    button span.cms-galleries-icon-publish{                       
        background: transparent url(images/16x16/publish_in.png) no-repeat scroll -2px 0px;              
    }
    
     button:hover span.cms-galleries-icon-publish{                       
        background-image: url(images/16x16/publish.png);              
    }
    
    button span.cms-galleries-icon-reset{                       
        background: transparent url(images/16x16/reset.gif) no-repeat scroll left center;          
    }
    
    button span.cms-galleries-icon-locked{                       
        background: transparent url(images/16x16/locked.gif) no-repeat scroll left center;                          
    }
    
    button span.cms-galleries-icon-unlocked{                       
        background: transparent url(images/16x16/unlocked.gif) no-repeat scroll left center;              
    }
    
    button span.cms-galleries-icon-crop{                       
        background: transparent url(images/16x16/crop.png) no-repeat scroll left center;              
    }       
    
    button span.cms-galleries-icon-cropremove{                       
        background: transparent url(images/16x16/cropremove.png) no-repeat scroll left center; 
    }
    
    button span.cms-galleries-icon-moveup{                       
        background: transparent url(images/16x16/move_up_in.png) no-repeat scroll left center;  
        padding-left: 20px;            
    }
    
    button span.cms-galleries-icon-movedown{                       
        background: transparent url(images/16x16/move_down_in.png) no-repeat scroll left center;
        padding-left: 20px;              
    }
    
    button:hover span.cms-galleries-icon-moveup{                       
        background-image:url(images/16x16/move_up.png);              
    }
    
    button:hover span.cms-galleries-icon-movedown{                       
        background-image: url(images/16x16/move_down.png);              
    }
    
    .cms-icon-text{
        padding-left: 25px;
    }
    
    .cms-icon{
        padding-left: 10px;
    }
    
    .cms-text{
        padding-left: 20px;
    }     
    
    /** Editable properties in the edit area. */
   
    .edit-form {
        margin-top:3px;
    } 
    
    .edit-advanced-form {
        margin-top:3px;
    }     
    
    .cms-scrolling-properties {
        margin: 0px;
        padding: 0px;
        height: 57px;
        overflow:auto;
        position: relative;
    }
    
    .edit-format-area span.cms-item-title{
        display: inline-block;
        font-weight:bold;
        line-height: 20px;
        margin-right: 7px;
    }
    
    .edit-format-area label.cms-item-title{
        display: inline-block;
        font-weight:bold;
        line-height: 20px;
    }
    
    .edit-area span.cms-item-title,    
    div.cms-item-title {
        display: inline-block;
        font-weight:bold;
        line-height: 16px;
        margin-right: 10px;
    }
    
    .edit-form .cms-editable-field {
        margin: 2px 0px 2px 0px;        
         width: 300px;
    }
    
    .edit-advanced-form .cms-editable-field {
		margin:2px 0;
	}
    
    .cms-scrolling-editor-advanced {
        margin: 0px;
        padding: 0px;
        height: 90px;
        overflow:auto;
        position: relative;
    }
    
    span.cms-checkbox-label,
    div.cms-checkbox-label {        
        margin-top:5px;     
        margin-left: 5px;
    }
    
    div.cms-header-small {       
       font-weight:bold;
    }
    
    .cms-clear-left {
        clear:left;
    }
    
    .cms-clear-right {
        clear:right;
    }
    
    div.cms-format-line {
        margin: 0px 0px 6px 0px;
    }        
    
    /*div.cms-editable-field input,*/
    div.cms-format-line input {
        height: 19px;
        vertical-align: top;
        width: 50px;
        text-align: right;
    }
    
    .cms-width-50 {
        width:  50px;
    }
    
    .cms-width-60 {
        width:60px;
    }
    
    .cms-width-80 {
        width:  80px;
    }
    
    .cms-width-300 {
		width:300px;
	}
    
    .cms-width-305{
		width:305px;
	}
    
    .cms-width-320 {
		width:320px;
	}
    
    .cms-width-390 {
		width:390px;
	}
    
    .cms-width-400 {
		width:400px;
	}
	
	.cms-width-200 {
		width:200px;
	}
    
    .cms-width-230 {
		width:230px;
	}
	
	.cms-width-600 {
		width:600px;
	}
    
    .cms-width-620 {
		width:620px;
	}
	
	.cms-width-500 {
		width:500px;
	}
    
    .cms-width-450 {
		width:450px;
	}
	
	.cms-width-95 {
		width:150px;
	}
    
    .cms-width-100 {
		width:100px;
	}
    
    .cms-width-150 {
		width:150px;
	}
	
	.cms-width-80 {
       width:  80px;
    }
			
    
    .cms-item-edit {
        overflow: hidden;
        height: 16px;
        /*width:  200px;*/
    }
    
    .cms-item-edit-middle {
        overflow: hidden;
        height: 16px;
        width:  400px;
    }
    
    
    .checkbox-margin {        
        margin-left: 15px;
        margin-right:5px;
    }
    
    .cms-editor-title{        
        line-height: 24px;
    }
    
    .cms-checkbox-title{        
        line-height: 26px;
        font-weight:bold;        
    }
        
    input.cms-direct-input, input.cms-direct-input:focus, input.cms-direct-input:active {
          border: none;
          background: transparent;
          overflow: visible;
          display: inline;
    }
    
    .cms-item-changed {
        color: blue;
    }
    
    .cms-drop-down button {
        vertical-align:middle;    
    }
    
    .cms-drop-down div.cms-selectbox {
        vertical-align:middle;
    }
    
    .result-tab-scrolling {
        height: 290px;
    }
    
    .criteria-tab-scrolling {
        height: 398px;
    }
    
    /* List for search tabs */
    .cms-list-scrolling {                
        border:1px solid #AAAAAA;       
        background: #ffffff;
    }
     
    .cms-list-scrolling-inner {
        margin: 0px;
        padding: 0px;
        height: 100%;
        overflow:auto;
        position: relative;
    }
	#menuTabs .cms-list-scrolling-inner{
        min-height: 35px;
    }
    .cms-item-invisible {
        display: none;
    }
    
    

    /** Input fields */
    input.ui-widget-content{
    	padding: 1px;
    }
    
    /** Result tab */
    #tabs-result .cms-criteria{
    	display:inline-block;
        padding:2px;
        margin: 1px 0px;          
    }
    
           
    .cms-result-criteria {
        margin:0 0 5px;
    }       
    
    div.cms-search-title {       
        float: left;
        margin-right: 5px; 
        max-width:570px;
        
        /*display:inline-block;
        margin-left:2px;
        margin-right:10px;*/
    }
    
    div.cms-search-remove {
        display: inline-block;        
        /*background:transparent url(../../buttons/exit.png) no-repeat scroll center center;*/
        /*display:inline-block;
        height:19px;
        width:19px;*/
    }
    
    div.cms-search-remove:hover {
        background-color: #a8adb4;
    }
     
    /** Option area over and under the criteria list */
    .cms-list-options{
    	font-size:13px;
        display:inline-block;
        margin: 0px 0px 5px 0px;
    }           
    
    .cms-list-options span.cms-drop-down {
        float: left;    
    }
    
    .cms-list-options span.cms-ft-search,
    .cms-list-options button.cms-item-right {
        float: right;
    }
    
    .cms-list-options button {
        cursor: pointer;
        width: auto;
    }
    
    .cms-ft-search label, .cms-drop-down label {
        margin-right: 5px;
    }
    
    .cms-drop-down {        
        /* HACK: To force hasLayout: true in IE7 */
        zoom: 1;
    }
    
    .cms-drop-down select {
        width: 150px;
    }
    
    /** Full Text Search tab*/
   
   .cms-search-panel {
        border: 1px solid #AAAAAA;
        height: 429px;
        background: #ffffff;
    }
    
    .cms-search-options {
        display:inline-block;
        margin:10px 2px 10px 7px;
        width:590px;
        position: relative;
    }
    
    .cms-search-options div.cms-checkbox-label {
        float: left; 
        line-height: 32px; 
        margin-right: 10px;
    }
     
    .cms-search-options span.cms-item-left,
    .cms-search-options button.cms-item-left{
        float: left;            
    }
    
    .cms-search-options button.cms-item-left-bottom{
        height:auto !important;
        margin-left:0;
        padding: 2px 10px !important;
    }
        
    .cms-search-options div.cms-item-left {
        float: left;
        line-height: 32px;
        margin-right: 10px;
    }
        
    .cms-search-options span.cms-item-right,
    .cms-search-options button.cms-item-right {
        float: right;
    }
    
    .cms-search-options button {
        cursor: pointer;
        width: auto;
    }
    
    .cms-search-options span label,
    .cms-search-options label {
        margin-right: 10px;
    }
    
    .cms-input-date input{
        width: 110px;
        margin-right: 20px;
    }
    
    /** Categories levels*/         
   .cms-list.cms-active-level.cms-level-1 {
       margin-left: 33px;
   }
      
   .cms-list.cms-active-level.cms-level-2 {
       margin-left: 66px;
   }
      
   .cms-list.cms-active-level.cms-level-3 {
       margin-left: 99px;
   }
      
    /** Pagination plugin*/
    div.result-pagination {
    	height: 24px;
        font-size: 12px;
    	font-weight: bold;
    	text-align: center;
    	margin-top: 3px;
    	display: block;
    }
    
    div.result-pagination a, 
    div.result-pagination a, 
    div.result-pagination span.current, 
    div.result-pagination span.current {
    	margin-right: 6px;
    	padding: 2px 3px;
    	text-decoration: none;
    	display: inline-block;
    } 
    
    div.result-pagination a, 
    div.result-pagination a {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    	border:1px solid #999999;
        color:#222222;
    }
    
    div.result-pagination a:hover, 
    div.result-pagination a:hover {
    	border: 1px solid #999999;
    }
    
    div.result-pagination span.current, 
    div.result-pagination span.current {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    	border: 1px solid #999999;
        background: #CCCCCC;
        color:#222222;    	
    }
    
 
    div.close-icon:hover {
        background-color: #a8adb4;
    }