@external html-face, cms_ade_groupcontainer, cmsState, cmsState-up, cmsState-up-hovering, cmsState-up-disabled, cmsState-down, cmsState-down-hovering, cmsState-down-disabled, gwt-TabLayoutPanel;

.showButtons, .hideButtons{}

body.forceScrollbar{
	overflow-y: scroll;
}

.menuTabContainer{
	height: 486px;
}

.menuTabContainer > div >.gwt-TabLayoutPanel, .menuTabContainer > div{
	border: none;
}

.menuTabContainer ul.clipboardList {
	overflow: auto;
	/* position relative is required to hide overflowing content caused by layout bug in IE7 */
	position: relative;
	border: 1px solid value("constants.css.borderColor");
	padding: 0 2px;
	background: value("constants.css.backgroundColorDialog");
}
ul.clipboardList{
	height: 441px;
}

.clipboardList > div  {
	margin: 2px;
}

/** hiding buttons in clip-board menu while dragging **/
.dragStarted .clipboardList .cmsState, .dragStarted div.directEditButtons, 
.cms_ade_groupcontainer.hideElements .hiddenElement, .dragStarted .cms_ade_groupcontainer .hiddenElement{
	display:none;
}


div.optionBar{
	border: 1px solid transparent;
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: value("constants.css.zIndexInline");
	margin: 0 0 2px 0;
	padding: 0;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: right;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}

.toolbarSelection div.expired, .dragging div.expired, .toolbarAdd div.expired, .toolbarClipboard div.expired{
	display: block;
}

/** Force scroll-bar as long as direct edit buttons are visible to avoid any flickering when elements highlighted. */
body.toolbarSelection{
	overflow-y: scroll;
}


div.expired{
	display: none;
}

@sprite .expired div.expiredOverlay, .hiddenElement div.hiddenElementOverlay{
	gwt-image: 'otherImages.invalidElement';
	position: absolute;
	height: auto;
	width: auto;
	top:2px;
	right: 2px;
	left: 2px;
	bottom: 2px;
}

@if user.agent ie6 {
	.expired div.expiredOverlay, .hiddenElement div.hiddenElementOverlay {
		filter: literal("alpha(opacity = 60)");
	}
} @elif user.agent ie8 {
	.expired div.expiredOverlay, .hiddenElement div.hiddenElementOverlay {
		-ms-filter: "alpha(opacity = 60)";
	}
} @else {
	.expired div.expiredOverlay, .hiddenElement div.hiddenElementOverlay {
        opacity: 0.6;
	}
}

div.toolbarToggle{
	position: fixed;
	left: 97%;
	top: -3px;
	padding: 3px 3px 1px 3px;
	z-index: value("constants.css.zIndexPopup");
}

.toolbarToggle, .toolbarToggle *, div.optionBar .cmsState, div.optionBar .html-face, div.optionBar span{
	margin: 0;
	padding: 0;
	border: none;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}

.toolbarSelection .optionBar.cmsHovering{
	height: auto;
	border: 1px solid value("constants.css.borderColor");
	border-radius: value("constants.css.borderRadius");
	background: value("constants.css.backgroundColorDialog");
}

.optionBar div.cmsState{
	display: none;
}

.dragStarted .optionBar, .dragPlaceholder .optionBar, 
.groupcontainerEditor .cms_ade_groupcontainer .dragPlaceholder .optionBar, .groupcontainerEditing .optionBar, 
.cms_ade_groupcontainer .dragElement .optionBar{
	display: none;
}
@sprite .emptyGroupContainer{
	min-height: 27px;
	gwt-image: 'otherImages.placeholderImage';
	border: 1px solid value("constants.css.borderColor");
}

div.groupcontainerPlaceholder{
	position:relative;
	/** Take the same color for text as for the background to make the text invisible. */
	color: value("constants.css.backgroundColorDialog");
	background: value("constants.css.backgroundColorDialog");
	border: none;
}
.groupcontainerPlaceholder *{
	visibility: hidden !important;
}

@sprite .groupcontainerOverlay{
	gwt-image: 'otherImages.placeholderImage';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: value("constants.css.zIndexHighlighting");
}

.groupcontainerEditor .cms_ade_groupcontainer .optionBar{
	display: block;
}

.groupcontainerEditing .emptyGroupContainer, .toolbarSelection .dragging .optionBar.cmsHovering{
	background: transparent;
	border: none;
}

.dragStarted .dragElement.dragging .optionBar{
	display: block;
}

.toolbarSelection .dragging .optionBar .toolbarClipboard,
.toolbarSelection .dragging .optionBar .toolbarRemove, 
.toolbarSelection .dragging .optionBar .toolbarEdit, 
.toolbarSelection .dragging .optionBar .toolbarNew, 
.toolbarSelection .dragging .optionBar .toolbarProperties, 
.toolbarSelection .dragging .optionBar .toolbarInherited,
.toolbarSelection .dragging .optionBar .toolbarInfo{
	visibility: hidden;
}

@if user.agent ie6 {
	.toolbarSelection .optionBar .toolbarSelection,
	.toolbarSelection .optionBar.cmsHovering .cmsState{
		display: inline;
	}
} @else {
	.toolbarSelection .optionBar .toolbarSelection,
	.toolbarSelection .optionBar.cmsHovering .cmsState{
		display: inline-block;
	}
}
@sprite .optionBar .cmsState-up-hovering .toolbarClipboard, .optionBar .cmsState-down-hovering .toolbarClipboard, .optionBar .cmsState-down .toolbarClipboard {
    gwt-image: "images.favoriteIconActive";
}
@sprite .optionBar .cmsState-up .toolbarClipboard, .optionBar .cmsState-up-disabled .toolbarClipboard, .optionBar .cmsState-down-disabled .toolbarClipboard {
    gwt-image: "images.favoriteIconDeactivated";
}
@sprite .optionBar .cmsState-up-hovering .toolbarRemove, .optionBar .cmsState-down-hovering .toolbarRemove, .optionBar .cmsState-down .toolbarRemove {
    gwt-image: "images.removeIconActive";
}
@sprite .optionBar .cmsState-up .toolbarRemove, .optionBar .cmsState-up-disabled .toolbarRemove, .optionBar .cmsState-down-disabled .toolbarRemove {
    gwt-image: "images.removeIconDeactivated";
}
@sprite .optionBar .cmsState-up-hovering .toolbarDelete, .optionBar .cmsState-down-hovering .toolbarDelete, .optionBar .cmsState-down .toolbarDelete {
    gwt-image: "images.deleteIconActive";
}
@sprite .optionBar .cmsState-up .toolbarDelete, .optionBar .cmsState-up-disabled .toolbarDelete, .optionBar .cmsState-down-disabled .toolbarDelete {
    gwt-image: "images.deleteIconDeactivated";
}

@sprite .optionBar .cmsState-up-hovering .toolbarEdit, .optionBar .cmsState-down-hovering .toolbarEdit, .optionBar .cmsState-down .toolbarEdit {
    gwt-image: "images.editIconActive";
}
@sprite .optionBar .cmsState-up .toolbarEdit{
    gwt-image: "images.editIconDeactivated";
}


@sprite .optionBar .cmsState-up-hovering .toolbarEdit.lockedElement, .optionBar .cmsState-down-hovering .toolbarEdit.lockedElement, .optionBar .cmsState-down .toolbarEdit.lockedElement {
    gwt-image: "images.lockIconActive";
}
@sprite .optionBar .cmsState-up .toolbarEdit.lockedElement{
    gwt-image: "images.lockIconDeactivated";
}


/** show lock icon for deactivated edit button **/
@sprite .optionBar .cmsState-up-disabled .toolbarEdit, .optionBar .cmsState-down-disabled .toolbarEdit {
	gwt-image: "images.lockIconDeactivated";
}
@sprite .optionBar .toolbarMove.cmsState-up-hovering .toolbarSelection, .optionBar .toolbarMove.cmsState-down-hovering .toolbarSelection, .optionBar .toolbarMove.cmsState-down .toolbarSelection {
    gwt-image: "images.moveIconActive";
}
@sprite .optionBar .cmsState-up-hovering .toolbarNew, .optionBar .cmsState-down-hovering .toolbarNew, .optionBar .cmsState-down .toolbarNew {
    gwt-image: "images.addIconActive";
}
@sprite .optionBar .cmsState-up .toolbarNew, .optionBar .cmsState-up-disabled .toolbarNew, .optionBar .cmsState-down-disabled .toolbarNew {
    gwt-image: "images.addIconDeactivated";
}
@sprite .optionBar .cmsState-up-hovering .toolbarProperties, .optionBar .cmsState-down-hovering .toolbarProperties, .optionBar .cmsState-down .toolbarProperties {
    gwt-image: "images.propertyIconActive";
}
@sprite .optionBar .cmsState-up .toolbarProperties, .optionBar .cmsState-up-disabled .toolbarProperties, .optionBar .cmsState-down-disabled .toolbarProperties {
    gwt-image: "images.propertyIconDeactivated";
}

@sprite .optionBar .cmsState-up-hovering .toolbarInfo, .optionBar .cmsState-down-hovering .toolbarInfo, .optionBar .cmsState-down .toolbarInfo {
    gwt-image: "images.infoIconActive";
}

@sprite .optionBar .cmsState-up .toolbarInfo, .optionBar .cmsState-up-disabled .toolbarInfo, .optionBar .cmsState-down-disabled .toolbarInfo {
    gwt-image: "images.infoIconDeactivated";
}

@sprite .optionBar .cmsState-up-hovering .toolbarSelection, .optionBar .cmsState-down-hovering .toolbarSelection, .optionBar .cmsState-down .toolbarSelection {
    gwt-image: "images.selectionIconActive";
}
@sprite .optionBar .cmsState-up .toolbarSelection, .optionBar .cmsState-up-disabled .toolbarSelection, .optionBar .cmsState-down-disabled .toolbarSelection {
    gwt-image: "images.selectionIconDeactivated";
}

@sprite .optionBar .cmsState-up-hovering .toolbarInherited, .optionBar .cmsState-down-hovering .toolbarInherited, .optionBar .cmsState-down .toolbarInherited {
    gwt-image: "images.subSitemapIcon";
}
@sprite .optionBar .cmsState-up .toolbarInherited, .optionBar .cmsState-up-disabled .toolbarInherited, .optionBar .cmsState-down-disabled .toolbarInherited {
    gwt-image: "images.subSitemapIconDeactivated";
}


@eval enlargedMinHeight org.opencms.ade.containerpage.client.ui.CmsSmallElementsHandler.getNecessaryHeight();

.enlargeSmallElements .smallElement {
	min-height: enlargedMinHeight; 
}

.ignoreSmallElements .smallElement .optionBar {
	visibility: hidden; 
}

.elementInfoChanged {} 
.elementInfoUnchanged {}


