@external opencms-icon, opencms-icon-edit-point, html-face, cms_ade_groupcontainer, cmsState, cmsState-up, cmsState-up-hovering, cmsState-up-disabled, cmsState-down, cmsState-down-hovering, cmsState-down-disabled, gwt-TabLayoutPanel;

.showButtons, .hideButtons, .elementInfoChanged, .elementInfoUnchanged, .editableElement {}

.menuTabContainer > div >.gwt-TabLayoutPanel, .menuTabContainer > div{
	border: none;
}

.menuTabContainer div.clipboardList {
	border: 1px solid value("constants.css.borderColor");
	background: value("constants.css.backgroundColorDialog");
	position: absolute;
	top: 6px;
	bottom:	6px;
	left: 6px;
	right: 6px;
}

.menuTabContainer div.clipboardList ul{
	min-height: 82px;
	padding: 0 2px;
}

.clipboardList ul > div  {
	margin: 2px;
}

/** hiding buttons in clip-board menu while dragging **/
.dragStarted .clipboardList .cmsState, .dragStarted div.directEditButtons, 
.cms_ade_groupcontainer.hideElements .hiddenElement, .dragStarted .cms_ade_groupcontainer .hiddenElement{
	display:none;
}


.dragElement div.optionBar{
	border: 1px solid transparent;
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: value("constants.css.zIndexInline");
	margin: 0 0 2px 0;
	padding: 0;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: right;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}

.dragElement div.optionBar, .dragElement div.optionBar *{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.editButtonsVisible div.expired, .dragging div.expired{
	display: block;
}

div.expired{
	display: none;
}

.expired div.expiredOverlay, .hiddenElement div.hiddenElementOverlay{
	background-image: value("constants.css.gradientInvalid");
	position: absolute;
	height: auto;
	width: auto;
	top:2px;
	right: 2px;
	left: 2px;
	bottom: 2px;
}

div.expiredListElementOverlay{
	background-image: value("constants.css.gradientInvalid");
	box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	position: absolute;
	z-index: 1;
}

.expired div.expiredOverlay, .hiddenElement div.hiddenElementOverlay, div.expiredListElementOverlay {
        opacity: 0.6;
}

.expired div.expiredOverlay, div.expiredListElementOverlay {
	pointer-events: none; 
}



div.toolbarToggle{
	position: fixed;
	left: 97%;
	top: -3px;
	padding: 3px 3px 1px 3px;
	z-index: value("constants.css.zIndexPopup");
}

div.optionBar .cmsState, div.optionBar .html-face, div.optionBar span{
	margin: 0;
	padding: 0;
	border: none;
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}

.editButtonsVisible div.optionBar.cmsHovering{
	height: auto;
	border: 1px solid value("constants.css.borderColor");
	border-radius: value("constants.css.borderRadius");
	background: value("constants.css.backgroundColorDialog");
}

.optionBar div.cmsState{
	display: none;
}

.dragStarted .optionBar, .dragPlaceholder .optionBar, 
.groupcontainerEditor .cms_ade_groupcontainer .dragPlaceholder .optionBar, .groupcontainerEditing .optionBar, 
.cms_ade_groupcontainer .dragElement .optionBar{
	display: none;
}
.emptyGroupContainer{
	min-height: 27px;
	background-image: value("constants.css.gradientInvalid");
	border: 1px solid value("constants.css.borderColor");
}

div.groupcontainerPlaceholder{
	position:relative;
	/** Take the same color for text as for the background to make the text invisible. */
	color: value("constants.css.backgroundColorDialog");
	background: value("constants.css.backgroundColorDialog");
	border: none;
}
.groupcontainerPlaceholder *{
	visibility: hidden !important;
}

.groupcontainerOverlay{
	background-image: value("constants.css.gradientPlaceholder");
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: value("constants.css.zIndexHighlighting");
	opacity: 0.2;
}

.groupcontainerEditor .cms_ade_groupcontainer .optionBar{
	display: block;
}

.groupcontainerEditing .emptyGroupContainer, .editButtonsVisible .dragging div.optionBar.cmsHovering{
	background: transparent;
	border: none;
}

.editButtonsVisible .optionBar .cmsState:last-child,
.editButtonsVisible .optionBar.cmsHovering .cmsState{
	display: inline-block;
}

.optionBar .opencms-icon span.lockedElement.opencms-icon-edit-point:before{
	content: "\e90d";
	opacity: 1;
	background: transparent;
}

.optionBar .opencms-icon .opencms-icon-edit-point:before, .optionBar div.opencms-icon.cmsState-up-disabled .opencms-icon-edit-point:before {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNjAiIGhlaWdodD0iMTYwIiB2aWV3Qm94PSIwIDAgMTYwIDE2MCI+DQogIDxwYXRoIGQ9Ik0xMTYgMTcuN2E3MiA3MiAwIDAgMSAyNi4zIDk4LjRBNzIgNzIgMCAwIDEgNDQgMTQyLjUgNzIgNzIgMCAwIDEgMTcuNiA0NCA3MiA3MiAwIDAgMSAxMTYgMTcuNyIvPg0KICA8cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTA0IDM4LjVhNDggNDggMCAwIDEgMTcuNSA2NS41QTQ4IDQ4IDAgMCAxIDU2IDEyMS41IDQ4IDQ4IDAgMCAxIDM4LjUgNTYgNDggNDggMCAwIDEgMTA0IDM4LjQiLz4NCiAgPHBhdGggZD0iTTkyIDU5LjJhMjQgMjQgMCAwIDEgOC44IDMyLjggMjQgMjQgMCAwIDEtMzIuOCA4LjhBMjQgMjQgMCAwIDEgNTkuMiA2OCAyNCAyNCAwIDAgMSA5MiA1OS4yIi8+DQo8L3N2Zz4=");
	background-size: 100% 100%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    opacity: 0.45;
}

.optionBar.cmsHovering .opencms-icon .opencms-icon-edit-point:before {
	background: transparent;
	content: "\e901";
	opacity: 1;
}

@eval enlargedMinHeight org.opencms.ade.containerpage.client.ui.CmsSmallElementsHandler.getNecessaryHeight();

.enlargeSmallElements .smallElement {
	min-height: enlargedMinHeight; 
}

.ignoreSmallElements .smallElement .optionBar {
	visibility: hidden; 
}