.dragElement{
	position: relative;
}

.dragging div.dragHandle{
	position: absolute;
	z-index: value("constants.css.zIndexInline");
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	padding: 2px;
	text-align: right;
	cursor: pointer;
}

.dragging iframe{
		visibility: hidden !important;
}

.dragStarted, .dragPlaceholder{}



.currentTarget{
	position: relative;
}

.dragTarget.dragging{
	min-height: 25px;
}
.dragTarget.dragging:empty{
	margin-bottom: 10px;
}

/** Following is a clear-fix for containers with floated content, forcing the container to enclose its content.
    @see http://www.positioniseverything.net/easyclearing.html */
.dragTarget.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.dragElementBackground{
	background-color: value("constants.css.backgroundColorDialog");
}
.dragElementBorder{
	border: 1px solid value("constants.css.borderColor");
}
.dragGroupContainer{}

.overlayShow .placeholderOverlay{
	display: block;
}

.dragOverlay{
	position: fixed;
	z-index: value("constants.css.zIndexPopup");
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: transparent;
}
@if user.agent ie6 {
	.dragOverlay {
		filter: literal("progid:DXImageTransform.Microsoft.Alpha( Opacity=0, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100)");
	}
} @elif user.agent ie8 {
	.dragOverlay {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Opacity=0, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100)";
	}
} @else {
	.dragOverlay{
		opacity: 0;
	}
}

@sprite .placeholderOverlay{
	gwt-image: 'otherImages.placeholderImage';
	display: none;
	position:absolute;
	z-index: value("constants.css.zIndexInline");
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	
}


@if user.agent gecko1_8 gecko{
	
	/** Assigned to the body on drag start. */
	body.dragStarted{
		overflow-y: scroll;
	}
} @elif user.agent safari {
	
	/** Assigned to the body on drag start. */
	body.dragStarted{
		overflow-y: scroll;
	}
} @elif user.agent opera {

	/** Assigned to the body on drag start. */
	body.dragStarted{
		overflow-y: scroll;
	}
} @elif user.agent ie6 {
	
	.dragTarget.dragging{
		zoom: 1;
	}
	.currentTarget{
		z-index: value("constants.css.zIndexInline");
	}
} @elif user.agent ie8 {

/** Assigned to the body on drag start. */
	body.dragStarted{
		overflow-y: scroll;
	}
	
	.dragTarget.dragging{
		zoom: 1;
	}
	.currentTarget{
		z-index: value("constants.css.zIndexInline");
	}
}