.editor{}
.dialog{
	width: 460px;
	border: 1px solid value("constants.css.borderColor");
	background: value("constants.css.backgroundColorDialog");
}
.inputRow{
	height: 25px;
	overflow: hidden;
}
.inputLabel{
	font-weight: bold;
	vertical-align: middle;
	width: 150px;
}
.inputBox{
	vertical-align: middle;
	width: 300px;
}
.containerMarker{
	background: #ffffff;
	border: 1px solid value("constants.css.borderColor");
	position: absolute;
	z-index: value("constants.css.zIndexHighlighting");
}

.inputBox, .inputLabel{
	display: inline-block;
}
