<?xml version="1.0" encoding="UTF-8"?>

<PhotoAlbumConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.frontend.photoalbum/schemas/photoalbum.xsd">
  <PhotoAlbumConfiguration language="en">
    <Title><![CDATA[The best images of sausage]]></Title>
    <VfsFolder>
      <link type="WEAK">
        <target><![CDATA[/sites/default/demo_en/images/]]></target>
        <uuid>734d213b-e549-11dc-8457-51cb880fd12a</uuid>
      </link>
    </VfsFolder>
    <AlignNavigation><![CDATA[left]]></AlignNavigation>
    <NavigationPosition><![CDATA[b_b]]></NavigationPosition>
    <ShowResourceNameAsTitle>false</ShowResourceNameAsTitle>
    <Thumbs>
      <ShowTitle>true</ShowTitle>
      <AlignTitle><![CDATA[left]]></AlignTitle>
      <Cols><![CDATA[4]]></Cols>
      <Rows><![CDATA[3]]></Rows>
      <HighQuality>false</HighQuality>
      <Size><![CDATA[150x113]]></Size>
      <Filter><![CDATA[none]]></Filter>
      <Background>#FFFFFF</Background>
      <TextTop name="TextTop0">
        <links/>
        <content><![CDATA[<p>Get hungry by looking at a tasty wurst !</p>]]></content>
      </TextTop>
      <TextBottom name="TextBottom0">
        <links/>
        <content><![CDATA[<p><a href="">Image sources and licenses</a>.</p>]]></content>
      </TextBottom>
    </Thumbs>
    <Details>
      <ShowTitle>true</ShowTitle>
      <ShowDescription>true</ShowDescription>
      <AlignTitle><![CDATA[left]]></AlignTitle>
      <ShowLinkOriginal>false</ShowLinkOriginal>
      <Size><![CDATA[600x450]]></Size>
      <Filter><![CDATA[none]]></Filter>
      <Background>#FFFFFF</Background>
    </Details>
  </PhotoAlbumConfiguration>
</PhotoAlbumConfigurations>
