<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="de">
    <element name="body">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/sites/default/demo_de/bilder/Simplicissimus_Abgewinkt.gif]]></target>
          <uuid>5e304fab-e12b-11dc-a7a0-9f7a6a6ce285</uuid>
          <query><![CDATA[__scale=w:268,h:202,t:4,c:FFFFFF]]></query>
        </link>
      </links>
      <content><![CDATA[<h1>Hier lacht die Wurst !</h1>
<h4>Die besten Wurstsprüche</h4>
<p><img width="440" height="330" border="0" alt="[16] Simplicissimus_Abgewinkt" src="%(link0)" id="iimg_1409744422" /></p>
<p>&nbsp;</p>
<h4>Hast du Korn und Wurst genug, ist das für den Herbst sehr klug.</h4>
<p>&nbsp;</p>
<div align="center">
<h3>Hat der Bauer Lust auf Schinken, fängt der Eber an zu hinken.</h3>
</div>
<p>&nbsp;</p>
<div align="right">
<h1>Hilft das Bier gegen den Durst, stillt den Hunger eine Wurst.</h1>
</div>
<p>&nbsp;</p>
<div align="center">Ist das Wurstbrot gut belegt, sich des Bauern Laune hebt.</div>
<p>&nbsp;</p>
<h2>Wurstbrot mit dem Buttermesser macht des Bauern Mutter besser.</h2>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="body2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/demo_de/kontakt.html]]></target>
          <uuid>d37b93b8-dfb8-11dc-95e7-9f7a6a6ce285</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Kennen Sie auch einen lustigen Wurstspruch ? Dann <a title="Kontaktformular" target="_self" href="%(link0)">schicken</a> Sie ihn an uns - wir freuen uns auf jede Erweiterung unserer Sammlung !</p>]]></content>
    </element>
  </page>
  <page language="en">
    <element name="body">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/sites/default/demo_de/bilder/Simplicissimus_Abgewinkt.gif]]></target>
          <uuid>5e304fab-e12b-11dc-a7a0-9f7a6a6ce285</uuid>
          <query><![CDATA[__scale=w:268,h:202,t:4,c:FFFFFF]]></query>
        </link>
      </links>
      <content><![CDATA[<h1>Fun with Sausage !</h1>
<h4>The best sausage rhymes</h4>
<p><img width="440" height="330" border="0" alt="[16] Simplicissimus_Abgewinkt" src="%(link0)" id="iimg_1409744422" /></p>
<p>&nbsp;</p>
<pre style="text-align: center;">

<span style="color: rgb(255, 153, 0);"><span style="font-size: large;"><span style="font-family: Comic Sans MS;">I'm not a sausage stuffer<br />I'm a sausage stuffer's mate<br />I'm only stuffing sausages<br />'cause the sausage stuffer's late</span></span></span></pre>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="body2">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[/opencms/opencms/demo_en/_config_/goto]]></target>
          <query><![CDATA[uri=/demo_en/contact.html&module=Alkacon OAMP demo content (com.alkacon.opencms.oampdemo)]]></query>
        </link>
      </links>
      <content><![CDATA[<p>Do you know a funny sausage rhyme, too ? <a href="%(link0)" target="_self" title="Contact form">Send it to us</a> - we would love to extend our collection!</p>]]></content>
    </element>
  </page>
</pages>
