<?xml version="1.0" encoding="UTF-8"?>

<Configs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.frontend.templatetwo/schemas/config.xsd">
  <Config language="en">
    <Preset>
      <link type="WEAK">
        <target><![CDATA[/sites/default/demo_de/_config_/layout/twocolums]]></target>
        <uuid>66fc7850-df03-11dc-8b6d-9f7a6a6ce285</uuid>
      </link>
    </Preset>
    <Element>
      <File>
        <link type="WEAK">
          <target><![CDATA[/sites/default/demo_en/_info_/photoalbum]]></target>
          <uuid>47ea705c-e5da-11dc-9efc-51cb880fd12a</uuid>
        </link>
      </File>
      <Orientation><![CDATA[left]]></Orientation>
      <ColorSchema><![CDATA[box_schema2]]></ColorSchema>
    </Element>
  </Config>
</Configs>
