<?xml version="1.0" encoding="UTF-8"?>

<PhotoAlbumConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.frontend.photoalbum/schemas/photoalbum.xsd">
  <PhotoAlbumConfiguration language="de">
    <Title><![CDATA[Die schönsten Wurstbilder]]></Title>
    <VfsFolder>
      <link type="WEAK">
        <target><![CDATA[/sites/default/demo_de/bilder/]]></target>
        <uuid>4eea2adb-db09-11dc-8686-9f7a6a6ce285</uuid>
      </link>
    </VfsFolder>
    <AlignNavigation><![CDATA[left]]></AlignNavigation>
    <NavigationPosition><![CDATA[b_b]]></NavigationPosition>
    <ShowResourceNameAsTitle>false</ShowResourceNameAsTitle>
    <Thumbs>
      <ShowTitle>true</ShowTitle>
      <AlignTitle><![CDATA[left]]></AlignTitle>
      <Cols><![CDATA[4]]></Cols>
      <Rows><![CDATA[3]]></Rows>
      <HighQuality>false</HighQuality>
      <Size><![CDATA[150x113]]></Size>
      <Filter><![CDATA[none]]></Filter>
      <Background>#FFFFFF</Background>
      <TextTop name="TextTop0">
        <links/>
        <content><![CDATA[<p>Erfreuen Sie sich am Anblick einer leckeren Wurst !</p>]]></content>
      </TextTop>
      <TextBottom name="TextBottom0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/default/demo_de/bilder/index.html]]></target>
            <uuid>5a8fcc41-e37e-11dc-a72c-9f7a6a6ce285</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Hinweise zu den <a href="%(link0)">Bildquellen und den jeweiligen Lizenzen</a>.</p>]]></content>
      </TextBottom>
    </Thumbs>
    <Details>
      <ShowTitle>true</ShowTitle>
      <ShowDescription>true</ShowDescription>
      <AlignTitle><![CDATA[left]]></AlignTitle>
      <ShowLinkOriginal>false</ShowLinkOriginal>
      <Size><![CDATA[600x450]]></Size>
      <Filter><![CDATA[none]]></Filter>
      <Background>#FFFFFF</Background>
    </Details>
  </PhotoAlbumConfiguration>
  <PhotoAlbumConfiguration language="en">
    <Title><![CDATA[The best images of sausage]]></Title>
    <VfsFolder>
      <link type="WEAK">
        <target><![CDATA[/sites/default/demo_de/bilder/]]></target>
        <uuid>4eea2adb-db09-11dc-8686-9f7a6a6ce285</uuid>
      </link>
    </VfsFolder>
    <AlignNavigation><![CDATA[left]]></AlignNavigation>
    <NavigationPosition><![CDATA[b_b]]></NavigationPosition>
    <ShowResourceNameAsTitle>false</ShowResourceNameAsTitle>
    <Thumbs>
      <ShowTitle>true</ShowTitle>
      <AlignTitle><![CDATA[left]]></AlignTitle>
      <Cols><![CDATA[4]]></Cols>
      <Rows><![CDATA[3]]></Rows>
      <HighQuality>false</HighQuality>
      <Size><![CDATA[150x113]]></Size>
      <Filter><![CDATA[none]]></Filter>
      <Background>#FFFFFF</Background>
      <TextTop name="TextTop0">
        <links/>
        <content><![CDATA[<p>Get hungry by looking at a tasty wurst !</p>]]></content>
      </TextTop>
      <TextBottom name="TextBottom0">
        <links/>
        <content><![CDATA[<p><a href="">Image sources and licenses</a>.</p>]]></content>
      </TextBottom>
    </Thumbs>
    <Details>
      <ShowTitle>true</ShowTitle>
      <ShowDescription>true</ShowDescription>
      <AlignTitle><![CDATA[left]]></AlignTitle>
      <ShowLinkOriginal>false</ShowLinkOriginal>
      <Size><![CDATA[600x450]]></Size>
      <Filter><![CDATA[none]]></Filter>
      <Background>#FFFFFF</Background>
    </Details>
  </PhotoAlbumConfiguration>
</PhotoAlbumConfigurations>
