<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="body">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/sites/default/demo_en/images/Simplicissimus_Abgewinkt.gif]]></target>
          <uuid>73bd2150-e549-11dc-8457-51cb880fd12a</uuid>
          <query><![CDATA[__scale=w:440,h:330,t:4,c:FFFFFF]]></query>
        </link>
      </links>
      <content><![CDATA[<h1>Fun with Sausage !</h1>
<h4>The best sausage rhymes</h4>
<p><img width="440" height="330" border="0" alt="[16] Simplicissimus_Abgewinkt" src="%(link0)" id="iimg_1409744422" /></p>
<p>&nbsp;</p>
<pre style="text-align: center;">

<span style="color: rgb(255, 153, 0);"><span style="font-size: large;"><span style="font-family: Comic Sans MS;">I'm not a sausage stuffer<br />I'm a sausage stuffer's mate<br />I'm only stuffing sausages<br />'cause the sausage stuffer's late</span></span></span></pre>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="body2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/demo_en/_config_/goto]]></target>
          <uuid>12e8c034-e48c-11dc-be5b-51cb880fd12a</uuid>
          <query><![CDATA[uri=/demo_en/oamp/webform/contact.html&module=oamp.demo]]></query>
        </link>
      </links>
      <content><![CDATA[<p>Do you know a funny sausage rhyme, too ? <a href="%(link0)" title="Contact form">Send it to us</a> - we would love to extend our collection!</p>]]></content>
    </element>
  </page>
</pages>
