<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="body">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/sites/default/demo_en/images/Bouquet_of_Flowers.jpg]]></target>
          <uuid>73b8665d-e549-11dc-8457-51cb880fd12a</uuid>
          <query><![CDATA[__scale=c:transparent,t:4,r=0,q=70,cx:66,cy:135,cw:254,ch:317,w:200,h:250]]></query>
        </link>
      </links>
      <content><![CDATA[<h1><img hspace="5" height="250" align="right" width="200" vspace="5" id="iimg_1573065940" alt="Author: A. Gundelach." src="%(link0)" />Through the flower...</h1>
<h4>The nicest flower related poems &amp; sayings.</h4>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="text-align: center;">  <span style="color: rgb(255, 153, 0);"><span style="font-size: large;"><span style="font-family: Comic Sans MS;">O Flower Flower all your colors are leaving before wintertime <br />
<br />
<br />
<br />
</span></span></span></span></p>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="body2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/sites/default/demo_en/images/Workshop.jpg]]></target>
          <uuid>23d3e9cf-3954-11de-90e9-9f223d1d1dbb</uuid>
        </link>
      </links>
      <content><![CDATA[<p><font color="#800080"><big><big><strong>I'd rather have roses on my table than diamonds on my neck.<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></big></big>Emma Goldman</font></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="font-size: large"><img id="iimg_1632584139" height="599" alt="Autor: J. Lee" hspace="5" width="451" align="left" vspace="5" src="%(link0)" /><br type="_moz" />
</span></p>]]></content>
    </element>
  </page>
</pages>
