<!DOCTYPE html>
<html>
<head>
  	  	<meta name="package-mapping" content="u:org.opencms.ui" />
  	  	<meta name="package-mapping" content="o:org.opencms.ui.components" />
  </head>
  <body>
  		<o-cms-basic-dialog>
  			<content>
  				<v-vertical-layout _id="m_container" margin spacing size-full>
  					<v-combo-box _id="m_siteSelector" width="100%" />
  					<v-form-layout _id="m_additionalWidgets" visible="false"></v-form-layout>
  					<v-vertical-layout _id="m_treeContainer" size-full :expand />
  				</v-vertical-layout>
  			</content>
  		</o-cms-basic-dialog>
  </body>
</html>