<!DOCTYPE html>
<html>
<head>
  	  	<meta name="package-mapping" content="u:org.opencms.ui" />
  	  	<meta name="package-mapping" content="o:org.opencms.ui.components" />
  </head>
  <body>
  		<o-cms-basic-dialog>
  			<content>
  				<v-vertical-layout margin spacing>
  					<v-combo-box _id="m_siteSelector" />
  					<v-panel width="750px" height="500px">
  						<v-vertical-layout _id="m_treeContainer">
  						</v-vertical-layout>
  					</v-panel>
  				</v-vertical-layout>
  			</content>
  		</o-cms-basic-dialog>
  </body>
</html>