BODY
{
    BACKGROUND: #f3f3f3;
    COLOR: #303030;
    FONT-FAMILY: MS sans serif,arial,helvetica,sans-serif;
    FONT-SIZE: 8pt
}
P
{
    FONT-FAMILY: MS Sans Serif, Arial, helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-INDENT: 15px
}
.allgtext
{
    COLOR: #303030;
    FONT-FAMILY: MS Sans Serif, Arial, helvetica, sans-serif;
    FONT-SIZE: 8pt
}
TD
{
    COLOR: #303030;
    FONT-FAMILY: MS sans serif,arial,helvetica,sans-serif;
    FONT-SIZE: 8pt
}
SELECT
{
    COLOR: #303030;
    FONT-FAMILY: MS sans serif,arial,helvetica,sans-serif;
    FONT-SIZE: 8pt
}
H3
{
    FONT-FAMILY: MS Sans Serif, Arial, helvetica, 'sans serif';
    FONT-SIZE: 10pt;
    FONT-STYLE: normal
}
A
{
    COLOR: black;
    FONT-FAMILY: MS Sans Serif, Arial, helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A:link
{
    COLOR: black;
    FONT-FAMILY: MS Sans Serif, Arial, helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A:unknown
{
    COLOR: black;
    FONT-FAMILY: MS Sans Serif, Arial, helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: black;
    FONT-FAMILY: MS Sans Serif, Arial, helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A
{
    COLOR: black;
    FONT-FAMILY: MS Sans Serif, Arial, helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
