<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/dev_demo/formatter_demo/_config/models/formatter_article.html]]></target>
          <uuid>d18c35d1-7892-11e0-8d7a-e3fff2a64270</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/dev_demo/formatter_demo/_content/]]></target>
            <uuid>b727773f-7892-11e0-8d7a-e3fff2a64270</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[fa_%(number).html]]></Pattern>
      </Destination>
      <Formatter>
        <Type><![CDATA[*]]></Type>
        <Jsp><![CDATA[/system/modules/org.opencms.dev.demo/elements/article/formatter_demo/narrow.jsp]]></Jsp>
        <MinWidth><![CDATA[-1]]></MinWidth>
        <MaxWidth><![CDATA[250]]></MaxWidth>
      </Formatter>
      <Formatter>
        <Type><![CDATA[*]]></Type>
        <Jsp><![CDATA[/system/modules/org.opencms.dev.demo/elements/article/formatter_demo/middle.jsp]]></Jsp>
        <MinWidth><![CDATA[250]]></MinWidth>
        <MaxWidth><![CDATA[500]]></MaxWidth>
      </Formatter>
      <Formatter>
        <Type><![CDATA[*]]></Type>
        <Jsp><![CDATA[/system/modules/org.opencms.dev.demo/elements/article/formatter_demo/wide.jsp]]></Jsp>
        <MinWidth><![CDATA[500]]></MinWidth>
      </Formatter>
      <Formatter>
        <Type><![CDATA[leftbox]]></Type>
        <Jsp><![CDATA[/system/modules/org.opencms.dev.demo/elements/article/formatter_demo/leftbox.jsp]]></Jsp>
        <MinWidth><![CDATA[-1]]></MinWidth>
      </Formatter>
      <Formatter>
        <Type><![CDATA[rightbox]]></Type>
        <Jsp><![CDATA[/system/modules/org.opencms.dev.demo/elements/article/formatter_demo/rightbox.jsp]]></Jsp>
        <MinWidth><![CDATA[-1]]></MinWidth>
      </Formatter>
    </ResourceType>
    <Property>
      <Name><![CDATA[export]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[select]]></Widget>
      <WidgetConfig><![CDATA[true:Yes|false:No]]></WidgetConfig>
      <Default><![CDATA[false]]></Default>
      <NiceName><![CDATA[Export]]></NiceName>
      <Description><![CDATA[The export property determines if a resource is exported.]]></Description>
    </Property>
  </SitemapConfiguration>
</SitemapConfigurations>
