
#header {
	padding-top: 15px;
}

table {
	margin-top:15px;
	border: 1px solid black;
	background-color:#CCCCCC;
}

p {
	margin-top: 5px;
}

h2, h3, h4 {
	margin-top: 10px; 
}


.small {
	font-size:10px;
}

.high {
	background-color: #D6DADF;
	border: 1px solid #445;
	margin:20px 0pt;
}

table.loginbox{
	border: none;
	background-color: #FFF;
}

table.loginbox td{
	padding-bottom: 6px;
}

a.gradient {
	color: #FFF;
}