

table {
	margin-top:15px;
	border: 1px solid black;
	background-color:#CCCCCC;
}

.small {
	font-size:10px;
}

.high {
	background-color: #FFCCCC;
	border: 1px solid #445;
	margin:20px 0pt;
	padding:5px;
}