<!DOCTYPE html>
<html>
	<head>
		<meta name="package-mapping" content="o:org.opencms.ui.components" />
	</head>
	<body>
  		<v-css-layout style-name="o-responsive" size-full>
  			<o-cms-tool-bar _id="m_toolbar"/>
  			<v-vertical-layout size-full style-name="o-main">
  				<v-css-layout _id="m_infoArea" style-name="o-app-info" width="100%" height="60px" />
	    		<v-css-layout _id="m_appArea" primary-style-name="o-app-content" style-name="v-scrollable" size-full :expand />
	    	</v-vertical-layout>
		</v-css-layout>
	</body>
</html>