<!DOCTYPE html>
<html>
<head>
 	<meta name="package-mapping" content="u:org.opencms.ui" />
  	<meta name="package-mapping" content="o:org.opencms.ui.components" />
  	<meta name="package-mapping" content="f:org.opencms.ui.components.fileselect" />
  	<meta name="package-mapping" content="p:org.opencms.ui.dialogs.permissions" />
</head>
<body>
	<v-vertical-layout :center margin spacing style-name="o-workplace-maxwidth" height="100%">
		<v-panel _id="m_panel" caption="" height="100%" :expand>
			<v-vertical-layout _id="m_reportContainer" height="100%" margin spacing>
			</v-vertical-layout>
		</v-panel>
		<v-panel>
			<v-horizontal-layout width="100%">
				<v-horizontal-layout :center margin spacing style-name="o-dialog-button-bar">
					<v-button _id="m_ok">%(key.GUI_DIALOG_BUTTON_OK_0)</v-button>
				</v-horizontal-layout>
			</v-horizontal-layout>
		</v-panel>
	</v-vertical-layout>
</body>
</html>