<!DOCTYPE html>
<html>
	<head>
		<meta name="package-mapping" content="o:org.opencms.ui.components" />
	</head>
	<body>
  		<v-vertical-layout spacing size-full>
  				<v-vertical-layout size-full margin spacing>
  		
  		
  					<v-panel width="100%" _id="m_resourceInfoPanel" scrollable="true" caption="Resources" >
  						<v-vertical-layout margin>
	  						<v-css-layout width="100%" style-name="o-max-height-200" >
	  							<v-vertical-layout _id="m_resourceInfos" />
	  						</v-css-layout>
  						</v-vertical-layout>
  					</v-panel>
  					
  					<v-panel :expand="1" height="100%">
  						<v-vertical-layout _id="m_content" margin >
  						</v-vertical-layout>
  					</v-panel> 
  				  </v-vertical-layout>
  				
		</v-vertical-layout>
	</body>
</html>