<!DOCTYPE html>
<html>
	<head>
		<meta name="package-mapping" content="o:org.opencms.ui.components" />
	</head>
	<body>
  		<v-vertical-layout size-full>
  				<v-vertical-layout size-full margin spacing>
  					<v-panel _id="m_resourceInfoPanel" scrollable="true" width="100%"  caption="%(key.GUI_RESOURCEINFO_LIST_TITLE_0)" >
  						<v-vertical-layout margin>
	  						<v-css-layout width="100%" style-name="o-max-height-200" >
	  							<v-vertical-layout _id="m_resourceInfos" />
	  						</v-css-layout>
  						</v-vertical-layout>
  					</v-panel>
					<v-vertical-layout _id="m_content" :expand="1" height="100%"  >
					</v-vertical-layout>
  				  </v-vertical-layout>
		</v-vertical-layout>
	</body>
</html>