<!DOCTYPE html>
<html>
	<head>
		<meta name="package-mapping" content="o:org.opencms.ui.components" />
	</head>
	<body>
		<o-cms-basic-dialog>
  			<content>
  				<v-vertical-layout size-full>
  					<v-horizontal-layout height="60px">
						<v-label width="32px" _id="m_icon" />
						<v-label _id="m_errorMessage" :expand />
					</v-horizontal-layout>
					<v-panel _id="m_panel" scrollable="true" size-full caption="%(key.GUI_LABEL_STACKTRACE_0)" :expand>
		  				<v-label _id="m_errorLabel" width="-1px" />
		  			</v-panel>
		  		</v-vertical-layout>
			</content>
			<buttons>
  				<v-button _id="m_okButton" width="150px">%(key.GUI_DIALOG_BUTTON_OK_0)</v-button>
  			</buttons>
  		</o-cms-basic-dialog>
	</body>
</html>