<!DOCTYPE html>
<html>
	<head>
		<meta name="package-mapping" content="o:org.opencms.ui.components" />
	</head>
	<body>
		<o-cms-basic-dialog>
  			<content>
  				<v-vertical-layout size-full style-name="o-error-dialog">
  					
					<v-form-layout _id="m_bundleValues" margin spacing style-name="o-formlayout-workplace-main">
					</v-form-layout>		
		  		</v-vertical-layout>
			</content>
			<buttons>
  				<v-button _id="m_okButton" >%(key.GUI_DIALOG_BUTTON_OK_0)</v-button>
  				<v-button _id="m_cancelButton">%(key.GUI_DIALOG_BUTTON_CANCEL_0)</v-button>
  			</buttons>
  		</o-cms-basic-dialog>
	</body>
</html>