<!DOCTYPE html>
<html>
	<head>
		<meta name="package-mapping" content="o:org.opencms.ui.components" />
	</head>
	<body>
  		<v-panel style-name="o-resource-info" height="40px">
  			<v-css-layout size-full _id="m_mainContainer">
	  			<v-horizontal-layout spacing size-full>
	  				<o-cms-resource-icon _id="m_icon" :middle width="32px"/>
	  				<v-vertical-layout :middle :expand height="100%">
	  					<v-label _id="m_topText" style-name="bold" />
	  					<v-label _id="m_bottomText" style-name="small" />
	  				</v-vertical-layout>
	  				<v-label _id="m_buttonLabel" width="32px"   :middle />
	  			</v-horizontal-layout>
  			</v-css-layout>
		</v-panel>
	</body>
</html>