<!DOCTYPE html>
<html>
	<head>
		<meta name="package-mapping" content="o:org.opencms.ui.components" />
	</head>
	<body>
  		<v-panel style-name="o-resource-info" height="40px">
  			<v-css-layout size-full _id="m_mainContainer">
	  			<vaadin7-horizontal-layout  size-full spacing style-name="o-resource-info-horizontal">
	  				<o-cms-resource-icon _id="m_icon" :middle width="32px"/>
	  				<vaadin7-vertical-layout :middle :expand height="100%">
	  					<vaadin7-label _id="m_topText" style-name="o-resource-info-title bold" />
	  					<vaadin7-label _id="m_bottomText" style-name="o-resource-info-subtitle small" />
	  				</vaadin7-vertical-layout>
	  				<vaadin7-label _id="m_buttonLabel" width="32px"   :middle />
	  			</vaadin7-horizontal-layout>
  			</v-css-layout>
		</v-panel>
	</body>
</html>