<!DOCTYPE html>
<html>
	<body>
  		<v-css-layout primary-style-name="o-toolbar">
	  		<v-css-layout primary-style-name="o-toolbar-inner">
	  			<v-label primary-style-name="o-toolbar-center">
					<span class="o-toolbar-logo"></span>
	  			</v-label>
	  			<v-horizontal-layout _id="m_itemsLeft" primary-style-name="o-toolbar-items-left" spacing>
	  				<v-label _id="m_appIndicator" primary-style-name="o-toolbar-app-indicator" visible="false"/>
	  			</v-horizontal-layout>
				<v-horizontal-layout _id="m_itemsRight" primary-style-name="o-toolbar-items-right" spacing />
			</v-css-layout>
		</v-css-layout>
	</body>
</html>