<!DOCTYPE html>
<html>
	<head>
		<meta name="package-mapping" content="o:org.opencms.ui.components" />
	</head>
	<body>
  		<v-vertical-layout style-name="o-user-info" margin="false">
  			<v-horizontal-layout _id="m_infoPanel" spacing margin>
				<v-label _id="m_info" width="200px" ></v-label>
  			</v-horizontal-layout>
  			<v-label _id="m_details" style-name="o-user-details" ></v-label>
  			<o-cms-vertical-menu _id="m_menu" style-name="border-top" :expand ></o-cms-vertical-menu>
		</v-vertical-layout>
	</body>
</html>