<!DOCTYPE html>
<html>
	<head>
		<meta name="package-mapping" content="o:org.opencms.ui.components" />
	</head>
	<body>
  		<v-vertical-layout style-name="o-user-info" spacing>
  			<v-horizontal-layout _id="m_infoPanel" spacing>
				
				<v-label _id="m_info" width="200px" />
  			</v-horizontal-layout>
  			<v-horizontal-layout  style-name="o-dialog-button-bar" spacing :right>
  				<v-button _id="m_editData">%(key.GUI_USER_EDIT_0)</v-button>
  				<v-button _id="m_logout">%(key.GUI_EXPLORER_CONTEXT_LOGOUT_0)</v-button>
  			</v-horizontal-layout>
		</v-vertical-layout>
	</body>
</html>