<!DOCTYPE html>
<html>
	<head>
		<meta name="package-mapping" content="o:org.opencms.ui.components" />
	</head>
	<body>
  		<vaadin7-vertical-layout style-name="o-user-info">
  			<vaadin7-horizontal-layout _id="m_infoPanel" spacing margin>
				<vaadin7-label _id="m_info" width="200px" />
  			</vaadin7-horizontal-layout>
  			<vaadin7-label _id="m_details" style-name="o-user-details" />
  			<o-cms-vertical-menu _id="m_menu" style-name="border-top" :expand />
		</vaadin7-vertical-layout>
	</body>
</html>