.pageCenter {
	padding: 0px;
	position: relative;
	width: 930px;
	margin: 0 auto;
}

@sprite .root {
	gwt-image: "backgrounds.sitemapBackground";
	font-family: value("constants.css.fontFamily");
	position: relative;
	margin: 0;
	overflow: auto;
	height: 100%;
}

@if user.agent ie6 {
	.root * {
		zoom: 1; 
	}
}