body div.pageCenter {
	padding: 10px;
}

@sprite .root {
	gwt-image: "backgrounds.sitemapBackground";
	font-family: value("constants.css.fontFamily");
	position: relative;
	margin: 0;
	overflow: auto;
	height: 100%;
	padding-top: 45px;
}

/** joined vendor prefix style, for better fall back behavior */
div.page{
	background-image: literal("-moz-linear-gradient(")value("constants.css.gradientFormDialog") literal(")");
	background-image: literal("-ms-linear-gradient(")value("constants.css.gradientFormDialog") literal(")");
	background-image: literal("-webkit-linear-gradient(")value("constants.css.gradientFormDialog") literal(")");
	background-image: literal("-o-linear-gradient(")value("constants.css.gradientFormDialog") literal(")");
	background-image: literal("linear-gradient(")value("constants.css.gradientFormDialog") literal(")");
}

.page {
	background-color: value("constants.css.backgroundColorDialog");
	border: 2px solid value("constants.css.borderColor");
	padding: 10px;
	width: value("constants.css.toolbarWidth");
	margin: 0px auto;
}