@external vfsMode, navMode;

.navMode{}

.contentHide * {
	visibility: hidden;
}

@sprite .positionIndicator{
	gwt-image: "baseImages.placeholderImage";
	height: 4px;
	right: 6px;
	left: 46px;
	position: absolute;
	z-index: value("constants.css.zIndexInline");
	margin-top: -3px;
	border-left: solid 5px value("constants.css.borderColorHighlight");
	border-right: solid 5px value("constants.css.borderColorHighlight");
}

@if user.agent ie6 {
	.positionIndicator {
		filter: literal("alpha(opacity = 50)");
	}
} @elif user.agent ie8 {
	.positionIndicator {
		-ms-filter: "alpha(opacity = 50)";
	}
} @else {
	.positionIndicator {
        opacity: 0.5;
	}
}

.positionIndicator *{
	display: none;
}

.positionIndicator.markUnchanged {
	display: none;
}

.sitemapEntryDecoration {

}

.notInNavigationEntry{
	display: none;
}

.notInNavigationEntry .itemTitle{
	color: value("constants.css.textColorDisabled");
	cursor: default;
}

.expiredOrNotReleased div.itemTitle{
	font-style: italic;
}

div.itemTitle{
	cursor: text;
}


.vfsMode .notInNavigationEntry{
	display: block;
}

.highlight {
	background-image: none;
	background-color: value("constants.css.backgroundColorSitemapHighlight");
}



@sprite .brokenLink {
    gwt-image: "baseImages.bigIcons.brokenLinkBigIcon";
    margin-right: 4px;
}

.deletedEntryLabel {
	text-decoration: line-through;
}

.marker {
	position: absolute; 
	visibility: visible !important;
	font-weight: bold;
	right: 100px;
	top: 0px;
}
