@external cms_type_icon;

.contentHide * {
	visibility: hidden;
}

@sprite .positionIndicator{
	gwt-image: "baseImages.placeholderImage";
	height: 4px;
	right: 6px;
	left: 46px;
	position: absolute;
	z-index: value("constants.css.zIndexInline");
	margin-top: -3px;
	border-left: solid 5px value("constants.css.borderColorHighlight");
	border-right: solid 5px value("constants.css.borderColorHighlight");
}

@if user.agent ie6 {
	.positionIndicator {
		filter: literal("alpha(opacity = 50)");
	}
} @elif user.agent ie8 {
	.positionIndicator {
		-ms-filter: "alpha(opacity = 50)";
	}
} @else {
	.positionIndicator {
        opacity: 0.5;
	}
}

.positionIndicator *{
	display: none;
}

.positionIndicator.markUnchanged {
	display: none;
}

.sitemapEntryDecoration {

}

li.notInNavigationEntry{
	display: none;
}

.notInNavigationEntry .itemTitle{
	color: value("constants.css.textColorDisabled");
	cursor: default;
}

.expiredOrNotReleased div.itemTitle{
	font-style: italic;
}
div.expiredOrNotReleased{
	background-color: value("constants.css.backgroundColorSitemapExpired");
}

div.hiddenNavEntry{
	opacity: 0.4;
}

div.itemTitle{
	cursor: text;
}

.navMode .cms_type_icon, .vfsMode .cms_type_icon{
	cursor: pointer;
}

@sprite div.cms_type_icon.navigationLevelIcon{
	gwt-image: "baseImages.bigIcons.fileTypeNavLevel";
} 

.vfsMode li.notInNavigationEntry{
	display: block;
}

div.marker {
	position: absolute; 
	visibility: visible !important;
	font-weight: bold;
	right: 100px;
	top: 0px;
}

.hasChildren {} 

.hasNavChildren {}

.navMode .hasNoNavChildren .treeItemOpener {
	display: none; 
}

.vfsMode .hasNoChildren .treeItemOpener {
	display: none; 
}

 