<HTML>

<script language=JavaScript>
<!--
function show_help()
{
    return '1_2_1.html';
}
//-->
</script>

<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<title>OpenCms Arbeitsplatz von Alexander Kandzior</title>
<link rel=stylesheet type="text/css" href="../css/format.css">
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript" SRC="js/opencms.js"></SCRIPT>

</HEAD>
<BODY bgcolor="#ffffff" background="]]><method name="picsUrl">bg_weiss.jpg</method><![CDATA["  bgproperties=fixed marginwidth = 0 marginheight = 0 topmargin=0 leftmargin=0>

<table width=100% height=100% border=0 cellspacing=0 cellpadding=0>
<tr><td align=middle valign=center>

<form id=EINST_EXPL name=EINST_EXPL>
<table cellspacing=0 cellpadding=0 border=2 width=500>
    <tr><td>
        <table cellspacing=0 cellpadding=0 border=0 width=100% height=350>
            <tr> 
                <td colspan=4 class="head" height=22><p class=einzug>Einstellungen</p></td>
            </tr>
            <tr bgcolor="#838383"> 
                <td colspan=4 valign=bottom> 
                <table border=0 cellspacing=0 cellpadding=0>
                    <tr>
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rl_aktiv.jpg</method><![CDATA[" width=6></td>
                        <td bgcolor="#000000"><IMG height=1 src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1></td>
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rr_aktiv.jpg</method><![CDATA[" width=6></td>
                                                
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rl_inaktiv.jpg</method><![CDATA[" width=6></td>
                        <td nowrap bgcolor="#000000"><IMG height=1 src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1></td>
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rr_inaktiv.jpg</method><![CDATA[" width=6></td>
                                                
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rl_inaktiv.jpg</method><![CDATA[" width=6></td>
                        <td nowrap bgcolor="#000000"><IMG height=1 src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1></td>
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rr_inaktiv.jpg</method><![CDATA[" width=6></td>
                        
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rl_inaktiv.jpg</method><![CDATA[" width=6></td>
                        <td nowrap bgcolor="#000000"><IMG height=1 src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1></td>
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rr_inaktiv.jpg</method><![CDATA[" width=6></td>
                        
                        <td rowspan=2 width=100><IMG height=1 src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=6></td>
                    </tr>
                    <tr>
                        <td class=formular>Explorer</td>
                        <td bgcolor="#838383"><A class=reiterinaktiv href="einstellungen_task.html">Aufgaben</a></td>
                        <td bgcolor="#838383"><STRONG><FONT 
                                color=#ffffff>Starteinstellungen</FONT></STRONG></td>
                        <td bgcolor="#838383"><A class=reiterinaktiv href="einstellungen_user.html">Benutzerdaten</a></td>
                    </tr>
                </table>
                </td>
            </tr>
    
            <tr><td colspan=4 class=dialogtxt>
            <table border=0 cellspacing=0 cellpadding=5 width=100% height=200>
            <tr>
                <td colspan=4 class=formular>Dateiangaben</td>
            </tr>
            <tr>
                <td class=dialogtxt width=5%><INPUT type="checkbox" id=DANGABEN name=DANGABEN checked></td>
                <td class=dialogtxt width=45%>Titel</td>
                <td class=dialogtxt width=5%><INPUT type="checkbox" id=DANGABEN name=DANGABEN></td>
                <td class=dialogtxt width=45%>Eigent&uuml;mer</td>
            </tr>
            <tr>
                <td class=dialogtxt><INPUT type="checkbox" id=DANGABEN name=DANGABEN checked></td>
                <td class=dialogtxt>Typ</td>
                <td class=dialogtxt><INPUT type="checkbox" id=DANGABEN name=DANGABEN></td>
                <td class=dialogtxt>Gruppe</td>
            </tr>
            <tr>
                <td class=dialogtxt><INPUT type="checkbox" id=DANGABEN name=DANGABEN checked></td>
                <td class=dialogtxt>Ge&auml;ndert am</td>
                <td class=dialogtxt><INPUT type="checkbox" id=DANGABEN name=DANGABEN></td>
                <td class=dialogtxt>Rechte</td>
            </tr>
            <tr>
                <td class=dialogtxt><INPUT type="checkbox" id=DANGABEN name=DANGABEN checked></td>
                <td class=dialogtxt>Größe</td>
                <td class=dialogtxt><INPUT type="checkbox" id=DANGABEN name=DANGABEN></td>
                <td class=dialogtxt>Gesperrt durch</td>
            </tr>
            <tr>
                <td class=dialogtxt><INPUT type="checkbox" id=DANGABEN name=DANGABEN></td>
                <td class=dialogtxt>Status</td>
                <td class=dialogtxt colspan=2><INPUT type="button" class=button width = 100 value="Voreinstellungen" id=DEFAULT name=DEFAULT onclick="default_dateiangaben();"></td>
            </tr>
            </table>
            </td></tr>
            <tr><td colspan=4 class=dialogtxt><hr></td></tr>
            <tr><td colspan=4 class=dialogtxt>
                <table cellspacing=0 cellpadding=5 width=100%>
                <tr>
                    <td class=formular align=right width=60%><INPUT class=button width = 100 type="button" value="Übernehmen" id=UEBERNEHMEN name=UEBERNEHMEN></td>
                    <td class=formular align=right width=20%><INPUT class=button width = 100 type="button" value="OK" id=OK name=OK onClick="location='../action/explorer.html';"></td>
                    <td class=formular align=middle width=20%><INPUT class=button width = 100 type="button" value="Abbrechen" id=CANCEL name=CANCEL onClick="location='../action/explorer.html';"></td>
                </tr>
                </table>
            </td>
            </tr>
            </table>
    </td></tr>
</table>
</form>

</td></tr>
</table>



</BODY>
</HTML>
