<HTML>

<script language=JavaScript>
<!--
function show_help()
{
    return '1_2_3.html';
}
//-->
</script>

<head>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<title>OpenCms Arbeitsplatz von Alexander Kandzior</title>
<link rel=stylesheet type="text/css" href="../css/format.css">
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript" SRC="js/opencms.js"></SCRIPT>

</HEAD>
<BODY bgcolor="#ffffff" background="]]><method name="picsUrl">bg_weiss.jpg</method><![CDATA["  bgproperties=fixed marginwidth=0 marginheight=0 topmargin=0 leftmargin=0>

<table width=100% height=100% border=0 cellspacing=0 cellpadding=0>
<tr><td align=center valign=middle>

<form id=EINST_PERS name=EINST_PERS>
<table cellspacing=0 cellpadding=0 border=2 width=500px>
    <tr><td>
        <table cellspacing=0 cellpadding=0 border=0 width=100% height=360px>
            <tr> 
                <td colspan=2 class="head" height=22px><p class=einzug>Einstellungen</td>
            </tr>
            <tr bgcolor="#838383"> 
                <td colspan=2 valign=bottom> 
                    <table border=0 cellspacing=0 cellpadding=0>
                    <tr>
                        <td rowspan=2><img src="]]><method name="picsUrl">gr_rl_inaktiv.jpg</method><![CDATA[" width=6 height=20></td>
                        <td bgcolor="#000000"><img src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1 height=1></td>
                        <td rowspan=2><img src="]]><method name="picsUrl">gr_rr_inaktiv.jpg</method><![CDATA[" width=6 height=20></td>
                                                
                        <td rowspan=2><img src="]]><method name="picsUrl">gr_rl_inaktiv.jpg</method><![CDATA[" width=6 height=20></td>
                        <td nowrap bgcolor="#000000"><img src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1 height=1></td>
                        <td rowspan=2><img src="]]><method name="picsUrl">gr_rr_inaktiv.jpg</method><![CDATA[" width=6 height=20></td>
                                                
                        <td rowspan=2><img src="]]><method name="picsUrl">gr_rl_aktiv.jpg</method><![CDATA[" width=6 height=20></td>
                        <td nowrap bgcolor="#000000"><img src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1 height=1></td>
                        <td rowspan=2><img src="]]><method name="picsUrl">gr_rr_aktiv.jpg</method><![CDATA[" width=6 height=20></td>
                        
                        <td rowspan=2><img src="]]><method name="picsUrl">gr_rl_inaktiv.jpg</method><![CDATA[" width=6 height=20></td>
                        <td nowrap bgcolor="#000000"><img src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1 height=1></td>
                        <td rowspan=2><img src="]]><method name="picsUrl">gr_rr_inaktiv.jpg</method><![CDATA[" width=6 height=20></td>
                    </tr>
                    <tr>
                        <td bgcolor="#838383"><a href="einstellungen_expl.html" class=reiterinaktiv>Explorer</a></td>
                        <td bgcolor="#838383"><a href="einstellungen_task.html" class=reiterinaktiv>Aufgaben</a></td>
                        <td class=formular>Starteinstellungen</td>
                        <td bgcolor="#838383"><a href="einstellungen_user.html" class=reiterinaktiv>Benutzerdaten</a></td>
                    </tr>
                </table>
                </td>
            </tr>
            
            <tr><td colspan=2 class=dialogtxt>
            <table border=0 cellspacing=0 cellpadding=5 width=100% height=200px>
            <tr>
                            <td class=formular>Sprache:</td>
                            <td class=dialogtxt>
                                <SELECT id=select1 width=150 style="width:150px" name=LANGUAGE>
                                    <OPTION selected>Deutsch</OPTION>
                                    <OPTION>English</OPTION>
                                    <OPTION>Francais</OPTION>
                                </SELECT>
                            </td>
            </tr>
            <tr>
                <td class=formular width=30%>Starte mit Projekt:</td>
                <td class=dialogtxt>
                    <SELECT id=select1 width=150 style="width:150px" name=PROJEKT>
                        <OPTION selected>Online</OPTION>
                        <OPTION>Relaunch Sozial</OPTION>
                    </SELECT>
                </td>
            </tr>
            <tr>
                <td class=formular>Starte mit Ansicht:</td>
                <td class=dialogtxt>
                    <SELECT id=select1 width=150 style="width:150px" name=ANSICHT>
                        <OPTION selected>Explorer</OPTION>
                        <OPTION>Aufgaben</OPTION>
                        <OPTION>Administration</OPTION>
                    </SELECT>
                </td>
            </tr>
            <tr>
                <td class=formular>Starte mit Gruppe:</td>
                <td class=dialogtxt>
                    <SELECT id=select1 width=150 style="width:150px" name=DGRUPPE>
                        <OPTION selected>Administrators</OPTION>
                        <OPTION>HTML Programmers</OPTION>
                        <OPTION>Screen Designers</OPTION>
                        <OPTION>Editor</OPTION>
                    </select>
                </td>
            </tr>

            <tr>
                <td class=formular colspan=2>Voreinstellung bei Neuer Datei</td>
            </tr>
            <tr>
                <td class=dialogtxt colspan=2>
                    <table border=0 cellspacing=5 cellpadding=0>
                        <TR>
                <TD ALIGN=CENTER class=formular colspan=3>Besitzer</TD>
                <TD ALIGN=CENTER class=formular colspan=3>Gruppe</TD>
                <TD ALIGN=CENTER class=formular colspan=3>Unbekannt</TD>
                <TD ALIGN=CENTER class=formular >Intern</TD>
            </TR>
            <TR>
                <TD ALIGN=CENTER class=dialogtxt>r</TD>
                <TD ALIGN=CENTER class=dialogtxt>w</TD>
                <TD ALIGN=CENTER class=dialogtxt>v</TD>
                <TD ALIGN=CENTER class=dialogtxt>r</TD>
                <TD ALIGN=CENTER class=dialogtxt>w</TD>
                <TD ALIGN=CENTER class=dialogtxt>v</TD>
                <TD ALIGN=CENTER class=dialogtxt>r</TD>
                <TD ALIGN=CENTER class=dialogtxt>w</TD>
                <TD ALIGN=CENTER class=dialogtxt>v</TD>
                <TD ALIGN=CENTER class=dialogtxt>i</TD>
            </TR>
            <TR>
                <TD ALIGN=CENTER class=dialogtxt><INPUT TYPE=CHECKBOX NAME="UR" CHECKED></TD>
                <TD ALIGN=CENTER class=dialogtxt><INPUT TYPE=CHECKBOX NAME="UW" CHECKED></TD>
                <TD ALIGN=CENTER class=dialogtxt><INPUT TYPE=CHECKBOX NAME="UV" CHECKED></TD>
                <TD ALIGN=CENTER class=dialogtxt><INPUT TYPE=CHECKBOX NAME="GR" CHECKED></TD>
                <TD ALIGN=CENTER class=dialogtxt><INPUT TYPE=CHECKBOX NAME="GW" CHECKED></TD>
                <TD ALIGN=CENTER class=dialogtxt><INPUT TYPE=CHECKBOX NAME="GV" CHECKED></TD>
                <TD ALIGN=CENTER class=dialogtxt><INPUT TYPE=CHECKBOX NAME="PR"></TD>
                <TD ALIGN=CENTER class=dialogtxt><INPUT TYPE=CHECKBOX NAME="PW" CHECKED></TD>
                <TD ALIGN=CENTER class=dialogtxt><INPUT TYPE=CHECKBOX NAME="PV"></TD>
                <TD ALIGN=CENTER class=dialogtxt><INPUT TYPE=CHECKBOX NAME="IF"></TD>
            </TR>
                    </table>
                </td>
            </tr>
            </table>
            </td></tr>
            
            <tr><td colspan=2 class=dialogtxt><hr></td></tr>
            <tr><td colspan=2 class=dialogtxt>
                <table cellspacing=0 cellpadding=5 width=100%>
                <tr>
                    <td class=formular align=right width=60%><INPUT class=button width=100 type="button" value="Übernehmen" id=UEBERNEHMEN name=UEBERNEHMEN></td>
                    <td class=formular align=right width=20%><INPUT class=button width=100 type="button" value="OK" id=OK name=OK onClick="location='../action/explorer.html';"></td>
                    <td class=formular align=middle width=20%><INPUT class=button width=100 type="button" value="Abbrechen" id=CANCEL name=CANCEL onClick="location='../action/explorer.html';"></td>
                </tr>
                </table>
            </td>
            </tr>
            </table>
    </td></tr>
</table>
</form>

</td></tr>
</table>

</BODY>
</HTML>