<HTML>

<script language=JavaScript>
<!--
function show_help()
{
    return '1_2_4.html';
}
//-->
</script>

<head>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<title>OpenCms Arbeitsplatz von Alexander Kandzior</title>
<link rel=stylesheet type="text/css" href="../css/format.css">
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript" SRC="js/opencms.js"></SCRIPT>

</HEAD>
<BODY bgcolor="#ffffff" background="]]><method name="picsUrl">bg_weiss.jpg</method><![CDATA["  bgproperties=fixed marginwidth = 0 marginheight = 0 topmargin=0 leftmargin=0>

<table width=100% height=100% border=0 cellspacing=0 cellpadding=0>
<tr><td align=middle valign=center>

<form id=EINST_USER name=EINST_USER>
<table cellspacing=0 cellpadding=0 border=2 width=500>
    <tr><td>
        <table cellspacing=0 cellpadding=0 border=0 width=100% height=350>
            <tr> 
                <td colspan=4 class="head" height=22><p class=einzug>Einstellungen</p></td>
            </tr>
            <tr bgcolor="#838383"> 
                <td colspan=4 valign=bottom> 
                    <table border=0 cellspacing=0 cellpadding=0>
                    <tr>
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rl_inaktiv.jpg</method><![CDATA[" width=6></td>
                        <td bgcolor="#000000"><IMG height=1 src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1></td>
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rr_inaktiv.jpg</method><![CDATA[" width=6></td>
                                                
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rl_inaktiv.jpg</method><![CDATA[" width=6></td>
                        <td nowrap bgcolor="#000000"><IMG height=1 src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1></td>
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rr_inaktiv.jpg</method><![CDATA[" width=6></td>
                                                
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rl_inaktiv.jpg</method><![CDATA[" width=6></td>
                        <td nowrap bgcolor="#000000"><IMG height=1 src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1></td>
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rr_inaktiv.jpg</method><![CDATA[" width=6></td>
                        
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rl_aktiv.jpg</method><![CDATA[" width=6></td>
                        <td nowrap bgcolor="#000000"><IMG height=1 src="]]><method name="picsUrl">empty.jpg</method><![CDATA[" width=1></td>
                        <td rowspan=2><IMG height=20 src="]]><method name="picsUrl">gr_rr_aktiv.jpg</method><![CDATA[" width=6></td>
                    </tr>
                    <tr>
                        <td bgcolor="#838383"><A class=reiterinaktiv href="einstellungen_expl.html">Explorer</a></td>
                        <td bgcolor="#838383"><A class=reiterinaktiv href="einstellungen_task.html">Aufgaben</a></td>
                        <td bgcolor="#838383"><A class=reiterinaktiv href="einstellungen_pers.html"> Starteinstellungen</a></td>
                        <td class=formular>Benutzerdaten</td>
                    </tr>
                </table>
                </td>
            </tr>
            
            <tr><td colspan=4 class=dialogtxt>
            <table border=0 cellspacing=0 cellpadding=5 width=100% height=200>
            <tr>
                <td colspan=4 class=formular>Pers&ouml;nliche Daten</td>
            </tr>
            <tr>
                <td class=dialogtxt width=25%>Benutzer:</td>
                <td class=dialogtxt width=25%>m.schleich</td>
                <td class=dialogtxt width=10%>EMail:</td>
                <td class=dialogtxt width=40%>m.schleich@mindfact.com</td>
            </tr>
            <tr>
                <td class=dialogtxt>Name:</td>
                <td class=dialogtxt>Schleich</td>
                <td class=dialogtxt rowspan=2 valign=top>Adresse:</td>
                <td class=dialogtxt rowspan=2 valign=top>Strasse 18<br>50300 Wohnort</td>
            </tr>
            <tr>
                <td class=dialogtxt>Vorname:</td>
                <td class=dialogtxt>Michaela</td>
            </tr>
            <tr>
                <td class=dialogtxt>Beschreibung:</td>
                <td class=dialogtxt colspan=3>Praktikant, Agentur und IT</td>
            </tr>
            <tr>
                <td colspan=4 class=formular>Einstellungen</td>
            </tr>
            <tr>
                <td class=formular>Aktuelle Gruppe:</td>
                <td class=dialogtxt>
                <SELECT width = 150 style="WIDTH: 150px" 
                                id=select1 name=AGRUPPE>
                        <OPTION>Administrators
                                
                        <OPTION>HTML Programmers
                                
                        <OPTION>Screen Designers
                                
                        <OPTION selected>Editor
                    </SELECT>
                                 
                </td>
                <td class=dialogtxt colspan=2><INPUT type="button" class=button width = 100 value="Kennwort ändern" id=PWD name=PWD onclick="location.href='einstellungen_pwd.html';"></td>
            </tr>
            </table>
            </td></tr>
            
            
            <tr><td colspan=4 class=dialogtxt><hr></td></tr>
            <tr><td colspan=4 class=dialogtxt>
                <table cellspacing=0 cellpadding=5 width=100%>
                <tr>
                    <td class=formular align=right width=60%><INPUT class=button width = 100 type="button" value="Übernehmen" id=UEBERNEHMEN name=UEBERNEHMEN></td>
                    <td class=formular align=right width=20%><INPUT class=button width = 100 type="button" value="OK" id=OK name=OK onClick="location='../action/explorer.html';"></td>
                    <td class=formular align=middle width=20%><INPUT class=button width = 100 type="button" value="Abbrechen" id=CANCEL name=CANCEL onClick="location='../action/explorer.html';"></td>
                </tr>
                </table>
            </td>
            </tr>
            </table>
    </td></tr>
</table>
</form>

</td></tr>
</table>

</BODY>
</HTML>