<html>
<head>
<!-- Beginn Style -->
<link rel=stylesheet type="text/css" href="../css/format.css">
<!-- Ende Style -->

<!-- Beginn externe Scripte wegen Datumsprüfung-->
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript" SRC="js/opencms_choosebrowser.js"></SCRIPT>
<!-- für Kalender -->
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript" SRC="js/opencms_timer.js"></SCRIPT>

<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">

function updateCal() {	//sets calender field to selected date
	var toDo = "window.opener.top.body."+ window.opener.parent.frames[1].name;
	toDo += ".document.NEWTASK.DATE.value=userDay+'.'+userMonth+'.'+userYear;window.close();"
	eval(toDo);
}

</SCRIPT>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<title>OpenCms - Kalender</title>
</head>

<body bgcolor="#ffffff" background="/pics/system/bg_weiss.gif"  bgproperties=fixed onLoad="selectDays(aktTag, aktMonat, aktJahr);">

<form id="TIMER" name="TIMER">
<table border=0 cellspacing=0 cellpadding=5>
<tr>
	<td align=right>
		<SCRIPT LANGUAGE="JavaScript">
			writeSel();
		</SCRIPT>
	</td>
</tr>
</table>
</form>

<div id="top" style="FONT-FAMILY: MS Sans Serif, Arial, helvetica, sans-serif; FONT-SIZE: 8pt; position: absolute; LEFT: 50px; TOP: 93px; VISIBILITY: schown; Z-INDEX: 100;">
<table border=0 cellspacing=1 cellpadding=0>

	<tr>
		<td align=center><a href="javascript:changeDay(1)"><img src="/pics/system/empty.gif" name="1" border=0 width=20 height=21></td>
		<td align=center><a href="javascript:changeDay(2)"><img src="/pics/system/empty.gif" name="2" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(3)"><img src="/pics/system/empty.gif" name="3" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(4)"><img src="/pics/system/empty.gif" name="4" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(5)"><img src="/pics/system/empty.gif" name="5" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(6)"><img src="/pics/system/empty.gif" name="6" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(7)"><img src="/pics/system/empty.gif" name="7" border=0 width=20 height=21></a></td>
	</tr>
	<tr>
		<td align=center><a href="javascript:changeDay(8)"><img src="/pics/system/empty.gif" name="8" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(9)"><img src="/pics/system/empty.gif" name="9" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(10)"><img src="/pics/system/empty.gif" name="10" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(11)"><img src="/pics/system/empty.gif" name="11" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(12)"><img src="/pics/system/empty.gif" name="12" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(13)"><img src="/pics/system/empty.gif" name="13" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(14)"><img src="/pics/system/empty.gif" name="14" border=0 width=20 height=21></a></td>
	</tr>
	<tr>
		<td align=center><a href="javascript:changeDay(15)"><img src="/pics/system/empty.gif" name="15" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(16)"><img src="/pics/system/empty.gif" name="16" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(17)"><img src="/pics/system/empty.gif" name="17" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(18)"><img src="/pics/system/empty.gif" name="18" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(19)"><img src="/pics/system/empty.gif" name="19" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(20)"><img src="/pics/system/empty.gif" name="20" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(21)"><img src="/pics/system/empty.gif" name="21" border=0 width=20 height=21></a></td>
	</tr>
	<tr>
		<td align=center><a href="javascript:changeDay(22)"><img src="/pics/system/empty.gif" name="22" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(23)"><img src="/pics/system/empty.gif" name="23" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(24)"><img src="/pics/system/empty.gif" name="24" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(25)"><img src="/pics/system/empty.gif" name="25" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(26)"><img src="/pics/system/empty.gif" name="26" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(27)"><img src="/pics/system/empty.gif" name="27" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(28)"><img src="/pics/system/empty.gif" name="28" border=0 width=20 height=21></a></td>
	</tr>
	<tr>
		<td align=center><a href="javascript:changeDay(29)"><img src="/pics/system/empty.gif" name="29" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(30)"><img src="/pics/system/empty.gif" name="30" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(31)"><img src="/pics/system/empty.gif" name="31" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(32)"><img src="/pics/system/empty.gif" name="32" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(33)"><img src="/pics/system/empty.gif" name="33" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(34)"><img src="/pics/system/empty.gif" name="34" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(35)"><img src="/pics/system/empty.gif" name="35" border=0 width=20 height=21></a></td>
	</tr>
	<tr>
		<td align=center><a href="javascript:changeDay(36)"><img src="/pics/system/empty.gif" name="36" border=0 width=20 height=21></a></td>
		<td align=center><a href="javascript:changeDay(37)"><img src="/pics/system/empty.gif" name="37" border=0 width=20 height=21></a></td>
		<td align=center colspan=5>&nbsp;</td>
	</tr>
</table>
</div>

<!---------------------------------------------->
<!-- Layer with timer day sheet               -->
<!---------------------------------------------->
<div id="days" style="FONT-FAMILY: MS Sans Serif, Arial, helvetica, sans-serif; FONT-SIZE: 8pt; position: absolute; LEFT: 45px; TOP: 45px; VISIBILITY: hidden; Z-INDEX: 0;">
</div>

<!-- Buttons              -->
<form>
<table border=0 cellspacing=0 cellpadding=5>
<tr><td colspan=2><img src="/pics/system/empty.gif" border=0 width=1 height=165></td></tr>
<tr>
	<td align=right width=50%><INPUT class=button width=100 type="button" value="Übernehmen" id=OK name=OK onClick="updateCal()"></td>
	<td align=left width=50%><INPUT class=button width=100 type="button" value="Abbrechen" id=CANCEL name=CANCEL onClick="window.close();"></td>
</tr>
</table>
</form>

<SCRIPT LANGUAGE="JavaScript">
fillBox(document.TIMER.YEAR, aYear, 11);
fillBox(document.TIMER.MONTH, aMonth, 12);
</SCRIPT>


</body>
</html>