@mixin o-table-bundleeditor {

	.v-table-wrap-lines table.v-table-table .v-table-cell-wrapper {
		line-height: normal;
	}
	
	.v-table-wrap-lines table.v-table-table .v-table-cell-content {
		white-space: normal;
	}
	
	.v-table-alert-empty .v-textarea[class*="prompt"], .v-table-alert-empty .v-textfield[class*="prompt"] {
		color: $o-state-new-color
	}
	
}