@mixin contextmenu {
	
	.v-context-menu-container{
		@include valo-selection-overlay-style;
	}
	
	.v-context-menu-container, div.v-menubar-popup{
		border: 4px solid $v-window-background-color;
	}
	
	
	.v-context-menu, div.v-menubar-submenu {
		float: left;
		
		> div, > span {
			margin-top: 5px;
			
			&:first-child {
				margin-top: 0;
				
				&:before {
					display: none;
				}
			}
		}
		
		.v-context-menu-item-basic, .v-context-menu-item-basic-submenu {
			float: left;
			clear: left;
		  	font-size: $v-font-size--large;
			@include valo-selection-item-style;
		}
		.v-context-menu-item-basic, .v-context-menu-item-basic-submenu, .v-menubar-menuitem {
			padding-top: 2px;
			padding-bottom: 2px;
			
			&:hover, &:focus {
				outline: none;
				box-shadow: none;
			}
			
			&:before, &:hover:before, &:focus:before, &:active:before {
				content: "";
				margin-top: -5px;
				left: -3px;
				right: -3px;
				position: absolute;
				height: 0;
				border-top: valo-border($border: $v-border, $color: $v-app-background-color, $strength: 1);
			}
		}
		
		.v-context-menu-item-basic-submenu:after {
			content: "\f0da";
			font-family: FontAwesome;
			float: right;
		}
	
		.v-context-menu-item-basic:focus,
		.v-context-menu-item-basic-submenu:focus,
		.v-context-menu-item-basic-open {
			@include valo-selection-item-selected-style;
		}
	
		.v-context-menu-item-basic.v-context-menu-item-disabled {
			opacity: 0.3;
			filter: alpha(opacity = 30);
			zoom: 1;
		}
	
		.v-context-menu-item-basic-icon-container {
			float: left;
			width: $v-selection-item-height;
			height: $v-selection-item-height;
			margin: 0 5px 0 0;
			text-align: center;
			
			.v-icon {
				display: inline-block;
				line-height: $v-selection-item-height;
				padding: 0 2px;
			}
		}
	
		.v-context-menu-item-basic-text {
			float: left;
			padding: 0 20px 0 0px;
		}
		.v-context-menu-item-basic-text, .v-menubar-menuitem-caption{
			line-height: 26px;
		}
	}
}