@mixin o-css-icons-24 {

[class^="oc-icon-24-"], 
[class*=" oc-icon-24-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(img/icon-sprite-24.svg);
}

.oc-icon-24-edit_point {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}
.oc-icon-24-publish {
  width: 24px;
  height: 24px;
  background-position: -40px 0;
}
.oc-icon-24-project_red {
  width: 24px;
  height: 24px;
  background-position: -80px 0;
}
.oc-icon-24-project_yellow {
  width: 24px;
  height: 24px;
  background-position: -120px 0;
}
.oc-icon-24-list {
  width: 24px;
  height: 24px;
  background-position: -160px 0;
}
.oc-icon-24-cache {
  width: 24px;
  height: 24px;
  background-position: -200px 0;
}
.oc-icon-24-log {
  width: 24px;
  height: 24px;
  background-position: -240px 0;
}
.oc-icon-24-session {
  width: 24px;
  height: 24px;
  background-position: -280px 0;
}
.oc-icon-24-database {
  width: 24px;
  height: 24px;
  background-position: -320px 0;
}
.oc-icon-24-project {
  width: 24px;
  height: 24px;
  background-position: -360px 0;
}
.oc-icon-24-site {
  width: 24px;
  height: 24px;
  background-position: -400px 0;
}
.oc-icon-24-scheduler {
  width: 24px;
  height: 24px;
  background-position: -440px 0;
}
.oc-icon-24-module {
  width: 24px;
  height: 24px;
  background-position: -480px 0;
}
.oc-icon-24-webuser {
  width: 24px;
  height: 24px;
  background-position: -520px 0;
}
.oc-icon-24-orgunit {
  width: 24px;
  height: 24px;
  background-position: -560px 0;
}
.oc-icon-24-group {
  width: 24px;
  height: 24px;
  background-position: -600px 0;
}
.oc-icon-24-user {
  width: 24px;
  height: 24px;
  background-position: 0 -40px;
}
.oc-icon-24-role {
  width: 24px;
  height: 24px;
  background-position: -40px -40px;
}
.oc-icon-24-person-data {
  width: 24px;
  height: 24px;
  background-position: -80px -40px;
}
.oc-icon-24-tool1 {
  width: 24px;
  height: 24px;
  background-position: -120px -40px;
}
.oc-icon-24-tool2 {
  width: 24px;
  height: 24px;
  background-position: -160px -40px;
}
.oc-icon-24-tool3 {
  width: 24px;
  height: 24px;
  background-position: -200px -40px;
}
.oc-icon-24-tool4 {
  width: 24px;
  height: 24px;
  background-position: -240px -40px;
}
.oc-icon-24-resource-types {
  width: 24px;
  height: 24px;
  background-position: -280px -40px;
}
.oc-icon-24-terminal {
  width: 24px;
  height: 24px;
  background-position: -320px -40px;
}
.oc-icon-24-folder {
  width: 24px;
  height: 24px;
  background-position: -360px -40px;
}
.oc-icon-24-subsitemap {
  width: 24px;
  height: 24px;
  background-position: -400px -40px;
}
.oc-icon-24-configfolder {
  width: 24px;
  height: 24px;
  background-position: -440px -40px;
}
.oc-icon-24-imagegallery {
  width: 24px;
  height: 24px;
  background-position: -480px -40px;
}
.oc-icon-24-downloadgallery {
  width: 24px;
  height: 24px;
  background-position: -520px -40px;
}
.oc-icon-24-htmlgallery {
  width: 24px;
  height: 24px;
  background-position: -560px -40px;
}
.oc-icon-24-tablegallery {
  width: 24px;
  height: 24px;
  background-position: -600px -40px;
}
.oc-icon-24-linkgallery {
  width: 24px;
  height: 24px;
  background-position: 0 -80px;
}
.oc-icon-24-navlevel {
  width: 24px;
  height: 24px;
  background-position: -40px -80px;
}
.oc-icon-24-category {
  width: 24px;
  height: 24px;
  background-position: -80px -80px;
}
.oc-icon-24-plain {
  width: 24px;
  height: 24px;
  background-position: -120px -80px;
}
.oc-icon-24-containerpage {
  width: 24px;
  height: 24px;
  background-position: -160px -80px;
}
.oc-icon-24-modelpage {
  width: 24px;
  height: 24px;
  background-position: -200px -80px;
}
.oc-icon-24-containerpage_template {
  width: 24px;
  height: 24px;
  background-position: -240px -80px;
}
.oc-icon-24-function {
  width: 24px;
  height: 24px;
  background-position: -280px -80px;
}
.oc-icon-24-htmlredirect {
  width: 24px;
  height: 24px;
  background-position: -320px -80px;
}
.oc-icon-24-binary {
  width: 24px;
  height: 24px;
  background-position: -360px -80px;
}
.oc-icon-24-localization {
  width: 24px;
  height: 24px;
  background-position: -400px -80px;
}
.oc-icon-24-localization_descriptor {
  width: 24px;
  height: 24px;
  background-position: -440px -80px;
}
.oc-icon-24-jsp_search {
  width: 24px;
  height: 24px;
  background-position: -480px -80px;
}
.oc-icon-24-sitemap_config {
  width: 24px;
  height: 24px;
  background-position: -520px -80px;
}
.oc-icon-24-module_config {
  width: 24px;
  height: 24px;
  background-position: -560px -80px;
}
.oc-icon-24-xmlcontent {
  width: 24px;
  height: 24px;
  background-position: -600px -80px;
}
.oc-icon-24-pointer {
  width: 24px;
  height: 24px;
  background-position: 0 -120px;
}
.oc-icon-24-formatter_config {
  width: 24px;
  height: 24px;
  background-position: -40px -120px;
}
.oc-icon-24-jsp {
  width: 24px;
  height: 24px;
  background-position: -80px -120px;
}
.oc-icon-24-default {
  width: 24px;
  height: 24px;
  background-position: -120px -120px;
}
.oc-icon-24-unknown_folder {
  width: 24px;
  height: 24px;
  background-position: -160px -120px;
}
.oc-icon-24-unknown_file {
  width: 24px;
  height: 24px;
  background-position: -200px -120px;
}
.oc-icon-24-js {
  width: 24px;
  height: 24px;
  background-position: -240px -120px;
}
.oc-icon-24-css {
  width: 24px;
  height: 24px;
  background-position: -280px -120px;
}
.oc-icon-24-html {
  width: 24px;
  height: 24px;
  background-position: -320px -120px;
}
.oc-icon-24-xml {
  width: 24px;
  height: 24px;
  background-position: -360px -120px;
}
.oc-icon-24-text {
  width: 24px;
  height: 24px;
  background-position: -400px -120px;
}
.oc-icon-24-archive {
  width: 24px;
  height: 24px;
  background-position: -440px -120px;
}
.oc-icon-24-word {
  width: 24px;
  height: 24px;
  background-position: -480px -120px;
}
.oc-icon-24-excel {
  width: 24px;
  height: 24px;
  background-position: -520px -120px;
}
.oc-icon-24-powerpoint {
  width: 24px;
  height: 24px;
  background-position: -560px -120px;
}
.oc-icon-24-java {
  width: 24px;
  height: 24px;
  background-position: -600px -120px;
}
.oc-icon-24-pdf {
  width: 24px;
  height: 24px;
  background-position: 0 -160px;
}
.oc-icon-24-font {
  width: 24px;
  height: 24px;
  background-position: -40px -160px;
}
.oc-icon-24-audio {
  width: 24px;
  height: 24px;
  background-position: -80px -160px;
}
.oc-icon-24-video {
  width: 24px;
  height: 24px;
  background-position: -120px -160px;
}
.oc-icon-24-image {
  width: 24px;
  height: 24px;
  background-position: -160px -160px;
}
.oc-icon-24-modelgroup_copy {
  width: 24px;
  height: 24px;
  background-position: -200px -160px;
}
.oc-icon-24-modelgroup_reuse {
  width: 24px;
  height: 24px;
  background-position: -240px -160px;
}
.oc-icon-24-elementgroup {
  width: 24px;
  height: 24px;
  background-position: -280px -160px;
}
.oc-icon-24-inheritancegroup {
  width: 24px;
  height: 24px;
  background-position: -320px -160px;
}
.oc-icon-24-warning {
  width: 24px;
  height: 24px;
  background-position: -360px -160px;
}
.oc-icon-24-principal-all {
  width: 24px;
  height: 24px;
  background-position: -400px -160px;
}
.oc-icon-24-principal-overwrite {
  width: 24px;
  height: 24px;
  background-position: -440px -160px;
}

}