@mixin o-css-icons-16 {
  
[class^="oc-icon-16-"], 
[class*=" oc-icon-16-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(img/icon-sprite-16.svg);
}

.oc-icon-16-edit_point {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}
.oc-icon-16-publish {
  width: 16px;
  height: 16px;
  background-position: -32px 0;
}
.oc-icon-16-project_red {
  width: 16px;
  height: 16px;
  background-position: -64px 0;
}
.oc-icon-16-project_yellow {
  width: 16px;
  height: 16px;
  background-position: -96px 0;
}
.oc-icon-16-list {
  width: 16px;
  height: 16px;
  background-position: -128px 0;
}
.oc-icon-16-cache {
  width: 16px;
  height: 16px;
  background-position: -160px 0;
}
.oc-icon-16-log {
  width: 16px;
  height: 16px;
  background-position: -192px 0;
}
.oc-icon-16-session {
  width: 16px;
  height: 16px;
  background-position: -224px 0;
}
.oc-icon-16-database {
  width: 16px;
  height: 16px;
  background-position: -256px 0;
}
.oc-icon-16-project {
  width: 16px;
  height: 16px;
  background-position: -288px 0;
}
.oc-icon-16-site {
  width: 16px;
  height: 16px;
  background-position: -320px 0;
}
.oc-icon-16-scheduler {
  width: 16px;
  height: 16px;
  background-position: -352px 0;
}
.oc-icon-16-module {
  width: 16px;
  height: 16px;
  background-position: -384px 0;
}
.oc-icon-16-group {
  width: 16px;
  height: 16px;
  background-position: -416px 0;
}
.oc-icon-16-user {
  width: 16px;
  height: 16px;
  background-position: -448px 0;
}
.oc-icon-16-role {
  width: 16px;
  height: 16px;
  background-position: -480px 0;
}
.oc-icon-16-person-data {
  width: 16px;
  height: 16px;
  background-position: 0 -32px;
}
.oc-icon-16-tool1 {
  width: 16px;
  height: 16px;
  background-position: -32px -32px;
}
.oc-icon-16-tool2 {
  width: 16px;
  height: 16px;
  background-position: -64px -32px;
}
.oc-icon-16-tool3 {
  width: 16px;
  height: 16px;
  background-position: -96px -32px;
}
.oc-icon-16-tool4 {
  width: 16px;
  height: 16px;
  background-position: -128px -32px;
}
.oc-icon-16-resource-types {
  width: 16px;
  height: 16px;
  background-position: -160px -32px;
}
.oc-icon-16-terminal {
  width: 16px;
  height: 16px;
  background-position: -192px -32px;
}
.oc-icon-16-folder {
  width: 16px;
  height: 16px;
  background-position: -224px -32px;
}
.oc-icon-16-subsitemap {
  width: 16px;
  height: 16px;
  background-position: -256px -32px;
}
.oc-icon-16-configfolder {
  width: 16px;
  height: 16px;
  background-position: -288px -32px;
}
.oc-icon-16-imagegallery {
  width: 16px;
  height: 16px;
  background-position: -320px -32px;
}
.oc-icon-16-downloadgallery {
  width: 16px;
  height: 16px;
  background-position: -352px -32px;
}
.oc-icon-16-htmlgallery {
  width: 16px;
  height: 16px;
  background-position: -384px -32px;
}
.oc-icon-16-tablegallery {
  width: 16px;
  height: 16px;
  background-position: -416px -32px;
}
.oc-icon-16-linkgallery {
  width: 16px;
  height: 16px;
  background-position: -448px -32px;
}
.oc-icon-16-navlevel {
  width: 16px;
  height: 16px;
  background-position: -480px -32px;
}
.oc-icon-16-category {
  width: 16px;
  height: 16px;
  background-position: 0 -64px;
}
.oc-icon-16-plain {
  width: 16px;
  height: 16px;
  background-position: -32px -64px;
}
.oc-icon-16-containerpage {
  width: 16px;
  height: 16px;
  background-position: -64px -64px;
}
.oc-icon-16-modelpage {
  width: 16px;
  height: 16px;
  background-position: -96px -64px;
}
.oc-icon-16-containerpage_template {
  width: 16px;
  height: 16px;
  background-position: -128px -64px;
}
.oc-icon-16-function {
  width: 16px;
  height: 16px;
  background-position: -160px -64px;
}
.oc-icon-16-htmlredirect {
  width: 16px;
  height: 16px;
  background-position: -192px -64px;
}
.oc-icon-16-binary {
  width: 16px;
  height: 16px;
  background-position: -224px -64px;
}
.oc-icon-16-localization {
  width: 16px;
  height: 16px;
  background-position: -256px -64px;
}
.oc-icon-16-localization_descriptor {
  width: 16px;
  height: 16px;
  background-position: -288px -64px;
}
.oc-icon-16-jsp_search {
  width: 16px;
  height: 16px;
  background-position: -320px -64px;
}
.oc-icon-16-sitemap_config {
  width: 16px;
  height: 16px;
  background-position: -352px -64px;
}
.oc-icon-16-module_config {
  width: 16px;
  height: 16px;
  background-position: -384px -64px;
}
.oc-icon-16-xmlcontent {
  width: 16px;
  height: 16px;
  background-position: -416px -64px;
}
.oc-icon-16-pointer {
  width: 16px;
  height: 16px;
  background-position: -448px -64px;
}
.oc-icon-16-formatter_config {
  width: 16px;
  height: 16px;
  background-position: -480px -64px;
}
.oc-icon-16-jsp {
  width: 16px;
  height: 16px;
  background-position: 0 -96px;
}
.oc-icon-16-default {
  width: 16px;
  height: 16px;
  background-position: -32px -96px;
}
.oc-icon-16-unknown_folder {
  width: 16px;
  height: 16px;
  background-position: -64px -96px;
}
.oc-icon-16-unknown_file {
  width: 16px;
  height: 16px;
  background-position: -96px -96px;
}
.oc-icon-16-js {
  width: 16px;
  height: 16px;
  background-position: -128px -96px;
}
.oc-icon-16-css {
  width: 16px;
  height: 16px;
  background-position: -160px -96px;
}
.oc-icon-16-html {
  width: 16px;
  height: 16px;
  background-position: -192px -96px;
}
.oc-icon-16-xml {
  width: 16px;
  height: 16px;
  background-position: -224px -96px;
}
.oc-icon-16-text {
  width: 16px;
  height: 16px;
  background-position: -256px -96px;
}
.oc-icon-16-archive {
  width: 16px;
  height: 16px;
  background-position: -288px -96px;
}
.oc-icon-16-word {
  width: 16px;
  height: 16px;
  background-position: -320px -96px;
}
.oc-icon-16-excel {
  width: 16px;
  height: 16px;
  background-position: -352px -96px;
}
.oc-icon-16-powerpoint {
  width: 16px;
  height: 16px;
  background-position: -384px -96px;
}
.oc-icon-16-java {
  width: 16px;
  height: 16px;
  background-position: -416px -96px;
}
.oc-icon-16-pdf {
  width: 16px;
  height: 16px;
  background-position: -448px -96px;
}
.oc-icon-16-font {
  width: 16px;
  height: 16px;
  background-position: -480px -96px;
}
.oc-icon-16-audio {
  width: 16px;
  height: 16px;
  background-position: 0 -128px;
}
.oc-icon-16-video {
  width: 16px;
  height: 16px;
  background-position: -32px -128px;
}
.oc-icon-16-image {
  width: 16px;
  height: 16px;
  background-position: -64px -128px;
}
.oc-icon-16-modelgroup_copy {
  width: 16px;
  height: 16px;
  background-position: -96px -128px;
}
.oc-icon-16-modelgroup_reuse {
  width: 16px;
  height: 16px;
  background-position: -128px -128px;
}
.oc-icon-16-elementgroup {
  width: 16px;
  height: 16px;
  background-position: -160px -128px;
}
.oc-icon-16-inheritancegroup {
  width: 16px;
  height: 16px;
  background-position: -192px -128px;
}
.oc-icon-16-warning1 {
  width: 16px;
  height: 16px;
  background-position: -224px -128px;
}
.oc-icon-16-principal-all {
  width: 16px;
  height: 16px;
  background-position: -256px -128px;
}
.oc-icon-16-principal-overwrite {
  width: 16px;
  height: 16px;
  background-position: -288px -128px;
}
.oc-icon-16-overlay-changed {
  width: 16px;
  height: 16px;
  background-position: -320px -128px;
}
.oc-icon-16-overlay-sibling {
  width: 16px;
  height: 16px;
  background-position: -352px -128px;
}
.oc-icon-16-lock-publish {
  width: 16px;
  height: 16px;
  background-position: -384px -128px;
}
.oc-icon-16-lock-other {
  width: 16px;
  height: 16px;
  background-position: -416px -128px;
}
.oc-icon-16-lock-own {
  width: 16px;
  height: 16px;
  background-position: -448px -128px;
}
.oc-icon-16-lock-shared {
  width: 16px;
  height: 16px;
  background-position: -480px -128px;
}

}