@mixin opencms {
  @include valo;
  
  /* Overrides to the valo theme */
  div.v-tree-node-caption:after{
  	border-radius: 0;
  }
  
  div.v-table-header-wrap,
  div.v-table-footer-wrap,
  div.v-table-header-drag {
  	@include valo-gradient(darken($v-background-color,4%));
  }
  
  div.v-window {
 	 max-height: 95%;
 	 
 	 .v-window-header, .v-window-closebox, .v-window-maximizebox, .v-window-restorebox {
 	 	background-color: transparent;
 	 	font-weight: bold;
 	 	color: $gray-lighter;
 	 	font-size: $v-font-size--large;
 	 }
 	 .v-window-closebox:hover, .v-window-maximizebox:hover, .v-window-restorebox:hover {
   	 	color: $v-selection-color;
 	 }
 	 .v-window-outerheader{
 	  @include valo-gradient($v-window-background-color);
 	 }
 	 
 	 .o-dialog > .v-spacing, .o-dialog > .v-expand> .v-spacing {
 	 	height: $o-layout-reduced-margin;
 	 }
 	 
 	 .o-dialog-content, .v-window-contents > .v-scrollable > .o-dialog {
 	 	padding: $o-layout-reduced-margin;
 	 }
  }
  
  .o-reduced-spacing > .v-spacing{
  	height: $o-layout-reduced-spacing;
  	width: $o-layout-reduced-spacing;
  }
  
 .v-panel-content > .v-margin-left.o-reduced-margin {
  	padding-left: $o-layout-reduced-margin;
  }
  
  .v-panel-content > .v-margin-top.o-reduced-margin {
  	padding-top: $o-layout-reduced-margin;
  }
  
  .v-panel-content > .v-margin-right.o-reduced-margin {
  	padding-right: $o-layout-reduced-margin;
  }
  
  .v-panel-content > .v-margin-bottom.o-reduced-margin {
  	padding-bottom: $o-layout-reduced-margin;
  }
  
  .o-responsive{
  	display: block;
  	background: #ffffff;
  }
  
  .o-state-deleted, .v-table-row-o-state-deleted, .v-tree-node-caption-o-state-deleted{
  	text-decoration: line-through;
  }
  
  .o-state-changed, .v-table-row-o-state-changed, .v-tree-node-caption-o-state-changed{
  	color: $red;
  }
  
  .o-state-new, .v-table-row-o-state-new, .v-tree-node-caption-o-state-new{
  	color: $blue;
  }
  
  .v-formlayout.o-form-less-margin{
  	@include valo-formlayout-margin(14px);
  }
  
  .o-responsive[width-range~="1241px-"]{
  	/* big screen styles */
  	.o-toolbar{
  		.o-toolbar-items-left, .o-toolbar-items-right{
  			width: 500px;
  		}
  	}
  }
  
  .o-responsive[width-range~="0-983px"]{
  	/* small screen styles */
 	
  	.o-toolbar{
  		.o-toolbar-items-left, .o-toolbar-items-right{
  			width: 250px;
  		}
  	}
  }
  
  .o-responsive[width-range~="984px-1240px"]{
  	/* medium screen styles */
  	
 	.o-toolbar{
  		.o-toolbar-items-left, .o-toolbar-items-right{
  			width: 350px;
  		}
  	}
  }
  
  .o-resource-icon{
  	display: inline-block;
  	height: 24px;
  	width: 24px !important;
  	position: relative;
  	
  	.o-lock-shared, .o-lock-user, .o-lock-other{
  		position: absolute;
  		bottom: -4px;
  		right: -4px;
  		height:16px;
  		width: 16px;
  		color: transparent;
	  	z-index:2;
  	}
  	.o-lock-shared{
  		background: transparent url(img/lockShared.png) no-repeat center right;
  	}
  	.o-lock-user{
  		background: transparent url(img/lockUser.png) no-repeat center right;
  	}
  	.o-lock-other{
  		background: transparent url(img/lockOther.png) no-repeat center right;
  	}
  	
  	.o-state-changed, .o-state-new {
	  	height: 16px;
	  	width: 16px;
	  	color: transparent;
	  	position: absolute;
	  	top: -4px;
	  	right: -4px;
	  	z-index:2;
	}
	  
	.o-state-changed {
	  	background: transparent url(img/changed.png) no-repeat center right;
	} 
	  
	.o-state-new {
	  	background: transparent url(img/changed.png) no-repeat center right;
	}
  }
  
  .v-panel.o-resource-info{
  	@include valo-gradient(darken($v-background-color,4%));
  }
  
  .o-app-info{
  	display: block;
  	width: 100%;
  	height: 45px;
  	border-bottom: valo-border($border: $v-border, $color: #ffffff, $strength: 1);
  }

  .o-app-content{
  	display: block;
  	background: $v-background-color;
  }
  
  .o-main{
  	position: absolute;
  	top: $toolbar-height;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	/* override the size-full setting required by vaadin layout manager */
  	height: auto !important;
  }
  
  .o-toolbar{
  	position: fixed;
  	z-index: 2;
  	width: 100%;
  	display: block;
  	background: #ffffff;
  	overflow: hidden;
  	height: $toolbar-height;
  	text-align: center;
  	border-bottom: valo-border($border: $v-border, $color: #ffffff, $strength: 1);
  	
  	.o-toolbar-inner{
  		margin: 0 $toolbar-padding;
  		min-width: 700px;
  		text-align: center;
  		display: block;
  		
  		.o-toolbar-app-indicator{
  			display: block;
    		float: left;
    		font-size: 20px;
    		font-weight: bold;
    		width: auto !important;
    		border-radius: $v-border-radius;
    		margin: 6px 20px 6px 2px;
		    padding: 4px 12px;
		    color: $gray-lighter;
		    @include valo-gradient($gray-darker);
    	}
  	}
  	
  	.o-toolbar-center{
  		display: inline-block;
  		width: auto;
  		position: relative;
  		
  		.o-toolbar-logo{
  			display: inline-block;
  			height: 42px;
  		}
  	}
  	.o-toolbar-items-left, .o-toolbar-items-right, .o-toolbar-center{
  		margin: 5px 0;
  	}
  
  	.o-toolbar-items-left{
  		float: left;
  		text-align: left;
  	}
  
  	.o-toolbar-items-right{
  		float: right;
  		text-align: right;
  	}
  }
  
  .v-button.v-button-o-toobar-button{
  	font-size: $app-icon-size;
    height: 40px;
    min-width: 40px;
    line-height: 40px;
    padding: 0 5px;
  }
  
  
  /* Toolbar drop down */
  .v-popupview.v-popupview-o-navigator-dropdown{
  	color: inherit;
  }
  
  .v-popupview-popup-o-navigator-dropdown{
  	margin-top: 50px !important;
  	margin-left: -10px !important;
  	max-height: 80%;
    overflow: auto !important;
  }
  
  .v-popupview-popup-o-navigator-dropdown .popupContent{
  	max-width: 400px;
  }
    
  /* App buttons */
  .v-button.v-button-o-app-button{
   	font-size: $v-font-size--small;
  	
  	span.v-button-caption{
  		width: 140px;
  		text-overflow: ellipsis;
  		overflow: hidden;
  		display: inline-block;
  		margin: 0;
  	}
  	
  	.v-icon{
  		font-size: $app-icon-size;
  		border-radius: 4px;
  		width: 50px;
  	}
  	
  	img.v-icon{
  		width:	$app-icon-size;
  		height: $app-icon-size;
  	} 
  }
  .v-button.v-button-o-app-button.o-color-cyan .v-icon{
  	background: $cyan;
  	color: $white;
  }
  .v-button.v-button-o-app-button.o-color-red .v-icon{
  	background: $red;
  	color: $white;
  }
  .v-button.v-button-o-app-button.o-color-blue .v-icon{
  	background: $blue;
  	color: $white;
  }
  .v-button.v-button-o-app-button.o-color-orange .v-icon{
  	background: $orange-dark;
  	color: $white;
  }
  .v-button.v-button-o-app-button.o-color-gray .v-icon{
  	background: $gray-dark;
  	color: $white;
  }
  
  /* login form styles */
  
  .cmslogin-parent .cmslogin-box { 
    position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
  }
  
  .cmslogin-hidden-form {
  	display: none;  
  }
  
  /* file explorer styles */
  .v-table-cell-wrapper > .v-widget.o-inline-textfield{
  	padding: 2px 4px;
  	width: 100%;
  	height: auto;
  }
  
  /* fixes tooltip issues */
  .v-tooltip {
  	z-index: 20001 !important;
  }
  
  /* valo demo styles - will be removed later */


  $color1: hsl(220, 5%, 38%);
  $color2: #5d73c0;
  $color3: #3dbc1a;
  $color4: #d2f4f3;
  $color5: #fe902a;
  $colors: $color1, $color2, $color3, $color4, $color5;

  .v-textfield-color1 {
    @include valo-textfield-style($background-color: $color1);
  }

  .v-textfield-color2 {
    @include valo-textfield-style($background-color: $color3);
  }

  .v-textfield-color3 {
    @include valo-textfield-style($background-color: $color4);
  }


  .v-textarea-color1 {
    @include valo-textarea-style($background-color: $color1);
  }

  .v-textarea-color2 {
    @include valo-textarea-style($background-color: $color3);
  }

  .v-textarea-color3 {
    @include valo-textarea-style($background-color: $color4);
  }


  .v-datefield-color1 {
    @include valo-datefield-style($background-color: $color1);
  }

  .v-datefield-color2 {
    @include valo-datefield-style($background-color: $color3);
  }

  .v-datefield-color3 {
    @include valo-datefield-style($background-color: $color4);
  }


  .v-filterselect-color1 {
    @include valo-combobox-style($background-color: $color1);
  }

  .v-filterselect-color2 {
    @include valo-combobox-style($background-color: $color3);
  }

  .v-filterselect-color3 {
    @include valo-combobox-style($background-color: $color4);
  }


  $copy: $v-selection-color;
  $v-selection-color: white;
  .v-checkbox-color1 {
    @include valo-checkbox-style($background-color: $color1);
  }

  .v-checkbox-color2 {
    @include valo-checkbox-style($background-color: $color2);
  }
  $v-selection-color: $copy;


  .v-slider-color1 {
    @include valo-slider-handle-style($background-color: $color1);
  }

  .v-slider-color2 {
    @include valo-slider-track-style($background-color: $color3);
  }

  .v-slider-color3 {
    @include valo-slider-indicator-style($background-color: #dcdc1e);
  }


  .v-panel-caption-color1 {
    @include valo-panel-caption-style($background-color: $color1);
  }

  .v-panel-caption-color2 {
    @include valo-panel-caption-style($background-color: $color3);
  }

  .v-panel-caption-color3 {
    @include valo-panel-caption-style($background-color: $color5);
  }

  // Show splitpanel borders
  .v-splitpanel-vertical,
  .v-splitpanel-horizontal {
    outline: 1px dotted rgba(gray, .2);
  }

  .v-slider-ticks {
    @include valo-slider-ticks($tick-count: 5);
  }

  .v-accordion-item-color1 .v-accordion-item-caption {
    @include valo-accordion-item-caption-style($background-color: $color2);
  }

  .v-menubar-color1 {
    @include valo-menubar-style($background-color: $v-selection-color, $unit-size: null);
  }
  
  .content-common,
  .content-labels {
  	max-width: 800px;
  }
  
  .ocms-button-panel .v-button {
  		min-width: 7em;  
  }
  
  .o-dialog-button-bar .v-button {
  		min-width: 115px;
  }
  
  
  @for $i from 1 through 40 {
  	.o-max-height-#{$i*20} {
		max-height: 0px + ($i*20);
	    overflow-y: auto;
	 }
  }
  
   
}