@function opencms-color-stops($color) {
	$opacity: 100%;
	$start: blend-overlay(rgba(#fff, $opacity/100%), $color);
	$end: $color;
	@return $start 2%, $end 98%;
}

@mixin o-workplace-form-wide {
	.o-formlayout-workplace-main { 
		.v-formlayout-row .v-formlayout-captioncell {
			width: 20% !important;   
		}
		
		.v-formlayout-row .v-formlayout-contentcell {
			width: 80% !important;   
		}
	}
}

@mixin o-workplace-form-narrow {
	.o-formlayout-workplace-main { 
		.v-formlayout-row .v-formlayout-captioncell {
			display: inline-block;  
			margin-left: 0px !important; 
			padding-left: 0px !important;
		}
			
		.v-formlayout-row .v-formlayout-errorcell {
			display: inline-block;
			margin-left: 0px !important;   
		}
			
		.v-formlayout-row .v-formlayout-contentcell {
			display: block;  
		}
			
		tr.v-formlayout-row { 
			display: block;
			padding-left: 8px;
			padding-right: 8px;
		}
			
		.v-formlayout-row > td {
			padding-top: 0px !important;
		}
	}
}

@mixin opencms {
	@include valo;
  
	.v-Notification.error {
		@include valo-notification-error-style(v-Notification);
		@include valo-notification-closable-style(v-Notification);
	}
  
	/* Overrides to the valo theme */
	div.v-panel-caption {
		@include valo-panel-caption-style($o-dark-background-color);
	}

	.v-formlayout .v-caption{
		font-size: $v-font-size;
	}
  
	/* Fix for disabled menu items - especially for non-collapsible table columns. */
	.gwt-MenuItem span.v-disabled {
		display: none;
	}
  
	div.v-window {
		max-height: 95%;
		.v-window-header, .v-window-closebox, .v-window-maximizebox, .v-window-restorebox {
			background-color: transparent;
			font-weight: bold;
			color: $gray-lighter;
			font-size: $v-font-size--large;
		}
		.v-window-closebox:hover, .v-window-maximizebox:hover, .v-window-restorebox:hover {
			color: $v-selection-color;
		}
		.v-window-outerheader{
			@include  linear-gradient(to bottom, opencms-color-stops($v-window-background-color), $v-window-background-color);
		}
 	 
		.o-dialog > .v-spacing, .o-dialog > .v-expand> .v-spacing {
			height: $o-layout-window-margin;
		}
 	 
		.o-dialog-content, .v-window-contents > .v-scrollable > .o-dialog {
			padding: $o-layout-window-margin;
		}
	}
  
	div.o-full-width-padding {
		display: block;
		width: auto !important;
		padding: 2px;
	}
  
	.o-reduced-spacing > .v-spacing{
		height: $o-layout-reduced-spacing;
		width: $o-layout-reduced-spacing;
	}
	
	.o-spacing-5 > .v-spacing { 
		height: 5px;
		width: 5px; 
	}
  
	.v-panel-content > .v-margin-left.o-reduced-margin {
		padding-left: $o-layout-reduced-margin;
	}
  
	.v-panel-content > .v-margin-top.o-reduced-margin {
		padding-top: $o-layout-reduced-margin;
	}
  
	.v-panel-content > .v-margin-right.o-reduced-margin {
		padding-right: $o-layout-reduced-margin;
	}
  
	.v-panel-content > .v-margin-bottom.o-reduced-margin {
		padding-bottom: $o-layout-reduced-margin;
	}
  
	.o-responsive{
		display: block;
		background: $v-app-background-color;
	}
  
	.o-state-deleted {
		text-decoration: line-through;
	}
  
	.o-state-changed {
		color: $o-state-changed-color;
	}
  
	.o-state-new {
		color: $o-state-new-color;
	}
  
	.o-project-other {
		color: $o-state-other-project-color;
	}
  
	.v-formlayout.o-form-less-margin{
		@include valo-formlayout-margin(14px);
	}
  
	.o-responsive[width-range~="1241px-"]{
		/* big screen styles */
		.o-toolbar{
			.o-toolbar-items-left, .o-toolbar-items-right{
				width: 500px;
			}
		}
		@include o-workplace-form-wide;
	}
  
	.o-responsive[width-range~="0-983px"]{
		/* small screen styles */
		@include o-workplace-form-narrow;
 	
		.o-toolbar{
			.o-toolbar-items-left, .o-toolbar-items-right{
				width: 250px;
			}
			div.o-toolbar-center {
				span.o-toolbar-logo{
					display: none;
				}
			}
		}
	}
  
	.o-responsive[width-range~="984px-1240px"]{
		/* medium screen styles */
		@include o-workplace-form-wide;
  	
		.o-toolbar{
			.o-toolbar-items-left, .o-toolbar-items-right{
				width: 350px;
			}
		}
	}
  
	.o-resource-icon{
		display: inline-block;
		height: 32px;
		width: 32px !important;
		position: relative;
		padding: 4px;
		 	
		.o-lock-shared, .o-lock-user, .o-lock-other{
			position: absolute;
			bottom: 0;
			right: 0;
			height:16px;
			width: 16px;
			color: transparent;
			z-index:2;
		}
		.o-lock-shared{
			background: transparent url(img/lockShared.png) no-repeat center right;
		}
		.o-lock-user{
			background: transparent url(img/lockUser.png) no-repeat center right;
		}
		.o-lock-other{
			background: transparent url(img/lockOther.png) no-repeat center right;
		}
		 	
		.o-sibling{
			position: absolute;
			bottom: 0;
			left: 0;
			height:16px;
			width: 16px;
			color: transparent;
			z-index:2;
			background: transparent url(img/sibling.png) no-repeat center right;
		}
		 	
		 .o-state-changed, .o-state-new {
			 height: 16px;
			 width: 16px;
			 color: transparent;
			 position: absolute;
			 top: 0;
			 right: 0;
			 z-index:2;
		}
		  
		.o-state-changed {
			background: transparent url(img/changed.png) no-repeat center right;
		} 
		 
		.o-state-new {
			background: transparent url(img/changed.png) no-repeat center right;
		}
	}
	.o-app-info{
		display: block;
		width: 100%;
		height: 45px;
		padding: 0 12px;
		border-bottom: valo-border($border: $v-border, $color: $v-app-background-color, $strength: 1);
	}
	
	.o-app-content{
		display: block;
		background: $v-background-color;
	}
	 
	.o-main{
		position: absolute;
		top: $toolbar-height;
		left: 0;
		right: 0;
		bottom: 0;
		/* override the size-full setting required by vaadin layout manager */
		height: auto !important;
	}
	
	/* Toolbar drop down */
	.v-popupview.v-popupview-o-navigator-dropdown{
		color: inherit;
	}
	
	.v-popupview-popup-o-navigator-dropdown{
		margin-top: 45px !important;
		margin-left: -10px !important;
		max-height: 80%;
		overflow: auto !important;
		border: 4px solid $v-window-background-color;
	}
	
	.v-popupview-popup-o-navigator-dropdown .popupContent{
		max-width: 370px;
	}
	
	/* Resource info box */ 
	.v-panel.o-resource-info{
		@include linear-gradient(to bottom, $v-app-background-color 0%, $v-app-background-color 48%, $o-medium-background-color 52%, $o-medium-background-color 100%);
			
		.v-panel-content-o-resource-info > .v-horizontallayout {
			padding-left: 4px;
		}
	}
	  
	/* explorer bread crumb path input styles */
	.o-crumb-wrapper{
		position: relative;
			
		.o-crumbs {
			position: absolute;
			top:0;
			left: ceil($v-unit-size/6 + 2);
		
			.v-button-link {
				padding: 0 2px;
				color: $v-font-color;
				text-decoration: none;
				
				&:hover {
					color: lighten($v-link-font-color, 10%);
				}
							
				&:focus:after {
					box-shadow: none;
					border-color: transparent;
				}
			}
					
			&.o-crumbs-hidden{
				display: none;
			}
		}
		
		.v-textfield {
			color: transparent;
			transition: color 0.1s ease-in-out;
			
			&:focus {
				color: $v-font-color;
				transition: color 0.3s ease-in-out;
			}
		}
	}
	
	/* login form styles */
	.cmslogin-parent .cmslogin-box { 
		position: absolute;
		left: 0;
		right: 0;
		top:0;
		bottom: 0;
	}
	 
	.cmslogin-hidden-form {
		display: none;  
	}
	 
	div.o-upload-drop{
		position: relative;
		background-color: $v-selection-color;
			
		> * {
			opacity: 0.6;
		}
	}
	 
	/* fixes tooltip issues */
	.v-tooltip {
		z-index: 20001 !important;
	}
	
	.o-fake-window .v-window-outerheader {
		float: left; 
		position: static;
		width: 100%;
		border-radius: 4px; 
		 	
		&:after {
			border: none !important;  
		}
	}
	  
	@for $i from 1 through 40 {
		.o-max-height-#{$i*20} {
			max-height: 0px + ($i*20);
			overflow-y: auto;
		}
	}
	  
	.login-dialog { 
		background: $v-background-color;
	}
		
	.o-login-form .o-dialog-button-bar .v-button { 
		min-width: 160px;
	}
	  	
	.v-label.o-label-error { 
		color: $red; 
	}
	  	
	.o-dialog-form { 
		.v-formlayout-row .v-formlayout-captioncell {
			width: 20% !important;   
		}
					
		.v-formlayout-row .v-formlayout-contentcell {
			width: 80% !important;   
		}
	}
		
	.o-workplace-maxwidth {
		max-width: 1200px; 
	}
		
	.o-resource-info:hover .o-resinfo-hidden-icon {
		visibility: visible; 
	}
		
	.o-resinfo-hidden-icon {
		visibility: hidden; 
	}
		
	.o-resinfo-pointer .o-resource-info:hover {
		cursor: pointer; 
	}
	
	.o-resource-info-title {
		margin-top: -1px;
	}
		
}
