@mixin o-permissions{
	.o-permissions {
		.v-button.v-button-borderless:focus:after{
			border-color: transparent;
			box-shadow: none;
		}
		.o-permissions-heading {
			margin: round($o-layout-margin/2) 0;
			
			&:first-child{
				padding-left: round($v-unit-size/2);
			}
		}
		.o-permissions_delete {
			float: right;
			margin-right: $o-layout-margin;
		}
		.o-permissions-info {
			margin-left: 38px;
		}
	}
}