@mixin o-tree {
  div.v-tree-node-caption:after{
  	border-radius: 0;
  }
  
  div.v-tree-node-caption:hover:after{
  	$background-color: $v-table-background-color or valo-table-background-color();
  	$bg: mix($v-focus-color, $background-color, 20%);
  	background-color: $bg;
  	opacity: 1;
  }
  
  div.v-tree-node-caption span.o-resource-icon{
  	margin: 0 2px 0 -6px;
  }
  
  div.v-tree-node-caption > div > span{
  	position: relative;
  	&:before{
	  	content:"";
	  	position: absolute;
	  	top:0;
	  	left: 0;
	  	right: 0;
	  	bottom: 0;
	  	opacity: 0;
	  	z-index: 10;
  	}
  }
  
  div.v-tree-node-caption:hover span.o-tree-caption, div.v-tree-node-caption-drag-center span.o-tree-caption{
  	color: #ffffff;
  	position: relative;
  	z-index: 1;
  	&:before{
  		content: "";
  		position: absolute;
  		top: 5px;
  		left: -3px;
  		right: 95px;
  		bottom: 2px;
  		z-index: -1;
  		background: $v-selection-color;
  		border-radius: $v-border-radius;
  	}
  }
  
  div.v-tree-node-selected.v-tree-node-caption:hover span.o-tree-caption:before, div.v-tree-node-selected.v-tree-node-caption-drag-center span.o-tree-caption:before{
  	background: lighten($v-selection-color,10%);
  }
  
   div.v-tree-node-caption-drag-center{
   	@include box-shadow(none);
   	position: static;
   	outline: none;
   }
   
  .v-tree-node-caption.o-disabled > div:before, [class*="v-tree-node-caption-o-state-"] > div:before{
  	color: $v-font-color;
  }
  
  div.v-tree-node-selected {
  	$font-color: valo-font-color($v-selection-color, 0.9);
  	color: $font-color;
  }
  
  .v-tree-node-caption-o-state-deleted {
		text-decoration: line-through;
	}
  
	.v-tree-node-caption-o-state-changed {
		color: $o-state-changed-color;
	}
  
	.v-tree-node-caption-o-state-new {
		color: $o-state-new-color;
	}
  
	.v-tree-node-caption.o-disabled, .v-tree-node-caption-o-project-other {
		color: $o-state-other-project-color;
	}
}

@mixin o-table {
  div.v-table{
   	color: $v-font-color;
  }
  
    div.v-table-caption-container {
    border-color: darken($o-dark-background-color, 10%);
  }
  
  /* Overriding drag and drop styling in table, keeping the focus highlighting to avoid flickering */ 
  div.v-table-drag .v-table-body .v-table-focus {
  	$outline-width: max($v-table-border-width, 1px);
  	outline: $outline-width solid $v-focus-color;
  	outline-offset: -$outline-width;
  }

  
  /** Changed table header styling */
  div.v-table-header-wrap,
  div.v-table-footer-wrap,
  div.v-table-header-drag {
  	@include valo-gradient($o-dark-background-color);
  	font-size: $v-font-size;
  }
  
  .v-table-row:hover > .v-table-cell-content, .v-table-row-odd:hover > .v-table-cell-content {
  	$background-color: $v-table-background-color or valo-table-background-color();
  	$bg: mix($v-focus-color, $background-color, 20%);
  	background-color: $bg;
  } 
  
   .v-selected.v-table-row:hover > .v-table-cell-content, .v-selected.v-table-row-odd:hover > .v-table-cell-content {
   	background: $v-selection-color;
   }
  
    .v-table-cell-wrapper > .v-widget.o-resource-icon {
  	margin-top: 0;
  	margin-bottom: 0;
  }
  
    /* file explorer styles */
  .v-table-cell-wrapper > .v-widget.o-inline-textfield{
  	padding: 2px 4px;
  	width: 100%;
  	height: auto;
  }
  
  .v-table .v-table-row-odd{
    background-color: $o-medium-background-color;
  }
  
  .v-table .o-hover-column:hover div{
  	color: #ffffff;
  	position: relative;
  	z-index: 1;
  	&:before{
  		content:"";
  		background: $v-selection-color;
  		position: absolute;
  		top:-5px;
  		left:4px;
  		right:4px;
  		bottom: -5px;
  		z-index: -1;
  		border-radius: $v-border-radius;
  	}
  }
  .v-table .v-selected .o-hover-column:hover div:before{
  	background: lighten($v-selection-color,10%);
  }
  
  .v-table-row-o-state-deleted {
		text-decoration: line-through;
	}
  
	.v-table-row-o-state-changed {
		color: $o-state-changed-color;
	}
  
	.v-table-row-o-state-new {
		color: $o-state-new-color;
	}
  
	.v-table-row-o-project-other {
		color: $o-state-other-project-color;
	}
}