/* Main colors  */

$alkacon-red:       #b31b34;
$alkacon-blue:      #144382; // for print this is #003082;
$alkacon-orange:    #ffa826; // for print this is #ffb340;
$alkacon-gray:      #a8adb4; 

$white:             #fff;
$black:             #000;
$blue:              $alkacon-blue;
$blue-light:        #2197db; // handmade looks better
$blue-lighter:      lighten($blue-light, 42%);
$blue-dark:         darken($blue, 10%);
$blue-darker:       darken($blue, 15%);
$red:               $alkacon-red;
$red-light:         #ff264a; // handmade looks better
$red-lighter:       lighten($red-light, 37%);
$red-dark:          darken($red, 9%);
$red-darker:        darken($red, 21%);
$orange:            $alkacon-orange;
$orange-light:      lighten($orange, 15%);
$orange-lighter:    lighten($orange, 30%);
$orange-dark:       darken($orange, 8%);
$orange-darker:     darken($orange, 16%);
$cyan:              #1bb39a; // complementary color
$gray:              $alkacon-gray;
$gray-lighter:      #FAFAFA;
$gray-light:        #E2E2E2;
$gray-dark:         darken($gray, 15%);
$gray-darker:       darken($gray, 35%); 

$blue-cyan:         mix($blue, $cyan);
$violet:            mix($blue, $red);
$brown:             mix($blue, $orange);
$red-orange:        mix($red, $orange);
$red-cyan:          mix($red, $cyan);
$green:             mix($orange, $cyan);

$o-layout-margin: 8px;
$o-layout-window-margin: 5px;
$o-layout-reduced-margin: 2px;
$o-layout-spacing: 10px;
$o-layout-reduced-spacing: $o-layout-reduced-margin;

$o-button-blue: #356EE1;

$o-light-background-color: $gray-lighter;
$o-medium-background-color: #F5F5F5;
$o-dark-background-color: #D9D9D9;

$toolbar-padding: 20px;
$toolbar-height: 52px;
$app-icon-size: 32px;
$app-icon-size-small: 24px;

/* Valo variables - changes to the default valo variables */

$v-background-color: $o-light-background-color; // #FAFAFA
$v-app-background-color: $white; // #ffffff
$v-focus-color: $blue;  // #144382
$v-selection-color: $o-button-blue;
$v-selection-item-height: 25px;
$v-font-size: 14px;
$v-font-weight: 400;
$v-table-row-height: 32px;
$v-tree-row-height: $v-table-row-height;
$v-app-loading-text: "Loading OpenCms ...";
$v-window-background-color: #1F232A; // #1F232A
$v-window-modality-curtain-background-color: $gray-light; // #E2E2E2
$v-gradient: v-linear;

$v-layout-margin-top: $o-layout-margin;
$v-layout-margin-right: $o-layout-margin;
$v-layout-margin-bottom: $o-layout-margin;
$v-layout-margin-left: $o-layout-margin;

$v-layout-spacing-vertical: $o-layout-spacing;
$v-layout-spacing-horizontal: $o-layout-spacing;


@import "../valo/valo";