@import "variables";
@import "opencms";
@import "opencmsfont";
@import "contextmenu";
@import "table-n-tree";
@import "toolbar";
@import "tools";
@import "buttons";
@import "loading-spinner";
@import "permissions";
@import "additional-bundleeditor";

@include opencmsfont;

.opencms {
   @include opencms;
   @include o-contextmenu;
   @include o-table;
   @include o-tree;
   @include o-toolbar;
   @include o-tools;
   @include o-buttons;
   @include o-loading-spinner;
   @include o-permissions;
   @include o-table-bundleeditor;
   
   /* Embedded dialogs require the UI to have a transparent background. */
   &.cmsembeddeddialogsui.v-app, &.cmsembeddeddialogsui.v-app-loading {
		background: transparent;
   }
}

html {
	width: 100px;
	min-width: 100%;
}