@external textBoxPanel,testBox,textBoxReadOnly,textBoxPanelDisabled,transparentSelectBox,selectorPopup, gwt-ToggleButton, cmsState-up-disabled, cmsState-down-disabled, cmsState-up, cmsState-up-hovering, cmsState-down-hovering, cmsState-down, cmsState-up-disabled, cmsState-down-disabled;

.radioButtonPanel {
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
    border-radius: value("constants.css.borderRadius");
    border: 1px solid #7788AA /*value("constants.css.borderColor")*/;
    display: block;
    vertical-alignment: middle;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-top: 3px;
}

.selectBoxPanel{
	display: block;
	width: auto;
}

.attributeValue .selectBoxSelected {
	border: 1px solid #7788AA  /*value("constants.css.borderColor")*/;
}



.selectBoxPopup {
	border: 1px solid #7788AA !important /*value("constants.css.borderColor")*/;
}

.inputField{}

textarea.textAreaBox {
	background: none repeat scroll 0 0 transparent;
	display: block;
	color: value("constants.css.textColor");
	box-shadow: none;
	width: 99%;
	border: none;
	resize: none;
	overflow: hidden;
	font-family: value("constants.css.fontFamily");
}


div.textAreaBoxPanel{
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
	border-radius: value("constants.css.borderRadius");
}

input.textBox{
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
	border-radius: value("constants.css.borderRadius");
	font-family: value("constants.css.fontFamily");
	display: block;
	color: value("constants.css.textColor");
	box-shadow: none;
	width: 100%;
	padding: 0px 4px;
	height: 19px;
	font-size: 12px;
	}


input.displayTextBox{
	background: none repeat scroll 0 0 transparent;
	height: 18px;
	display: block;
	color: #7788AA;
	box-shadow: none;
	width: 100%;
	border: medium none;
}

input.displayTextBox:disabled{
	background: none repeat scroll 0 0 transparent;
	height: 18px;
	display: block;
	color: value("constants.css.textColorDisabled");
	box-shadow: none;
	width: 100%;
}

div.displayTextBoxPanel{
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 transparent;
}

input.comboBoxInput {
    border: medium none;
    box-shadow: none;
    color: value("constants.css.textColor");
    display: block;
    height: 16px;
    width: 97.6%;
    font-size: 12px;
    padding-top: 1px;
}

.radioButtonlabel,
.checkboxlabel .cmsState-up {
  	font-weight: normal !important;
  	font-size: 12px !important;
  	color: #7788AA;
}
.checkboxlabel .cmsState-up-disabled, .checkboxlabel .cmsState-down-disabled{
	font-weight: normal !important;
  	font-size: 12px !important;
}

.radioButtonlabel.cmsState-down , .radioButtonlabel.cmsState-down-hovering, 
.checkboxlabel .cmsState-down, .checkboxlabel .cmsState-down-hovering{
  	color: #000000;
  	font-weight: normal !important;
  	font-size: 12px !important;
}
.radioButtonlabel.cmsState-up-hovering, 
.checkboxlabel .cmsState-up-hovering{
	color: #445577;
	font-weight: normal !important;
  	font-size: 12px !important;
}

/** Checkbox styles*/

.checkBoxStyle .label{
	margin: 4px 3px 2px 20px;
}
.checkBoxStyle .widget{
	position: absolute;
}


/** The "empty value" parameters. */


.emptyValue .radioButtonPanel {
	border: 1px solid #B1B4B8;
}

.emptyValue div.displayTextBoxPanel{
	border: 1px solid value("constants.css.borderColor");
	background: none repeat scroll 0 0 transparent;
}
.emptyValue div.textAreaBoxPanel{
	border: 1px solid value("constants.css.borderColor");
}


/** The "has error" parameters. */

.hasError .selectBoxSelected, .hasError .radioButtonPanel, .hasError.inputField, .hasError div.textAreaBoxPanel{
	border: 1px solid value("constants.css.borderColorHighlight");
}

/** The "has warning" parameters. */

.hasWarning .selectBoxSelected, .hasWarning .radioButtonPanel, .hasWarning.inputField, .hasWarning div.textAreaBoxPanel {
	border: 1px solid #FFAA00;
}



/** The entity parameters. */


.entity .checkBoxStyle .widget{
	top: 5px;
}
.entity .entity .checkBoxStyle .widget{
	top: 6px;
}
.entity .entity .label{
	margin-bottom: 5px;
}

.entity .entity .entity .checkBoxStyle .widget{
	top: 3px;
}

.entity .entity .entity .entity .checkBoxStyle .widget{
	top: 4px;
}

/** The "drag helper" parameters. */
.dragHelper .checkBoxStyle .label{
	margin: 4px 3px 2px 20px;
}
.dragHelper .checkBoxStyle .widget{
	position: absolute;
	top: 5px;
}

.dragHelper .radioButtonPanel {
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
    border-radius: value("constants.css.borderRadius");
    border: 1px solid #7788AA /*value("constants.css.borderColor")*/;
    display: block;
    vertical-alignment: middle;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-top: 3px;
}
	
.emptyValue{}

.hasError{}

.hasWarning{}

.label{}

.inActive{}

.widgetHolder{}

.entity{}

.attributeValue{}
