	
/************************************ sitemap ************************************************/	
	
	
      * {
          font-family: Helvetica, Arial, sans-serif;
          margin: 0px;
          padding: 0px;
      }
      
      ul {
          display: block;
          list-style-image: none;
          list-style-type: none;
          margin: 0 0 0 30px;
          padding: 0px;
      }
      
      li.cms-sitemap-entry {
          display: block;
          float: left;
          clear: left;
          margin: 0px;
          padding: 0px;
          width: 100%;
      }
      
      li div.cms-sitemap-item {
          width: 290px;
          margin-left: 20px;
          position: relative;
          padding: 1px 0px;
      }
      
      #toolbar .cms-scrolling li div.cms-sitemap-item {
          margin: 3px 0px;
          position: static;
      }
      
      #toolbar ul.favorite_list_items, #toolbar ul.recent_list_items {
          width: 290px;
          margin: auto;
      }
      
      #toolbar .cms-scrolling li div.cms-dropzone, #toolbar .cms-scrolling li ul, #toolbar .cms-scrolling span.cms-opener {
          display: none;
      }
      
      li div.cms-dropzone {
          height: 6px;
          margin-left: 15px;
      }
      
      #toolbar .cms-scrolling {
          position: static;
      }
      
      #toolbar .cms-scrolling div.cms-sitemap-item {
          position: static;
      }
      
      #favorite-drop-list {
          height: 25px;
          margin-bottom: 15px !important;
      }
      
      #favorite-drop-list.cms-hovered {
          background-color: #6E9CE0;
      }
      
      .cms-sitemap-item h3 {
          margin-left: 16px;
          line-height: 23px;
      }
      
      #toolbar .cms-scrolling li.cms-subtree h3 {
          background: transparent url(images/16x16/text_tree.png) no-repeat scroll 98% 70%;
      }
      
      .cms-sitemap-item a.cms-move {
          cursor: move;
      }
      
      input.cms-direct-input, input.cms-direct-input:focus, input.cms-direct-input:active {
          border: none;
          background: transparent;
      }
      
      span.cms-opener {
          cursor: pointer;
          display: block;
          float: left;
          width: 10px;
          height: 25px;
          user-select: none;
          -moz-user-select: none;
          background: transparent url(images/collapsable.gif) no-repeat scroll 50% 50%;
      }
      
      .cms-closed span.cms-opener, .cms-force-closed span.cms-opener {
          background-image: url(images/expandable.gif);
      }
      
      div.cms-dragging {
          opacity: 0.5;
          filter: alpha(opacity=50);
      }
      
      body {
          background: #e1e1e1;
          
      }
      
      body:last-child{
          overflow: auto;
      }
      
      
      #cms-sitemap {
          margin: 0px auto;
          width: 930px;
      }
      
      #cms-main {
          margin: 50px auto;
          width: 950px;
      }
      
      #cms-main h1.cms-headline {
          font-size: 30px;
          font-weight: normal;
          margin-bottom: 5px;
      }
      
      #cms-main div.cms-box {
          border: 2px solid #A9A9A9;
          padding: 10px 0px 60px 0px;
          background: #ffffff;
      }
      .cms-root-sitemap > .cms-sitemap-item  {
	background: #E6E6E6 url(images/ui-bg_glass_100_green_1x400.png) repeat-x scroll 50% 50% !important;
}
      
      #cms-sitemap div.cms-hovered {
          background: #CCCCCC url(custom-theme/images/ui-bg_glass_75_cccccc_1x400.png) repeat-x scroll 50% 50%;
      }
      
      .cms-closed ul, .cms-force-closed ul {
          display: none;
      }
      
      .cms-additional-info{
          display: none;
          font-size: 12px;
          line-height: 16px;
          margin: 2px 10px 0 16px;
          overflow: hidden;
          white-space: nowrap;
      }
      .cms-additional-info span{
          font-weight: bold;
          margin-left: 10px;
      }
      .cms-icon-triangle, div.cms-dragging div.cms-icon-triangle, li.ui-draggable-dragging div.cms-icon-triangle{
          background-position:-32px -16px;
          margin-top: 3px;
      }
      .cms-additional-show .cms-additional-info{
          display: block;
      }
      .cms-additional-show .cms-icon-triangle{
          background-position:-64px -16px;
      }
      
      div.cms-dragging div.cms-additional-info, li.ui-draggable-dragging div.cms-additional-info{
          display: none;
      }
      
      #jHelperTipAttrContainer {
          line-height: 14px;
          font-size: 12px;
      }
      
      .cms-sitemap-entry-data {
      	display: none;
      }
      
      .cms-sitemap-entry.ui-draggable-dragging .cms-opener {
      	display: none;
      }
      
      .cms-sitemap-entry.ui-draggable-dragging .cms-dropzone {
      	display: none;
      }
      
      #cms-sitemap-favedit .cms-opener {
      	display: none;
      }
      
      .cms-sitemap-favdel {
      	background-image: url(images/24x24/ade_delete.png)
      }	 
      
      #cms-sitemap-favedit li.cms-sitemap-entry {
      	clear: none;
      }
      
      .cms-vfs-path {
      	text-decoration: underline;
      	cursor: pointer;
      }
      	
      	
      	.cms-menu ul {
      		overflow-x: hidden !important;
      	}
      	
      	.cms-menu li {
      		margin-left: 15px;
      	}
      	
      	.cms-sitemap-links {
      	    border: 1px solid #a9a9a9;
      	    margin-right: 15px;
      	    float: right;
      	    width: 300px;
      	    padding: 5px;
      	}


/************** basic *******************************************************/

  * { 
  	margin: 0px; 
  	padding: 0px; 
  	font-family: <c:out value="${cms.styleValue['font.family']}" default="'Lucida Grande','Trebuchet MS',Verdana,Helvetica,sans-serif" escapeXml="false"/>;
  }

  html * { font-size: 100.01% }

  textarea, pre, tt, code {
	font-family:"Courier New", Courier, monospace;  	
  }

  body {
    padding: 10px 0;
    font-family: <c:out value="${cms.styleValue['font.family']}" default="'Lucida Grande','Trebuchet MS',Verdana,Helvetica,sans-serif" escapeXml="false"/>;
    font-size: 75.00%; 
    height: 1%;
    color: <c:out value="${cms.styleValue['page.font.color']}" default="#444444" />;
  }

/*  h1, h2, h3, h4, h5, h6 { font-weight:bold; margin: 0 0 0.20em 0; } */
/*  h1 { font-size: 200% }										*/	/* 24px */
/*  h2 { font-size: 166.67%; 	margin-top: 0.5em}				*/		/* 20px */
/*  h3 { font-size: 150%; 	margin-top: 0.45em}					*/	/* 18px */
/*  h4 { font-size: 133.33%; 	margin-top: 0.8em}              */ 	/* 16px */
/*  h5 { font-size: 116.67%; 	margin-top: 0.8em}                */    	/* 14px */
/*  h6 { font-size: 116.67%; 	font-style:italic; margin-top: 0.8em }	*//* 14px */
/*
  p { 
  	line-height: 1.4em;
  	margin-top: 0.3em;
  	margin-bottom: 0.3em;
  }
*/
/*  ul, ol, dl { line-height: 1.5em; margin: 1em 0 1em 1em } */
/*  li { margin-left: 1.5em; line-height: 1.5em } */

  dt { font-weight: bold }
  dd { margin: 0 0 1em 2em }

  cite, blockquote { font-style:italic }
  blockquote { margin: 0 0 1em 1.5em }

  strong, b { font-weight: bold }
  em, i { font-style: italic }

  pre, code { 
  	font-family: monospace; 
  	font-size: 1.4em; 
  	margin-top: 0.3em;
  	margin-bottom: 0.3em;
  }

  acronym, abbr {
    letter-spacing: .07em;
    border-bottom: .1em dashed #c00;
    cursor: help;
  }

  
  a img {
  	text-decoration: none;
  	border: none;
  }
  
  option { padding-left: 0.4em; }
  
.cms-sub-sitemap-ref > .cms-sitemap-item  {
	background: #E6E6E6 url(images/ui-bg_glass_100_fdf5ce_1x400.png) repeat-x scroll 50% 50% !important;
}



.ui-state-default .cms-icon-open {
	background-image: url(images/24x24/ade_open_sw.png) !important;
	width: 24;
	height: 24;
}

.ui-state-active .cms-icon-open {
	background-image: url(images/24x24/ade_open.png) !important;
	width: 24;
	height: 24;
}


.cms-open {
	background: transparent url(images/16x16/ocms_de_open_i.png) no-repeat scroll 50% 50%;
}

div.ui-widget-header a.cms-open {
	background-image: url(images/16x16/ocms_de_open_sw.png);
}

.cms-open:hover,div.ui-widget-header a.cms-open:hover {
	background-image: url(images/16x16/ocms_de_open_a.png);
}



.ui-state-default .cms-icon-subsitemap {
	background-image: url(images/24x24/ade_subsitemap_sw.png) !important;
	width: 24;
	height: 24;
}



.ui-state-active .cms-icon-subsitemap {
	background-image: url(images/24x24/ade_subsitemap.png) !important;
	width: 24;
	height: 24;
}


.cms-subsitemap {
	background: transparent url(images/16x16/ocms_de_subsitemap_i.png) no-repeat scroll 50% 50%;
}

div.ui-widget-header a.cms-subsitemap {
	background-image: url(images/16x16/ocms_de_subsitemap_sw.png);
}

.cms-subsitemap:hover,div.ui-widget-header a.cms-subsitemap:hover {
	background-image: url(images/16x16/ocms_de_subsitemap_a.png);
}

.cms-root-sitemap > .cms-hovered {
	background-image: none !important;
}
/*
.cms-sub-sitemap-ref > .cms-sitemap-item .cms-subsitemap {
	display: none;
	width: 0;
	height: 0;
}*/




























