<?xml version="1.0" encoding="UTF-8"?>

<ContainerpageConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/containerpage_config.xsd">
  <ContainerpageConfiguration language="en"/>
</ContainerpageConfigurations>
