<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurationsV2 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfigurationV2 language="en">
  </SitemapConfigurationV2>
</SitemapConfigurationsV2>
