<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/release/_config/models/article.html]]></target>
          <uuid>2b833da5-7713-11e0-bfd0-1797e684fbbe</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/release/_contents/articles/]]></target>
            <uuid>6a8d2bdf-7715-11e0-bfd0-1797e684fbbe</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[a_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/release/_config/models/config.html]]></target>
          <uuid>a1d341c5-7715-11e0-bfd0-1797e684fbbe</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/release/_contents/configs/]]></target>
            <uuid>726e1402-7715-11e0-bfd0-1797e684fbbe</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[c_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <PageModel>
      <IsDefault>true</IsDefault>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/release/_config/models/pages/default.html]]></target>
          <uuid>be402473-7718-11e0-bfd0-1797e684fbbe</uuid>
        </link>
      </Source>
      <Destination>
        <Pattern/>
      </Destination>
    </PageModel>
    <Property>
      <Name><![CDATA[style.columns]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[select]]></Widget>
      <WidgetConfig><![CDATA[2:2 columns|3:3 columns]]></WidgetConfig>
      <Default><![CDATA[3]]></Default>
      <NiceName><![CDATA[Template columns]]></NiceName>
      <Description><![CDATA[Sets the number of displayed columns.]]></Description>
    </Property>
  </SitemapConfiguration>
</SitemapConfigurations>
