a.menuItem  {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
	text-decoration: none;
}

a.menuItem:active  {
	color: #ffffff;
}

a.menuItem:hover  {
	color: #ffffff;
}

.ghostItem  {
	font-size: 11px;
	font-family: verdana;
	color: #888888;
	text-decoration: none;
}

table.contextMenu {

	border: 0 solid #000000;

}
