td.lgrey  {
	background: #eeeeee;
	font-size : 13px;
	font-family : Tahoma;
	color: #000000;
}

td.dgrey  {
	background: #cccccc;
	font-size : 13px;
	font-family : Tahoma;
	color: #000000;
}

td.headers  {
	background: #bbbbbb;
	font-size : 13px;
	font-family : Tahoma;
	color: #000000;
}

table.contextMenu {

	border: 0 solid #000000;
}

.displayField  {

	font-size: 13px;
	font-family: Tahoma;
	color: #000000;
}
