.displayField  {
	background: #D0D0D0;
	font-size : 13px;
	font-family : Tahoma;
	color: #000000;
}

#dpIE  {
	position: absolute;
	z-index: 1;
	visibility : visible;
	left: 0px;
	top: 0px;
	overflow: none;
}
