<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/dev_demo/_config/models/article.html]]></target>
          <uuid>b9de2b7c-77f6-11e0-b1d0-cde485e16fbf</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/dev_demo/_content/articles/]]></target>
            <uuid>edee4f20-77c7-11e0-a695-cde485e16fbf</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[a_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/dev_demo/_config/models/settings_article.html]]></target>
          <uuid>5e2797f1-7981-11e0-934b-1df1339be1a9</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/dev_demo/_content/settings_article/]]></target>
            <uuid>b385c043-77e8-11e0-a0b7-cde485e16fbf</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[sa_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/dev_demo/_config/models/group_container.html]]></target>
          <uuid>55ecf5a6-7f87-11e0-87dc-1df1339be1a9</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/dev_demo/_content/group_containers/]]></target>
            <uuid>6d2d9b89-7f88-11e0-87dc-1df1339be1a9</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[gc_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <PageModel>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/dev_demo/_config/models/pages/default.html]]></target>
          <uuid>cb7c0499-77c5-11e0-bf39-cde485e16fbf</uuid>
        </link>
      </Source>
      <Destination>
        <Pattern/>
      </Destination>
    </PageModel>
    <PageModel>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/dev_demo/_config/models/pages/default_with_groupcontainer.html]]></target>
          <uuid>7c3420b9-812c-11e0-8d0a-0ffe1353a061</uuid>
        </link>
      </Source>
      <Destination>
        <Pattern/>
      </Destination>
    </PageModel>
    <Property>
      <Name><![CDATA[export]]></Name>
      <Type><![CDATA[string]]></Type>
      <Widget><![CDATA[select]]></Widget>
      <WidgetConfig><![CDATA[true:Yes|false:No]]></WidgetConfig>
      <Default><![CDATA[false]]></Default>
      <NiceName><![CDATA[Export]]></NiceName>
      <Description><![CDATA[The export property determines if a resource is exported.]]></Description>
    </Property>
  </SitemapConfiguration>
</SitemapConfigurations>
