@external cms_ade_subcontainer, cmsState, cmsState-up, cmsState-up-hovering, cmsState-up-disabled, cmsState-down, cmsState-down-hovering, cmsState-down-disabled;

.cmsState, .cmsHovering, .toolbarAdd, .toolbarSitemap,
.toolbarReset, .toolbarExit, .toolbarPublish, .toolbarClipboard, .toolbarRecent, .toolbarSave{}

.menuContent{
	width: 650px;
	padding: 0px;
}

.showDropzone .menuTabContainer{
	display: none;
}
.menuTabContainer{
	height: 486px;
}

.menuTabContainer > div{
	border: none;	
}

.clipboardTabPanel{
	margin:10px 8px 8px;
}

.clipboardList{
	overflow: auto;
	min-height: 38px;
	border: 1px solid #aaaaaa;
}

/** hiding buttons in clip-board menu while dragging **/
.dragStarted .clipboardList .cmsState {
	display: none;
}

.menuContent.showDropzone{
	padding: 5px 0px;	
}

.showDropzone .clipboardDropzone{
	display: block;
}

.clipboardDropzone{
	display: none;
	margin: 0px 5px;
	-moz-border-radius: 4px;
	border: 1px solid #aaaaaa; 
	background: #ffffff;
	height: 90px;
	position: relative;
}

.clipboardDropzone > div, .clipboardList > div  {
	margin: 2px;
}

.cms_ade_subcontainer .dragElement .optionBar{
	visibility: hidden;
}

.optionBar{
	position: absolute;
	top: 2px;
	right: 2px;
	
}

@sprite .toolbarSelection .optionBar.cmsHovering{
	gwt-image: "backgroundSoft";
	height: auto;
	-moz-border-radius: 2px;
	border: 1px solid #aaaaaa;
}

.optionBar .cmsState{
	float: right;
	display: none;
}

.dragPlaceholder .optionBar{
	display: none;	
}

.dragStarted .optionBar{
	display: none;
}

.dragStarted .dragElement.dragging .optionBar{
	display: block;
}

.toolbarSelection .dragging .optionBar.cmsHovering{
	background: transparent;
	border: none;
}

.toolbarSelection .dragging .optionBar .toolbarRemove, 
.toolbarSelection .dragging .optionBar .toolbarEdit, 
.toolbarSelection .dragging .optionBar .toolbarNew, 
.toolbarSelection .dragging .optionBar .toolbarProperties, 
.toolbarSelection .dragging .optionBar .toolbarSelection{
	visibility: hidden;
}

.toolbarRemove .optionBar .toolbarRemove, 
.toolbarEdit .optionBar .toolbarEdit, 
.toolbarMove .optionBar .toolbarMove, 
.toolbarNew .optionBar .toolbarNew, 
.toolbarProperties .optionBar .toolbarProperties, 
.toolbarSelection .optionBar .toolbarSelection,
.toolbarSelection .optionBar.cmsHovering .cmsState{
	display: inline-block;
}

@sprite .optionBar .cmsState-up-hovering .toolbarRemove, .optionBar .cmsState-down-hovering .toolbarRemove, .optionBar .cmsState-down .toolbarRemove{
    gwt-image: "deleteIconActive";
}
@sprite .optionBar .cmsState-up .toolbarRemove{
    gwt-image: "deleteIconInactive";
}

@sprite .optionBar .cmsState-up-disabled .toolbarRemove, .optionBar .cmsState-down-disabled .toolbarRemove{
    gwt-image: "deleteIconDeactivated";
}

@sprite .optionBar .cmsState-up-hovering .toolbarEdit, .optionBar .cmsState-down-hovering .toolbarEdit, .optionBar .cmsState-down .toolbarEdit{
    gwt-image: "editorIconActive";
}
@sprite .optionBar .cmsState-up .toolbarEdit{
    gwt-image: "editorIconInactive";
}

@sprite .optionBar .cmsState-up-disabled .toolbarEdit, .optionBar .cmsState-down-disabled .toolbarEdit{
    gwt-image: "editorIconDeactivated";
}

@sprite .optionBar .cmsState-up-hovering .toolbarMove, .optionBar .cmsState-down-hovering .toolbarMove, .optionBar .cmsState-down .toolbarMove{
    gwt-image: "moveIconActive";
}
@sprite .optionBar .cmsState-up .toolbarMove{
    gwt-image: "moveIconInactive";
}

@sprite .optionBar .cmsState-up-disabled .toolbarMove, .optionBar .cmsState-down-disabled .toolbarMove{
    gwt-image: "moveIconDeactivated";
}

@sprite .optionBar .cmsState-up-hovering .toolbarNew, .optionBar .cmsState-down-hovering .toolbarNew, .optionBar .cmsState-down .toolbarNew{
    gwt-image: "newIconActive";
}
@sprite .optionBar .cmsState-up .toolbarNew{
    gwt-image: "newIconInactive";
}

@sprite .optionBar .cmsState-up-disabled .toolbarNew, .optionBar .cmsState-down-disabled .toolbarNew{
    gwt-image: "newIconDeactivated";
}

@sprite .optionBar .cmsState-up-hovering .toolbarProperties, .optionBar .cmsState-down-hovering .toolbarProperties, .optionBar .cmsState-down .toolbarProperties{
    gwt-image: "propertyIconActive";
}
@sprite .optionBar .cmsState-up .toolbarProperties{
    gwt-image: "propertyIconInactive";
}

@sprite .optionBar .cmsState-up-disabled .toolbarProperties, .optionBar .cmsState-down-disabled .toolbarProperties{
    gwt-image: "propertyIconDeactivated";
}


@sprite .optionBar .cmsState-up-hovering .toolbarSelection, .optionBar .cmsState-down-hovering .toolbarSelection, .optionBar .cmsState-down .toolbarSelection{
    gwt-image: "selectionIconActive";
}
@sprite .optionBar .cmsState-up .toolbarSelection{
    gwt-image: "selectionIconInactive";
}

@sprite .optionBar .cmsState-up-disabled .toolbarSelection, .optionBar .cmsState-down-disabled .toolbarSelection{
    gwt-image: "selectionIconDeactivated";
}