.dragElement{
	position: relative;
	
}


.dragStarted, .dragPlaceholder{}

.currentTarget{
	position: relative;
}

.dragTarget.dragging{
	min-height: 25px;

}

/** Following is a clear-fix for containers with floated content, forcing the container to enclose its content.
    @see http://www.positioniseverything.net/easyclearing.html */
.dragTarget.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.dragElementBackground{
	background-color: #ffffff;
}
.dragElementBorder{
	border: 1px solid #aaaaaa;
}
.dragSubContainer{}

.overlayShow .placeholderOverlay{
	display: block;
}

@sprite .placeholderOverlay{
	gwt-image: 'overlayImage';
	display: none;
	opacity: 1;
	position:absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	
}


@if user.agent gecko1_8 gecko{
	
	/** Assigned to the body on drag start. */
	body.dragStarted{
		overflow-y: scroll;
	}

	.dragPlaceholder{
		opacity: 0.5;
	}

} @elif user.agent safari {
	
	/** Assigned to the body on drag start. */
	body.dragStarted{
		overflow-y: scroll;
	}
	
	.dragPlaceholder{
		opacity: 0.5;
	}

} @elif user.agent opera {

	/** Assigned to the body on drag start. */
	body.dragStarted{
		overflow-y: scroll;
	}
	
	.dragPlaceholder{
		opacity: 0.5;
	}

} @elif user.agent ie6 {
	
	.dragPlaceholder, .dragPlaceholder > div {
		filter: literal("progid:DXImageTransform.Microsoft.Alpha( Opacity=50, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100)");
		zoom: 1;
	}
	.dragTarget.dragging{
		zoom: 1;
	}
	.currentTarget{
		z-index: 50;
	}
	
} @elif user.agent ie8 {

/** Assigned to the body on drag start. */
	body.dragStarted{
		overflow-y: scroll;
	}
	
	.dragPlaceholder, .dragPlaceholder > div {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Opacity=50, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100)";
		zoom: 1;
	}
	.dragTarget.dragging{
		zoom: 1;
	}
	.currentTarget{
		z-index: 50;
	}
	
}

