.editor{}
.dialog{
	width: 460px;
	border: 1px solid value("constants.css.borderColor");
	background: value("constants.css.backgroundColorDialog");
}
.inputRow{
	height: 25px;
	overflow: hidden;
}
.inputLabel{
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	width: 150px;
}
.inputBox{
	vertical-align: middle;
	display: inline-block;
	width: 300px;
}
.containerMarker{
	background: #ffffff;
	border: 1px dashed value("constants.css.borderColorHighlight");
	position: absolute;
}

@if user.agent ie6 {
	.containerMarker {
		filter: literal("alpha(opacity = 60)");
	}
} @elif user.agent ie8 {
	.containerMarker {
		-ms-filter: "alpha(opacity = 60)";
	}
} @else {
	.containerMarker {
        opacity: 0.6;
	}
}