<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/dev_demo/model_containerpage/_config/models/article.html]]></target>
          <uuid>fd560628-7f96-11e0-91cd-1df1339be1a9</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/dev_demo/model_containerpage/_content/]]></target>
            <uuid>32e6a3ea-7f97-11e0-91cd-1df1339be1a9</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[a_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <PageModel>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/dev_demo/model_containerpage/_config/models/pages/default_with_article.html]]></target>
          <uuid>df673673-7f96-11e0-91cd-1df1339be1a9</uuid>
        </link>
      </Source>
      <Destination>
        <Pattern/>
      </Destination>
    </PageModel>
  </SitemapConfiguration>
</SitemapConfigurations>
