.info{
	float: left;
	margin-right: 10px;
}
.button{
	float: right;
	margin-left: 5px;
}
.panel{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: value("constants.css.backgroundColorDialog");
	display: none;
	z-index: value("constants.css.zIndexInline");
}
.croppingPanel{
	margin:auto;
	margin-top: 1px;
	line-height: 1px;
}
.croppingPanel img{
	display: block;
	margin: 0px;
	padding: 0px;
	line-height: 1px;
}
.bottomPanel{
	border: 1px solid value("constants.css.borderColor");
	padding: 2px;
	background: value("constants.css.backgroundColorDialog");
	position: absolute;
	bottom: 1px;
	left: 1px;
	right: 1px;
}
.topPanel{
	border: 1px solid value("constants.css.borderColor");
	margin: 1px;
	overflow: hidden;
}
