@external cms_type_icon;
/** unused classes **/
.itemAdditional, .inlineEditable, .open, .itemActive, .itemRed, .itemBlue, .itemYellow, .disabledItem, .itemTitle, .cms_type_icon,
.itemAdditionalTitle, .itemAdditionalValue, .dragging,
.cmsState, .cmsState-up, .cmsState-up-hovering, .cmsState-up-disabled, .cmsState-down, .cmsState-down-hovering,
.cmsState-down-disabled, .export, .hidden, .secure, .redirect, .normal, .lockSharedOpen, .lockSharedClosed, .stateIcon, .lockOpen, .lockClosed, .titleInput, .copyModel {}


@sprite li.expired div.itemContent{
	gwt-image: "backgrounds.invalidStateBackground";
	background-position: 50% 50%;
	height: auto;
}

.tilingItem .imageTile, .tilingList .tilingItem .titleRow, .tilingList .tilingItem .itemIcon, .tilingList .tilingItem .itemAdditional{
	display: none;
}
@if user.agent ie6 {
	.tilingList .tilingItem, .tilingList .tilingItem div, .tilingList .imageTile, .tilingList .tilingItem .itemContainer, .tilingList .tilingItem .itemContent{
		display: inline;
	}
} @else {
	.tilingList .tilingItem, .tilingList .tilingItem div, .tilingList .imageTile, .tilingList .tilingItem .itemContainer, .tilingList .tilingItem .itemContent{
		display: inline-block;
	}
}

.tilingList .tilingItem .itemContainer{
	padding: 2px;
	line-height: 1px;
}

@sprite .tilingList div.imageTile{
	gwt-image: "coreImages.brokenImage";
	display: block;
	width: 142px;
	height: 100px;
}
.tilingList div.imageTile img {
	display: block;
	width: 142px;
	height: 100px;
}

.tilingList .tilingItem{
	margin: 1px;
}

.tilingList .tilingItem .lockIcon{
	bottom: 1px;
	right: 1px;
	top:auto;
	left: auto;
}

.tilingList .tilingItem .cmsHovering .buttonPanel, .tilingList .tilingItem .buttonPanel.permaVisible{
	height: auto;
	border: 1px solid value("constants.css.borderColor");
	background: value("constants.css.backgroundColorDialog");
	border-radius:2px;
	display:block;
	top: 0px;
	right: 0px;
}

.buttonPanel.permaVisible > *{
	visibility: visible;
}

.unselectable {} 

.changed{}

.topRightIcon {} 

.titleDeleted {}