@external cms_type_icon;

@def smallImageWidth 96;
@def smallImageHeight 72;
@def bigImageWidth 200;
@def bigImageHeight 150;

/** unused classes **/
.itemAdditional, .inlineEditable, .open, .itemActive, .itemRed, .itemBlue, .itemYellow, .disabledItem, .itemTitle, .cms_type_icon, .expired,
.itemAdditionalTitle, .itemAdditionalValue, .dragging,
.cmsState, .cmsState-up, .cmsState-up-hovering, .cmsState-up-disabled, .cmsState-down, .cmsState-down-hovering,
.cmsState-down-disabled, .export, .secure, .lockSharedOpen, .lockSharedClosed, .stateIcon, .lockOpen, .lockClosed, .titleInput, .copyModel, .itemInfoRow {}



.tilingItem .imageTile, .tilingList .tilingItem .titleRow, .tilingList .tilingItem .itemIcon, .tilingList .tilingItem .itemAdditional{
	display: none;
}
.tilingList .tilingItem, .tilingList .tilingItem div, .tilingList .imageTile, .tilingList .tilingItem .itemContainer, .tilingList .tilingItem .itemContent{
	display: inline-block;
}

.tilingList .tilingItem .itemContent{
	height: auto;	
}

.tilingList .tilingItem .itemContainer{
	padding: 2px;
	line-height: 1px;
}

@sprite .tilingList div.imageTile{
	gwt-image: "coreImages.brokenImage";
	background-position: center;
	display: block;
	width: value("galleryResultItemCss.bigImageWidth","px");
	height: value("galleryResultItemCss.bigImageHeight","px");
}
.tilingList div.imageTile img.bigImage {
	display: block;
	width: value("galleryResultItemCss.bigImageWidth","px");
	height: value("galleryResultItemCss.bigImageHeight","px");
}

@external .imagedrag;


 



.expiredImageOverlay {
	display: none; 
}
li.expired .expiredImageOverlay { 
	background-image:  repeating-linear-gradient(45deg, #000000, #000000 15px, #FCFFFF 15px, #FFFFFF 30px);
	background-position: 50% 50%;
	width: 100%;
	height: 100%; 
	top: 0;
	opacity: 0.2; 
	position: absolute;  
} 

.tilingList.smallThumbnails div.imageTile img.bigImage, .tilingList div.imageTile img.smallImage{
	display: none;
}

.tilingList.smallThumbnails div.imageTile, .tilingList.smallThumbnails div.imageTile img.smallImage {
	display: block;
	width: value("galleryResultItemCss.smallImageWidth","px");
	height: value("galleryResultItemCss.smallImageHeight","px");
}

.tilingList .tilingItem{
	margin: 1px;
}

.tilingList .tilingItem .lockIcon{
	bottom: 1px;
	right: 1px;
	top:auto;
	left: auto;
}

.tilingList .tilingItem .cmsHovering .buttonPanel, .tilingList .tilingItem .buttonPanel.permaVisible{
	height: auto;
	border: 1px solid value("constants.css.borderColor");
	background: value("constants.css.backgroundColorDialog");
	border-radius:2px;
	display:block;
	top: 0px;
	right: 0px;
}

.buttonPanel.permaVisible > *{
	visibility: visible;
}

.unselectable {} 

.changed{}

.tilingList .topRightIcon {
	left: 0px !important; 
}

.topRightIcon {} 

.titleDeleted {}

.itemSubtitle {} 