@external html-face;

div.editorGallery {}
@if user.agent ie8 {
	div.editorGallery{
		-ms-filter: none;
	}
} @else  {
	div.editorGallery{
		box-shadow: none;
		border-radius: 0;
	}
}
body.galleryBody, div.galleryBody {
	margin:0px;
	padding:0px;
	overflow: hidden;
}

@if user.agent ie6 {
body.galleryBody *{
	zoom: 1;
}
body.galleryBody{
	height: 499px;
}
}
div.resultTabUpload{
	float: right;
	margin: 1px 1px 0 0;
} 
/* The height is set as inline style. */
div.parentPanel {
	position:relative;
	overflow: hidden;
}

div.showPreview{
	position: absolute;
	top: 2px;
	right: 0px;
}

div.criteriaList {
	border:1px solid value("constants.css.borderColor");
	height:414px;
	overflow: auto;
	position: relative;
	background-color: value("constants.css.backgroundColorDialog");
	padding:0 2px;
}

.listOnlyTab .criteriaList{
	height: 441px;
}

div.selectboxWidth {
	width: 200px;
}

div.listIcon {
	margin:7px;
}

@sprite div.showParams {
	gwt-image: "backgrounds.stateBackground";
	background-position: 50% 50%;
	height: auto;
	border:1px solid value("constants.css.borderColor");
	margin-right:1px;
	margin-bottom:1px;
	padding:2px;
	background-color: value("constants.css.backgroundColorStateStandard");
}

div.tabParamsPanel {
	margin-bottom: 5px;
	padding-right: 25px;
}

div.tabOptions {
	clear: both;
	margin-bottom: 5px;
}

.listOnlyTab .tabOptions{
	display: none;
}

.showParams div, .showParams div span{
	vertical-align: top !important;
}

div.paramsText {
	margin-right:5px;
	max-width: 600px;
}

@if user.agent ie6 {
	.showParams, .paramsText {
		display: inline;
		zoom: 1;
	}
} @else {
	.showParams, .paramsText {
		display: inline-block;
	}
}

div.searchTabRow {
	clear: both;
	height: 24px;
	margin-bottom: 5px;
}
div.searchTabRow div.searchTabInputWide div.html-face{
	font-weight: normal;
}
div.searchTabRowRightAlign {
	clear: both;
	text-align: right;
}
div.searchTabLabelLeft {
	width: 129px;
	float: left;
	margin-top: 2px;
}
div.searchTabLabelRight {
	width: 134px;
	float: right;
	margin-top: 2px;
}
div.searchTabInputLeft {
	width: 152px;
	float: left;
}
div.searchTabInputRight {
	width: 152px;
	float: right;
}
div.searchTabInputWide {
	width: 497px;
	float: right;
}
div.searchTabBorderLayer {
	position:absolute; 
	top:0px; 
	right:0px; 
	bottom:0px; 
	left:0px; 
	padding: 5px;
	border: 1px solid value("constants.css.borderColor");
	background: value("constants.css.backgroundColorDialog");
	margin: value("constants.css.defaultSpace");
}
div.searchTabDesMargin {
	margin-bottom: 10px;
}

div.infoLabel {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	text-align: right;
}

div.quickFilterBox {
	float: right;
	width: 200px;
}
div.quickFilterBox > div{
	padding-top: 3px;
	padding-bottom: 3px;
}


div.noParamsMessage {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border:1px solid value("constants.css.borderColor");
	background-color: value("constants.css.backgroundColorDialog");
    margin: 6px;
    padding: 6px;
}
div.noParamsMessage > table {
	height: 90px;
	margin: auto;
}
@sprite .noParamsMessage > table > tbody > tr > td:first-child {
	gwt-image: "gwtImages.informationBigImage";
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 15px;
	width: 32px;
}
.noParamsMessage > table > tbody > tr > td {
	vertical-align: middle;
	padding: 15px 15px 15px 0px;
}
