@external hidePreview;

/* The height and width are set as inline style. */
div.previewDialog {
	position:absolute;
	top:0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	display: block;
	background-color: value("constants.css.backgroundColorDialog");
}
.previewDialog * {
	margin: 0;
	padding: 0;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}
.hidePreview .previewDialog{
	display: none;
}

.hiding{}

.hiding .hiding{
	display: none;	
}

.previewCloseButton{
	position: absolute;
	top:0px;
	right:0px;
	margin:2px;
}

/* Preview panel */
.previewHolder {		
	border:1px solid value("constants.css.borderColor");	
	margin:1px;
}

.previewPanel {	
	height:100%;	
	line-height: inherit;
}

.imagePanel {
	text-align: center;
	line-height: inherit;
	vertical-align: middle;
}

/* Tabs panel (details) */
.detailsHolder {	
	margin:1px;
	position: relative;
}

.previewButtonBar{
	position: absolute;
	bottom:0px;
	right:0px;
	margin:2px;
}

.savePropertiesButton{
	position: absolute;
	bottom: 1px;
	left: 1px;
}

.previewButton {
	margin-left:1px;
}

/* Properties tab. */
.propertiesList {	
	height:60px; /* Change the height on resize */
	overflow: auto;
	position: relative;
	margin:0px;
	padding-right:5px;
	padding-top:2px;	
}

.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

table.infoTable{
	width: 100%;
	border: none;
	padding: 3px;
	clear: both;
	table-layout: fixed;
}

table.infoTable tr, table.infoTable td{
	border: none;
}

/* Form css */
.propertyLeft {
	margin:1px 1px 1px 5px;
	float:left;
}

.propertyRight {
	margin:1px 1px 1px 5px;
	float:right;
}

.labelField{
	float:left;
	font-weight:bold;
	white-space: nowrap;
}

.inputField{
	float:right;
	margin-left:2px;
}

/* Image format tab. */
.formatsPanel.propertiesList{
	padding-top:3px;
	height: auto;
}

/* Line with format select box. */
.formatsLine {
	margin:0 0 8px;
}

/** Line with size infos. */
.formatsLineSize {
	margin:0 0 3px;
}

.formatsLineSize .formatButton{
	padding-top:1px;
	padding-bottom:1px;
	line-height: 12px;
}

.formatsLineSize .formatButton div{
	line-height: 12px;
	height: 12px;
	vertical-align: baseline;
}

.formatsLineSize .formatButton div span{
	vertical-align: baseline;
}

.formatButton{
	margin-left:5px;
}

.formatSelectBox {
	width:150px;
	margin-left:5px;
	vertical-align:middle;		
}

.formatLabel, .formatText{
	width:100px;
	margin-left:5px;
	vertical-align:middle;
}

.formatLabel{
	font-weight:bold;
}

@if user.agent ie6 {
	.formatLabel, .formatText, .formatSelectBox{
		display:inline;
		zoom:1;
	}
} @else {
	.formatLabel, .formatText, .formatSelectBox{
		display: inline-block;
	}	
}

div.buttonPadding {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}