body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; padding: 0px; margin: 0px; background-color: /*begin-color Window*/#ffffff/*end-color*/; }
p, td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; white-space: nowrap; }

/* file list */
td.t, td.t125, td.t100, td.t75 { white-space: nowrap; background-color:/*begin-color ThreedFace*/#f0f0f0/*end-color*/; border-right: 1px solid /*begin-color ThreedDarkShadow*/#606161/*end-color*/; border-top: 1px solid /*begin-color ThreeDHighlight*/#ffffff/*end-color*/; border-bottom: 1px solid /*begin-color ThreedDarkShadow*/#606161/*end-color*/; border-left: 1px solid /*begin-color ThreeDHighlight*/#ffffff/*end-color*/; }
td.t125 { width: 125px; }
td.t100 { width: 100px; }
td.t75 { width: 75px; }
a { text-decoration: none; cursor: pointer; }
td.fc { color: #b40000; }
a.fc { color: #b40000; }
a.fci { text-decoration: underline; color: /*begin-color TextHover*/#b31b34/*end-color*/; }
td.fn { color: #0000aa; }
a.fn { color: #0000aa; }
a.fni { text-decoration: underline; color: /*begin-color TextHover*/#b31b34/*end-color*/; }
td.fd { color: #000000; text-decoration: line-through; }
a.fd { color: #000000; text-decoration: line-through; }
a.fdi { text-decoration: line-through underline; color: /*begin-color TextHover*/#b31b34/*end-color*/; }
td.fp { color: #888888; }
a.fp { color: #888888; }
a.fpi { text-decoration: underline; color: /*begin-color TextHover*/#b31b34/*end-color*/; }
td.nf { color:#000000; }
a.nf { color:#000000; }
a.nfi { text-decoration: underline; color: /*begin-color TextHover*/#b31b34/*end-color*/; }


.selected {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #1F232A;
}

.unselected {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}

/* context menu */ 


div.cmwrapper {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 500px;
}

div.cmo {
    background-color: #DDDDDD;
    border-color: #000000;
    border-style: solid;
    border-width: 0;
    width: 152px;
}

#menu {
    background-color: #FFFFFF;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    width: 152px;
}

#menu a {
    display: block;
    padding: 2px 0 2px 12px;
    white-space: nowrap;
    width: 140px;
}

#menu a {
    text-decoration: none;
}

#menu a, #menu a:visited {
    color: #1F232A;
}

#menu a:hover {
    background-color: #DDDDDD;
    color: #1F232A;
}

#menu a:active {
    background-color: #606161;
    color: #FFFFFF;
}

#menu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    position: relative;
}

/* Fix IE. Hide from IE Mac \*/
* html #menu ul li{float:left;height:1%;}
* html #menu ul li a{height:1%;}
/* End */

#menu li ul {
    left: 152px;
    position: absolute;
    top: -2px;
}

* html #menu ul li {
    float: left;
    height: 1%;
}

* html #menu ul li a {
    height: 1%;
}

div#menu ul, div#menu ul ul, div#menu ul ul ul {
    list-style-image: none;
    margin: 0;
    padding: 0;
    width: 152px;
}

div#menu ul ul, div#menu ul ul ul {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    visibility: hidden;
}

#menu a.x, #menu a.x:visited {
    background-image: url("../explorer/arrow_right.png");
    background-position: 140px 2px;
    background-repeat: no-repeat;
}

#menu a.ina, #menu a.ina:visited, #menu a.ina:active {
    background-color: #FFFFFF;
    color: #bbb;
    cursor: default;
}

#menu a.ina:hover {
    background-color: #DDDDDD;
    color: #FFFFFF;
}

li.cmsep {
    background-color: #BBBBBB;
    display: block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 2px;
    padding: 0;
}

li.cmsep span {
    border-bottom: 1px solid #999999;
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

