<?xml version="1.0" encoding="UTF-8"?>

<ADETypeConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/workplace/editors/ade/schemas/type_config.xsd">
  <ADETypeConfiguration language="en">
    <ADEType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/sites/default/demo_t3/cntpages/index.html]]></target>
          <uuid>071146b6-9d0a-11de-bac7-dd9f629b113b</uuid>
        </link>
      </Source>
      <Destination>
        <Folder>
          <link type="STRONG">
            <target><![CDATA[/sites/default/demo_t3/cntpages/]]></target>
            <uuid>68abb478-e347-11de-93a5-2fbc40eca8be</uuid>
          </link>
        </Folder>
        <Pattern><![CDATA[page_%(number).html]]></Pattern>
      </Destination>
    </ADEType>
  </ADETypeConfiguration>
</ADETypeConfigurations>
