html {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #999999;
	color: #000000;
}

body {
	margin: 0;
	padding: 0;
}

div.head {
	padding: 6px 0 6px 4px;
	font-size: 12px;
	font-weight: bold;
	background-color: Caption;
	color: #ffffff;
}

div.imgbg {
	background-color: #dddddd;
	height: 450px;
	text-align: center;
}

div.container {
}

div.selection {
	background-color: #f9f9f9;
	color: #ffffff;
	font-size: 12px;
	padding: 6px 0 6px 4px;
}

div.width, div.height {
	padding-bottom: 2px;
}

div.buttons {
	padding-top: 6px;
	border-top: 1px solid #999999;
	text-align: center;
}

button {
	margin: 0 6px 0 4px;
}