#galleryitemetitle form.edittitle, #categoryitemtitle form.edittitle,
#galleryitemlinkurl form.edittitle, #categoryitemlinkurl form.edittitle {
	margin-top: -3px;
}

span.changeiconlayer {
	top: -10px;
}

#galleryuploadbutton div, #gallerynewlinkbutton div,
#opengallerybutton div, #opencategorybutton div {
	padding-left: 20px;
}