@external opencms-font-icon, html-face;

.popup {}

.mainContentWidget {
    background-color: value("constants.css.backgroundColorDialog");
    border: 1px solid value("constants.css.borderColor");
    padding: 0 2px;
    position: relative;
    clear: both;
}

.dragAndDropMessage{
	width: 80%;
	margin: 20px auto;
	text-align: center;
}

.popupContent div.uploadDialogButton {
	float: left;
	margin: 0px;
}

.dialogInfo {
	padding-bottom: 2px;
}


.dialogInfo .opencms-font-icon{
	margin: 3px 0 5px 3px;
	display: block;
	float: left;
}

.summary {
	padding-top: 3px;
}



.fileInputPanel {
	overflow: hidden;
	position: relative;
}



.unzipButtonUpFace::before, .unzipButtonDownFace::before { 
	font-family: opencms-font;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: inline-block;
	line-height: 1;
	
	border: 1px solid value("constants.css.textColorDisabledButton");
    border-radius: 4px;
    padding: 1px;
    height: 11px;
    width: 11px;
    font-size: 11px;
    line-height: 11px;
    background-color: value("constants.css.backgroundColorInfo");
    color: inherit;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.unzipButton {
	position: relative; 
	bottom: 5px;
}

.unzipButtonUpFace::before { 
	content: " ";
	position: relative;
	top: 2px;
}

.unzipButtonDownFace::before {
	content: "\e916";
}
